<template>
  <Page class="page" @loaded='backbtn();loadmo()' backgroundColor='#003366'>
    <ActionBar title="My Benefits" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(DB, {clearHistory: true})"/>
    </ActionBar>
                <!--<StackLayout orientation="horizontal" paddingTop="20%">
                    <Label color="white" text="Current Balance" textWrap="true" fontSize="25%" marginRight="20%" marginLeft="5%" />
                    <Label color="#f1c40f" text="7,120" textWrap="true" fontSize="25%" />
                </StackLayout> -->

                   <!-- <StackLayout paddingTop="20%">
                            <FlexboxLayout JustifyContent="center">
                                <DockLayout JustifyContent="center" @tap="$router.push('/benefits/benefitsAlloc')" >
                                    <Image dock="top" src="~/assets/images/benefits_menu_allocation.png" width="62%" height="62%" />
                                    <Label dock="bottom" text="Benefits Allocation" color="white" width="100%" marginLeft="40%"/>
                                </DockLayout>
                                <DockLayout JustifyContent="center" @tap="SendPoints">
                                    <Image dock="top" src="~/assets/images/benefits_menu_send_points.png" width="62%" height="62%"/>
                                    <Label dock="bottom" text="Send Points" color="white" width="100%" marginLeft="55%"/>
                                </DockLayout>
                            </FlexboxLayout>
                    </StackLayout> -->

                       <!--<StackLayout> -->
                      <GridLayout margin="10">
                        <StackLayout orientation="horizontal" verticalAlignment="center" horizontalAlignment="center">
                          <StackLayout width="50%"  @tap="$navigateTo(TH, {clearHistory: true})" isEnabled="false" opacity="0.5">
                             <Image dock="top" src="~/assets/images/benefits_menu_transaction_history.png"  width="70%" />
                             <Label horizontalAlignment="center" text="Transaction History" color="white" />
                          </StackLayout>
                           <StackLayout width="50%" @tap="$navigateTo(SR, {clearHistory: true})">
                              <Image dock="top" src="~/assets/images/benefits_menu_submit_reimbursement.png" width="70%"/>
                              <Label horizontalAlignment="center" text="Submit Reimbursement" color="white"/>
                          </StackLayout>
                        </StackLayout>
                      </GridLayout>
                            <!--<FlexboxLayout JustifyContent="center" >
                                <DockLayout JustifyContent="center" @tap="$router.push('/benefits/transactionHistory')" >
                                    <Image dock="top" src="~/assets/images/benefits_menu_transaction_history.png"  width="62%" height="62%"/>
                                    <Label dock="bottom" text="Transaction History" color="white" width="100%" marginLeft="35%"/>
                                </DockLayout>
                                <DockLayout JustifyContent="center" @tap="$router.push('/benefits/submitreimbursement')">
                                    <Image dock="top" src="~/assets/images/benefits_menu_submit_reimbursement.png" width="62%" height="62%" />
                                    <Label dock="bottom" text="Submit Reimbursement" color="white" width="100%" marginLeft="20%"/>
                                </DockLayout>
                            </FlexboxLayout> -->

                      <!--</StackLayout>-->

  </Page>
</template>
<script>
import { topmost } from "tns-core-modules/ui/frame";
var orientation = require("nativescript-orientation");
import dashboard from "../Dashboard.vue"
// import benefallocation from "../Benefits/Benefits_Allocation.vue"
// import donatepoints from "../Benefits/Donate_Points.vue"
import submitreimbursement from "../Benefits/Submit_Reimbursement.vue"
import transactionhistory from "../Benefits/Transaction_History.vue"
// import transferpoint from "../Benefits/Transfer_Points.vue" 

export default {
  data() {
    return {
      show: false,
      DB: dashboard,
      SR: submitreimbursement,
      TH: transactionhistory,
    };
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.DB, {clearHistory: true})
      };
    },
    alert() {
      alert("working on it");
    },
    SendPoints() {
      var vm = this;
      this.$showModal({
        template: `
          <Page>
           <StackLayout>
            <StackLayout orientation="vertical" >
                   <Label text="Send Points" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />               
                   <StackLayout orientation="vertical" margin="10">
                        <Button borderRadius="3" width="50%" backgroundColor="#f1c40f" color="black" text="Transfer Points" textWrap="true" borderWidth="1" borderColor="#2d5176" height="7%" marginBottom="1%"  @tap="$modal.close();Transfer()"/>
                        <Button borderRadius="3" width="50%" backgroundColor="#f1c40f" color="black" text="Donate Points" textWrap="true" borderWidth="1" borderColor="#2d5176" height="7%" marginBottom="1%"  @tap="$modal.close();Donate()"/>
                        <Button borderRadius="3" width="50%" backgroundColor="white" color="black" text="Back" textWrap="true" borderWidth="1" borderColor="#2d5176" height="7%" @tap="$modal.close"/>     
                    </StackLayout>
            </StackLayout>
          </StackLayout> 
            </Page>`,
        data() {
          return {
            time1: ""
          };
        },
        created: function() {},
        methods: {
          Transfer() {
            vm.$router.push("/benefits/transferpoints");
          },
          Donate() {
            vm.$router.push("/benefits/donatepoints");
          }
        }
      });
    }
  }
};
</script>
<style scoped>
.sv {
  width: 100%;
  height: 100%;
}
label{
  font-size: 12;
}
</style>