<template>
  <Page class="page" @loaded='backbtn();loadmo()'>
    <ActionBar title="My Benefits" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="back"/>
    </ActionBar>
      <AbsoluteLayout backgroundColor="#003366">
        <ScrollView orientation="vertical" class="sv">
            <StackLayout orientation="vertical">
            <StackLayout orientation="horizontal" paddingTop="25%">
                 <Label text="Unallocated Points" textWrap="true" fontSize="20%" marginRight="20%" marginLeft="5%" backgroundColor="#003366" color="white"/>
                 <Label color="#f1c40f" text="17,880" textWrap="true" fontSize="20%" backgroundColor="#003366"/>
            </StackLayout>
                    <FlexboxLayout flexDirection="column"  backgroundColor="#f1c40f"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" >
                        <StackLayout orientation="vertical">
                        <FlexboxLayout> 
                                    <Label paddingLeft="3" color="black"  text="Date" width="25%" marginRight="5%" textWrap="true"  backgroundColor="#f1c40f"></Label>
                                    <Label paddingLeft="3" color="black"  text="Name" paddingTop="4" textWrap="true"  paddingBottom="4" width="25%" marginRight="10%" backgroundColor="#f1c40f"   ></Label>
                                    <Label paddingLeft="3" color="black"  text="Amount" textWrap="true"  paddingTop="4" paddingBottom="4" flexGrow="5" width="25%"  backgroundColor="#f1c40f"  ></Label>
                        </FlexboxLayout >
                        <FlexboxLayout>
                                    <Label paddingLeft="3" color="black"  text="Employee" textWrap="true"  paddingTop="4" paddingBottom="4" flexGrow="5" width="25%"  backgroundColor="#f1c40f" marginLeft="52%"></Label>
                                    <Label paddingLeft="3" color="black"  text="Employer" marginLeft="1" textWrap="true"   width="25%" paddingTop="4" paddingBottom="4"  backgroundColor="#f1c40f"  ></Label>
                        </FlexboxLayout >
                        <FlexboxLayout backgroundColor="#003366" paddingBottom="100%">
                                    <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="" textWrap="true" width="25%" marginRight="1"  backgroundColor="#003366"></Label>
                                    <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="" width="25%" textWrap="true"  marginRight="1"   backgroundColor="#003366"></Label>
                                    <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="" textWrap="true"  flexGrow="5" width="25%"  backgroundColor="#003366"></Label>
                                    <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="" marginLeft="1" width="25%" textWrap="true"   backgroundColor="#003366"></Label>
                        </FlexboxLayout>

                        <FlexboxLayout>
                            <Label paddingLeft="3" color="black"  text="Ending Balance" width="25%" marginRight="50%" textWrap="true"  backgroundColor="#f1c40f"></Label>
                            <Label paddingLeft="3" color="black"  text="Amount" paddingTop="4"   paddingBottom="4" width="25%" marginRight="1" backgroundColor="#f1c40f"></Label>                                  
                        </FlexboxLayout>
                        </StackLayout>
                </FlexboxLayout>
                <StackLayout orientation="horizontal" marginLeft="10%" paddingTop="100%">
                    <Button borderRadius="3" width="90%" backgroundColor="#f1c40f" color="black" text="Add Benefit Allocation" textWrap="true" height="10%"/>
                </StackLayout>
                <StackLayout orientation="horizontal" paddingTop="50%">
                    <Button borderRadius="3" width="30%" backgroundColor="#003366" color="#f1c40f" text="Back" textWrap="true" borderWidth="1" borderColor="#f1c40f" marginLeft="10%" marginRight="20%" height="10%" @tap="back"/>
                    <Button borderRadius="3" width="30%" backgroundColor="#003366" color="black" text="Edit" borderWidth="1" borderColor="#2d5176" height="10%"/>
                </StackLayout>
            </StackLayout>
        </ScrollView>            
      </AbsoluteLayout>
  </Page>
</template>
<script>
import { topmost } from "tns-core-modules/ui/frame";
import benefits from "../Benefits/Benefits.vue"
var orientation = require("nativescript-orientation");
export default {
  created() {},
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(benefits, {clearHistory: true})
      };
    },back(){
      this.$navigateTo(benefits, {clearHistory: true})
    }
  }
};
</script>
<style scoped>
.sv {
  width: 100%;
  height: 100%;
}
label {
  font-size: 12;
}
</style>