<template>
  <Page class="page" @loaded='backbtn();loadmo()'>
    <ActionBar title="My Benefits" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(benif, {clearHistory: true})"/>
    </ActionBar>
    <ScrollView orientation="vertical">
        <StackLayout backgroundColor="#003366">
                <StackLayout orientation="vertical">
                <StackLayout orientation="horizontal" paddingBottom="30%" paddingTop="10%">
                <Label color="white" text="Current Wallet Point Balance:" textWrap="true" fontSize="15%" marginLeft="3%" marginRight="20%" />
                <Label color="#f1c40f" text="7,120" textWrap="true" fontSize="15%" marginLeft="3%" />
                </StackLayout>
                    <Label color="white" text="Full Name:" textWrap="true" fontSize="15%" marginLeft="3%" />
                        <StackLayout orientation="vertical" padding="10%">
                            <TextField 
                            height="40"
                            width="100%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            color="black"
                            backgroundColor="gray"
                            :text="this.name"
                            isEnabled="false"
                            />
                        </StackLayout> 
                        <StackLayout orientation="horizontal" paddingTop="5%" paddingLeft="5%" paddingBottom="10%">
                         <CheckBox boxType="box" fillColor="black" id="checker" @tap="CB1($event)"/>  
                         <Label color="white" text="Donate anonymously" textWrap="true" fontSize="14" backgroundColor="#003366" marginRight="8%" height="2%" paddingTop="7%"/>                                                
                        </StackLayout>
                    <Label color="white" text="Choose Organization:" textWrap="true" fontSize="14" marginLeft="3%" />
                        <StackLayout orientation="vertical" padding="10%">
                            <TextField 
                            height="40"
                            width="100%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            class="drop"
                            color="black"
                            backgroundColor="white"
                            hint="--Select One--"
                            :text="this.organization"
                            @tap="listview('organization')"
                            editable="false"
                            />
                        </StackLayout>   
                    <Label color="white" text="Amount:" textWrap="true" fontSize="14" marginLeft="3%" />
                        <StackLayout orientation="vertical" padding="10%">
                            <TextField 
                            height="40"
                            width="100%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            color="black"
                            backgroundColor="white"
                            hint="Edit Amount"
                            />
                        </StackLayout> 
                </StackLayout>             
                <StackLayout orientation="horizontal" paddingTop="50%">
                    <Button borderRadius="3" width="30%" backgroundColor="#003366" color="#f1c40f" text="Back" textWrap="true" borderWidth="1" borderColor="#f1c40f" marginLeft="10%" marginRight="20%" height="40" @tap="$navigateTo(benif, {clearHistory: true})"/>
                    <Button borderRadius="3" width="30%" backgroundColor="#f1c40f" color="black" text="Donate" textWrap="true" borderWidth="1" borderColor="#2d5176" height="40"/>
                </StackLayout>
      </StackLayout>
    </ScrollView>
  </Page>
</template>
<script>
import { topmost } from "tns-core-modules/ui/frame";
import benefits from "../Benefits/Benefits.vue"
var orientation = require("nativescript-orientation");
export default {
  data() {
    return {
      show: false,
      name: "Mckenzie,Michael",
      organization: "",
      listPickerOrganization: ["Kapwa Kapatid", "Visayan Forum"],
      benif:benefits
    };
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.benif, {clearHistory: true})
      };
    },
    CB1(event) {
      let checkBox = Frame.topmost().getViewById("checker");
      //console.log(checkBox.checked);
      if (checkBox.checked === false) {
        this.name = "";
      } else {
        this.name = "Mckenzie,Michael";
      }
    },
    listview(e) {
      if (e === "organization")
        action("Select One", "Cancel", this.listPickerOrganization).then(
          result => {
            this.organization = result;
            if (this.organization == "Cancel") {
              this.organization = "";
            }
            //console.log(this.name)
          }
        );
    }
  }
};
</script>
<style scoped>
.drop {
  background-image: url("~/assets/images/ic_dropdown.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
</style>