<template>
  <Page class="page" @loaded='backbtn();loadmo();benefitTypes()' backgroundColor="#003366">
    <ActionBar title="My Benefits" color="#002851" backgroundColor='#f1c40f'>
      <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(Benf, {clearHistory: true})" />
    </ActionBar>
    <GridLayout>
      <StackLayout backgroundColor="#003366" margin="10" marginRight="5" marginLeft="5" row="1">
        <StackLayout orientation="horizontal" padding="15">
          <TabView height="100%" selectedIndex="0" tabBackgroundColor="#f1c40f">
            <TabViewItem title="Reimbursement" height="100%">
              <ScrollView orientation="vertical" class="sv" scrollBarIndicatorVisible="false">
                <StackLayout>
                  <StackLayout orientation="horizontal" height="300" width="300">
                    <Image loadMode="sync" id="imageID" :src="clickableImage" height="100%" width="100%" marginTop="5%"
                      @tap="openCamera" verticalAlignment="center" />
                  </StackLayout>
                  <StackLayout orientation="vertical" paddingBottom="20%" paddingTop="15">
                    <Label text="Official Receipt Details:" textWrap="true" fontSize="14" color="white" />
                  </StackLayout>
                  <StackLayout orientation="horizontal" width="100%" marginBottom="10" v-for="result in reimDetails" :visibility='result.Status === "True" ? "visible" : "collapse"'>
                    <StackLayout orientation="horizontal" width='50%' paddingTop="10">
                      <Label :text="result.Name" textWrap="true" fontSize="14" color="white"/>
                      <Label text="*" textWrap="true" fontSize="14" color="red" marginLeft="3" :visibility='result.Required === "True" ? "visible" : "collapse"'/>
                    </StackLayout>
                    <StackLayout orientation="horizontal" v-if="result.Name === 'Vendor Name'">
                     <TextField height="40" width="100%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                     @blur="textfieldblur" color="black" backgroundColor="white" v-model="Vname"/>
                    </StackLayout>
                    <StackLayout orientation="horizontal" v-else-if="result.Name === 'Transaction Date'">
                      <TextField height="40" width="100%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                      @blur="textfieldblur" color="black" backgroundColor="white" class="calendar" @tap="firstDate"
                      v-model="selectedFirstDate" editable="false" />
                    </StackLayout>
                    <StackLayout orientation="horizontal" v-else-if="result.Name === 'Time'">
                      <TextField height="40" width="100%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                      @blur="textfieldblur" color="black" backgroundColor="white" class="time" @tap="Time" v-model="time"
                      editable="false" />
                    </StackLayout>
                    <StackLayout orientation="horizontal" v-else-if="result.Name === 'Vendor TIN'">
                      <TextField v-model="Vtin" height="40" width="100%" fontSize="14" borderRadius="3" borderWidth="1"
                      hint="000-000-000-000" @focus="textfieldfocus" @blur="textfieldblur" keyboardType="number"
                      @textChange="TINfocus($event)" maxLength="15"
                      color="black" backgroundColor="white"/>
                    </StackLayout>
                    <StackLayout orientation="horizontal" v-else-if="result.Name === 'Amount'">
                      <TextField height="40" width="100%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                      @blur="textfieldblur" color="black" backgroundColor="white" v-model="ORamounts" keyboardType="number" @textChange="commaMo($event)"/>
                    </StackLayout>
                    <StackLayout orientation="horizontal" v-else-if="result.Name === 'Benefit Type'">
                      <TextField height="40" width="100%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                      @blur="textfieldblur" color="black" backgroundColor="white" class="drop" @tap="listview('benefit')"
                      v-model="benefits" editable="false" />
                    </StackLayout>
                    <StackLayout orientation="horizontal" v-else>
                     <TextField height="40" width="100%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                     @blur="textfieldblur" color="black" backgroundColor="white" v-model="Descript" />
                    </StackLayout>
                   <!-- <StackLayout orientation="horizontal" v-else>
                      <TextField height="40" width="100%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                        @blur="textfieldblur" color="black" backgroundColor="white" v-model="exceedBen"/>
                    </StackLayout> -->
                  </StackLayout>
                  <!--<StackLayout orientation="horizontal" width="100%" marginBottom="10">
                    <StackLayout orientation="horizontal" width='50%'>
                      <Label text="Transaction Date" textWrap="true" fontSize="14" color="white" />
                      <Label text="*" textWrap="true" fontSize="14" color="red" marginLeft="3" />
                    </StackLayout>
                    <TextField height="40" width="50%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                      @blur="textfieldblur" color="black" backgroundColor="white" class="calendar" @tap="firstDate"
                      :text="this.selectedFirstDate" editable="false" />
                  </StackLayout>
                  <StackLayout orientation="horizontal" width="100%" marginBottom="10">
                    <StackLayout orientation="horizontal" width='50%'>
                      <Label text="Time" textWrap="true" fontSize="14" color="white" />
                      <Label text="*" textWrap="true" fontSize="14" color="red" marginLeft="3" />
                    </StackLayout>
                    <TextField height="40" width="50%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                      @blur="textfieldblur" color="black" backgroundColor="white" class="time" @tap="Time" :text="this.time"
                      editable="false" />
                  </StackLayout>
                  <StackLayout orientation="horizontal" width="100%" marginBottom="10">
                    <StackLayout orientation="horizontal" width="50%">
                      <Label text="Vendor TIN" textWrap="true" fontSize="14" color="white" marginLeft="3" />
                    </StackLayout>
                    <InputMask v-model="Vtin" height="40" width="50%" fontSize="14" borderRadius="3" borderWidth="1"
                      hint="000-000-000-000" mask="[000]-[000]-[000]-[000]" @focus="textfieldfocus" @blur="textfieldblur"
                      color="black" backgroundColor="white"/>
                  </StackLayout>
                  <StackLayout orientation="horizontal" width="100%" marginBottom="10">
                    <StackLayout orientation="horizontal" width="50%">
                      <Label text="Amount" textWrap="true" fontSize="14" color="white" />
                      <Label text="*" textWrap="true" fontSize="14" color="red" marginLeft="3" />
                    </StackLayout>
                    <TextField height="40" width="50%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                      @blur="textfieldblur" color="black" backgroundColor="white" v-model="ORamounts" keyboardType="number" @textChange="commaMo($event)"/>
                  </StackLayout>
                  <StackLayout orientation="horizontal" width="100%" marginBottom="10">
                    <StackLayout orientation="horizontal" width="50%">
                      <Label text="Benefit Type" textWrap="true" fontSize="14" color="white" />
                      <Label text="*" textWrap="true" fontSize="14" color="red" marginLeft="3" />
                    </StackLayout>
                    <TextField height="40" width="50%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                      @blur="textfieldblur" color="black" backgroundColor="white" class="drop" @tap="listview('benefit')"
                      :text="this.benefits" editable="false" />
                  </StackLayout>
                  <StackLayout orientation="horizontal" width="100%" marginBottom="10">
                    <StackLayout orientation="horizontal" width="50%">
                      <Label text="Description" textWrap="true" fontSize="14" color="white" />
                      <Label text="*" textWrap="true" fontSize="14" color="red" marginLeft="3" />
                    </StackLayout>
                    <TextField height="40" width="50%" fontSize="14" borderRadius="3" borderWidth="1" @focus="textfieldfocus"
                      @blur="textfieldblur" color="black" backgroundColor="white" v-model="Descript" />
                  </StackLayout>-->
                  <StackLayout orientation="horizontal" horizontalAlignment="right" height="2%" paddingBottom="10%">
                    <!--<Button borderRadius="3" width="30%" backgroundColor="#003366" color="#f1c40f" text="Back" textWrap="true" borderWidth="1" borderColor="#f1c40f" marginLeft="10%" marginRight="5%" height="40" @tap="$router.push('/benefits')"/>-->
                    <Button borderRadius="3" width="30%" backgroundColor="#f1c40f" color="black" text="Submit"
                      borderWidth="1" borderColor="#2d5176" height="40" @tap="validateReceipt()" />
                  </StackLayout>
                </StackLayout>
              </ScrollView>
            </TabViewItem>
            <TabViewItem title="Status" height="100%">
              <ScrollView orientation="vertical" class="sv">
                <StackLayout orientation="vertical" padding="1">
                  <!-- <StackLayout orientation="horizontal" width="100%" marginBottom="10" marginLeft="30%" marginTop="10%">
                       <StackLayout orientation="horizontal" width="15%" >
                        <Label color="white" text="From:" textWrap="true" fontSize="14" backgroundColor="#003366"/>
                       </StackLayout>
                        <TextField
                            height="40"
                            width="60%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            class="calendar"
                            color="black"
                            backgroundColor="white"
                            @tap="secondDate"
                            :text="this.selectedSecondDate"
                            editable="false"
                        />
                    </StackLayout>
                    <StackLayout orientation="horizontal" width="100%" marginBottom="10" marginLeft="30%" marginTop="10%">
                      <StackLayout orientation="horizontal" width="15%" >
                        <Label color="white" text="To:" textWrap="true" fontSize="14" backgroundColor="#003366"/>
                      </StackLayout>
                        <TextField
                            height="40"
                            width="60%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            class="calendar"
                            color="black"
                            backgroundColor="white"
                            @tap="thirdDate"
                            :text="this.selectedThirdDate"
                            :style="thirdDateStyle"
                            :isEnabled="this.isEnabledThirdDate"
                            editable="false"
                        />
                    </StackLayout>
                    <StackLayout orientation="horizontal" paddingTop="10%" paddingLeft="100%">
                      <CheckBox boxType="box" fillColor="black"  @tap="CB1($event)" id="checker"  text="No end date"  fontSize="20" color="white"/>
                    </StackLayout>
                    <StackLayout orientation="horizontal" paddingTop="15%" paddingLeft="30%">
                        <Label color="white" text="Filter" textWrap="true" fontSize="14" backgroundColor="#003366" marginRight="15" height="2%" paddingTop="3%"/>
                        <TextField
                            height="40"
                            width="65%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            class="drop"
                            color="black"
                            marginRight='5' 
                            backgroundColor="white"
                            @tap="listview('filter')"
                            :text="this.filters"
                            editable="false"
                        />
                 </StackLayout> -->
                  <FlexboxLayout flexDirection="column" backgroundColor="#f1c40f" borderColor="#2d5176" margin="2"
                    borderRadius="5" borderWidth="2" width="100%" fontSize="12">
                    <StackLayout orientation="vertical">
                      <StackLayout orientation="horizontal">
                        <Label verticalAlignment="center" textAlignment="center" color="black" text="Emp Name" textWrap="true"
                          marginTop="3" marginBottom="3" backgroundColor="#f1c40f" width="20%"></Label>
                        <Label verticalAlignment="center" textAlignment="center" color="black" text="Date" textWrap="true"
                          marginTop="3" marginBottom="3" backgroundColor="#f1c40f" width="20%"></Label>
                        <Label verticalAlignment="center" textAlignment="center" color="black" text="Vendor Name"
                          textWrap="true" marginTop="3" marginBottom="3" backgroundColor="#f1c40f" width="20%"></Label>
                        <Label verticalAlignment="center" textAlignment="center" color="black" text="Amount" textWrap="true"
                          marginTop="3" marginBottom="3" backgroundColor="#f1c40f" width="20%"></Label>
                        <Label verticalAlignment="center" textAlignment="center" color="black" text="Status" textWrap="true"
                          marginTop="3" marginBottom="3" backgroundColor="#f1c40f" width="20%"></Label>
                      </StackLayout>
                      <FlexboxLayout backgroundColor="#003366" v-for="status in reimStatus">
                        <Label verticalAlignment="center" marginLeft="1%" marginBottom="1" marginTop="3" color="white"
                          :text="status.empname == 'null' ? '':status.empname" textWrap="true" width="20%" backgroundColor="#003366" @tap="viewReim(status)"></Label>
                        <Label verticalAlignment="center" marginLeft="1%" marginBottom="1" marginTop="3" marginRight="2" color="white"
                          :text="status.dateOnly == '1900-01-01' ? '':status.dateOnly" textWrap="true" width="20%" backgroundColor="#003366" @tap="viewReim(status)"></Label>
                        <Label verticalAlignment="center" marginLeft="1%" marginBottom="1" marginTop="3" color="white"
                          :text="status.vendor == 'null' ? '':status.vendor" textWrap="true" width="20%" backgroundColor="#003366" @tap="viewReim(status)"></Label>
                        <Label verticalAlignment="center" marginLeft="1%" marginBottom="1" marginTop="3" color="white"
                          :text="status.amount == '0.00' ? '':status.amount" textWrap="true" width="20%" backgroundColor="#003366" @tap="viewReim(status)"></Label>
                        <Label verticalAlignment="center" marginLeft="1%" marginBottom="1" marginTop="3" color="white"
                          :text="status.stat == 'null' ? '':status.stat" textWrap="true" width="20%" backgroundColor="#003366" @tap="viewReim(status)"></Label>
                      </FlexboxLayout>
                    </StackLayout>
                  </FlexboxLayout>
                  <StackLayout orientation="horizontal">
                    <!--<Button borderRadius="3" width="40%" backgroundColor="#003366" color="#f1c40f" text="Back" textWrap="true" borderWidth="1" borderColor="#f1c40f" marginLeft="3%" marginRight="15%" height="40" @tap="$router.push('/benefits')"/> -->
                    <!--<Button borderRadius="3" width="40%" backgroundColor="#f1c40f" color="black" text="Generate"
                      textWrap="true" borderWidth="1" borderColor="#2d5176" height="40" marginLeft="57%" />-->
                  </StackLayout>
                </StackLayout>
              </ScrollView>
            </TabViewItem>
          </TabView>
        </StackLayout>
      </StackLayout>
      <StackLayout row='1' :visibility="vloading1" isUserInteractionEnabled='false' />
      <StackLayout :visibility="vloading1" orientation="vertical" row="1" verticalAlignment="center"
        horizontalAlignment="center" opacity='0.6' height="50" width="50">
        <ActivityIndicator :isCollapsed="actvisible" busy="true" color="white" height="100%" width="100%"
          verticalAlignment="center" backgroundColor="#003366" />
        <Label verticalAlignment="center" height="100%" width="100%" fontSize="14" text="Loading.. Please wait..."
          color="white" marginLeft="60%" />
      </StackLayout>
    </GridLayout>
  </Page>
</template>
<script>
  const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;
  const picker = new ModalPicker();
  import { takePicture } from "nativescript-camera";
  import * as camera from "nativescript-camera";
  import * as http from "tns-core-modules/http";
  import { topmost } from "ui/frame";
  import Toast from "nativescript-toast";
  var moment = require("moment");
  var orientation = require("nativescript-orientation");
  const imageSourceModule = require("tns-core-modules/image-source");
  const fileSystemModule = require("tns-core-modules/file-system");
  import benefits from "../Benefits/Benefits.vue"


  export default {
    data() {
      return {
        selectedFirstDate: "",
        selectedSecondDate: "",
        selectedThirdDate: "",
        isEnabledThirdDate: true,
        benefits: "",
        filters: "",
        time: "",
        ORamounts: "",
        Vname: "",
        Vtin: "",
        Descript: "",
        docval1count: 0,
        docval2count: 0,
        // exceedBen:"",
        thirdDateStyle: {
          backgroundColor: "white"
        },
        listPickerbenefits: [],
        listPickerFilter: ["Mobile Plan", "Parking Allowance"],
        propath: '',
        ben: [],
        benID: '',
        vloading1: 'hidden',
        Benf: benefits,
        clickableImage: '~/assets/images/ImageViewer.png',
        reimStatus: [],
        reimDetails:[],
        required:[]
      };
    },
    created: function () {
      this.GetReimbursementDetails();
      this.getReimbursementStatus();
    },
    methods: {
      textfieldfocus(a) {
          a.object.borderColor = "#f1c40f";
          a.object.borderWidth = 2
      },
      textfieldblur(a) {
          a.object.borderColor = "transparent";
          a.object.borderWidth = 1
      },
      viewReim(a){
        var vm = this;
        console.log(JSON.stringify(a.image))
        this.$showModal({template: `
          <Page>
           <GridLayout rows="*,auto" height="90%">
            <StackLayout row="0">
                <Label text="Reimbursement Details" fontSize="14" paddingTop="12" paddingBottom="12" backgroundColor="#002851" textAlignment="center" color="white" verticalAlignment="center"  />
                <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="10" marginLeft="10">
                  <Label text="Image" fontSize="14" color="black" width="30%"/>
                  <Image :src ="image" width="70%" height="45%" backgroundColor="lightgray"/>
                </StackLayout>

                <StackLayout :visibility="date == '1900-01-01' || date == '' ? 'collapse' : 'visible'" orientation="horizontal" marginTop="5" marginRight="10" marginLeft="10">
                  <Label text="Transaction Date" fontSize="14" color="black" width="50%" verticalAlignment="center"/>
                  <TextField height="40" 
                    paddingLeft="5"
                    width="50%" 
                    fontSize="14" 
                    borderRadius="3" borderWidth="1"
                    color="black" 
                    backgroundColor="white" 
                    editable="false"
                    v-model="date"/>
                </StackLayout>

                <StackLayout :visibility="time == 'null' || time == '' ? 'collapse' : 'visible'" orientation="horizontal" marginTop="5" marginRight="10" marginLeft="10">
                  <Label text="Time" fontSize="14" color="black" width="50%" verticalAlignment="center"/>
                  <TextField height="40" 
                    paddingLeft="5"
                    width="50%" 
                    fontSize="14" 
                    borderRadius="3" borderWidth="1"
                    color="black" 
                    backgroundColor="white" 
                    editable="false"
                    v-model="time"/>
                </StackLayout>

                <StackLayout :visibility="amount == '0.00' || amount == '' ? 'collapse' : 'visible'" orientation="horizontal" marginTop="5" marginRight="10" marginLeft="10">
                  <Label text="Amount" fontSize="14" color="black" width="50%" verticalAlignment="center"/>
                  <TextField height="40" 
                    paddingLeft="5"
                    width="50%" 
                    fontSize="14" 
                    borderRadius="3" borderWidth="1"
                    color="black" 
                    backgroundColor="white" 
                    editable="false"
                    v-model="amount"/>
                </StackLayout>

                <StackLayout :visibility="bentype == 'null' || bentype == '' ? 'collapse' : 'visible'" orientation="horizontal" marginTop="5" marginRight="10" marginLeft="10">
                  <Label text="Benefit Type" fontSize="14" color="black" width="50%" verticalAlignment="center"/>
                  <TextField height="40" 
                    paddingLeft="5"
                    width="50%" 
                    fontSize="14" 
                    borderRadius="3" borderWidth="1"
                    color="black" 
                    backgroundColor="white" 
                    editable="false"
                    v-model="bentype"/>
                </StackLayout>

                <StackLayout :visibility="description == 'null' || description == '' ? 'collapse' : 'visible'" orientation="horizontal" marginTop="5" marginRight="10" marginLeft="10">
                  <Label text="Description" fontSize="14" color="black" width="50%" verticalAlignment="center"/>
                  <TextField height="40" 
                    paddingLeft="5"
                    width="50%" 
                    fontSize="14" 
                    borderRadius="3" borderWidth="1"
                    color="black" 
                    backgroundColor="white" 
                    editable="false"
                    v-model="description"/>
                </StackLayout>
            </StackLayout>
                <StackLayout row="1" orientation="horizontal" marginTop="10" marginRight="10" marginLeft="10" marginBottom="10">
                  <Label text="OK" fontSize="14" color="black" textAlignment="right" width="100%" @tap="close" verticalAlignment="bottom"/>
                </StackLayout>

          </StackLayout>
            </GridLayout> 
            </Page>`,
          data() {
              return {
                image:a.image,
                date:a.dateOnly,
                time:a.time,
                amount:a.amount,
                bentype:a.bentype,
                description:a.description,
                loading:"visible"
              }
            }, 
          created: function() {  

          },
          methods: {
              close(){
                this.$modal.close();
              }

            }
          })
      },
      TINfocus(e){
        console.log(e.object.text[e.object.text.length -1])
        console.log(e.object.text.length)
           if(e.object.text.length === 4 && e.object.text[e.object.text.length -1] !== '-')
            {
                this.Vtin = [e.object.text.slice(0, 3), '-', e.object.text.slice(3)].join('');
                 setTimeout(() => {
                    e.object.android.setSelection(e.object.text.length); 
                  },0) 
            }
            else if(e.object.text.length === 8 && e.object.text[e.object.text.length -1] !== '-')
            {
                this.Vtin = [e.object.text.slice(0, 7), '-', e.object.text.slice(7)].join('');
                 setTimeout(() => {
                    e.object.android.setSelection(e.object.text.length); 
                  },0) 
                  console.log(e.object.text.length)
            }
            else if(e.object.text.length === 12 && e.object.text[e.object.text.length -1] !== '-')
            {
                this.Vtin = [e.object.text.slice(0, 11), '-', e.object.text.slice(11)].join('');
                 setTimeout(() => {
                    e.object.android.setSelection(e.object.text.length); 
                  },0) 
                  console.log(e.object.text.length)
            }
            else if (e.object.text.length === 4 && e.object.text[e.object.text.length -1] =='-')
            {
                this.Vtin  = e.object.text.slice(0, -1);
                setTimeout(() => {
                    e.object.android.setSelection(e.object.text.length); 
                  },0) 
            }
            else if (e.object.text.length === 8 && e.object.text[e.object.text.length -1] == '-')
            {
                this.Vtin  = e.object.text.slice(0, -1);
                 setTimeout(() => {
                    e.object.android.setSelection(e.object.text.length); 
                  },0) 
            }
            else if (e.object.text.length === 12 && e.object.text[e.object.text.length -1] == '-')
            {
                this.Vtin  = e.object.text.slice(0, -1);
                 setTimeout(() => {
                    e.object.android.setSelection(e.object.text.length); 
                  },0) 
            }
      },
      GetReimbursementDetails() {
        http.request({
          url: localStorage.getItem("URL") + "GetReimbursementDetails",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            CN: localStorage.getItem("ClientName"),
            Type:'0'
          })
        }).then(response => {
          this.reimDetails = response.content.toJSON().reimDetails;

          var value = "Exceeded Benefit"

            this.reimDetails = this.reimDetails.filter(function(item) {
                return item.Name !== value
            })
            console.log(JSON.stringify(this.reimDetails) + " this is iiiitt")
          this.required = this.reimDetails.filter (res => res.Required === 'True');
        })
      },
      commaMo(a) {
        var regex = new RegExp(',', 'g');
        var tempdata = a.object.text.replace(regex, '');
        this.ORamounts = tempdata.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        setTimeout(() => {
          a.object.android.setSelection(this.ORamounts.length);
        }, 0);
      },
      getReimbursementStatus() {
        http.request({
          url: localStorage.getItem("URL") + "GetReimbursementStatus",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            CN: localStorage.getItem("ClientName"),
            empID: localStorage.getItem("EmpID"),
          })
        }).then(response => {
          //console.log(response.content.toJSON().reimStatus)
          for (var i = 0; i < response.content.toJSON().reimStatus.length; i++) {
            this.reimStatus.push({
              empname: response.content.toJSON().reimStatus[i].EmpName,
              vendor: response.content.toJSON().reimStatus[i].VendorName,
              date: moment(response.content.toJSON().reimStatus[i].TransactionDate).format("YYYY-MM-DD") + " " + response.content.toJSON().reimStatus[i].TransactionTime,
              amount: response.content.toJSON().reimStatus[i].Amount,
              stat: response.content.toJSON().reimStatus[i].Status,
              image : response.content.toJSON().reimStatus[i].Image,
              dateOnly :  moment(response.content.toJSON().reimStatus[i].TransactionDate).format("YYYY-MM-DD"),
              time: response.content.toJSON().reimStatus[i].TransactionTime,
              bentype: response.content.toJSON().reimStatus[i].BenefitType,
              description: response.content.toJSON().reimStatus[i].Description,
            })
          }
        })
      },
      benefitTypes() {
        http.request({
          url: localStorage.getItem("URL") + "GetReimbursableReceiptBenefit",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            CN: localStorage.getItem("ClientName")
          })
        })
          .then(response => {
            this.ben = response.content.toJSON().Reimbursable;
            for (var i = 0; i < response.content.toJSON().Reimbursable.length; i++) {
              this.listPickerbenefits.push(response.content.toJSON().Reimbursable[i].BenefitName)
            }
          });
      },
      openCamera() {
        var gabbi = topmost().getViewById("imageID")
        camera.requestPermissions();
        camera.takePicture({ width: 800, height: 1024, keepAspectRatio: true, saveToGallery: false, cameraFacing: 'front' })
          .then((imageAsset) => {
            gabbi.src = imageAsset;
            let documents = fileSystemModule.knownFolders.documents();
            let path = fileSystemModule.path.join(documents.path, "pic.png");
            imageSourceModule.fromAsset(imageAsset).then(imageSource => {
              imageSource.saveToFile(path, "png");
              var imgLocal = imageSource.fromFile(path);
              this.propath = imageSource.toBase64String('png', 50)
              this.listPickerbenefits = []
              //console.log(this.propath)
            })
          }).catch(function (err) {
            // Toast.makeText("Connection timed out. Please try again.").show();
            console.log("Error -> " + err.message);
          })
      },
      validateReceipt(){
         
        if(this.required.length === 0){
          if(this.Vtin != "" && this.Vtin.length != 15)
          {
            Toast.makeText("Incomplete Vendor TIN number").show()
          }
          else
          {
            this.InsertReceipt();
          }
        }
        else{
          if(this.propath === ''){
            Toast.makeText("Receipt Image is required").show()
          }
          else if(this.Vtin != "" && this.Vtin.length != 15)
          {
            Toast.makeText("Incomplete Vendor TIN number").show()
          }
          else{
            var err = 0;
            for(var i = 0; i < this.required.length; i++){
                if((this.required[i].Name === 'Vendor Name' && this.Vname === '') ||
                  (this.required[i].Name === 'Transaction Date' && this.selectedFirstDate === '') ||
                  (this.required[i].Name === 'Time' && this.time === '') ||
                  (this.required[i].Name === 'Vendor TIN' && this.Vtin === '') ||
                  (this.required[i].Name === 'Amount' && this.ORamounts === '') ||
                  (this.required[i].Name === 'Benefit Type' && this.benefits === '') ||
                  (this.required[i].Name === 'Description' && this.Descript === ''))
                  {
                    err++;
                    break;
                  }
              }
              if (err === 0) {
                this.InsertReceipt();
              } 
              else{
                  Toast.makeText("Input required field").show()
                  return false;
              }
          }
        }
      },
      InsertReceipt() {
        // if(this.propath == "")
        // {
        //   var gabbi = topmost().getViewById("imageID");
        //   let imageAsset = gabbi.src
        //   let documents = fileSystemModule.knownFolders.documents();
        //     let path = fileSystemModule.path.join(documents.path, "pic.png");
        //     imageSourceModule.fromAsset(imageAsset).then(imageSource => {
        //       imageSource.saveToFile(path, "png");
        //       var imgLocal = imageSource.fromFile(path);
        //       this.propath = imageSource.toBase64String('png', 50)
        //       this.listPickerbenefits = []
        // })
        //       console.log(this.propath)
        // }
        var benType = this.reimDetails.find(res => res.Name == 'Benefit Type')
        console.log(benType.Status + ' Benefit Type')
 
        var venName = this.reimDetails.find(res => res.Name == 'Vendor Name')
        console.log(venName.Status + ' Vendor Name')
 
        var tranDate = this.reimDetails.find(res => res.Name == 'Transaction Date')
        console.log(tranDate.Status +' Transaction Date')
 
        var timeRe = this.reimDetails.find(res => res.Name == 'Time')
        console.log(timeRe.Status +' Time')
 
        var venTIN = this.reimDetails.find(res => res.Name == 'Vendor TIN')
        console.log(venTIN.Status + ' Vendor TIN')
 
        var AmountRe = this.reimDetails.find(res => res.Name == 'Amount')
        console.log(AmountRe.Status + ' Amount')
 
        var DescriptionRe = this.reimDetails.find(res => res.Name == 'Description')
        console.log(DescriptionRe.Status + ' Description')
          var defAmount = 0.00
          this.vloading1 = 'visible';

          var amounts = this.ORamounts.replace(/,/g, '')
          console.log("amounts:"+amounts)

          http.request({
            url: localStorage.getItem("URL") + "Save_OR_reimbursementv2",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              EmpID: localStorage.getItem("EmpID"),
              CN: localStorage.getItem("ClientName"),
              BenefitType: benType.Status == "False" ? "null" : this.benefits,
              ORDate: this.selectedFirstDate,
              ORTime: timeRe.Status == "False" ? "null" : this.time,
              ORAmount: this.ORamounts == "" ? defAmount : amounts,
              VendorName: venName.Status == "False" ? "null" : this.Vname,
              VendorTin: venTIN.Status == "False" ? "null" : this.Vtin,
              Description: DescriptionRe.Status == "False" ? "null" : this.Descript,
              BenefitID: this.benID
            })
          })
            .then(response => {
              if(response.content.toJSON() =="success"){
                http.request({
                url: localStorage.getItem("URL") + "UpdateDHRReimbursev1",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  B64Image: this.propath,
                  NTID: localStorage.getItem("EmpID")
                  })
                })
                .then(response => {

                  if(response.content.toJSON() == 'success')
                  {
                      http.request({
                      url: localStorage.getItem('URL') + "emailnotif_reim_approver",
                      method: "POST",
                      headers: { "Content-Type": "application/json" },
                      content: JSON.stringify({
                          CN: localStorage.getItem('ClientName'),
                          empID: localStorage.getItem('EmpID'),
                          benType: this.benefits
                      })
                      }).then((response) => {
                          console.log(response.content.toJSON())
                      })
                  }

                  var gabbi = topmost().getViewById("imageID");
                  gabbi.src = '~/assets/images/ImageViewer.png';
                  this.benefits = ""
                  this.selectedFirstDate = ""
                  this.time = ""
                  this.ORamounts = ""
                  this.Vname = ""
                  this.Vtin = ""
                  this.Descript = ""
                  this.propath = ""
                  // this.exceedBen = ""
                  this.listPickerbenefits = []
                  this.benefitTypes()
                  this.reimStatus.splice(0)
                  this.getReimbursementStatus()
                  Toast.makeText("Successfully saved").show()
                  this.vloading1 = 'hidden';
                });
              }
              else
              {
                  var gabbi = topmost().getViewById("imageID");
                  gabbi.src = '~/assets/images/ImageViewer.png';
                  this.benefits = ""
                  this.selectedFirstDate = ""
                  this.time = ""
                  this.ORamounts = ""
                  this.Vname = ""
                  this.Vtin = ""
                  this.Descript = ""
                  this.propath = ""
                  // this.exceedBen = ""
                  this.listPickerbenefits = []
                  this.benefitTypes()
                  this.vloading1 = 'hidden';
                alert("Please try again.")
              }
              
            }).catch((error)=>{
                console.log(error + ' this is error')
            });
      },
      loadmo() {
        orientation.setOrientation("portrait");
        orientation.disableRotation();
      },
      backbtn() {
        var applicationModule = require("application");
        var AndroidApplication = applicationModule.android;
        var activity =
          AndroidApplication.startActivity ||
          AndroidApplication.foregroundActivity ||
          topmost().android.currentActivity ||
          topmost().android.activity;
        activity.onBackPressed = () => {
          //Your code here

          this.$navigateTo(this.Benf, { clearHistory: true });
        };
      },
      firstDate() {
        picker
          .pickDate({
            title: "Select Date",
            theme: "dark"
          })
          .then(result => {
            this.selectedFirstDate =
              result.year + "-" + result.month + "-" + result.day;
            console.log(
              "Date is: " + result.year + "-" + result.month + "-" + result.day
            );
            var jsdate = new Date(result.year, result.month - 1, result.day);
          })
          .catch(error => {
            console.log("Error: " + error);
          });
      },
      secondDate() {
        picker
          .pickDate({
            title: "Select Date",
            theme: "dark"
          })
          .then(result => {
            this.selectedSecondDate =
              result.year + "-" + result.month + "-" + result.day;
            console.log(
              "Date is: " + result.year + "-" + result.month + "-" + result.day
            );
            var jsdate = new Date(result.year, result.month - 1, result.day);
          })
          .catch(error => {
            console.log("Error: " + error);
          });
      },
      thirdDate() {
        picker
          .pickDate({
            title: "Select Date",
            theme: "dark"
          })
          .then(result => {
            this.selectedThirdDate =
              result.year + "-" + result.month + "-" + result.day;
            console.log(
              "Date is: " + result.year + "-" + result.month + "-" + result.day
            );
            var jsdate = new Date(result.year, result.month - 1, result.day);
          })
          .catch(error => {
            console.log("Error: " + error);
          });
      },
      CB1(event) {
        let checkBox = topmost().getViewById("checker");
        //console.log(checkBox.checked);
        if (checkBox.checked === false) {
          this.isEnabledThirdDate = false;
          this.thirdDateStyle.backgroundColor = "gray";
          this.selectedThirdDate = "";
        } else {
          this.isEnabledThirdDate = true;
          this.thirdDateStyle.backgroundColor = "white";
        }
      },
      listview(e) {
        if (e === "benefit")
          action("Select One", "Cancel", this.listPickerbenefits).then(result => {
            this.benefits = result;
            if (this.benefits === "Cancel") {
              this.benefits = ""
            }
            else {
              var n = this.ben.find(res => res.BenefitName === this.benefits)
              this.benID = n.BenefitID
              //console.log(this.benID)
            }
          });
        else if (e === "filter")
          action("Select One", "Cancel", this.listPickerFilter).then(result => {
            this.filters = result;
            if (this.filters == "Cancel") {
              this.filters = "";
            }
            //console.log(this.name)
          });
      },
      Time() {
        picker
          .pickTime({
            title: "Select",
            theme: "dark",
            is24HourView: false
          })
          .then(result => {
            // this.time = result.hour + ":" + result.minute;
            // moment(this.time).format("h:mm A");
            // console.log(this.time);
            this.time = moment(result.hour + ":" + result.minute, "HH:mm").format("h:mm A")
          })
          .catch(error => {
            console.log("Error: " + error);
          });
      }
    }
  };
</script>
<style scoped>
  .drop {
    background-image: url("~/assets/images/ic_dropdown.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
  }

  .sv {
    width: 100%;
    height: 100%;
  }

  .calendar {
    background-image: url("~/assets/images/ic_calendar.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
  }

  .time {
    background-image: url("~/assets/images/ic_time.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
  }
</style>