<template>
  <Page class="page" @loaded='backbtn();loadmo()'>
    <ActionBar title="My Benefits" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(Benf, {clearHistory: true});"/>
    </ActionBar>
      <AbsoluteLayout backgroundColor="#003366">
        <ScrollView orientation="vertical" class="sv" scrollBarIndicatorVisible="false">
            <StackLayout orientation="vertical" padding="10" marginRight="20" marginLeft="20">
            <StackLayout orientation="horizontal" width="100%" marginBottom="10" marginLeft="25%">
                <StackLayout orientation="horizontal" width="15%" >
                 <Label color="white" text="From:" textWrap="true" fontSize="14" backgroundColor="#003366"/>
                </StackLayout>
                 <TextField
                    height="40"
                    width="60%"
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    @focus="textfieldfocus"
                    @blur="textfieldblur"
                    class="calendar"
                    color="black"
                    backgroundColor="white"
                    @tap="firstDate" 
                    :text="this.selectedFirstDate"
                    editable="false"
                 />
            </StackLayout>
            <StackLayout orientation="horizontal" width="100%" marginBottom="10" marginLeft="25%">
              <StackLayout orientation="horizontal" width="15%" >
                 <Label color="white" text="To:" textWrap="true" fontSize="14" backgroundColor="#003366"/>
              </StackLayout>
                 <TextField
                    height="40"
                    width="60%"
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    @focus="textfieldfocus"
                    @blur="textfieldblur"
                    class="calendar"
                    color="black"
                    backgroundColor="white"
                    @tap="secondDate" 
                    :text="this.selectedSecondDate"
                    :isEnabled="this.isEnabledSecondDate"
                    :style="secondDateStyle"
                    editable="false"
                 />
            </StackLayout>
            <StackLayout orientation="horizontal" paddingTop="10%" paddingLeft="100%">
              <CheckBox boxType="box" fillColor="black"  @tap="checkB1($event)" id="checker"  text="No end date" fontSize="20" color="white"/>
            </StackLayout>
                    <FlexboxLayout flexDirection="column"  backgroundColor="#f1c40f"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" >
                        <StackLayout orientation="vertical">
                        <StackLayout orientation="horizontal">
                                    <Label width="12%" color="black"  text="Date"        marginRight="1" textWrap="true" paddingTop="4" paddingBottom="4" backgroundColor="#f1c40f"></Label>
                                    <Label width="28%" color="black"  text="Description" marginRight="1" textWrap="true" paddingTop="4" paddingBottom="4" backgroundColor="#f1c40f"></Label>
                                    <Label width="25%" color="black"  text="Deducted"                    textWrap="true" paddingTop="4" paddingBottom="4" backgroundColor="#f1c40f"></Label>
                                    <Label width="15%" color="black"  text="Added"       marginRight="2" textWrap="true" paddingTop="4" paddingBottom="4" backgroundColor="#f1c40f"></Label>
                                    <Label width="20%" color="black"  text="Balance"                     textWrap="true" paddingTop="4" paddingBottom="4" backgroundColor="#f1c40f"></Label>
                        </StackLayout >
                        <StackLayout orientation="horizontal">
                            <Label paddingLeft="3" color="black"  text="Beginning Balance" width="25%" marginRight="45%" marginLeft="8%" textWrap="true"  backgroundColor="#f1c40f"></Label>
                            <Label paddingLeft="3" color="black"  text="0" paddingTop="10" width="25%" marginRight="1" backgroundColor="#f1c40f"></Label>                                  
                        </StackLayout>
                        <FlexboxLayout backgroundColor="#003366" paddingBottom="100%">
                                    <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="" textWrap="true" width="25%" marginRight="1"  backgroundColor="#003366"></Label>
                                    <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="" width="25%" textWrap="true"  marginRight="1"   backgroundColor="#003366"></Label>
                                    <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="" textWrap="true"  flexGrow="5" width="25%"  backgroundColor="#003366"></Label>
                                    <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="" marginLeft="1" width="25%" textWrap="true"   backgroundColor="#003366"></Label>
                        </FlexboxLayout>

                        <FlexboxLayout>
                            <Label paddingLeft="3" color="black"  text="Ending Balance" width="25%" marginRight="50%" textWrap="true"  backgroundColor="#f1c40f"></Label>
                            <Label paddingLeft="3" color="black"  text="0" paddingTop="10" width="25%" marginRight="1" backgroundColor="#f1c40f"></Label>                                  
                        </FlexboxLayout>
                        </StackLayout>
                </FlexboxLayout>
                <StackLayout orientation="vertical" marginLeft="5%" paddingTop="10%">
                    <Label text="Total Added Points" color="white"/>
                    <Label text="Total Deducted Points"  color="white"/>
                    <Label text="# of Added Items ="  color="white"/>
                    <Label text="# of Deducted Items ="  color="white"/>
                </StackLayout>
                <StackLayout orientation="horizontal" paddingTop="30%" paddingBottom="10%">
                    <!--<Button borderRadius="3" width="30%" backgroundColor="#003366" color="#f1c40f" text="Back" textWrap="true" borderWidth="1" borderColor="#f1c40f" marginLeft="5%" marginRight="30%" height="10%" @tap="$router.push('/benefits')"/> -->
                    <Button borderRadius="3" width="30%" backgroundColor="#f1c40f" color="black" text="Generate" textWrap="true" borderWidth="1" borderColor="#2d5176" height="10%" marginLeft="67%"/>
                </StackLayout>
            </StackLayout>
        </ScrollView>           
      </AbsoluteLayout>
  </Page>
</template>
<script>
const ModalPicker = require("nativescript-modal-datetimepicker")
  .ModalDatetimepicker;
const picker = new ModalPicker();
import * as http from "tns-core-modules/http";
import { topmost } from "tns-core-modules/ui/frame";
var orientation = require("nativescript-orientation");
import benefits from "../Benefits/Benefits.vue"

export default {
  data() {
    return {
      selectedFirstDate: "",
      selectedSecondDate: "",
      isEnabledSecondDate: true,
      secondDateStyle: {
        backgroundColor: "white"
      },
      Benf: benefits
    };
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.Benf, {clearHistory: true});
      };
    },
    firstDate() {
      picker
        .pickDate({
          title: "Select Date",
          theme: "dark"
        })
        .then(result => {
          this.selectedFirstDate =
            result.year + "-" + result.month + "-" + result.day;
          console.log(
            "Date is: " + result.year + "-" + result.month + "-" + result.day
          );
          var jsdate = new Date(result.year, result.month - 1, result.day);
        })
        .catch(error => {
          console.log("Error: " + error);
        });
    },
    secondDate() {
      picker
        .pickDate({
          title: "Select Date",
          theme: "dark"
        })
        .then(result => {
          this.selectedSecondDate =
            result.year + "-" + result.month + "-" + result.day;
          console.log(
            "Date is: " + result.year + "-" + result.month + "-" + result.day
          );
          var jsdate = new Date(result.year, result.month - 1, result.day);
        })
        .catch(error => {
          console.log("Error: " + error);
        });
    },
    checkB1(event) {
      let checkBox = Frame.topmost().getViewById("checker");
      //console.log(checkBox.checked);
      if (checkBox.checked === false) {
        this.isEnabledSecondDate = false;
        this.secondDateStyle.backgroundColor = "gray";
        this.selectedSecondDate = "";
      } else {
        this.isEnabledSecondDate = true;
        this.secondDateStyle.backgroundColor = "white";
      }
    }
  }
};
</script>
<style scoped>
.sv {
  width: 100%;
  height: 100%;
}
.calendar {
  background-image: url("~/assets/images/ic_calendar.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
label{
  font-size:14;
}
</style>