<template>
  <Page class="page" @loaded='backbtn();loadmo()'>
    <ActionBar title="My Benefits" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="back"/>
    </ActionBar>
    <ScrollView orientation="vertical">
        <StackLayout backgroundColor="#003366">
                <StackLayout orientation="vertical">
                <StackLayout orientation="horizontal" paddingBottom="30%" paddingTop="10%">
                <Label color="white" text="Current Balance:" textWrap="true" fontSize="14" marginLeft="3%" />
                <Label color="#f1c40f" text="7,120" textWrap="true" fontSize="14" marginLeft="3%" />
                </StackLayout>
                    <Label color="white" text="Transfer Points to:" textWrap="true" fontSize="14" marginLeft="3%" />
                        <StackLayout orientation="vertical" padding="10%">
                            <TextField 
                            height="40"
                            width="100%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            class="drop"
                            color="black"
                            backgroundColor="white"
                            @tap="listview('transfer')"
                            :text="this.name"
                            editable="false"
                            />
                        </StackLayout> 
                    <Label color="white" text="Business Segment:" textWrap="true" fontSize="14" marginLeft="3%" />
                        <StackLayout orientation="vertical" padding="10%">
                            <TextField 
                            height="40"
                            width="100%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            class="drop"
                            color="black"
                            backgroundColor="white"
                            @tap="listview('segment')"
                            :text="this.segment"
                            editable="false"
                            />
                        </StackLayout>   
                     <Label color="white" text="Amount:" textWrap="true" fontSize="14" marginLeft="3%" />
                        <StackLayout orientation="vertical" padding="10%">
                            <TextField 
                            height="40"
                            width="100%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            color="black"
                            backgroundColor="white"
                            hint="Enter amount here..."
                            />
                        </StackLayout>  
                    <Label color="white" text="Note:" textWrap="true" fontSize="14" marginLeft="3%" />
                        <StackLayout orientation="vertical" padding="10%">
                            <TextField 
                            height="100%"
                            width="100%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            color="black"
                            backgroundColor="white"
                            hint="Enter text here..."
                            paddingBottom="50%"
                            />
                        </StackLayout>  
                </StackLayout>             
                <StackLayout orientation="horizontal" paddingTop="50%">
                    <Button borderRadius="3" width="30%" backgroundColor="#003366" color="#f1c40f" text="Back" textWrap="true" borderWidth="1" borderColor="#f1c40f" marginLeft="10%" marginRight="20%" height="40" @tap="back"/>
                    <Button borderRadius="3" width="30%" backgroundColor="#003366" color="black" text="Transfer" textWrap="true" borderWidth="1" borderColor="#2d5176" height="40"/>
                </StackLayout>
      </StackLayout>
    </ScrollView>
  </Page>
</template>
<script>
import { topmost } from "tns-core-modules/ui/frame";
import benefits from "../Benefits/Benefits.vue"
var orientation = require("nativescript-orientation");
export default {
  data() {
    return {
      listPickerTransfer: ["John", "Robert", "Galut"],
      listPickerSegment: ["Mobile Developer", "Web Developer"],
      name: "",
      segment: "",
      benef:benefits
    };
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity || 
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.benef, {clearHistory: true})
      };
    },
    back(){
      this.$navigateTo(this.benef, {clearHistory: true})
    },
    listview(e) {
      if (e === "transfer")
        action("Select to transfer", "Cancel", this.listPickerTransfer).then(
          result => {
            this.name = result;
            if (this.name == "Cancel") {
              this.name = "";
            }
            //console.log(this.name)
          }
        );
      else if (e === "segment")
        action(
          "Select business segment",
          "Cancel",
          this.listPickerSegment
        ).then(result => {
          this.segment = result;
          if (this.segment == "Cancel") {
            this.segment = "";
          }
          //console.log(this.segment)
        });
    }
  }
};
</script>
<style scoped>
.drop {
  background-image: url("~/assets/images/ic_dropdown.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
</style>