<template>
  <Page class="page" @loaded='backbtn();loadmo()'>
    <ActionBar class="action-bar barColor" title="Document"></ActionBar>
    <GridLayout rows="*">
        <StackLayout row="1" paddingBottom="5" paddingRight="10" paddingLeft="10" paddingTop="20" width="100%" horizontalAlignment="center" verticalAlignment="center">
             

            <GridLayout rows="*" > 
           
              <StackLayout height="100%" row="1" verticalAlignment="top" paddingBottom="45" paddingRight="10" paddingLeft="10" paddingTop="50" width="100%" >
                <Image id='doco' :src="docos" row='1' verticalAlignment='center'  height="100%"  width="100%" class="formBox"/>
              </StackLayout>
              <!-- <TextField editable='false' row='1' verticalAlignment='top' horizontalAlignment="left" width="100%" v-model="documentType" borderRadius="3" borderWidth="1" hint="Choose Documents" class="textColor drop" id='iddoc'  @tap="showDocumentType"></TextField> -->
               <TextField hint="-Choose Document Type-" row='1' height="42" width="100%" verticalAlignment='top' horizontalAlignment="center" class="textColor drop" v-model="documentType" @tap="showDocumentType()" editable="false" />
              <StackLayout verticalAlignment='bottom' orientation="horizontal" row="1" width="100%" horizontalAlignment="center">
                <Button @tap="confirmImage" id='docimage' :isEnabled="image" :backgroundColor="color" marginLeft="10" marginRight="10" textAlignment="center"  borderRadius="3" text="Save Image" borderColor="#f1c40f"  color="#002851" height="40" width="50%"/>
                
                <Button @tap="newCam" marginRight="10" textAlignment="center" borderRadius="3" text="Open Camera" borderColor="#f1c40f"  color="#002851" backgroundColor="#f1c40f" height="40" width="50%"/>
              </StackLayout>  
            </GridLayout> 
          </StackLayout>

        <!-- <StackLayout class="padding">
            <StackLayout>
              <TextField hint="-Choose Document Type-" class="textColor drop" v-model="documentType" @tap="showDocumentType()" editable="false" />
              <StackLayout class="formBox">
                <Image id='doco' :src="docos" width="100%" height="100%"/>
              </StackLayout>
              <WrapLayout class="wrapMargin">
                <Button class="btnFill" id='docimage' text="Save Image" :isEnabled="image" :backgroundColor="color" width="50%" height="50%" @tap="confirmImage"></Button>
                <Button class="btnFill" text="Open Camera" width="50%" height="50%" @tap="newCam"></Button>
              </WrapLayout>
            </StackLayout>
          </StackLayout> -->
        <StackLayout class="dimmer" :visibility="Exit ? 'visible' : 'collapsed'" />
        <GridLayout height="170" margin="10" rows="*" :visibility="Exit ? 'visible' : 'collapsed'">
          <StackLayout width="100%" height="100%" backgroundColor="white" paddingLeft="15%" horizontalAlignment="center" borderRadius="2%">
            <StackLayout orientation="vertical" marginTop="10">
              <Label text="Attention!" fontSize="18" paddingTop="5" textAlignment="left" color="#002851" verticalAlignment="left"  />
              <StackLayout orientation="vertical">
                <TextView editable="false" backgroundColor="transparent">
                  <FormattedString>
                    <Span text="You need to finish the registration before you can use HRMS. Do you really want to exit?" color="#002851"/>
                  </FormattedString>
                </TextView>
              </StackLayout>
              <StackLayout orientation="horizontal" marginBottom="5" marginLeft="70%" fontSize="14"> 
                <Label  @tap="modalClose" text="NO" textAlignment="center" color="#003366" marginRight="20"/>   
                <Label  @tap="$router.push('/login')" text="YES" textAlignment="center" color="#003366" marginRight="10"/>
              </StackLayout>                   
            </StackLayout>
          </StackLayout> 
        </GridLayout>
        <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" opacity='0.6' borderRadius='6'  backgroundColor='black' height="50" width="50">
                    
                  <ActivityIndicator  busy="true"
                  color="white" height="100%" width="100%"
                verticalAlignment="center"/>
                  
        </StackLayout>
      </GridLayout>
  </Page>
</template>
<script>
import { takePicture } from "nativescript-camera";
import * as camera from "nativescript-camera";
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
import * as http from "tns-core-modules/http";
import Toast from "nativescript-toast";
import { LoadingScreen } from "nativescript-loading-screen";
const imageSourceModule = require("tns-core-modules/image-source");
const fileSystemModule = require("tns-core-modules/file-system");
var orientation = require("nativescript-orientation");
export default {
  data() {
    return {
      Exit: false,
      image: false,
      color: "#1A5276",
      typeOptions: [
        "SSS",
        "PhilHealth",
        "Pag-Ibig",
        "Tin",
        "Unified Multi-purpose ID",
        "Passport",
        "Postal ID",
        "SAGSD",
        "NTC License",
        "Barangay Clearance",
        "PNP Clearance",
        "NBI Clearance",
        "Neuro Evaluation",
        "Drug Test",
        "Medical Exam",
        "Drug Clearance",
        "CTC"
      ],
      documentType: "",
      sss: "",
      PhilHealth: "",
      Pagibig: "",
      tin: "",
      Unified: "",
      Passport: "",
      PassportImage:"",
      UnifiedImage:"",
      sssImage: "",
      philhealthImage: "",
      tinImage: "",
      pagibigImage: "",
      doccount: 0,
      docos: "~/assets/images/document.png",
      luding: 'collapse'
    };
  },
  created: function() {
    this.uploadID();
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
  
    modalClose() {
      this.Exit = false;
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        this.Exit = true;
      };
    },
    SSS() {
      var vm = this;
      this.$showModal({
        template: `
          <Page >
            <StackLayout width="100%" height="150" backgroundColor="#D0D3D4">
          <StackLayout orientation="vertical" >
            <Label text="Confirm ID number" height="40" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
              <StackLayout orientation="vertical" width="310" android:horizontalAlignment="left" paddingLeft="10%">
                <Label text="ID Number:" color="black" fontSize="14"/>
                <InputMask
                      v-model="sss"
                      hint="00-0000000-0"
                      mask="[00]-[0000000]-[0]"
                      backgroundColor="white"
                      @focus="textfieldfocus" 
                      @blur="textfieldblur">
                  </InputMask>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="10" marginLeft="55%" fontSize="14"> 
              <Label  @tap="$modal.close" text="CANCEL" textAlignment="center" color="#003366" marginRight="20"/>   
              <Label  @tap="confirmID();modalClose()" text="CONFIRM" textAlignment="center" color="#003366" marginRight="10"/>
            </StackLayout>                    
          </StackLayout>
        </StackLayout>
            </Page>`,
        data() {
          return {
            sss: ""
          };
        },
        methods: {
          modalClose() {
            this.$modal.close();
          },
          textfieldfocus(a) {
            a.object.borderColor = "#f1c40f";
            a.object.borderWidth = 2;
          },
          textfieldblur(a) {
            a.object.borderColor = "transparent";
            a.object.borderWidth = 1;
          },
          confirmID() {
            confirm({
              title: "Successful",
              message: "Image successfully accepted.",
              okButtonText: "OK"
            }).then(result => {
              vm.sss = this.sss;
              if (vm.doccount === 0) {
                var sss = vm.typeOptions.indexOf(vm.documentType);
                let image = Frame.topmost().getViewById('doco')
                if (sss !== -1) {
                  vm.typeOptions.splice(sss, 1)
                  image.src = "~/assets/images/document.png";
                  // docos.src = '~/assets/images/document.png';
                  vm.documentType = "";
                  vm.image = false;
                  vm.doccount = 1;
                  vm.color = "#1A5276";
                }

              } else {
                vm.update();
              }
            });
          }
        }
      });
    },
    PAGIBIG() {
      var vm = this;
      this.$showModal({
        template: `
          <Page >
            <StackLayout width="100%" height="150" backgroundColor="#D0D3D4">
          <StackLayout orientation="vertical" >
            <Label text="Confirm ID number" height="40" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
              <StackLayout orientation="vertical" width="310" android:horizontalAlignment="left" paddingLeft="10%">
                <Label text="ID Number:" color="black" fontSize="14"/>
                <InputMask
                      v-model="Pagibig"
                      hint="00-00000000-0000"
                      mask="[00]-[00000000]-[0000]"
                      backgroundColor="white"
                      @focus="textfieldfocus" 
                      @blur="textfieldblur" >
                  </InputMask>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="10" marginLeft="55%" fontSize="14"> 
              <Label  @tap="$modal.close"  text="CANCEL" textAlignment="center" color="#003366" marginRight="20"/>   
              <Label  @tap="confirmID();modalClose()" text="CONFIRM" textAlignment="center" color="#003366" marginRight="10"/>
            </StackLayout>                   
          </StackLayout>
        </StackLayout>
            </Page>`,
        data() {
          return {
            Pagibig: ""
          };
        },
        methods: {
          modalClose() {
            this.$modal.close();
          },
          confirmID() {
            confirm({
              title: "Successful",
              message: "Image successfully accepted.",
              okButtonText: "OK"
            }).then(result => {
              vm.Pagibig = this.Pagibig;
              if (vm.doccount === 0) {
                var pagibig = vm.typeOptions.indexOf(vm.documentType);
                let image = Frame.topmost().getViewById('doco')
                if (pagibig !== -1) {
                  vm.typeOptions.splice(pagibig, 1);
                  // vm.docos = '';
                  image.src = "~/assets/images/document.png";
                  vm.documentType = "";
                  vm.image = false;
                  vm.doccount = 1;
                  vm.color = "#1A5276";
                }
              } else {
                vm.update();
              }
            });
          }
        }
      });
    },
    PHILHEALTH() {
      var vm = this;
      this.$showModal({
        template: `
          <Page >
          <StackLayout width="100%" height="150"  backgroundColor="#D0D3D4">
          <StackLayout orientation="vertical" >
            <Label text="Confirm ID number" height="40" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
              <StackLayout orientation="vertical" width="310" android:horizontalAlignment="left" paddingLeft="10%">
                <Label text="ID Number:" color="black" fontSize="14"/>
                <InputMask v-model="Philhealth" hint="0000-0000-0000" mask="[00]-[000000000]-[0]"backgroundColor="white" @focus="textfieldfocus" @blur="textfieldblur"> </InputMask>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="10" marginLeft="55%" fontSize="14"> 
              <Label  @tap="$modal.close" text="CANCEL" textAlignment="center" color="#003366" marginRight="20"/>   
              <Label  @tap="confirmID();modalClose()" text="CONFIRM" textAlignment="center" color="#003366" marginRight="10"/>
            </StackLayout>                   
          </StackLayout>
        </StackLayout>
            </Page>`,
        data() {
          return {
            Philhealth: ""
          };
        },
        methods: {
          modalClose() {
            this.$modal.close();
          },
          confirmID() {
            confirm({
              title: "Successful",
              message: "Image successfully accepted.",
              okButtonText: "OK"
            }).then(result => {
              vm.PhilHealth = this.Philhealth;
              if (vm.doccount === 0) {
                var philhealth = vm.typeOptions.indexOf(vm.documentType);
                let image = Frame.topmost().getViewById('doco')
                if (philhealth !== -1) {
                  vm.typeOptions.splice(philhealth, 1);
                  // vm.docos = '';
                  image.src = "~/assets/images/document.png";
                  vm.documentType = "";
                  vm.image = false;
                  vm.doccount = 1;
                  vm.color = "#1A5276";
                }
                
              } else {
                vm.update();
              }
            });
          }
        }
      });
    },
    TIN() {
      var vm = this;
      this.$showModal({
        template: `
          <Page >
            <StackLayout width="100%" height="150" backgroundColor="#D0D3D4">
          <StackLayout orientation="vertical" >
            <Label text="Confirm ID number" height="40" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
              <StackLayout orientation="vertical" width="310" android:horizontalAlignment="left" paddingLeft="10%">
                <Label text="ID Number:" color="black" fontSize="14"/>
                <InputMask
                      v-model="tin"
                      hint="000-000-000-000"
                      mask="[000]-[000]-[000]-[000]"
                      backgroundColor="white"
                      @focus="textfieldfocus" 
                      @blur="textfieldblur">
                  </InputMask>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="10" marginLeft="55%" fontSize="14"> 
              <Label  @tap="$modal.close" text="CANCEL" textAlignment="center" color="#003366" marginRight="20"/>   
              <Label  @tap="confirmID();modalClose()" text="CONFIRM" textAlignment="center" color="#003366" marginRight="10"/>
            </StackLayout>                    
          </StackLayout>
        </StackLayout>
            </Page>`,
        data() {
          return {
            tin: ""
          };
        },
        methods: {
          modalClose() {
            this.$modal.close();
          },
          textfieldfocus(a) {
            a.object.borderColor = "#f1c40f";
            a.object.borderWidth = 2;
          },
          textfieldblur(a) {
            a.object.borderColor = "transparent";
            a.object.borderWidth = 1;
          },
          confirmID() {
            confirm({
              title: "Successful",
              message: "Image successfully accepted.",
              okButtonText: "OK"
            }).then(result => {
              vm.tin = this.tin;
              if (vm.doccount === 0) {
                var tin = vm.typeOptions.indexOf(vm.documentType);
                let image = Frame.topmost().getViewById('doco')
                if (tin !== -1) {
                  vm.typeOptions.splice(tin, 1);
                  image.src = "~/assets/images/document.png";
                  vm.documentType = "";
                  vm.image = false;
                  vm.doccount = 1;
                  vm.color = "#1A5276";
                }
                
              } else {
                vm.update();
              }
            });
          }
        }
      });
    },
    UNIFIED() {
      var vm = this;
      this.$showModal({
        template: `
          <Page >
            <StackLayout width="100%" height="150" backgroundColor="#D0D3D4">
          <StackLayout orientation="vertical" >
            <Label text="Confirm ID number" height="40" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
              <StackLayout orientation="vertical" width="310" android:horizontalAlignment="left" paddingLeft="10%">
                <Label text="ID Number:" color="black" fontSize="14"/>
                <InputMask
                      v-model="Unified"
                      hint="000000000000"
                      mask="[0000-0000-0000]"
                      backgroundColor="white"
                      @focus="textfieldfocus" 
                      @blur="textfieldblur">
                  </InputMask>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="10" marginLeft="55%" fontSize="14"> 
              <Label  @tap="$modal.close" text="CANCEL" textAlignment="center" color="#003366" marginRight="20"/>   
              <Label  @tap="confirmID();modalClose()" text="CONFIRM" textAlignment="center" color="#003366" marginRight="10"/>
            </StackLayout>                    
          </StackLayout>
        </StackLayout>
            </Page>`,
        data() {
          return {
            Unified: ""
          };
        },
        methods: {
          modalClose() {
            this.$modal.close();
          },
          textfieldfocus(a) {
            a.object.borderColor = "#f1c40f";
            a.object.borderWidth = 2;
          },
          textfieldblur(a) {
            a.object.borderColor = "transparent";
            a.object.borderWidth = 1;
          },
          confirmID() {
            confirm({
              title: "Successful",
              message: "Image successfully accepted.",
              okButtonText: "OK"
            }).then(result => {
              vm.Unified = this.Unified;
              if (vm.doccount === 0) {
                var Unified = vm.typeOptions.indexOf(vm.documentType);
                let image = Frame.topmost().getViewById('doco')
                if (tin !== -1) {
                  vm.typeOptions.splice(Unified, 1);
                  vm.docos = '';
                  vm.documentType = "";
                  vm.image = false;
                  vm.doccount = 1;
                  vm.color = "#1A5276";
                }
                
              } else {
                vm.update();
              }
            });
          }
        }
      });
    },
    PASSPORT() {
      var vm = this;
      this.$showModal({
        template: `
          <Page >
            <StackLayout width="100%" height="150" backgroundColor="#D0D3D4">
          <StackLayout orientation="vertical" >
            <Label text="Confirm ID number" height="40" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
              <StackLayout orientation="vertical" width="310" android:horizontalAlignment="left" paddingLeft="10%">
                <Label text="ID Number:" color="black" fontSize="14"/>
                <InputMask
                      v-model="Passport"
                      hint="000000000000"
                      mask="[0000-0000-0000]"
                      backgroundColor="white"
                      @focus="textfieldfocus" 
                      @blur="textfieldblur">
                  </InputMask>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="10" marginLeft="55%" fontSize="14"> 
              <Label  @tap="$modal.close" text="CANCEL" textAlignment="center" color="#003366" marginRight="20"/>   
              <Label  @tap="confirmID();modalClose()" text="CONFIRM" textAlignment="center" color="#003366" marginRight="10"/>
            </StackLayout>                    
          </StackLayout>
        </StackLayout>
            </Page>`,
        data() {
          return {
            Passport: ""
          };
        },
        methods: {
          modalClose() {
            this.$modal.close();
          },
          textfieldfocus(a) {
            a.object.borderColor = "#f1c40f";
            a.object.borderWidth = 2;
          },
          textfieldblur(a) {
            a.object.borderColor = "transparent";
            a.object.borderWidth = 1;
          },
          confirmID() {
            confirm({
              title: "Successful",
              message: "Image successfully accepted.",
              okButtonText: "OK"
            }).then(result => {
              vm.Passport = this.Passport;
              if (vm.doccount === 0) {
                var Passport = vm.typeOptions.indexOf(vm.documentType);
                let image = Frame.topmost().getViewById('doco')
                if (Passport !== -1) {
                  vm.typeOptions.splice(Passport, 1);
                  image.src = "~/assets/images/document.png";
                  vm.documentType = "";
                  vm.image = false;
                  vm.doccount = 1;
                  vm.color = "#1A5276";
                }
                
              } else {
                vm.update();
              }
            });
          }
        }
      });
    },
    UNIFIED() {
      var vm = this;
      this.$showModal({
        template: `
          <Page >
            <StackLayout width="100%" height="150" backgroundColor="#D0D3D4">
          <StackLayout orientation="vertical" >
            <Label text="Confirm ID number" height="40" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
              <StackLayout orientation="vertical" width="310" android:horizontalAlignment="left" paddingLeft="10%">
                <Label text="ID Number:" color="black" fontSize="14"/>
                <InputMask
                      v-model="Unified"
                      hint="000000000000"
                      mask="[0000-0000-0000]"
                      backgroundColor="white"
                      @focus="textfieldfocus" 
                      @blur="textfieldblur">
                  </InputMask>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="10" marginLeft="55%" fontSize="14"> 
              <Label  @tap="$modal.close" text="CANCEL" textAlignment="center" color="#003366" marginRight="20"/>   
              <Label  @tap="confirmID();modalClose()" text="CONFIRM" textAlignment="center" color="#003366" marginRight="10"/>
            </StackLayout>                    
          </StackLayout>
        </StackLayout>
            </Page>`,
        data() {
          return {
            Unified: ""
          };
        },
        methods: {
          modalClose() {
            this.$modal.close();
          },
          textfieldfocus(a) {
            a.object.borderColor = "#f1c40f";
            a.object.borderWidth = 2;
          },
          textfieldblur(a) {
            a.object.borderColor = "transparent";
            a.object.borderWidth = 1;
          },
          confirmID() {
            confirm({
              title: "Successful",
              message: "Image successfully accepted.",
              okButtonText: "OK"
            }).then(result => {
              vm.Unified = this.Unified;
              if (vm.doccount === 0) {
                var Unified = vm.typeOptions.indexOf(vm.documentType);
                if (tin !== -1) {
                  vm.typeOptions.splice(Unified, 1);
                }
                vm.docos = "";
                vm.documentType = "";
                vm.image = false;
                vm.doccount = 1;
                vm.color = "#1A5276";
              } else {
                vm.update();
              }
            });
          }
        }
      });
    },
    update() {
      this.luding = 'visible'
      http
        .request({
          url: localStorage.getItem("URL") + "GetDB",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            ClientName: localStorage.getItem("ClientName")
          })
        })
        .then(responses => {
          http
            .request({
              url: localStorage.getItem("URL") + "UpdateEmpConfidentialInfo",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                EmpID: localStorage.getItem("EmpID"),
                TIN: this.tin,
                SSS: this.sss,
                Pagibig: this.Pagibig,
                Unified: this.Unified,
                PhilHealth: this.PhilHealth,
                Passport: this.Passport,
                // PassportImage: this.PassportImage,
                // SssImage: this.sssImage,
                // PhilImage: this.philhealthImage,
                // TinImage: this.tinImage,
                // PagImage: this.pagibigImage,
                // UmidImage: this.UnifiedImage,
              })
            })
            .then(response => {
              this.luding = 'collapse'
              this.$router.push('/register')
            });
        });
    },
    uploadID() {
      confirm({
        message: "Please upload your valid IDs!",
        okButtonText: "GOT IT!"
      }).then(result => {
        console.log(result);
      });
    },
    newCam() {
      let document = Frame.topmost().getViewById("doco");
      camera.requestPermissions();
      camera
        .takePicture({ width: 800, height: 1024, keepAspectRatio: true, saveToGallery: false, cameraFacing: 'back' })
        .then(imageAsset => {
          this.color = "#f1c40f";
          this.image = true;
          document.src = imageAsset;
          console.log(imageAsset._android);
        })
        .catch(function(err) {
          console.log("Error -> " + err.message);
        });
    },

    showDocumentType() {
      action("Choose Document Type", "Cancel", this.typeOptions).then(
        result => {
          this.documentType = result;
          if (this.documentType == "Cancel") {
            this.documentType = "";
          }
          console.log(result);
        }
      );
    },
    confirmImage() {
      var documents1 = "";
      var docs = Frame.topmost().getViewById("doco");
      if (this.documentType == "SSS") {
        imageSourceModule.fromAsset(docs.src).then(imageSource => {
          var docs1 = imageSource.toBase64String("png");
          console.log(imageSource.toBase64String("png"));
          this.sssImage = docs1;
        });
        this.SSS();
      } else if (this.documentType == "PhilHealth") {
        imageSourceModule.fromAsset(docs.src).then(imageSource => {
          var docs1 = imageSource.toBase64String("png");
          console.log(imageSource.toBase64String("png"));
          this.philhealthImage = docs1;
        });
        this.PHILHEALTH();
      } else if (this.documentType == "Pag-Ibig") {
        imageSourceModule.fromAsset(docs.src).then(imageSource => {
          var docs1 = imageSource.toBase64String("png");
          console.log(imageSource.toBase64String("png"));
          this.pagibigImage = docs1;
        });
        this.PAGIBIG();
      } else if (this.documentType == "Tin") {
        imageSourceModule.fromAsset(docs.src).then(imageSource => {
          var docs1 = imageSource.toBase64String("png");
          console.log(imageSource.toBase64String("png"));
          this.tinImage = docs1;
        });
        this.TIN();
      } else if (this.documentType == "Unified Multi-purpose ID") {
        imageSourceModule.fromAsset(docs.src).then(imageSource => {
          var docs1 = imageSource.toBase64String("png");
          console.log(imageSource.toBase64String("png"));
          this.UnifiedImage = docs1;
        });
        this.UNIFIED();
      } else if (this.documentType == "Passport") {
        imageSourceModule.fromAsset(docs.src).then(imageSource => {
          var docs1 = imageSource.toBase64String("png");
          console.log(imageSource.toBase64String("png"));
          this.PassportImage = docs1;
        });
        this.PASSPORT();
      } else if (this.documentType == "Postal ID") {
        this.documentType = "";
      } else if (this.documentType == "SAGSD") {
        this.documentType = "";
      } else if (this.documentType == "NTC License") {
        this.documentType = "";
      } else if (this.documentType == "Barangay Clearance") {
        this.documentType = "";
      } else if (this.documentType == "PNP Clearance") {
        this.documentType = "";
      } else if (this.documentType == "NBI License") {
        this.documentType = "";
      } else if (this.documentType == "Neuro Evaluation") {
        this.documentType = "";
      } else if (this.documentType == "Drug Test") {
        this.documentType = "";
      } else if (this.documentType == "Medical Exam") {
        this.documentType = "";
      } else if (this.documentType == "Drug Clearance") {
        this.documentType = "";
      } else if (this.documentType == "CTC") {
        this.documentType = "";
      }
    }
  }
};
</script>
<style scoped>
.dimmer {
  opacity: 0.3;
  background-color: black;
}
.drop {
  background-image: url("~/assets/images/ic_dropdown2.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}

.wrapMargin {
  margin: 10px;
}

.btnFill {
  background-color: #f1c40f;
  color: #002851;
}

.page {
  background-color: #002851;
}

.barColor {
  background-color: #f1c40f;
  color: #002851;
}

.formBox {
  border: 1px solid #2d5176;
  border-radius: 10px;
  background-color: #003366;
  padding: 20px;
  margin: 20px
}

.textColor {
  background-color: white;
  padding: 30px;
  margin: 20px;
}
</style>