<template>
        <Page class="page" @loaded='backbtn();loadmo()'>
            <ActionBar class="action-bar barColor" title="Facial Recognition"></ActionBar>
            <Gridlayout rows="*">
              <StackLayout paddingTop="10">
                <Image src="~/assets/images/profile_avatar_male.png" width="450" height="450" v-show="male" id="male"/>
                <Image src="~/assets/images/profile_avatar_female.png" width="450" height="450" v-show="female" id="female"/>
                
                <Label height="30"/>

                <WrapLayout class="wrapMargin">
                  <Button class="btnFill" text="Confirm Image" :isEnabled="image" :backgroundColor="color" width="50%" @tap="confirmImage"></Button>
                  <Button class="btnFill" text="Open Camera" width="50%" @tap="openCamera"></Button>
                </WrapLayout>
               </StackLayout>
               <StackLayout class="dimmer" :visibility="Exit ? 'visible' : 'collapsed'" />
               <GridLayout height="170" margin="10" rows="*" :visibility="Exit ? 'visible' : 'collapsed'">
                 <StackLayout width="100%" height="100%" backgroundColor="white" paddingLeft="15%" horizontalAlignment="center" borderRadius="2%">
                   <StackLayout orientation="vertical" marginTop="10">
                     <Label text="Attention!" fontSize="18" paddingTop="5" textAlignment="left" color="#002851" verticalAlignment="left"  />
                     <StackLayout orientation="vertical">
                       <TextView editable="false" backgroundColor="transparent">
                         <FormattedString>
                           <Span text="You need to finish the registration before you can use HRMS. Do you really want to exit?" color="#002851"/>
                         </FormattedString>
                       </TextView>
                     </StackLayout>
                     <StackLayout orientation="horizontal" marginBottom="5" marginLeft="70%" fontSize="14"> 
                       <Label  @tap="modalClose" text="NO" textAlignment="center" color="#003366" marginRight="20"/>   
                       <Label  @tap="$router.push('/login')" text="YES" textAlignment="center" color="#003366" marginRight="10"/>
                     </StackLayout>                   
                   </StackLayout>
                 </StackLayout> 
               </GridLayout>
               <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" opacity='0.6' borderRadius='6'  backgroundColor='black' height="50" width="50">
                    
                        <ActivityIndicator  busy="true"
                        color="white" height="100%" width="100%"
                      verticalAlignment="center"/>
                        
              </StackLayout>
            </Gridlayout>
            
        </Page>
    </template>
    <script>
import { takePicture } from "nativescript-camera";
import * as camera from "nativescript-camera";
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
import * as http from "tns-core-modules/http";
import Toast from "nativescript-toast";
import { LoadingScreen } from "nativescript-loading-screen";
var orientation = require("nativescript-orientation");
export default {
  data() {
    return {
      Exit: false,
      male: true,
      female: false,
      image: false,
      color: "#1A5276",
      Started: false,
      luding: 'collapse'
    };
  },
  created: function() {
    this.serious();
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    // showLoading() {
    //   this.loadingScreen = new LoadingScreen();

    //   this.loadingScreen.show({
    //     title: "Please wait!",
    //     message: "Loading..."
    //   });

    //   setTimeout(() => {
    //     this.loadingScreen.updateMessage("Saving Successfully!");
    //   }, 5000);

    //   setTimeout(() => {
    //     this.loadingScreen.close();
    //     this.$router.push("/docu");
    //   }, 10000);
    // },
    modalClose() {
      this.Exit = false;
    },
    confirmImage() {
      this.luding = 'visible'
      confirm({
        title: "Successful",
        message: "Image successfully accepted.",
        okButtonText: "NEXT"
      }).then(result => {
        this.luding = 'collapse'
        // this.showLoading();
         this.$router.push('/docu')
      });
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here
        this.Exit = true;
        // Frame.topmost().goBack();
      };
    },
    serious() {
      Toast.makeText("Please be serious when taking this photo!").show();
    },
    openCamera() {
      let male = Frame.topmost().getViewById("male");
      var imageModule = require("ui/image");
      camera.requestPermissions();
      camera
        .takePicture({ width: 800, height: 1024, keepAspectRatio: true, saveToGallery: false, cameraFacing: 'front' })
        .then(imageAsset => {
          this.color = "#f1c40f";
          this.image = true;
          male.src = imageAsset;
          Toast.makeText("Image Accepted!").show();
        })
        .catch(function(err) {
          console.log("Error -> " + err.message);
        });
    }
  }
};
</script>
    <style scoped>
.dimmer {
  opacity: 0.3;
  background-color: black;
}
.page {
  background-color: #002851;
}
.barColor {
  background-color: #f1c40f;
  color: #002851;
}
.btnFill {
  background-color: #f1c40f;
  color: #002851;
}
.wrapMargin {
  margin: 10px;
}
</style>