<template>
    <Page class="page" @loaded='backbtn();loadmo()'>
        <ActionBar class="action-bar barColor" title="Facial Recognition"></ActionBar>
        <Gridlayout rows="*">
            <StackLayout row="1" paddingBottom="5" paddingRight="10" paddingLeft="10" p width="100%" horizontalAlignment="center" verticalAlignment="center">
             

                <GridLayout rows="auto,*" columns="auto,*"> 
               
                  <StackLayout height="100%" row="1" verticalAlignment="top" paddingBottom="50" paddingRight="10" paddingLeft="10"  width="100%" >
                    <Image id='male' :src="docos" row='1' verticalAlignment='center'  height="100%"  width="100%" class="formBox"/>
                  </StackLayout>
                  <StackLayout verticalAlignment='bottom' orientation="horizontal" row="1" width="100%" horizontalAlignment="center">
                    <Button @tap="confirmImage" id='docimage' :isEnabled="image" :backgroundColor="color" marginLeft="10" marginRight="10" textAlignment="center"  borderRadius="3" text="Save Image" borderColor="#f1c40f"  color="#002851" height="40" width="50%"/>
                    
                    <Button @tap="openCamera" marginRight="10" textAlignment="center" borderRadius="3" text="Open Camera" borderColor="#f1c40f"  color="#002851" backgroundColor="#f1c40f" height="40" width="50%"/>
                  </StackLayout>  
                </GridLayout> 
              </StackLayout>
    <StackLayout class="dimmer" :visibility="Exit ? 'visible' : 'collapsed'" />
      <GridLayout height="170" margin="10" rows="*" :visibility="Exit ? 'visible' : 'collapsed'">
        <StackLayout width="100%" height="100%" backgroundColor="white" paddingLeft="15%" horizontalAlignment="center" borderRadius="2%">
          <StackLayout orientation="vertical" marginTop="10">
            <Label text="Attention!" fontSize="18" paddingTop="5" textAlignment="left" color="#002851" verticalAlignment="left"  />
            <StackLayout orientation="vertical">
              <TextView editable="false" backgroundColor="transparent">
                <FormattedString>
                  <Span text="You need to finish the registration before you can use HRMS. Do you really want to exit?" color="#002851"/>
                </FormattedString>
              </TextView>
            </StackLayout>
            <StackLayout orientation="horizontal" marginBottom="5" marginLeft="70%" fontSize="14"> 
              <Label  @tap="modalClose" text="NO" textAlignment="center" color="#003366" marginRight="20"/>   
              <Label  @tap="$router.push('/login')" text="YES" textAlignment="center" color="#003366" marginRight="10"/>
            </StackLayout>                   
          </StackLayout>
        </StackLayout> 
      </GridLayout>
      <StackLayout row='1' :visibility="luding" />
        <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" opacity='0.6' borderRadius='6'  backgroundColor='black' height="50" width="50">
                    
                    <ActivityIndicator  busy="true"
                    color="white" height="100%" width="100%"
                   verticalAlignment="center"/>
                    
          </StackLayout>
        </Gridlayout>
        
    </Page>
</template>
<script>
import { takePicture } from "nativescript-camera";
import * as camera from "nativescript-camera";
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
import * as http from "tns-core-modules/http";
import Toast from "nativescript-toast";
import { LoadingScreen } from "nativescript-loading-screen";
var orientation = require("nativescript-orientation");
const imageSourceModule = require("tns-core-modules/image-source");
const fileSystemModule = require("tns-core-modules/file-system");
export default {
  data() {
    return {
      docos: '~/assets/images/profile_avatar_male.png',
      Exit: false,
      male: true,
      female: false,
      image: false,
      color: "#1A5276",
      Started: false,
      gender: "",
      luding: 'collapse',
      doccount: 0,
      propath: '',
    };
  },
  created: function() {
    this.facial();
    // this.gender = localStorage.getItem('GENDER')
    // if (this.gender == "M"){
    //   this.male = true
    // }
    // else if (this.gender == "F"){
    //   this.female = true
    // }
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    modalClose() {
      this.Exit = false;
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        this.Exit = true;
      };
    },
    confirmImage() {
      
      var img = imageSourceModule.fromFile(this.propath)
      let image = Frame.topmost().getViewById('male')
      if (this.doccount === 0) {
        http.request({
          url: localStorage.getItem('URL') + "UploadProPicture",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            NTID: localStorage.getItem('EmpID'),
            b64img: img.toBase64String('png', 50),
            num: 'pic1'
            })
          }).then((response) => {
            image.src = '~/assets/images/profile_avatar_male.png';
            this.image = false;
            this.doccount = 1
            this.color = "#1A5276";
            confirm({
              title: "Successful",
              message: "Image successfully accepted. Please Take another Photo",
              okButtonText: "NEXT"
              }).then(result => {
            });
          })
      }
      else {
        this.luding = 'visible'
        http.request({
            url: localStorage.getItem('URL') + "UploadProPicture",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              NTID: localStorage.getItem('EmpID'),
              b64img: img.toBase64String('png', 50),
              num: 'pic2'
            })
          }).then((response) => {
            console.log(response.content.toJSON())
            this.luding = 'collapse'
            this.$router.push('/docu')
        })
      }
    },
    // saveFacial() {
    //   http.request({
    //     url: localStorage.getItem("URL") + "RegisterFaceAlternative",
    //     method: "POST",
    //     headers: { "Content-Type": "application/json" },
    //     content: JSON.stringify({
    //       Name: localStorage.getItem("LASTNAME") + '_' + localStorage.getItem("EmpID"),
    //       NTID: localStorage.getItem("EmpID"),
    //       PersonGroupID: localStorage.getItem("ClientName").toLowerCase()
    //       })
    //     })
    //     .then((response) => {
    //       // console.log(response.content.toJSON())
    //       http.request({
    //         url: localStorage.getItem("URL") + "UpdateFaceIDv2",
    //         method: "POST",
    //         headers: { "Content-Type": "application/json" },
    //         content: JSON.stringify({
    //           CN: localStorage.getItem("ClientName"),
    //           NTID: localStorage.getItem("EmpID"),
    //           FaceID: responses.content.toJSON()
    //           })
    //         })
    //         .then(response => {
    //           // console.log(response.content.toJSON())
    //           // this.luding = 'collapse'
    //           this.$router.push('/docu')
    //       })
    //     })
    // },
    facial() {
      confirm({
        title: "Getting Started",
        message:
          "Before you proceed to HRMS app, you need to complete a series of question and requirements.",
        okButtonText: "NEXT"
      }).then(result => {
        this.recognation();
      });
    },
    recognation() {
      confirm({
        title: "Getting Started",
        message:
          "Please remove headset, eyeglasses or any device that will block your face. Thank you.",
        okButtonText: "GOT IT!"
      }).then(result => {
        Toast.makeText("Please SMILE when taking this photo!").show();
      });
    },
    openCamera() {
      let male = Frame.topmost().getViewById("male");
      camera.requestPermissions();
      camera.takePicture({ width: 800, height: 1024, keepAspectRatio: true, saveToGallery: false, cameraFacing: 'front' })
        .then(imageAsset => {
          // this.color = "#f1c40f";
          // this.image = true;
          male.src = imageAsset;
          let documents = fileSystemModule.knownFolders.documents();
          let path = fileSystemModule.path.join(documents.path, "pic.png");
          // Toast.makeText("Image Accepted!").show();
          imageSourceModule.fromAsset(imageAsset)
            .then(imageSource => {
              imageSource.saveToFile(path, "png");
              var imgLocal = imageSource.fromFile(path);
              this.propath = path;
              this.color = "#f1c40f";
              this.image = true;
              http.request({
                url: localStorage.getItem('URL') + "FaceAPIDetect",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                NTID: localStorage.getItem('EmpID'),
                b64img: imageSource.toBase64String('png', 50),
                num: 'recog'
                })
              }).then((response) => {
                if(response.content.toJSON().length !== 0){
                  const subscriptionKey = 'bc6cf65c8dab414f92383ed4830341dd';
                  const params = {
                    'returnFaceId': 'true',
                    'returnFaceLandmarks': 'false',
                    'returnFaceAttributes': 'age,gender,headPose,smile,facialHair,glasses,' +
                    'emotion,hair,makeup,occlusion,accessories,blur,exposure,noise'
                  };
              http.request({
                url: "https://southeastasia.api.cognitive.microsoft.com/face/v1.0/identify?",
                method: "POST",
                qs: params,
                headers: { "Content-Type": "application/json",'Ocp-Apim-Subscription-Key' : subscriptionKey },
                content: JSON.stringify({
                faceIds: [response.content.toJSON()[0].faceId],
                personGroupId: localStorage.getItem('ClientName').toLowerCase()
                }) 
              }).then((response) => {
                if(response.content.toJSON()[0].candidates.length !== 0) {
                  http.request({
                    url: 'https://southeastasia.api.cognitive.microsoft.com/face/v1.0/persongroups/' + localStorage.getItem('ClientName').toLowerCase() + '/persons/' +  response.content.toJSON()[0].candidates[0].personId,
                    method: "GET",
                    qs: params,
                    headers: { "Content-Type": "application/json",'Ocp-Apim-Subscription-Key' : subscriptionKey },
                    }).then((response) => {
                      var arrayOfBits = response.content.toJSON().name.split('_')
                      this.color = "#1A5276";
                      this.image = false;
                      Toast.makeText("Your face is already registered!").show();
                    });
                  }
                else {

                  this.color = "#f1c40f";
                  this.image = true;
                }
              })
            }
              else {
                this.color = "#1A5276";
                this.image = false;
                Toast.makeText("Unidentified Face!").show();
              }
            })
          })
        })
        .catch(function(err) {
        console.log("Error -> " + err.message);
      });
    }
  }
};
</script>
<style scoped>
.dimmer {
  opacity: 0.3;
  background-color: black;
}
.page {
  background-color: #002851;
}
.barColor {
  background-color: #f1c40f;
  color: #002851;
}
.btnFill {
  background-color: #f1c40f;
  color: #002851;
}
.wrapMargin {
  margin: 10px;
}
</style>