<template>
  <Page class="page" @loaded='backbtn();loadmo()'>
    <ActionBar class="action-bar barColor" title="Forgot Password">
      <NavigationButton android.systemIcon="ic_menu_back" @tap="$navigateTo(LI, {clearHistory: true})" />
    </ActionBar>
    <StackLayout class="padding">
      <StackLayout class="formBox" v-show="forgot">
        <StackLayout>
          <Label text="Forgot Password?" class="labelColor"></Label>
        </StackLayout>
        <StackLayout class="emailPadding">
          <Label text="Please enter your Registered E-mail so we can send you your Reset Password code" textWrap="true" class="labelColor"></Label>
        </StackLayout>
        <StackLayout class="emailPadding">
          <Label text="Email:" class="labelColor"></Label>
          <TextField keyboardType="email" hint="Email" class="textColor" v-model="primaryEmail" fontSize="14" height="40"></TextField>
        </StackLayout>
         <Button borderRadius="3" @tap="modal" height="40" fontSize="16" borderColor="#f1c40f" backgroundColor="#f1c40f" color="black" width="auto" text="Submit" marginTop="10%"/>
      </StackLayout>
      <StackLayout class="formBox" v-show="reset">
        <StackLayout>
          <Label class="labelColor" textWrap="true">Code has been sent to: {{ primaryEmail }}</Label>
        </StackLayout>
        <StackLayout class="emailPadding">
          <Label text="Please check your email for a message with your code." textWrap="true" class="labelColor"></Label>
        </StackLayout>
        <StackLayout class="emailPadding">
          <Label text="Code:" class="labelColor"></Label>
          <TextField keyboardType="email" hint="Code" class="textColor" v-model="generatecode" fontSize="14" height="40"></TextField>
          <Label></Label>
        </StackLayout>
        <Button borderRadius="3" @tap="changepass()" height="40" fontSize="16" borderColor="#f1c40f" backgroundColor="#f1c40f" color="black" width="auto" text="Submit" marginTop="10%"/>
      </StackLayout>

      <StackLayout class="formBox" v-show="newpass">
        <StackLayout class="emailPadding">
          <Label text="Please enter your new password." class="labelColor"></Label>
        </StackLayout>
        <StackLayout class="emailPadding">
          <Label text="New Password:" class="labelColor"></Label>
          <!-- <TextField keyboardType="email" hint="New Password" class="textColor" v-model="newpassword" fontSize="14" height="40"></TextField> -->
          <GridLayout width="100%" rows="auto,auto" column="auto,*">
            <!-- Hidden -->
            <TextField v-model="newpassword" hint="Password" v-show="hidepass3" secure="true" row="1" height="40"
              backgroundColor="white" fontSize="14" maxLenght="15"/>
            <Button @tap="showpass3=true;hidepass3=false" v-show="hidepass3" borderWidth="0" row="1" 
              horizontalAlignment="right" height="40" width="40" verticalAlignment="center" class="hide textColor"></Button>

            <!-- Visible -->
            <TextField v-model="newpassword" hint="Password" v-show="showpass3" secure="false" row="1" height="40"
              backgroundColor="white" fontSize="14"  maxLenght="15"/>
            <Button @tap="showpass3=false;hidepass3=true" v-show="showpass3" borderWidth="0" row="1"
              horizontalAlignment="right" height="40" width="40" verticalAlignment="center" class="show textColor"></Button>

          </GridLayout>
          <Label text="* There must be at least one capital letter" textWrap="true" color='red' fontSize="14" :visibility="newpassword.search(/[A-Z]/) < 0 ? 'visible' : 'collapse'"></Label>
          <Label text="* There must be at least one number" textWrap="true" color='red' fontSize="14" :visibility="newpassword.search(/[0-9]/) < 0 ? 'visible': 'collapse'"></Label>
          <Label text="* There must be at least one special character" textWrap="true" color='red' fontSize="14" :visibility="newpassword.match(/[^\w\s]/gi) < 0 ? 'visible' : 'collapse'"></Label>
          <Label text="* The password must be at least 8-15 characters" textWrap="true" color='red' fontSize="14" :visibility="newpassword.length < 8 ? 'visible' : 'collapse'"></Label>
        </StackLayout>
        <Button borderRadius="3" @tap="changepass2()" height="40" fontSize="16" borderColor="#f1c40f" backgroundColor="#f1c40f" color="black" width="auto" text="Reset Password" marginTop="10%"/>
      </StackLayout>
    </StackLayout>
  </Page>
</template>
<script>
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
var orientation = require("nativescript-orientation");
import * as http from "tns-core-modules/http";
import Toast from 'nativescript-toast';
import login from "./Login.vue"
export default {
  data() {
    return {
      firstError: 'visible',
      secondError: 'visible',
      thirdError: 'visible',
      fourthError: 'visible',
      LI:login,
      forgot: true,
      reset: false,
      newpass: false,
      showpass3: false,
      hidepass3: true,
      primaryEmail:'',
      generatecode:'',
      newpassword:''
    };
  },
  created: function() {  
   //console.log(localStorage.getItem("ClientName"))          
  },
  methods: {
   
     sendCode() {
      //console.log(this.primaryEmail)  
      if(/(.+)@(.+){2,}\.(.+){2,}/.test(this.primaryEmail)){
          http.request({
              url: localStorage.getItem("URL") + "ForgotPasswordDHRv2",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                EMAIL:this.primaryEmail,
                CN:localStorage.getItem("ClientName")
              })
            })
            .then(response => {
              //console.log('pumasok ako')
              console.log("RESULT NYA: "+response.content.toJSON())
              if(response.content.toJSON() === 'VALID'){
                this.showReset()
                Toast.makeText("Code is successfully sent!").show(); 
              }
              else{
                Toast.makeText("Your email is not registered").show(); 
              }
            });
      }
      else{
        Toast.makeText('Input valid email').show();
      }
    },
    modal(){
      var vm = this;
      vm.sendCode = this.sendCode
      confirm({
            title: "Confirmation",
            message: "Are you sure you want to send an email code?",
            okButtonText: "YES",
            cancelButtonText: "NO",
          }).then(result => {
            if (result === true){
              vm.sendCode();
            }
          })
    },
    changepass(){
      console.log(localStorage.getItem("ClientName"))
      console.log(this.primaryEmail)
      http.request({
      url: localStorage.getItem("URL") + "isEqualGeneratedCode",
      method: "POST",
      headers: { "Content-Type": "application/json" },
      content: JSON.stringify({
        CN: localStorage.getItem("ClientName"),
        EMAIL: this.primaryEmail
        })
      }).then((response) => {
        console.log(response.content.toJSON() + ' - ' + this.generatecode)
        if (response.content.toJSON() === this.generatecode){
          this.newpass = true
          this.reset = false
        }
        else{
          Toast.makeText("Mismatch Generate code").show(); 
        }
        // this.newpass = true
        // this.reset = false
        // if (response.content.toJSON() === )
      })
      
    },
    changepass2() {
      if(this.newpassword === ''){
        Toast.makeText("Kindly complete data").show();
      } 
      else if (this.newpassword.length < 8) {
        Toast.makeText("Password must contain 8 to 15 characters.").show();
      } 
      else if (this.newpassword.search(/[A-Z]/) < 0) {
        Toast.makeText("Password must contain at least 1 uppercase letter").show();
      } 
      else if (this.newpassword.search(/[0-9]/) < 0) {
        Toast.makeText("Password must contain at least 1 digit").show();
      } 
      else if (this.newpassword.search(/[!@#\$%\^&.]/) < 0) {
        Toast.makeText("Password must contain at least 1 special character").show();
      }
      else{
          http.request({
              url: localStorage.getItem("URL") + "UpdatePasswordDHRv2",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                EMAIL:this.primaryEmail,
                GENERATECODE:this.generatecode,
                PASSWORD:this.newpassword
              })
            })
            .then(response => {
              //console.log('pumasok ako')
              console.log(response.content.toJSON())
              if(response.content.toJSON() === 'FALSE'){
                Toast.makeText("Mismatch Generate code").show(); 
              }
              else{
                 this.$navigateTo(login, {clearHistory: true})
                Toast.makeText("Change password successfully").show(); 
              }
            });
      }
    },
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.LI, {clearHistory: true})
      };
    },
    showReset() {
      this.reset = true;
      this.forgot = false;
    },
  }
};
</script>
<style scoped>
  .show {
    background-image: url("~/assets/images/show.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: 70% 70%;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 10;
    margin-top: 10;
  }

  .hide {
    background-image: url("~/assets/images/hide.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: 70% 70%;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 10;
    margin-top: 10;
  }
.barColor {
  background-color: #f1c40f;
  color: black;
}

.btnFill {
  background-color: #f1c40f;
  color: #002851;
}

.page {
  background-color: #002851;
}

.formBox {
  border: 1px solid #2d5176;
  border-radius: 10px;
  background-color: #003366;
  padding: 50px;
  margin: 20px;
}

.textColor {
  background-color: white;
}

.labelColor {
  color: white;
  font-size: 14px;
}

.emailPadding {
  padding-top: 50px;
}

.padding {
  padding-top: 15%;
}
</style>