<template>
  <Page class="page" backgroundColor="#002851" @loaded="clock()">
     <ActionBar title="" color="#002851" flat="true" backgroundColor='#f1c40f'>
      <NavigationButton visibility="collapsed" />
      <StackLayout orientation="horizontal" android:horizontalAlignment="left">
        <Image src="~/assets/images/HRMS.png" width="60" height="60" />
        <Label text="DurustHR" fontSize="20" marginLeft="5" fontWeight="bold" color="#002851" verticalAlignment="center" />
      </StackLayout>
      <ActionItem icon="~/assets/images/ic_exit_to_app.png" width="60" height="60" android.position="right"></ActionItem>
    </ActionBar>
    <GridLayout>
      <GridLayout row='1' rows="auto, *" columns="auto,*" width="100%">
        <StackLayout row="1" width="100%" horizontalAlignment="center" >
          <StackLayout orientation="horizontal" backgroundColor="white" padding="10">
            <!-- <Label>{{clockTimer }}</Label> -->
             <Image src="~/assets/images/user.png" width="128" height="128" />
            <StackLayout orientation="vertical" paddingLeft="10" verticalAlignment="bottom">
              <Image src="~/assets/images/signature_sample.png" width="80" height="80" />
              <Label textWrap="true">
                <FormattedString>
                  <Span text="Hi, " fontSize="16" fontWeight="500"/>
                  <Span text="Roman De Guzman" color="#002851" fontSize="14" textWrap="true"/>
                </FormattedString>
              </Label>
              <Label textWrap="true">
                <FormattedString>
                  <Span text="Birthdate: " fontSize="16" fontWeight="500"/>
                  <Span text="April 25, 1996" color="#002851" fontSize="14" textWrap="true"/>
                </FormattedString>
              </Label>
              <Label textWrap="true">
                <FormattedString>
                  <Span text="Position: " fontSize="16" fontWeight="500"/>
                  <Span text="Software Engineer" color="#002851" fontSize="14" textWrap="true"/>
                </FormattedString>
              </Label>
            </StackLayout>
            
          </StackLayout>
          <StackLayout orientation="horizontal">
            <Label textWrap="true">
                <FormattedString>
                  <Span :text="'12 Hrs: '+ timer" color="white" fontSize="14" textWrap="true"/>
                </FormattedString>
              </Label>
          </StackLayout>
        </StackLayout>
    	</GridLayout>
        <!-- <StackLayout orientation="vertical" margin="10" marginBottom="0" horizontalAlignment="left">
            <StackLayout  width="33%">
              <Image width="100%" height="100%" @tap="$navigateTo(TK, {clearHistory: true})" verticalAlignment="top"
                horizontalAlignment="center" src="~/assets/images/timekeepings.png" :isEnabled="this.Mainlay" />
            </StackLayout>
            <StackLayout width="33%">
              <Image width="100%" height="100%" @tap="$navigateTo(LM, {clearHistory: true})" verticalAlignment="top"
                horizontalAlignment="center" src="~/assets/images/leavemanagements.png" :isEnabled="this.Mainlay" />
            </StackLayout>
            <StackLayout  width="33%">
              <Image width="100%" height="100%" @tap="$navigateTo(Prof, {clearHistory: true})" verticalAlignment="top"
                horizontalAlignment="center" src="~/assets/images/prof.png" :isEnabled="this.Mainlay" />
            </StackLayout>
          </StackLayout> -->
          <Button id="btnye"  row="1" icon="~/assets/images/ic_burger_menu.png" class="fab-button2" :backgroundColor="mainfab" />
          <Button id="btnye"  row="1" icon="~/assets/images/ic_burger_menu.png" class="fab-button3" :backgroundColor="mainfab" />
       <Button id="btnye"  row="1" icon="~/assets/images/ic_burger_menu.png" class="fab-button" :backgroundColor="mainfab" />
		</GridLayout>
	</Page>
</template>
<script>
 import * as camera from "nativescript-camera";
const imageSource = require("tns-core-modules/image-source");
const fileSystemModule = require("tns-core-modules/file-system");

import { PhotoEditor, PhotoEditorControl } from "nativescript-photo-editor";
const photoEditor = new PhotoEditor();

var ImageCropper = require("nativescript-imagecropper").ImageCropper;
var imageCropper = new ImageCropper();

import * as Toast from "nativescript-toast";
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
  import * as http from "tns-core-modules/http";
  var imagepicker = require("nativescript-imagepicker");
// var facepp = require('face-plusplus-node');

// var fs = require('fs');
export default {
  data() {
    return {
      clockTimer: '',
      mainfab: "lightgray",
      timer: '',
    }
  },
  created: function(){
  },
	methods: {
    clock(){
     
      setTimeout(() => {
        var now = new Date();
        var TwentyFourHour = now.getHours();
        var hour = now.getHours();
        var min = now.getMinutes();
        var sec = now.getSeconds();
        var mid = 'PM';
        if (min < 10) {
          min = "0" + min;
        }
        if (hour > 12) {
          hour = hour - 12;
        }    
        if(hour==0){ 
          hour=12;
        }
        if(TwentyFourHour < 12) {
          mid = 'AM';
        }
        this.timer = hour+':'+min+':'+sec +' '+mid ;
      }, 100)
    }
	}
}
</script>
<style scoped>
#btnye {
    background: url("~/assets/images/ic_burger_menu.png") no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
  }
  .fab-button2 {
    height: 70;
    width: 70;
    border-radius: 100;
    margin: 15;
    horizontal-align: center;
    vertical-align: bottom;
  }
  .fab-button3 {
    height: 70;
    width: 70;
    border-radius: 100;
    margin: 15;
    horizontal-align: right;
    vertical-align: bottom;
  }
.fab-button {
    height: 70;
    width: 70;
    border-radius: 100;
    margin: 15;
    horizontal-align: left;
    vertical-align: bottom;
  }
.inputPersonal {
    padding: 10px;
    margin: 10px;
  }
.btnsave {
    background: url("~/assets/images/check.png") no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
  }
	.inputPersonal {
    padding: 10px;
    margin: 10px;
  }
	.textColor {
    background-color: white;
    margin: 20px;
    color: black;
  }
	.labelColor2 {
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 14px;
  }
	.labelColor {
    color: white;
    font-size: 14px
  }
</style>
	
