<template>
  <Page class="page"  backgroundColor="#002851" @loaded='goToDashboard();backbtn();loadmo();chckme();'>
      <!-- <ScrollView orientation="vertical"> -->
            <ActionBar  id="headermo" :visibility='forheader' flat='true' title="" color="#002851" :backgroundColor='forcolor'>
              <NavigationButton :visibility='forheader'/>
                  <StackLayout :visibility='forheader' orientation="horizontal"  android:horizontalAlignment="left" >
                      <Image src="~/assets/images/HRMS.png" width="60" height="60"/>
                      <Label text="Terms & Conditions" fontSize="20" marginLeft="5" fontWeight="bold" color="#002851" verticalAlignment="center" />
                  </StackLayout>
            </ActionBar>

            <GridLayout>
              <!-- <GridLayout columns="auto,*" rows="auto,*"> -->

                <!-- Start of terms and conditions -->
                 <StackLayout :visibility="forpdf" id="termsandconditions" row="1" paddingBottom="5" paddingRight="10" paddingLeft="10" paddingTop="20" width="100%">
                      <StackLayout width="auto" height="90%" >
                            <PDFView :src="this.pdfpath" height="85%" width="100%"/>
                                <GridLayout columns="auto,auto" rows="auto,auto"   height="15%" width="100%" margin="15" backgroundColor="#002851" >          
                                    <Button @tap="nextPage('termsandconditions')" row="0" col="0" height="40" margin="5%"  verticalAlignment="center" borderRadius="3" width="40%"  text="Agree"  fontSize="14" borderColor="#f1c40f" backgroundColor="#7ac142"  color="#002851" />
                                    <Button @tap="nextPage('declined')" row="0" col="1" height="40" margin="5%"  verticalAlignment="center" borderRadius="3" width="40%"  text="Decline"  fontSize="14" borderColor="#f1c40f" backgroundColor="#ef4035"  color="#002851" />
                                </GridLayout>
                      </StackLayout> 
                </StackLayout>
                <!-- End of Terms and Conditions-->

                <!-- Terms and Conditions in CRT -->
                <StackLayout class="dimmer" :visibility="termsandconditionscrt" isUserInteractionEnabled='false' />
          <ScrollView height='100%' orientation="vertical" id="myScroller" :visibility="termsandconditionscrt" backgroundColor='white'>
              <StackLayout orientation="vertical" rows="1"  width="100%" backgroundColor="white">
                 <StackLayout>
                  <Label backgroundColor='black' textWrap='true' color='white' fontWeight='bold' fontSize='14' text="DATA PRIVACY NOTICE" />

                  <Label backgroundColor='white' padding='15' fontSize='10' textWrap='true' marginBottom='10'> 
                      <Span :text="'What we collect when you use the application:\n\n'" fontWeight="bold"/>
                        <Span :text="'Name and contact details, address, birth date, education;\n'"/>
                        <Span :text="'Government ID details;\n'"/>
                        <Span :text="'Employment details;\n'"/>
                        <Span :text="'Non-personal information such as those provided by your device\n\n'"/>
                        <Span :text="'We may also collect personal opinions or comments made known to us via feedback or responses to surveys or any other engagement that you had with our employees, authorized representatives, agents and service providers.\n\n'"/>
          
          
      <Span :text="'\n\nHow we use the information collected from you:\n\n'" fontWeight="bold"/>
      <Span :text="'Outsourced Know-Your-Customer (KYC) by Security Bank Corporation (BANK) so that it can deliver and provide the products and services that you have availed of;\n\n'"/>
      <Span text="Improvement of our website offerings and customer services to better serve your needs. Disclosure by SBC to other banks, financial institutions, credit agencies or credit bureaus for the purpose of profiling, credit evaluation/reference checks, verifying authenticity of information provided by the Depositor or to address queries relating to anti-money laundering due diligence on transactions that were coursed through the BANK"/>

      <Span :text="'\n\nHow the BANK uses the information collected from you:\n\n'" fontWeight="bold"/>
      <Span :text="'KYC in accordance with the updated anti-money laundering regulations of the Bangko Sentral ng Pilipinas;\n\n'"/>
      <Span :text="'Disclosure to other banks, financial institutions, credit agencies or credit bureaus for the purpose of profiling, credit evaluation/reference checks, verifying authenticity of information provided by the Depositor or to address queries relating to anti-money laundering due diligence on transactions that were coursed through the BANK;\n\n'"/>
      <Span :text="'Disclosure to counterparties and their respective banks in relation to fund transfers, payments, drawing of checks, and other transactions;\n\n'"/>
      <Span :text="'Disclosure to agents, contractors or third party service providers who provide operational services to the BANK, such as courier services, telecommunications, information technology, payment, payroll processing, profiling, training, market research, storage, archival, customer support investigation services or other services to the BANK;\n\n'"/>
      <Span :text="'Disclosure to Regulatory or government agencies to comply with existing laws, rules and regulations.\n\n'"/>
      <Span text="For purposes of marketing, cross-selling, sales offers, profiling and sharing products and services information and allow the BANK or its authorized represen to contact us for this purpose (i.e. by e-mail, telephone, text, etc) "/>

      <Span :text="'\n\nHow long do we keep the information:\n\n'" fontWeight="bold"/>
      <Span :text="'the information be retained as long as the BANK finds it necessary and relevant in accordance with Section 3;\n\n'"/>
      <Span text="When your data is no longer required, we will dispose of it in a secure manner without further notice to you."></Span>
                  </Label>
                  

                  <StackLayout orientation='horizontal'  height="50" width="100%" verticalAlignment="bottom">
                        <Button @tap="loginmona" row="0" col="0"  margin="5%" verticalAlignment="center" borderRadius="3" width="40%"  text="Agree"  fontSize="14" borderColor="#f1c40f" backgroundColor="#7ac142"  color="#002851" />
                        <Button @tap="declinedmona" row="0" col="1"  margin="5%"  verticalAlignment="center" borderRadius="3" width="40%"  text="Decline"  fontSize="14" borderColor="#f1c40f" backgroundColor="#ef4035"  color="#002851" />                 
                  </StackLayout>
              </StackLayout>
</StackLayout>
          </ScrollView>

              <!-- LOGIN for SB -->
                
              <StackLayout height="100%" verticalAlignment="center" :visibility="crtclient" id="loginpage" row="1" paddingBottom="15" paddingRight="10" paddingLeft="10" paddingTop="50" width="100%">
                
                <FlexboxLayout row="1" verticalAlignment='center' width="100%" flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  padding="10"  borderRadius="5" borderWidth="2">
                    <Image row="1" verticalAlignment="top" src="~/assets/images/duricon1.png" width="30%" marginBottom="10"/>
                    <TextField marginTop="40"
                    padding="0"
                    paddingLeft="10"
                    height="40" 
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    hint="Company Name"
                    marginBottom="10" @focus="textfieldfocus" @blur="textfieldblur"
                    v-model="companyname"/>

                    <Button marginTop="50" marginBottom="20" borderRadius="3" height="40" fontSize="14" borderColor="#f1c40f"  color="#002851" @tap="crtCLIENT">NEXT</Button>
                </FlexboxLayout>
              </StackLayout>

              <StackLayout height="100%" verticalAlignment="center" :visibility="crtlogin" id="loginpage" row="1" paddingBottom="5" paddingRight="10" paddingLeft="10" width="100%">
                
                <StackLayout width="100%" orientation="horizontal">
                    <StackLayout width="50%" android:horizontalAlignment="left">
                      <Image row="1" verticalAlignment="top" src="~/assets/images/sb.png" width="100%" marginBottom="10" marginLeft="20"/>
                    </StackLayout>
                    <StackLayout width="50%" android:horizontalAlignment="right">
                      <Image row="1" verticalAlignment="top" src="~/assets/images/duricon1.png" width="50%" marginBottom="10" marginLeft="10" marginRight="10"/>
                    </StackLayout>

                </StackLayout>
                  <FlexboxLayout row="1" verticalAlignment='center' width="100%" flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  padding="10"  borderRadius="5" borderWidth="2">
                      
                      <TextField
                      paddingLeft="10"
                      height="40" 
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      hint="Employee Number"
                      marginBottom="10" @focus="textfieldfocus" @blur="textfieldblur" v-model="empnumber"/>
                      
                      <TextField
                      paddingLeft="10"
                      height="40" 
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      hint="First Name"
                      id="firstname"
                      autocapitalizationType="words"
                      marginBottom="10" @focus="textfieldfocus" @blur="textfieldblur" v-model="fname" @textChange="fnameValidation($event)"/>
                      
                      <TextField
                      paddingLeft="10"
                      height="40" 
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      hint="Middle Name"
                      autocapitalizationType="words"
                      marginBottom="10" @focus="textfieldfocus" @blur="textfieldblur" v-model="mname" @textChange="mnameValidation($event)"/>
                      

                      <TextField
                      paddingLeft="10"
                      height="40" 
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      hint="Last Name"
                      autocapitalizationType="words"
                      marginBottom="10" @focus="textfieldfocus" @blur="textfieldblur" v-model="lname"  @textChange="lnameValidation($event)"/>
                      
                      <TextField
                      paddingLeft="10"
                      height="40" 
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      hint="Date of Birth"
                      marginBottom="10" @focus="textfieldfocus" @blur="textfieldblur" v-model="dob" @tap="DOB" editable="false" class="cal"/>

                      <!-- <StackLayout >
                        <CheckBox id="rememid2" onTintColor="#f1c40f" onCheckColor="#003366"    horizontalAlignment="center" fontSize="15%" text="Remember me" color="white" checked="false" fillColor="#f1c40f"/>
                      </StackLayout> -->
                      <Button marginBottom="10" borderRadius="3" height="40" fontSize="14" borderColor="#f1c40f"  color="#002851" @tap="crtLOGIN">LOGIN</Button>
                      <Label textWrap="true" color="white" fontSize="14" textAlignment="center" fontStyle="italic" fontWeight="bold" padding="20">The following information was provided by "{{ cname }}". In case of mismatch information please contact {{ contactname }}.</Label>
                    </FlexboxLayout>
                </StackLayout>
              <!-- END LOGIN for SB-->

              <!-- Start of Login -->
               <StackLayout height="100%" verticalAlignment="center" :visibility="forlogin" id="loginpage" row="1" paddingBottom="5" paddingRight="10" paddingLeft="10" paddingTop="20" width="100%">
                <FlexboxLayout row="1" verticalAlignment='center' width="100%" flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  padding="10"  borderRadius="5" borderWidth="2">
                  <Image row="1" verticalAlignment="top" src="~/assets/images/ilm.png" width="30%" marginBottom="10"/>
                
                    <!--<TextField marginTop="10"
                    paddingLeft="10"
                    height="40" 
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    hint="Company Name"
                    marginBottom="10" @focus="textfieldfocus" @blur="textfieldblur"
                    v-model="companyname"/>-->
      
      
                    <TextField 
                    padding="0"
                    paddingLeft="10"
                    height="40" 
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    hint="Username"
                    v-model="username"
                    marginBottom="10" @focus="textfieldfocus" @blur="textfieldblur"
                    />
      
                  <AbsoluteLayout > 
                  <GridLayout width="100%" rows="auto,*" column="auto,*">
                    <TextField padding="0"
                    paddingLeft="10"
                              borderRadius="3"
                              borderWidth="1"
                              secure="true"
                              height="40"
                              width="100%"
                              fontSize="14"
                              row="1"
                              hint="Password"
                              v-model="password"
                              v-show="showpass1"
                              @focus="textfieldfocus" 
                              @blur="textfieldblur"
                              marginBottom="20"/> 
                    <TextField padding="0"
                    paddingLeft="10"
                              borderRadius="3"
                              borderWidth="1"  
                              width="100%" 
                              height="40" 
                              fontSize="14" 
                              row="1" 
                              hint="Password" 
                              v-model="password" 
                              v-show="showpass2"
                              @focus="textfieldfocus" 
                              @blur="textfieldblur"
                              marginBottom="20" />

                    <Button backgroundColor='white' borderRadius="2" @tap="showpass()" borderWidth="0" row="1" horizontalAlignment="right" height="35" width="18%" verticalAlignment="center" v-show="showpass1" class="hide" marginright="20%"></Button>
                    <Button backgroundColor='white' borderRadius="2" @tap="showpass()" borderWidth="0" row="1" horizontalAlignment="right" height="35" width="18%" verticalAlignment="center" v-show="showpass2" class="show" marginright="20%"></Button>
                  </GridLayout>
                </AbsoluteLayout>
                <StackLayout >
                  <CheckBox id="rememid" onTintColor="#f1c40f" onCheckColor="#003366"    horizontalAlignment="center" fontSize="15%" text="Remember me" color="white" checked="false" fillColor="#f1c40f"/>
                </StackLayout>
                <Label height="30"/>
                <Button borderRadius="3" @tap="login" height="40" fontSize="14" borderColor="#f1c40f"  color="#002851" >LOGIN</Button>
                <StackLayout paddingTop="10%" paddingBottom="10%" >
                  <Label text="Forgot Password" fontSize="14" textDecoration="underline" height="20" color="white" @tap="forgotpass()" horizontalAlignment="center"/>
                </StackLayout>
                </FlexboxLayout>
            </StackLayout>
            <Label row="1" text="v.1.0.4" fontSize="10" height="20" color="gray" horizontalAlignment="right" verticalAlignment="bottom" marginRight="15"/>
              <!-- End of Login -->

              <!-- </GridLayout> -->
              <StackLayout row='1' :visibility="luding" />
              <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" opacity='0.6' borderRadius='6'  backgroundColor='black' height="50" width="50">
                          
                          <ActivityIndicator  busy="true"
                          color="white" height="100%" width="100%"
                         verticalAlignment="center"/>
                          
                </StackLayout>
                  <Label row='1' id='notifdisplay' color='white' visibility='collapse' text='' textWrap='true' verticalAlignment='bottom' fontSize='14' horizontalAlignment='center' borderRadius='20' backgroundColor='red' padding='10' paddingTop='5' paddingBottom='5' marginBottom='60' opacity='1'/>
              
                </GridLayout>
      
      <!-- </ScrollView> -->
  </Page>
</template>
<script>
import { mapActions } from "vuex";
// import { Frame.topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
import * as http from "tns-core-modules/http";
import * as Toast from "nativescript-toast";
import { exit } from "nativescript-exit";
var orientation = require("nativescript-orientation");
import * as camera from "nativescript-camera";
import * as geolocation from "nativescript-geolocation";
import PDFView from "nativescript-pdf-view";
import dashboard from "./Dashboard.vue"
import dashboardv2 from "./Dashboardv2.vue"
import regv2 from "./Registerv2.vue"
import regv3 from "./Registerv3.vue"
import forgot from "./ForgotPassword.vue"
import crt from "./CRT_Onboarding.vue"
import crt2 from "./CRT_Onboardingv2.vue"
import crt3 from "./CRT_Onboardingv3.vue"
const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;
const picker = new ModalPicker();
var moment = require('moment')
const fileSystemModule = require("tns-core-modules/file-system");
const utilsModule = require("tns-core-modules/utils/utils");
export default {
data() {
  return {
    cname: '',
    termsandconditionscrt: 'collapse',
    agree: false,
    localPath: "",
    companyname: "",
    username: "",
    password: "",
    showpass1: true,
    showpass2: false,
    luding: "collapse",
    forpdf: "visible",
    forlogin: "collapse",
    forheader: "visible",
    forcolor: '#f1c40f',
    crtlogin: 'collapse',
    crtclient: 'collapse',
    empnumber: '',
    fname: '',
    mname: '',
    lname: '',
    empDisplay: "",
    dob: '',
    clientname: '',
    pdfpath:'',
    contactname: '',
    versionApp: '29',
  };
},
created() {
  // var firebase = require("nativescript-plugin-firebase");
  //       firebase.logout();
  //       localStorage.setItem("URL", "https://ws.durusthr.com/ILM_WS_Live/");
  //       if(localStorage.getItem("Agreement") === 'true')
  //       {
  //           this.crtclient = 'visible'
  //           this.forpdf = 'collapse'
  //           this.forheader = 'collapse'
  //           this.forcolor = '#002851'
  //           console.log("aaaaaa")
  //           if (localStorage.getItem("remember") === 'true') {
  //           console.log("bbbbbbb")
  //             localStorage.setItem("EnableGreeting", true)
  //             if (localStorage.getItem("ClientName").toLowerCase() === "epiroc"){
  //               this.$navigateTo(dashboardv2, {clearHistory: true})
  //             }
  //             else{
  //               this.$navigateTo(dashboard, {clearHistory: true})
  //             }
  //           }
  //       }
  //       else
  //       {
  //           this.crtclient = 'collapse' 
  //           this.forpdf = 'visible'
  //       }

  //       // if(localStorage.getItem('LoginNotif') !== null )
  //       //   {
  //       //     localStorage.removeItem('LoginNotif')
  //       //     setTimeout(() => {
  //       //       Toast.makeText("Succesfully registered you may now close the application!","10").show()
  //       //     }, 1000)
  //       //   }
  // http.request({
  //   url: localStorage.getItem("URL") + 'GetAppVersion',
  //   method: "POST",
  //   headers: { "Content-Type": "application/json" }
  //   }).then((response) => {
  //     console.log(response.content.toJSON())
  //     console.log("versionApp: "+this.versionApp)
  //     console.log("versionAppFromDB: "+response.content.toJSON())
  //     if (this.versionApp === response.content.toJSON()){
  //       console.log(localStorage.getItem('LoginNotif'))
  //       if(localStorage.getItem('LoginNotif') !== null )
  //         {
  //           localStorage.removeItem('LoginNotif')
  //           setTimeout(() => {
  //             Toast.makeText("Succesfully registered you may now close the application!","10").show()
  //           }, 1000)
  //         }
  //       this.getStatus();

  //     }
  //     else{
  //       alert({
  //         title: 'DurustHR Update',
  //         message: "A new version of DurustHR is available with improvements and new features. Please update",
  //         okButtonText: "OK"
  //       }).then(result => {
  //         utilsModule.openUrl("https://play.google.com/store/apps/details?id=com.illimitado.durusthr")
  //         exit()
  //       });
  //     }
  //   })
  
},
methods: {
  goToDashboard(){
    var firebase = require("nativescript-plugin-firebase");
        firebase.logout();
        localStorage.setItem("URL", "https://ws.durusthr.com/ILM_WS_Live/");
        if(localStorage.getItem("Agreement") === 'true')
        {
            this.crtclient = 'visible'
            this.forpdf = 'collapse'
            this.forheader = 'collapse'
            this.forcolor = '#002851'
            if (localStorage.getItem("remember") === 'true') {
              localStorage.setItem("EnableGreeting", true)
              if (localStorage.getItem("ClientName").toLowerCase() === "epiroc"){
                this.$navigateTo(dashboardv2, {clearHistory: true})
              }
              else{
                this.$navigateTo(dashboard, {clearHistory: true})
              }
            }
        }
        else
        {
            this.crtclient = 'collapse' 
            this.forpdf = 'visible'
        }

        // if(localStorage.getItem('LoginNotif') !== null )
        //   {
        //     localStorage.removeItem('LoginNotif')
        //     setTimeout(() => {
        //       Toast.makeText("Succesfully registered you may now close the application!","10").show()
        //     }, 1000)
        //   }
  http.request({
    url: localStorage.getItem("URL") + 'GetAppVersion',
    method: "POST",
    headers: { "Content-Type": "application/json" }
    }).then((response) => {
      console.log(response.content.toJSON())
      var versionApp1 = Number(this.versionApp)  
      var versionAppFromDB1 = Number(response.content.toJSON())  
      console.log("versionApp: "+versionApp1)
      console.log("versionAppFromDB: "+versionAppFromDB1)

      if (versionApp1 >= versionAppFromDB1){
        console.log(localStorage.getItem('LoginNotif'))
        if(localStorage.getItem('LoginNotif') !== null )
          {
            localStorage.removeItem('LoginNotif')
            setTimeout(() => {
              Toast.makeText("Succesfully registered you may now close the application!","10").show()
            }, 1000)
          }
        this.getStatus();

      }
      else{
        alert({
          title: 'DurustHR Update',
          message: "A new version of DurustHR is available with improvements and new features. Please update",
          okButtonText: "OK"
        }).then(result => {
          utilsModule.openUrl("https://play.google.com/store/apps/details?id=com.illimitado.durusthr")
          exit()
        });
      }
    })
  },
  loginmona(){
    this.luding = 'visible'
     http.request({
                url: localStorage.getItem("URL") + 'Mobile_GetPDFStatus',
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CompanyName: this.companyname
                  })
                }).then((response) => {
                  console.log(response.content.toJSON())
                  if (response.content.toJSON() === "0"){
                    http.request({
                    url: localStorage.getItem("URL") + 'CRTUpdateTnC',
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CompanyAlias: this.companyname,
                      EmployeeID: this.empnumber,
                      TNC: "Data Privacy"
                      })
                    }).then((response) => {
                      this.$navigateTo(crt3, {clearHistory: true});
                      this.luding = "visible"
                    })
                   
                  }
                  else if (response.content.toJSON() === "1" || response.content.toJSON() === "2" || response.content.toJSON() === "3" || response.content.toJSON() === "4"){
                    localStorage.setItem("SETTINGS", response.content.toJSON())
                    http.request({
                    url: localStorage.getItem("URL") + 'CRTUpdateTnC',
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CompanyAlias: this.companyname,
                      EmployeeID: this.empnumber,
                      TNC: "Data Privacy"
                      })
                    }).then((response) => {
                      this.$navigateTo(crt2, {clearHistory: true});
                      
                      this.luding = "visible"
                    })
                  }
                  else if (response.content.toJSON() === "5" || response.content.toJSON() === "6"
                        || response.content.toJSON() === "7" || response.content.toJSON() === "8"){
                    localStorage.setItem("SETTINGS1", response.content.toJSON())
                    http.request({
                    url: localStorage.getItem("URL") + 'CRTUpdateTnC',
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CompanyAlias: this.companyname,
                      EmployeeID: this.empnumber,
                      TNC: "Data Privacy"
                      })
                    }).then((response) => {
                      this.$navigateTo(crt, {clearHistory: true});
                      this.luding = "visible"
                    })
                   
                  }
                })
  },
  declinedmona(){
    this.termsandconditionscrt = 'collapse'
    this.crtlogin = 'visible'
  },
  fnameValidation(evt){
    setTimeout(() => {
      if(/\d+/g.test(evt.object.text))
      {
        this.fname = evt.object.text.replace(/\d+/g, '');
      }
      if(/[^-.ñ\w\s]/gi.test(evt.object.text))
      {
        this.fname = evt.object.text.replace(/[^-.ñ\w\s]/gi, '');
      }      
        evt.object.android.setSelection(this.fname.length)
      }, 0);
  },
  mnameValidation(evt){
    setTimeout(() => {
      if(/\d+/g.test(evt.object.text))
      {
        this.mname = evt.object.text.replace(/\d+/g, '');
      }
      if(/[^-.ñ\w\s]/gi.test(evt.object.text))
      {
        this.mname = evt.object.text.replace(/[^-.ñ\w\s]/gi, '');
      }        
        evt.object.android.setSelection(this.mname.length)
      }, 0);
  },
  lnameValidation(evt){
    setTimeout(() => {
      if(/\d+/g.test(evt.object.text))
      {
        this.lname = evt.object.text.replace(/\d+/g, '');
      }
      if(/[^-.ñ\w\s]/gi.test(evt.object.text))
      {
        this.lname = evt.object.text.replace(/[^-.ñ\w\s]/gi, '');
      }        
        evt.object.android.setSelection(this.lname.length)
      }, 0);
  },
  DOB() {
    picker.pickDate({
      title: "Select Date",
      theme: "dark",
      datePickerMode: "spinner" 
    }).then(result => {
      var m = result.month < 10 ? '0' + result.month : result.month
      var d = result.day < 10 ? '0' + result.day : result.day
      var currentTime = new Date()
      var year = currentTime.getFullYear()
      if (result.year >= year){
        console.log("invalid date")
        Toast.makeText("Invalid Date").show();
        this.dob = ""
      }
      else{
        this.dob = moment(result.year + "-" + m + "-" + d).format("YYYY-MM-DD")
      }
      // this.dob = moment(result.year + "-" + m + "-" + d).format("YYYY-MM-DD")
      var jsdate = new Date(result.year, result.month - 1, result.day);
    }).catch(error => {
      console.log("Error: " + error);
    });
  },
  getStatus(){
     
    },
  crtCLIENT(){
    this.luding = "visible"
    if (this.companyname === ""){
      Toast.makeText("Please complete the field.").show();
      this.luding = "collapse"
    }
    else{
    http.request({
    url: localStorage.getItem("URL") + 'Mobile_Company_Verificationv3',
    method: "POST",
    headers: { "Content-Type": "application/json" },
    content: JSON.stringify({
      CompanyAlias: this.companyname
      })
    }).then((response) => {
      if (response.content.toJSON().CompanyType === "durusthr"){
        this.forlogin = 'visible'
        this.crtclient = 'collapse'
        this.luding = 'collapse'
        localStorage.setItem("ClientName", this.companyname);
      }
      else if (response.content.toJSON().CompanyType === "crt"){
            this.luding = 'collapse';
            this.crtlogin = "visible";
            this.crtclient = "collapse";
            localStorage.setItem("ClientName", this.companyname);
            this.cname = response.content.toJSON().CompanyName
            this.contactname = response.content.toJSON().ContactInfo
            console.log(this.cname)
      }
      else{
        this.luding = "collapse"
        Toast.makeText("Company Name does not exist.").show();
      }
    })
    }
    
  },
  crtLOGIN(){
    console.log(localStorage.getItem("ClientName"))
    if(this.empnumber === "" || this.fname === "" || this.lname === "" || this.dob === ""){
      Toast.makeText("Please complete all the fields.").show();
      // this.luding = "collapse"
    }
    else{
      this.luding = "visible"
      http.request({
      url: localStorage.getItem("URL") + 'Mobile_Login_Companyv2',
      method: "POST",
      headers: { "Content-Type": "application/json" },
      content: JSON.stringify({
        CompanyName: localStorage.getItem("ClientName"),
        StartingID: this.empnumber,
        FirstName: this.fname,
        MiddleName: this.mname,
        LastName: this.lname,
        Birthday: this.dob
        })
      }).then((response) => {
        console.log(response.content.toJSON())
        // let checkBox = Frame.topmost().getViewById("rememid2");
        if (response.content.toJSON() === "True"){
          http.request({
          url: localStorage.getItem("URL") + 'Mobile_BranchSearch',
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            StartingID: this.empnumber
            })
          }).then((response) => {
            // this.luding = "visible"
            // localStorage.setItem("crtremember", checkBox.checked);
            localStorage.setItem("StartingID", this.empnumber);
            localStorage.setItem("FNAME", this.fname);
            localStorage.setItem("MNAME", this.mname);
            localStorage.setItem("LNAME", this.lname);
            localStorage.setItem("DOB", this.dob);
            localStorage.setItem("Branch", response.content.toJSON());
            http.request({
            url: localStorage.getItem("URL") + 'CRTCheckOnboardStatus',
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              CompanyName: this.companyname,
              StartingID: this.empnumber
              })
            }).then((response) => {
              console.log(response.content.toJSON())
              // this.termsandconditionscrt = 'visible'
              if (response.content.toJSON() === "Complete"){
                http.request({
                url: localStorage.getItem("URL") + 'Mobile_GetPDFStatus',
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CompanyName: this.companyname
                  })
                }).then((response) => {
                  console.log(response.content.toJSON())
                  if (response.content.toJSON() === "0"){
                    this.luding = "visible"
                    confirm({
                      message: "You have already registered. You may close the application or continue?",
                      okButtonText: "YES",
                      cancelButtonText: "NO"
                    }).then(result => {
                      if (result == true){
                        console.log("2weee")
                        this.$navigateTo(crt3, {clearHistory: true});
                      }
                      else{
                        this.luding = "collapse"
                      }
                    })
                    
                  }
                  else if (response.content.toJSON() === "1" || response.content.toJSON() === "2" || response.content.toJSON() === "3" || response.content.toJSON() === "4"){
                    this.luding = "visible"
                    confirm({
                      message: "You have already registered. You may close the application or continue?",
                      okButtonText: "YES",
                      cancelButtonText: "NO"
                    }).then(result => {
                      if (result == true){
                        console.log("3weee")
                        this.$navigateTo(crt2, {clearHistory: true});
                        localStorage.setItem("SETTINGS", response.content.toJSON())
                      }
                      else{
                        this.luding = "collapse"
                      }
                    })
                    
                  }
                  else if (response.content.toJSON() === "5" || response.content.toJSON() === "6"
                        || response.content.toJSON() === "7" || response.content.toJSON() === "8"){
                          this.luding = "visible"
                    confirm({
                      message: "You have already registered. You may close the application or continue?",
                      okButtonText: "YES",
                      cancelButtonText: "NO"
                    }).then(result => {
                      if (result == true){
                        console.log("1weee")
                        localStorage.setItem("SETTINGS1", response.content.toJSON())
                        this.$navigateTo(crt, {clearHistory: true});
                    
                      }
                      else{
                        this.luding = "collapse"
                      }
                    })
                    
                  }
                })
                
              }
              else{
                this.termsandconditionscrt = 'visible'
                this.crtlogin = 'collapse'
                this.luding = "collapse"
              }
            })
            // this.$navigateTo(crt, {clearHistory: true});
          })
        }
        else{
          this.luding = "collapse"
          Toast.makeText("You have entered invalid information.").show();
        }
      })
    }
  },
  getpdffile() {
    this.localPath = "http://ws.durusthr.com/ilm_ws_live/pdf/HRMS%20Terms%20and%20Conditions%20of%20Use%20draft1[9170].pdf";
  },
   nextPage(a){
      var termsandconditions = Frame.topmost().getViewById("termsandconditions");
      // var loginpage = Frame.topmost().getViewById("loginpage");
      var headermo = Frame.topmost().getViewById("headermo");
      if (a === 'termsandconditions'){
        termsandconditions.visibility = 'collapse'
        this.forheader = 'collapse'
        //loginpage.visibility = 'visible'
        this.crtclient = 'visible'
        this.forcolor = '#002851'
        localStorage.setItem("Agreement", true)
      }
      else if (a === 'declined'){
        // loginpage.visibility = 'collapse'
        // termsandcontions.visibility = 'visible'
        exit();
      }
  },
  agreement(){
    this.agree = localStorage.getItem("Agreement")
      var termsandconditions = Frame.topmost().getViewById("termsandconditions");
      var loginpage = Frame.topmost().getViewById("loginpage");
      var headermo = Frame.topmost().getViewById("headermo");  
    if (this.agree === 'true')
    {
      termsandconditions.visibility = 'collapse'
      headermo.visibility = 'collapse'
      loginpage.visibility = 'visible'
    }

  },
  forgotpass() {
    if (this.companyname === "") {
      Toast.makeText("Please input Company name").show();
    } else {
      localStorage.setItem("ClientName", this.companyname);
      this.$navigateTo(forgot, {clearHistory: true})
    }
  },
  chckme() {
    if (localStorage.getItem("remember2") === 'true') {
      console.log("testtest")
      this.companyname = localStorage.getItem("ClientName");
      this.username = localStorage.getItem("EmpID");
    }
  },
  loadmo() {
    orientation.setOrientation("portrait");
    orientation.disableRotation();
    var appfolder = fileSystemModule.knownFolders.currentApp();
    this.pdfpath = fileSystemModule.path.join(appfolder.path,'assets/pdf','HRMS_TCandPrivacy.pdf')
    console.log(this.pdfpath + ' this is the path')
  },
  backbtn() {
    var applicationModule = require("application");
    var AndroidApplication = applicationModule.android;
    var activity =
      AndroidApplication.startActivity ||
      AndroidApplication.foregroundActivity ||
      Frame.topmost().android.currentActivity ||
      Frame.topmost().android.activity;
    activity.onBackPressed = () => {
      //Your code here

      exit();
    };
  },
  showpass() {
    if (this.showpass1 === true) {
      this.showpass1 = false;
      this.showpass2 = true;
    } else if (this.showpass1 === false) {
      this.showpass1 = true;
      this.showpass2 = false;
    }
  },
  loginrem() {
    http
      .request({
        url: localStorage.getItem("URL") + "GetDB",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          ClientName: localStorage.getItem("ClientName")
        })
      })
      .then(responses => {
        http
          .request({
            url: localStorage.getItem("URL") + "validateLoginv2",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              CN:localStorage.getItem("ClientName"),
              LoginID: localStorage.getItem("EmpID"),
              Password: localStorage.getItem("Password")
            })
          })
          .then(response => {
            
            this.$navigateTo(dashboard, {clearHistory: true});
            
          }).catch(function (err) {
                      this.luding = "collapse";
                      Toast.makeText("Connection timed out. Please try again.").show();
                      console.log("Error -> " + err.message);
                    });;
      });
  },
  login() {
    if (this.companyname === "" || this.username === "" || this.password === "") 
    {
      Toast.makeText("Complete login details").show();
    } 
    else {
      if (this.companyname === "SBC" || this.companyname === "sbc" || this.companyname === "Sbc"){
        this.luding = "visible";
        http.request({
        url: localStorage.getItem("URL") + "validateLoginv2",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          LoginID: this.username,
          Password: this.password,
          CN: this.companyname
          })
        }).then((response) => { 
          this.luding = "collapse";
          this.$navigateTo(crt, {clearHistory: true})
        })
      }
      else{
        console.log("testtest")
        this.luding = "visible";
        http.request({
        url: localStorage.getItem("URL") + "validateLoginv2",
        method: "POST", 
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          LoginID: this.username,
          Password: this.password,
          CN: this.companyname
          })
        }).then(response => {
          let checkBox = Frame.topmost().getViewById("rememid");
          console.log(checkBox.checked + " this is checkbox")
          if(response.content.toJSON().FIRSTNAME != null)
          {
            if (response.content.toJSON().EmpStatus.toLowerCase() === "active") {
              if(response.content.toJSON().onBoardstatus === "True")
              {
                if (response.content.toJSON().FaceID === "") {
                // pag walang faceID eto gagawin nya!
                  if (response.content.toJSON().Password === this.password) {
                    localStorage.setItem("EmpID", response.content.toJSON().LoginID);
                  } 
                  else {
                    localStorage.setItem("EmpID", response.content.toJSON().LoginID);
                  }
                  localStorage.setItem("ClientName", this.companyname);
                  localStorage.setItem("EmpID", response.content.toJSON().LoginID);
                  localStorage.setItem("Password", this.password);
                  localStorage.setItem("remember2", checkBox.checked);
                  localStorage.setItem("LASTNAME", response.content.toJSON().LASTNAME);
                  localStorage.setItem("FIRSTNAME", response.content.toJSON().FIRSTNAME);
                  localStorage.setItem("MIDDLENAME", response.content.toJSON().MIDDLENAME);
                  localStorage.setItem("BIRTHDAY", response.content.toJSON().BIRTHDAY);
                  localStorage.setItem("CIVILSTATUS", response.content.toJSON().CIVILSTATUS);
                  localStorage.setItem("GENDER", response.content.toJSON().GENDER);
                  localStorage.setItem("ClientName", this.companyname);
                  this.luding = "collapse";

                  if (this.companyname.toLowerCase() === 'epiroc'){
                    this.$navigateTo(dashboardv2, {clearHistory: true})
                  }
                  else{
                    http.request({
                    url: localStorage.getItem("URL") + "GetDHROnboardingEmpInfoSettings",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN: this.companyname
                      })
                    }).then(response => {
                  console.log(response.content.toJSON())
                      if(response.content.toJSON() == 0){
                        this.$navigateTo(regv3, {clearHistory: true})
                      } else{
                        console.log('ditooooooo')
                        this.$navigateTo(regv2, {clearHistory: true})
                      }

                    })
                  }
                  
                } 
                else {
                  //pero pag merong faceID eto gagawin nya!
                  if (response.content.toJSON().Password === this.password) {
                    localStorage.setItem("EmpID",response.content.toJSON().LoginID);
                  } else {
                    localStorage.setItem("EmpID", response.content.toJSON().LoginID);
                  }
                  localStorage.setItem("ClientName", this.companyname);
                  localStorage.setItem("EmpID", response.content.toJSON().LoginID);
                  localStorage.setItem("Password", this.password);
                  localStorage.setItem("remember", checkBox.checked);
                  localStorage.setItem("remember2", checkBox.checked);
                  localStorage.setItem("ClientName", this.companyname);
                  localStorage.setItem("Fullname", response.content.toJSON().FIRSTNAME + " " + response.content.toJSON().MIDDLENAME + " " + response.content.toJSON().LASTNAME)
                  localStorage.setItem("CompleteName", response.content.toJSON().FIRSTNAME +  " " + response.content.toJSON().LASTNAME)
                  localStorage.setItem("LASTNAME", response.content.toJSON().LASTNAME);
                  localStorage.setItem("FIRSTNAME", response.content.toJSON().FIRSTNAME);
                  localStorage.setItem("executed", true);
                  localStorage.setItem("passwordMo", this.password);
                  localStorage.setItem("EnableGreeting", true)
                  this.luding = "collapse";
                  if (this.companyname.toLowerCase() === 'epiroc'){
                    this.$navigateTo(dashboardv2, {clearHistory: true})
                  }
                  else{
                    this.$navigateTo(dashboard, {clearHistory: true})
                  }
                }

              }
              else{
                if (response.content.toJSON().Password === this.password) {
                  localStorage.setItem("EmpID",response.content.toJSON().LoginID);
                } else {
                  localStorage.setItem("EmpID", response.content.toJSON().LoginID);
                }
                localStorage.setItem("ClientName", this.companyname);
                localStorage.setItem("EmpID", response.content.toJSON().LoginID);
                localStorage.setItem("Password", this.password);
                localStorage.setItem("remember", checkBox.checked);
                localStorage.setItem("remember2", checkBox.checked);
                localStorage.setItem("ClientName", this.companyname);
                localStorage.setItem("Fullname", response.content.toJSON().FIRSTNAME + " " + response.content.toJSON().MIDDLENAME + " " + response.content.toJSON().LASTNAME)
                localStorage.setItem("CompleteName", response.content.toJSON().FIRSTNAME +  " " + response.content.toJSON().LASTNAME)
                localStorage.setItem("LASTNAME", response.content.toJSON().LASTNAME);
                localStorage.setItem("FIRSTNAME", response.content.toJSON().FIRSTNAME);
                localStorage.setItem("executed", true);
                localStorage.setItem("passwordMo", this.password);
                localStorage.setItem("EnableGreeting", true)
                this.luding = "collapse";
                if (this.companyname.toLowerCase() === 'epiroc'){
                  this.$navigateTo(dashboardv2, {clearHistory: true})
                }
                else{
                  this.$navigateTo(dashboard, {clearHistory: true})
                }
              }



              console.log(response.content.toJSON().onBoardstatus + ' ito unnnnnnn')
              //iccheck muna kung active or inactive, pag active deretcho sa condtion ng faceID!
              // if (response.content.toJSON().FaceID === "") {
              //   // pag walang faceID eto gagawin nya!
              //   if (response.content.toJSON().Password === this.password) {
              //     localStorage.setItem("EmpID", response.content.toJSON().LoginID);
              //   } 
              //   else {
              //     localStorage.setItem("EmpID", response.content.toJSON().LoginID);
              //   }
              //   localStorage.setItem("ClientName", this.companyname);
              //   localStorage.setItem("EmpID", response.content.toJSON().LoginID);
              //   localStorage.setItem("Password", this.password);
              //   localStorage.setItem("remember2", checkBox.checked);
              //   localStorage.setItem("LASTNAME", response.content.toJSON().LASTNAME);
              //   localStorage.setItem("FIRSTNAME", response.content.toJSON().FIRSTNAME);
              //   localStorage.setItem("MIDDLENAME", response.content.toJSON().MIDDLENAME);
              //   localStorage.setItem("BIRTHDAY", response.content.toJSON().BIRTHDAY);
              //   localStorage.setItem("CIVILSTATUS", response.content.toJSON().CIVILSTATUS);
              //   localStorage.setItem("GENDER", response.content.toJSON().GENDER);
              //   localStorage.setItem("ClientName", this.companyname);
              //   this.luding = "collapse";

              //   if (this.companyname.toLowerCase() === 'epiroc'){
              //     this.$navigateTo(dashboardv2, {clearHistory: true})
              //   }
              //   else{
              //     http.request({
              //     url: localStorage.getItem("URL") + "GetDHROnboardingEmpInfoSettings",
              //     method: "POST",
              //     headers: { "Content-Type": "application/json" },
              //     content: JSON.stringify({
              //       CN: this.companyname
              //       })
              //     }).then(response => {
              //       if(response.content.toJSON() == 0){
              //         this.$navigateTo(regv3, {clearHistory: true})
              //       } else{
              //         this.$navigateTo(regv2, {clearHistory: true})
              //       }

              //     })
              //   }
                
              // } 
              // else {
              //   //pero pag merong faceID eto gagawin nya!
              //   if (response.content.toJSON().Password === this.password) {
              //     localStorage.setItem("EmpID",response.content.toJSON().LoginID);
              //   } else {
              //     localStorage.setItem("EmpID", response.content.toJSON().LoginID);
              //   }
              //   localStorage.setItem("ClientName", this.companyname);
              //   localStorage.setItem("EmpID", response.content.toJSON().LoginID);
              //   localStorage.setItem("Password", this.password);
              //   localStorage.setItem("remember", checkBox.checked);
              //   localStorage.setItem("remember2", checkBox.checked);
              //   localStorage.setItem("ClientName", this.companyname);
              //   localStorage.setItem("Fullname", response.content.toJSON().FIRSTNAME + " " + response.content.toJSON().MIDDLENAME + " " + response.content.toJSON().LASTNAME)
              //   localStorage.setItem("CompleteName", response.content.toJSON().FIRSTNAME +  " " + response.content.toJSON().LASTNAME)
              //   localStorage.setItem("LASTNAME", response.content.toJSON().LASTNAME);
              //   localStorage.setItem("FIRSTNAME", response.content.toJSON().FIRSTNAME);
              //   localStorage.setItem("executed", true);
              //   localStorage.setItem("passwordMo", this.password);
              //   localStorage.setItem("EnableGreeting", true)
              //   this.luding = "collapse";
              //   if (this.companyname.toLowerCase() === 'epiroc'){
              //     this.$navigateTo(dashboardv2, {clearHistory: true})
              //   }
              //   else{
              //     this.$navigateTo(dashboard, {clearHistory: true})
              //   }
              // }
            } 
            else if (response.content.toJSON().EmpStatus === "Pending" && response.content.toJSON().FaceID != "") {
              this.pendingaccount();
              this.luding = "collapse";
            } 
            else if (response.content.toJSON().EmpStatus === "Pending") {
              if (response.content.toJSON().Password === this.password) {
                localStorage.setItem("EmpID", response.content.toJSON().LoginID);
              } 
              else {
                localStorage.setItem("EmpID", response.content.toJSON().LoginID);
              }
              localStorage.setItem("Password", this.password);
              localStorage.setItem("remember2", checkBox.checked);
              localStorage.setItem("LASTNAME",response.content.toJSON().LASTNAME);
              localStorage.setItem("FIRSTNAME", response.content.toJSON().FIRSTNAME);
              localStorage.setItem("MIDDLENAME", response.content.toJSON().MIDDLENAME);
              localStorage.setItem("BIRTHDAY", response.content.toJSON().BIRTHDAY);
              localStorage.setItem("CIVILSTATUS", response.content.toJSON().CIVILSTATUS);
              localStorage.setItem("ClientName", this.companyname);
              this.luding = "collapse";
              // this.$router.push("/regv2");
              if (this.companyname.toLowerCase() === 'epiroc'){
                  this.$navigateTo(dashboardv2, {clearHistory: true})
              }
              else{
                http.request({
                  url: localStorage.getItem("URL") + "GetDHROnboardingEmpInfoSettings",
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  content: JSON.stringify({
                    CN: this.companyname
                    })
                  }).then(response => {
                    if(response.content.toJSON() == 0){
                      this.$navigateTo(regv3, {clearHistory: true})
                    } else{
                      this.$navigateTo(regv2, {clearHistory: true})
                    }
                  })
                // this.$navigateTo(regv2, {clearHistory: true})
              }
            }
            else {
              Toast.makeText("ERROR: Invalid credentials! Please try again.","long" ).show();
              this.luding = "collapse";
            }
          }
          else
          {
            Toast.makeText("ERROR: Invalid credentials! Please try again.","long" ).show();
            this.luding = "collapse";
          }
        }).catch( (err) => {
          console.log(response.content.toJSON().EmpStatus + " this is the error")
          this.luding = 'collapse'
          Toast.makeText("Connection timed out. Please try again.").show();
        });
      }
      
    }
  },
  textfieldfocus(a) {
    a.object.borderColor = "#f1c40f";
    a.object.borderWidth = 2;
  },
  textfieldblur(a) {
    a.object.borderColor = "transparent";
    a.object.borderWidth = 1;
  },
  pendingaccount() {
    var vm = this;
    this.$showModal({
      template: `
            <Page >
              <StackLayout width="100%" height="200" backgroundColor="#D0D3D4">
            <StackLayout orientation="vertical" >
              <Label text="Attention!" height="40" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
                <StackLayout orientation="vertical" width="310" android:horizontalAlignment="left" paddingLeft="10%">
                 <TextView editable="false" backgroundColor="transparent" textAlignment="justify">
                    <FormattedString>
                      <Span text="Your registration details is in review process. Please wait for your account confirmation." color="#002851"/>
                    </FormattedString>
                </TextView>
                </StackLayout>
               <StackLayout orientation="horizontal" marginTop="30" marginLeft="85%" fontSize="14"> 
                  <Label  @tap="$modal.close" text="OK" textAlignment="right" color="#003366" marginRight="5"/>   
              </StackLayout>                    
            </StackLayout>
          </StackLayout>
              </Page>`,
      data() {
        return {};
      },
      methods: {
        modalClose() {
          this.$modal.close();
        }
      }
    });
  }
}
};
</script>
<style scoped>
button {
background-color: #f1c40f;
}
/* Button:highlighted {
   background-color:rgba(0, 0, 0, .6);
} */
.mylogin:highlighted {
animation-name: highlight;
animation-duration: 2s;
animation-fill-mode: forwards;
}
@keyframes highlight {
from {
  background-color: rgba(0, 0, 0, 0.6);
}
to {
  background-color: black;
}
}
TextField {
background-color: white;
}
.show {
background-image: url("~/assets/images/show.png");
background-repeat: no-repeat;
background-position: 97% 50%;
background-size: 80 80;
background-color: transparent;
border-color: transparent;
margin-bottom: 20;
margin-right: 5;
}
.hide {
background-image: url("~/assets/images/hide.png");
background-repeat: no-repeat;
background-position: 97% 50%;
background-size: 80 80;
background-color: transparent;
border-color: transparent;
margin-bottom: 20;
margin-right: 5;
}
.cal {
  background-image: url("~/assets/images/ic_calendar.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 50 50;
}
.dimmer {
  opacity: 0.3;
  background-color: black;
}
</style>
