<template>
  <Page class="Page" @loaded='backbtn();loadmo()'>
    <ActionBar title="Pay Bills" color="#002851" >
      <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(MMDB, {clearHistory: true})"/>
    </ActionBar>

    <ScrollView orientation="vertical">
      <StackLayout orientation="vertical">
        <Label text="From:" class="m-x-10 m-t-10"/>
        <FlexboxLayout>
          <Label text="Name: " backgroundColor="white" color="#000" class="p-10" width="30%"/>
          <TextField text="0000.00" style="text-align:right;" width="70%"/>
        </FlexboxLayout>

        <Label text="To:" class="m-x-10 m-t-10"/>
        <FlexboxLayout class="m-b-5">
          <Label text="Biller: " backgroundColor="white" color="#000" class="p-10" width="30%"/>
          <TextField hint="Recipient" style="text-align:right;" width="70%"/>
        </FlexboxLayout>
        <FlexboxLayout class="m-b-5">
          <Label text="Account: " backgroundColor="white" color="#000" class="p-10" width="30%"/>
          <TextField hint="Subscriber Name" style="text-align:right;" width="70%"/>
        </FlexboxLayout>
        <FlexboxLayout class="m-b-5">
          <Label text="Amount: " backgroundColor="white" color="#000" class="p-10" width="30%"/>
          <TextField hint="Amount" style="text-align:right;" width="70%"/>
        </FlexboxLayout>

        <Button fontSize="15" width="50%" borderRadius="30" borderColor="#f1c40f" backgroundColor="#f1c40f" color="#002851">Confirm Payment</Button>
      </StackLayout>
    </ScrollView>
  </Page>
</template>
<script>
import { topmost } from "tns-core-modules/ui/frame";
var orientation = require("nativescript-orientation");
import mmdashboard from "../MyMoney/my_money_dashboard.vue"
export default {
    data() {
    return {
      MMDB: mmdashboard
    };
  },
  created() {},
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.MMDB, {clearHistory: true})
      };
    }
  }
};
</script>

<style scoped>
.Page {
  background-color: #002851;
  color: white;
}
ActionBar {
  background-color: #f1c40f;
}
label {
  color: white;
}
TextField {
  background-color: white;
  color: black;
}
</style>

