<template>
  <Page class="page" actionBarHidden="true" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
    <ScrollView orientation="vertical">
      <FlexboxLayout flexDirection="column"   backgroundColor="#003366"  borderColor="#2d5176"  padding="10" margin="10"  borderRadius="5" borderWidth="2">

              <TextField 
              height="40" 
              fontSize="14" 
              borderRadius="3" 
              borderWidth="1" 
              hint="Username"
              class="mylogin"
              v-model="username"
              marginBottom="10" @focus="textfieldfocus" @blur="textfieldblur"/>
              

            <AbsoluteLayout > 
              <GridLayout width="100%" rows="auto,*" column="auto,*">
                <TextField borderRadius="3"
                          borderWidth="1"
                          secure="true"
                          height="40"
                          width="100%"
                          fontSize="14"
                          row="1"
                          class="mylogin"
                          hint="Password"
                          v-model="password"
                          v-show="showpass1"
                          @focus="textfieldfocus" 
                          @blur="textfieldblur"
                          marginBottom="10"/> 
                <TextField borderRadius="3"
                          borderWidth="1"  
                          width="100%" 
                          height="40" 
                          fontSize="14" 
                          row="1"
                          class="mylogin"
                          hint="Password" 
                          v-model="password" 
                          v-show="showpass2"
                          @focus="textfieldfocus" 
                          @blur="textfieldblur"
                          marginBottom="10" />

                <Button @tap="showpass1=false;showpass2=true;" borderWidth="0" row="1" horizontalAlignment="right" height="40" width="40" verticalAlignment="center" v-show="showpass1" class="show"></Button>
                <Button @tap="showpass1=true;showpass2=false;" borderWidth="0" row="1" horizontalAlignment="right" height="40" width="40" verticalAlignment="center" v-show="showpass2" class="hide"></Button>
              </GridLayout>
            </AbsoluteLayout>

              <Button borderRadius="3" @tap="logMeIn" height="40" backgroundColor="#f1c40f" fontSize="14" borderColor="#f1c40f"  color="#002851" >LOGIN</Button>
          </FlexboxLayout>
    </ScrollView>
  </Page>
</template>

<script>
import * as http from "tns-core-modules/http";
import Toast from "nativescript-toast";
import { topmost } from "tns-core-modules/ui/frame";
var orientation = require("nativescript-orientation");
import dashboard from "../Dashboard.vue"
import mmdashboard from "../MyMoney/my_money_dashboard.vue"
export default {
  data() {
    return {
      username: localStorage.getItem("EmpID"),
      password: "",
      showpass1: true,
      showpass2: false,
      DB: dashboard,
      MMDB: mmdashboard,
    };
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait"); 
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.DB, {clearHistory: true})
      };
    },
    logMeIn() {
      // this.$router.push('/mymoney/dashboard')
      http
        .request({
          url: localStorage.getItem("URL") + "GetDB",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            ClientName: "ilm"
          })
        })
        .then(responses => {
          http
            .request({
              url: localStorage.getItem("URL") + "validateLogin",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                LoginID: this.username,
                Password: this.password
              })
            })
            .then(response => {
              if (response.content.toJSON().EmpStatus === "Active") {
                // localStorage.setItem('NTID',this.username)
                this.$navigateTo(MMDB, {clearHistory: true})
              } else {
                Toast.makeText("Error Log in.", "long").show();
              }
            });
        });
    },
    textfieldfocus(a) {
      a.object.borderColor = "#f1c40f";
      a.object.borderWidth = 2;
    },
    textfieldblur(a) {
      a.object.borderColor = "transparent";
      a.object.borderWidth = 1;
    }
  }
};
</script>



<style scoped>
TextField {
  background-color: white;
  color: #000;
}
.show {
  background-image: url("~/assets/images/show.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 70% 70%;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 10;
}
.hide {
  background-image: url("~/assets/images/hide.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 70% 70%;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 10;
}
.mylogin:highlighted {
  animation-name: highlight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes highlight {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    background-color: black;
  }
}
</style>


