<template>
  <Page class="page" @loaded='backbtn();loadmo()'>
    <ActionBar title="Shop" color="#002851" >
      <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(MMDB, {clearHistory: true})"/>
    </ActionBar>

    <ScrollView orientation="vertical">
      <StackLayout orientation="vertical">
        <Label text="Category" class="m-10" style="text-align:center;"/>

        <StackLayout>
          <Label @tap="toast" text="All Deal" class="p-10 m-b-2" backgroundColor="#fff" color="#000" width="100%" height="100%"/>
          <Label @tap="toast" text="Restaurants" class="p-10 m-b-2" backgroundColor="#fff" color="#000" width="100%" height="100%"/>
          <Label @tap="toast" text="Electronics" class="p-10 m-b-2" backgroundColor="#fff" color="#000" width="100%" height="100%"/>
          <Label @tap="toast" text="Travel" class="p-10 m-b-2" backgroundColor="#fff" color="#000" width="100%" height="100%"/>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script>
import Toast from "nativescript-toast";
import { topmost } from "tns-core-modules/ui/frame";
var orientation = require("nativescript-orientation");
import mmdashboard from "../MyMoney/my_money_dashboard.vue"
export default {
    data() {
    return {
      MMDB: mmdashboard,
    };
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
        activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.MMDB, {clearHistory: true})
      };
    },
    toast() {
      Toast.makeText("Work in progress.", "long").show();
    }
  }
};
</script>



<style scoped>
.page {
  background-color: #002851;
  color: white;
}
ActionBar {
  background-color: #f1c40f;
}
label {
  color: white;
}
TextField {
  background-color: white;
  color: black;
}
</style>
