<template>
  <Page class="page" @loaded='backbtn();loadmo()'>
    <ActionBar title="Fund Transfer" color="#002851">
      <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(MMDB, {clearHistory: true})"/>
    </ActionBar>

    <ScrollView orientation="vertical">
      <StackLayout orientation="vertical">
        <Label text="From" class="m-x-10 m-t-10"/>
        <TextField class="m-b-10" isEnabled="false"/>

        <StackLayout class="m-20">
          <Label text="To"/>
          <TextField class="m-b-10" />

          <Label text="Amount"/>
          <TextField class="m-b-10" />

          <Label text="Account"/>
          <TextField class="m-b-10" />

          <Label text="Remarks"/>
          <TextField class="m-b-10" />

          <Button fontSize="15" width="60%" borderRadius="30" borderColor="#f1c40f" backgroundColor="#f1c40f" color="#002851">Confirm Transfer</Button>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </Page>
</template>
<script>
import { topmost } from "tns-core-modules/ui/frame";
var orientation = require("nativescript-orientation");
import mmdashboard from "../MyMoney/my_money_dashboard.vue"
export default {
    data() {
    return {
      MMDB: mmdashboard
    };
  },
  created() {},
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.MMDB, {clearHistory: true})
      };
    }
  }
};
</script>

<style scoped>
.page {
  background-color: #002851;
  color: white;
}
ActionBar {
  background-color: #f1c40f;
}
label {
  color: white;
}
TextField {
  background-color: white;
  color: black;
}
</style>
