<template>
    <Page class="Page" @loaded='backbtn();loadmo()'>
        <ActionBar title="MyMoney" color="#002851" >
        </ActionBar>

        <ScrollView orientaion="vertical">
          <StackLayout orientation="vertical">
            <Label text="Deposit Account" class="m-10"/>
            <TextField text="1,000,000.00" class="peso m-y-10" isEnabled="false"/>

            <DockLayout>
              <FlexboxLayout marginTop="15" paddingLeft="15" paddingRight="15" width="100%" JustifyContent="center">
                <DockLayout width="30%" height="100%" JustifyContent="center" @tap="$navigateTo(MMPB, {clearHistory: true})" >
                  <Image dock="top" src="~/assets/images/paybills.png"/>
                  <Label dock="bottom" text="Pay Bills" textWrap="true" class="dashboardLbl" />
                </DockLayout>
                <DockLayout width="30%" height="100%" JustifyContent="center" @tap="$navigateTo(MMFT, {clearHistory: true})" >
                  <Image dock="top"  src="~/assets/images/paybills.png"/>
                  <Label dock="bottom" text="Fund Transfer" textWrap="true" class="dashboardLbl"/>
                </DockLayout>
                <DockLayout width="30%" height="100%" JustifyContent="center" @tap="$navigateTo(MMS, {clearHistory: true})" >
                  <Image dock="top" src="~/assets/images/paybills.png"/>
                  <Label dock="bottom" text="Shop" textWrap="true" class="dashboardLbl" />
                </DockLayout>
              </FlexboxLayout>
            </DockLayout>
          </StackLayout>
        </ScrollView>

    </Page>
</template>

<script>
import Toast from "nativescript-toast";
import { topmost } from "tns-core-modules/ui/frame";
var orientation = require("nativescript-orientation");

import dashboard from "../Dashboard"
import mmfundtransfer from "../MyMoney/my_money_fund_transfer.vue"
import mmlogin from "../MyMoney/my_money_login.vue"
import mmpaybills from "../MyMoney/my_money_paybills.vue"
import mmshop from "../MyMoney/my_money_shop.vue"

export default {
  data() {
    return {
      DB: dashboard,
      // MMDB: mmdashboard,
      MMFT: mmfundtransfer,
      MML: mmlogin,
      MMPB: mmpaybills,
      MMS: mmshop,
    };
  },
  created() {
    this.welcome();
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.MML, {clearHistory: true})
      };
    },
    welcome() {
      const sinoKa = localStorage.getItem("EmpID");
      Toast.makeText("Welcome " + sinoKa, "long").show();
    }
  }
};
</script>



<style scoped>
.Page {
  background-color: #002851;
  color: white;
}
ActionBar {
  background-color: #f1c40f;
}
.peso {
  background-image: url("~/assets/images/peso.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 10% 70%;
}
TextField {
  background-color: white;
  color: black;
}
.dashboardLbl {
  text-align: center;
}
</style>
