<template>
  <Page backgroundColor="#002851" @loaded='backbtn();loadmo()'>
		<ActionBar title="Schedule Request" color="#002851" flat="true" backgroundColor='#f1c40f'>
			<NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(DTR, {clearHistory: true})" />
		</ActionBar>
		<GridLayout rows="auto,*" columns="auto,*">
			<ScrollView orientation="vertical" row="1" width="100%" id="myScroller" scrollBarIndicatorVisible="false">
				<StackLayout orientation="vertical">
					<FlexboxLayout flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" >
						
						<Label fontSize='14' text="Select the schedule" color="white" fontWeight="700" padding="5" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
						
						<StackLayout orientation="horizontal" margin="10">
							<CheckBox @tap="selectSched('First')" boxType="circle" id="d1" isUserInteractionEnabled='true' fillColor="#f1c40f" onTintColor="#f1c40f" onCheckColor="#003366"  
								checked="true"/>

								<TextField 
									height="40"
									width="35%"
									fontSize="14" 
									borderRadius="3" 
									borderWidth="1" 
									@focus="textfieldfocus"
									@blur="textfieldblur"
									class="drop"
									color="#f1c40f"
									marginRight='5'
									backgroundColor="white"
									editable="false"
									
									paddingLeft="5"  
									:isEnabled='MDYEnabled'
									:opacity="MDY" 
									v-bind:hint="this.selectedMonth"
									@tap="listSched('Month')"/>

								<TextField
									height="40" 
									width="30%"
									fontSize="14" 
									borderRadius="3" 
									borderWidth="1" 
									@focus="textfieldfocus"
									@blur="textfieldblur"
									class="drop"
									color="#f1c40f"
									marginRight='5'
									backgroundColor="white"
									editable="false"
									
									paddingLeft="5" 
									:isEnabled='MDYEnabled'
									:opacity="MDY" 
									v-bind:hint="this.selectedCutoff"
									@tap="listSched('Day')"/>
									

								<TextField 
									height="40" 
									width="35%"
									fontSize="14" 
									borderRadius="3" 
									borderWidth="1" 
									@focus="textfieldfocus"
									@blur="textfieldblur"
									class="drop"
									color="#f1c40f"
									marginRight='5' 
									backgroundColor="white"
									editable="false"
									
									paddingLeft="5" 
									:isEnabled='MDYEnabled'
									:opacity="MDY" 
									v-bind:hint="this.selectedYear"
									@tap="listSched('Year')"/>
							
						</StackLayout>
						
						<StackLayout orientation="horizontal" margin="10">
							<CheckBox @tap="selectSched('Second')" boxType="circle" id="d2" isUserInteractionEnabled='true'  verticalAlignment="center" fillColor="#f1c40f" onTintColor="#f1c40f" onCheckColor="#003366"  checked="false"/>
							
							<TextField
								horizontalAlignment="right"
								height="40"
								width="45%"
								fontSize="14" 
								borderRadius="3" 
								borderWidth="1" 
								@focus="textfieldfocus"
								@blur="textfieldblur"
								class="calendar"
								color="#f1c40f"
								marginRight='5' 
								editable="false"
								backgroundColor="white"
								
								paddingLeft="5" 
								:opacity="FROMTO"
								:isEnabled='FROMTOEnabled'
								v-bind:hint="this.selectedFirstDate"
								@tap="firstDate"/>
							
							<TextField
								horizontalAlignment="stretch"
								height="40"
								width="55%"
								fontSize="14" 
								borderRadius="3" 
								borderWidth="1" 
								@focus="textfieldfocus"
								@blur="textfieldblur"
								class="calendar"
								color="#f1c40f"
								marginRight='5' 
								editable="false"
								backgroundColor="white"
								
								paddingLeft="5" 
								:opacity="FROMTO"
								:isEnabled='FROMTOEnabled'
								v-bind:hint="this.selectedSecondDate"
								@tap="secondDate"/>

						</StackLayout>
						<StackLayout marginRight="10" marginTop="10" marginBottom="10">
							<Button @tap="search" borderRadius="3" height="40" width="40" class="search" backgroundColor="#f1c40f" horizontalAlignment="right"/>
						</StackLayout>
					</FlexboxLayout>

					<StackLayout minHeight="200" backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" >
            <Label fontSize='14' text="Schedule View" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
            <StackLayout orientation="vertical">
              <FlexboxLayout>
                          <Label paddingLeft="5%" fontSize='12' paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Date" width="20%" marginRight="1" textWrap="true"  backgroundColor="#2d5176"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' color="white"  text="Day"  textWrap="true" width="10%" marginRight="1" backgroundColor="#2d5176"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' color="white"  text="S.T"  textWrap="true" width="10%" marginRight="1" backgroundColor="#2d5176"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' color="white"  text="Shift"  textWrap="true" width="10%" marginRight="1" backgroundColor="#2d5176"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' color="white"  text="Start"  textWrap="true" width="15%" marginRight="1" backgroundColor="#2d5176"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' color="white"  text="End"  textWrap="true" width="15%" marginRight="1" backgroundColor="#2d5176"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' color="white"  text="Status" marginLeft="1" textWrap="true" width="20%" backgroundColor="#2d5176"></Label>
              </FlexboxLayout>
              <FlexboxLayout backgroundColor="#2d5176" v-for="sched in scheduleRequest" :id='sched.ID' :key="sched['.key']" @tap="selectedRequest(sched.Date,sched.ST,sched.SN,sched.Schedule,sched.Day,$event,sched.Status,sched.SID,sched.StartTime,sched.EndTime)">
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' marginBottom="1" color="white"  width="20%" textWrap="true" marginRight="1"  :text="sched.Date" :backgroundColor="sched.bgColor"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' marginBottom="1" color="white"  width="10%" textWrap="true"  marginRight="1" :text="sched.Day" :backgroundColor="sched.bgColor"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' marginBottom="1" color="white"  width="10%" textWrap="true"  marginRight="1" :text="sched.ST" :backgroundColor="sched.bgColor"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' marginBottom="1" color="white"  width="10%" textWrap="true"  marginRight="1" :text="sched.SN" :backgroundColor="sched.bgColor"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' marginBottom="1" color="white"  width="15%" textWrap="true"  marginRight="1"  :text="sched.StartTime" :backgroundColor="sched.bgColor"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' marginBottom="1" color="white"  width="15%" textWrap="true"  marginRight="1"   :text="sched.EndTime" :backgroundColor="sched.bgColor"></Label>
                          <Label paddingLeft="5%" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize='12' marginBottom="1"  color="white"  marginLeft="1" width="20%" textWrap="true"  :text="sched.Status" :backgroundColor="sched.bgColor"></Label>
              </FlexboxLayout>
            </StackLayout>
					</StackLayout>
					
					<FlexboxLayout flexDirection="column" backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" >
						<StackLayout orientation="horizontal" marginTop="10" marginBottom="10" horizontalAlignment="right">
							<Button @tap="cancelModal" borderRadius="3" :isEnabled="cancelEnabled" marginRight="10" height="40" width="40" class="minus" horizontalAlignment="right" backgroundColor="#f1c40f" :opacity="opaCancel"/>
							<Button @tap="deleteModal" :isEnabled="deleteModalEnabled" borderRadius="3" marginRight="10" height="40" width="40" class="delete" horizontalAlignment="right"  backgroundColor="#f1c40f" :opacity="opaDelete"/>
							<Button @tap="requestModal" :isEnabled="requestModalEnabled" borderRadius="3" marginRight="10" height="40" width="40" class="plus" horizontalAlignment="right"  backgroundColor="#f1c40f" :opacity="opaRequest"/>
						</StackLayout>
				 </FlexboxLayout>	

				</StackLayout>
			</ScrollView>
			<StackLayout row='1' :visibility="luding" isUserInteractionEnabled='false' />
      <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center"
        opacity='0.6' borderRadius='6' backgroundColor='black' height="50" width="50">
        <ActivityIndicator busy="true" color="white" height="100%" width="100%" verticalAlignment="center" />
			</StackLayout>
			<StackLayout row='1' :visibility="luding2" isUserInteractionEnabled='false' />
      <StackLayout :visibility="luding2" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center"
        opacity='0.6' borderRadius='6' backgroundColor='black' height="50" width="50">
        <ActivityIndicator busy="true" color="white" height="100%" width="100%" verticalAlignment="center" />
      </StackLayout>
		</GridLayout>
	</Page>
</template>
<script>
		import Toast from "nativescript-toast";
		// import { Frame.topmost } from "ui/frame";
		const Frame = require("tns-core-modules/ui/frame").Frame;
		var orientation = require("nativescript-orientation");
		import * as http from 'tns-core-modules/http';
		var moment = require('moment')
		const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;   
		const picker = new ModalPicker();			
		import DTR from "../Timekeeping/Timekeepingv2.vue"
	
		export default {
			data() {
				return {
					deleteModalEnabled: false,
					requestModalEnabled: false,
					cancelEnabled: false,
					opaDelete: '0.3',
					opaRequest: '0.3',
					opaCancel: '0.3',
					luding: 'visible',
					luding2: 'collapse',
					DTR: DTR,
					FROMTOEnabled: false,
					FROMTO: '0.3',
					MDYEnabled: true,
					MDY: '1',
					MONTHLIST: [],
					selectedMonth: '',
					selectedYear: '',
					currentDay: '',
					selectedschedDate: '',
					selectedMonthID: '',
					modMonth: '',
					selectedCutoff: '',
					tkdays: [],
					YEARLIST: ["2017","2018","2019","2020","2021","2022","2023"],
					selectedYear: '',
					enddate: '',
					cutoffend: '',
					cutoffstart:'',
					selectedSecondDate: '',
					selectedFirstDate: '',
					scheduleRequest: [],
					reqDate: '',
					SchedT: '',
					ShiftN: '',
					sched: '',
					Day: '',
					THsettings: '',
					IDsettings: '',
					dateLen: '' ,
					SeriesID: '',
					TKSETTINGS: '',
					CONDITION1: '',
					CONDITION2: '',
					CONDITION3: '',
					CONDITION4: '',
					START: '',
					END: '',
					PreviousDate: '',
					NextDate: '',
					NEWCONDITION1: '',
					NEWCONDITION2: '',
					NEWCONDITION3: '',
					NEWCONDITION4: ''
				}
			},
			created: function () {  
				this.getCurrent();
			},
			methods: {
				firstDate() {
						picker.pickDate({
						title: "Select Date",
						theme: "dark",
						}).then((result) => {
						
						if (result.year !== undefined)
						{
							var m = result.month < 10 ? '0' + result.month : result.month
							var d = result.day < 10 ? '0' + result.day : result.day
							this.selectedFirstDate =  moment(result.year + "-" + m + "-" + d).format("YYYY-MM-DD")
							this.selectedSecondDate = 'To'
						}

						}).catch((error) => {
						console.log("Error: " + error);
						});
				},
				secondDate() {
						picker.pickDate({
							title: "Select Date",
							theme: "dark",
							minDate:new Date(this.selectedFirstDate)
						}).then((result) => {
						if (result.year !== undefined)
						{
							var m = result.month < 10 ? '0' + result.month : result.month
							var d = result.day < 10 ? '0' + result.day : result.day
							this.selectedSecondDate =  moment(result.year + "-" + m + "-" + d).format("YYYY-MM-DD")
						}

						}).catch((error) => {
							console.log("Error: " + error);
						});
				},    
				search(){
					this.luding2 = 'visible'
					this.scheduleRequest = []
					var today = new Date();
					var dd = today.getDate();
					var mm = today.getMonth() + 1;
					var yyyy = today.getFullYear();
					if (dd < 10) {
						dd = "0" + dd;
					}
					if (mm < 10) {
						mm = "0" + mm;
								}
								var lastDay = new Date(this.selectedYear, this.selectedMonthID, 0);
								var officialLastDay = moment(lastDay).format("DD")
								var sp = this.selectedCutoff.split('-')
								var eom = sp[1].toLowerCase() === 'eom' || sp[1].toLowerCase() === 'end of month' ? lastDay.getDate() : sp[1]
								if(sp[0] > sp[1]){
						var selectedMonthID = this.selectedMonthID === 1 ? 12 : this.selectedMonthID - 1
						var selectedYear = selectedMonthID === 12 ? this.selectedYear - 1 : this.selectedYear
						this.cutoffstart = (selectedYear +'-'+(selectedMonthID < 10 ? "0" + selectedMonthID : selectedMonthID)+'-'+sp[0])
						var selid = selectedMonthID == 12 ? 1: selectedMonthID + 1
						this.cutoffend = (this.selectedYear +'-'+(selid < 10 ? "0" + selid : selid)+'-'+sp[1])
								}
					else {
						this.cutoffstart = (this.selectedYear +'-'+this.selectedMonthID+'-'+sp[0])
						if (sp[1].toLowerCase() === 'eom' || sp[1].toLowerCase() === 'end of month'){
						this.cutoffend = (this.selectedYear +'-'+this.selectedMonthID+'-'+lastDay.getDate())
						}
						else {
						this.cutoffend = (this.selectedYear +'-'+this.selectedMonthID+'-'+sp[1])
						}
								}
								
								if(this.MDYEnabled === true) {
								
									http.request({
									url: localStorage.getItem('URL') + "GetScheduleRequest",
									method: "POST",
									headers: { "Content-Type": "application/json" },
									content: JSON.stringify({
										CN: localStorage.getItem("ClientName"),
										EMPID: localStorage.getItem("EmpID"),
										Start_Date : this.cutoffstart,
										End_Date: this.cutoffend
										})
									}).then((response) => {
										if(response.content.toJSON().ListScheduleView !== null){
											var o = 0 
											for(var i = 0; i < response.content.toJSON().ListScheduleView.length; i++ ){  
												var splt = response.content.toJSON().ListScheduleView[i].Schedule.split('-')
												this.scheduleRequest.push({
													DateReq: response.content.toJSON().ListScheduleView[i].SchedDate,
													Date: response.content.toJSON().ListScheduleView[i].SchedDate,
													Day: response.content.toJSON().ListScheduleView[i].dow,
													ST: response.content.toJSON().ListScheduleView[i].ScheduleType,
													SN: response.content.toJSON().ListScheduleView[i].ShiftNum,
													StartTime: splt.length == 1 ? response.content.toJSON().ListScheduleView[i].Schedule :  splt[0].trim(),
													EndTime: splt.length == 1 ? response.content.toJSON().ListScheduleView[i].Schedule :  splt[1].trim(),
													Status: response.content.toJSON().ListScheduleView[i].SchedStatus,
													Schedule: response.content.toJSON().ListScheduleView[i].Schedule,
													SID: response.content.toJSON().ListScheduleView[i].TempID,
													ID: o,
													bgColor: '#003366'
												})
												o+=1
											}
										}
										this.requestModalEnabled = false
										this.opaRequest = '0.3'
										this.opaDelete = '0.3'
										this.deleteModalEnabled = false
										this.cancelEnabled = false
										this.opaCancel = '0.3'
										this.luding2 = 'collapse'
									})
									var selectedselectedDate = this.scheduleRequest.filter(res => res.DateReq === this.reqDate)
									this.dateLen = selectedselectedDate.length
								}	
								else{
									
									if(this.selectedFirstDate !== 'From' && this.selectedSecondDate !== 'To'){
										http.request({
										url: localStorage.getItem('URL') + "GetScheduleRequest",
										method: "POST",
										headers: { "Content-Type": "application/json" },
										content: JSON.stringify({
											CN: localStorage.getItem("ClientName"),
											EMPID: localStorage.getItem("EmpID"),
											Start_Date : this.selectedFirstDate,
											End_Date: this.selectedSecondDate
											})
										}).then((response) => {
											if(response.content.toJSON().ListScheduleView !== null){
												var o = 0 
												for(var i = 0; i < response.content.toJSON().ListScheduleView.length; i++ ){  
													var splt = response.content.toJSON().ListScheduleView[i].Schedule.split('-')
													this.scheduleRequest.push({
														DateReq: response.content.toJSON().ListScheduleView[i].SchedDate,
														Date: response.content.toJSON().ListScheduleView[i].SchedDate,
														Day: response.content.toJSON().ListScheduleView[i].dow,
														ST: response.content.toJSON().ListScheduleView[i].ScheduleType,
														SN: response.content.toJSON().ListScheduleView[i].ShiftNum,
														StartTime: splt.length == 1 ? response.content.toJSON().ListScheduleView[i].Schedule :  splt[0].trim(),
														EndTime: splt.length == 1 ? response.content.toJSON().ListScheduleView[i].Schedule :  splt[1].trim(),
														Status: response.content.toJSON().ListScheduleView[i].SchedStatus,
														Schedule: response.content.toJSON().ListScheduleView[i].Schedule,
														SID: response.content.toJSON().ListScheduleView[i].TempID,
														ID: o,
														bgColor: '#003366'
													})
													o+=1
												}
												
											}
											this.requestModalEnabled = false
										this.opaRequest = '0.3'
										this.opaDelete = '0.3'
										this.deleteModalEnabled = false
										this.cancelEnabled = false
										this.opaCancel = '0.3'
											this.luding2 = 'collapse'
										})
									}
									var selectedDate = this.scheduleRequest.filter(res => res.DateReq === this.reqDate)
									this.dateLen = selectedDate.length
								}
				},
				lopplist(){
					var a = 3
					for (var i = 0; i < a ; i++){
						this.scheduleRequest.push({
							EMPID: localStorage.getItem("EmpID")[i],
							REQUESTDATE: this.reqDate[i],
							SCHEDULETYPE: this.SchedT[i],
							SHIFTTYPE: this.ShiftN[i],
							SHIFTVAL: this.shift1from + this.shift1to,
              MCSCHEDID: '5',
              ISDELETED: '0',
              SCHEDSTATUS: 'Pending'
						})
					}
				},
				selectedRequest(reqDate,ST,SN,sched,Day,e,Stat,SID,Start,End){
				console.log("This is the Day"+Day)
					this.reqDate = reqDate
					this.SchedT = ST
					this.ShiftN = SN
					this.sched = sched
					if (Day === 'Mon'){
						this.Day = 'Monday'
					}
					else if (Day === 'Tue'){
						this.Day = 'Tuesday'
					}
					else if (Day === 'Wed'){
						this.Day = 'Wednesday'
					}
					else if (Day === 'Thu'){
						this.Day = 'Thursday'
					}
					else if (Day === 'Fri'){
						this.Day = 'Friday'
					}
					else if (Day === 'Sat'){
						this.Day = 'Saturday'
					}
					else{
						this.Day = 'Sunday'
					}
					// this.Day = Day === 'Mon' ? 'Monday' : 'Mon' || 
					// 					 Day === 'Tue' ? 'Tuesday' : 'Tue' ||
					// 					 Day === 'Wed' ? 'Wednesday' : 'Wed' ||
					// 					 Day === 'Thu' ? 'Thursday' : 'Thu' ||
					// 					 Day === 'Fri' ? 'Friday' : 'Fri' || 
					// 					 Day === 'Sat' ? 'Saturday' : 'Sat' || 
					// 					 Day === 'Sun' ? 'Sunday' : 'Sun'
					this.SeriesID = SID
					this.START = Start
					this.END = End
					// console.log(reqDate)
					// console.log(this.scheduleRequest)
					// console.log(SN)
					var selectedDate = this.scheduleRequest.filter(res => res.DateReq === this.reqDate)
					this.dateLen = selectedDate.length
					console.log(this.dateLen)

  				// var a = this.ListOfDate.indexOf(reqDate);
					// var get = a + this.ListOfDate[a+1]
					var shift2 = this.scheduleRequest.find(res => res.DateReq === this.reqDate && res.SN === '2') // FIRST GET SHIFT 2 START TIME for SHIFT 1 Condition

					var shift1v1 = this.scheduleRequest.find(res => res.DateReq === this.reqDate && res.SN === '1') // SECOND GET SHIFT 1 END TIME for SHIFT 2 Condition
					
					var shift1v2 = this.scheduleRequest.find(res => res.DateReq === this.reqDate && res.SN === '3') // SECOND GET SHIFT 3 START TIME for SHIFT 2 Condition

					var shift3 = this.scheduleRequest.find(res => res.DateReq === this.reqDate && res.SN === '2') // THIRD GET SHIFT 2 END TIME for SHIFT 3 Condition


					if (shift2 !== undefined){
						this.CONDITION1 = moment(shift2.StartTime, 'hh:mm A').format('HH:mm A')
						console.log("Condition 1: " +this.CONDITION1)
					}
					else{
						this.CONDITION1 = ""
					}

					if (shift1v1 !== undefined){
						this.CONDITION2 = moment(shift1v1.EndTime, 'hh:mm A').format('HH:mm A')
						console.log("Condition 2: " +this.CONDITION2)
					}
					else{
						this.CONDITION2 = ""
					}

					if (shift1v2 !== undefined){
						this.CONDITION3 = moment(shift1v2.StartTime, 'hh:mm A').format('HH:mm A')
						console.log("Condition 3: " + this.CONDITION3)
					}
					else{
						this.CONDITION3 = ""
					}

					if (shift3 !== undefined){
						this.CONDITION4 = moment(shift3.EndTime, 'hh:mm A').format('HH:mm A')
						console.log("Condition 4: " +this.CONDITION4)
					}
					else{
						this.CONDITION4 = ""
					}
				
					for(var o = 0; o < this.scheduleRequest.length;o++)
          {
            var bgColor = this.scheduleRequest.find(res => res.ID === o)
            if(o === e.object.id)
            {
              bgColor.bgColor = '#002851'
            }
            else
            {
              bgColor.bgColor = '#003366'
            }
					}
					http.request({
						url: localStorage.getItem('URL') + "DHRGetPrevNext",
						method: "POST",
						headers: { "Content-Type": "application/json" },
						content: JSON.stringify({
							CN: localStorage.getItem("ClientName"),
							EMPID: localStorage.getItem("EmpID"),
							SELECTEDDATE: reqDate
							})
						}).then((response) => {
							this.PreviousDate = response.content.toJSON()[0].PreviousEndTime
							this.NextDate = response.content.toJSON()[0].NextStartTime
							console.log(this.PreviousDate)
							console.log(this.NextDate)
						})

					if (Stat === "Denied" || Stat === "Cancelled"){
						this.opaCancel = "0.3"
						this.cancelEnabled = false
						this.opaDelete = '0.3' 
						this.deleteModalEnabled = false
						this.opaRequest = '1'
						this.requestModalEnabled = true
					}
					else if (Stat === "Pending"){
						this.opaCancel = "1"
						this.cancelEnabled = true
						this.opaRequest = '0.5'
						this.requestModalEnabled = false
						this.opaDelete = '0.5'
						this.deleteModalEnabled = false
					}
					else if (Stat === "Approved" && sched === "" || ST === ""){
						this.opaDelete = '0.3'
						this.deleteModalEnabled = false
						this.opaCancel = "1"
						this.cancelEnabled = true
						this.opaRequest = '1'
						this.requestModalEnabled = true
					}
					else if (Stat === "Approved"){
						this.opaDelete = '1'
						this.deleteModalEnabled = true
						this.opaCancel = "1"
						this.cancelEnabled = true
						this.opaRequest = '1'
						this.requestModalEnabled = true
					}
					else if (Stat === ""){
						this.opaRequest = '1'
						this.requestModalEnabled = true
						this.opaCancel = "0.5"
						this.cancelEnabled = false
						this.deleteModalEnabled = false
						this.opaCancel = "0.5"
					}
					// this.opaRequest = '1'
					// 	this.requestModalEnabled = true
				},
				cancelModal(){
				// 	confirm({
				// 	title: "Confirmation",
				// 	message: "Are you sure you want to cancel the schedule?",
				// 	okButtonText: "CONFIRM",
				// 	cancelButtonText: "CANCEL",
				// }).then(result => {
				// 	if (result === true){
						http.request({
						url: localStorage.getItem('URL') + "CancelScheduleRequest",
						method: "POST",
						headers: { "Content-Type": "application/json" },
						content: JSON.stringify({
							CN: localStorage.getItem("ClientName"),
							SeriesID: this.SeriesID
							})
						}).then((response) => {
							console.log(response.content.toJSON())
							this.luding = 'visible'
							this.scheduleRequest = []
							this.getschedulerequest()
							this.requestModalEnabled = false
								this.opaRequest = '0.3'
								this.opaDelete = '0.3'
								this.deleteModalEnabled = false
								this.cancelEnabled = false
								this.opaCancel = '0.3'
						})
				// 	}
				// })
				
				},
				deleteModal(){
					confirm({
					title: "Confirmation",
					message: "Are you sure you want to delete the schedule?",
					okButtonText: "CONFIRM",
					cancelButtonText: "CANCEL",
				}).then(result => {
					if (result === true){
						console.log(this.reqDate)
						console.log(this.SchedT)
						console.log(this.ShiftN + ' Shift')
						console.log(this.IDsettings)

						http.request({
						url: localStorage.getItem('URL') + "InsertScheduleRequest",
						method: "POST",
						headers: { "Content-Type": "application/json" },
						content: JSON.stringify({
							CN: localStorage.getItem("ClientName"),
							SCHEDREQUESTLIST: [{
								EMPID: localStorage.getItem("EmpID"),
								REQUESTDATE: this.reqDate,
								SCHEDULETYPE: '--',
								SHIFTTYPE: this.ShiftN + ' Shift',
								SHIFTVAL: '--' + '-' + '--',
								BREAKTYPE: '',
								LUNCH: '',
								FIRSTBREAK: '',
								SECONDBREAK: '',
								ENDBREAK: '',
								MCSCHEDID: this.IDsettings,
								ISDELETED: '0',
								SCHEDSTATUS: 'Pending'
								}]
							})
						}).then((response) => {
							// console.log(response.content.toJSON())
							this.luding = 'visible'
							this.scheduleRequest = []
							this.getschedulerequest()
							this.requestModalEnabled = false
							this.opaRequest = '0.3'
							this.opaDelete = '0.3'
							this.deleteModalEnabled = false
							this.cancelEnabled = false
							this.opaCancel = '0.3'
						})
					}
				})
				},
				getschedulerequest(){
					http.request({
          url: localStorage.getItem('URL') + "GetScheduleRequest",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            CN: localStorage.getItem("ClientName"),
						EMPID: localStorage.getItem("EmpID"),
						Start_Date : this.cutoffstart,
						End_Date: this.cutoffend
            })
          }).then((response) => {
						if(response.content.toJSON().ListScheduleView !== null){
							var o = 0 
							for(var i = 0; i < response.content.toJSON().ListScheduleView.length; i++ ){  
								var splt = response.content.toJSON().ListScheduleView[i].Schedule.split('-')
								this.scheduleRequest.push({
									DateReq: response.content.toJSON().ListScheduleView[i].SchedDate,
									Date: response.content.toJSON().ListScheduleView[i].SchedDate,
									Day: response.content.toJSON().ListScheduleView[i].dow,
									ST: response.content.toJSON().ListScheduleView[i].ScheduleType,
									SN: response.content.toJSON().ListScheduleView[i].ShiftNum,
									StartTime: splt.length == 1 ? response.content.toJSON().ListScheduleView[i].Schedule :  splt[0].trim(),
									EndTime: splt.length == 1 ? response.content.toJSON().ListScheduleView[i].Schedule :  splt[1].trim(),
									Status: response.content.toJSON().ListScheduleView[i].SchedStatus,
									Schedule: response.content.toJSON().ListScheduleView[i].Schedule,
									SID: response.content.toJSON().ListScheduleView[i].TempID,
									ID: o,
									bgColor: '#003366'
								})
								o+=1
							}
						}
						this.luding = 'collapse'
					})
					this.schedSettings()
				},
				requestModal(){
			
						if (this.TKSETTINGS !== null){
							var vm = this
							vm.selectedDate = this.reqDate + " " + this.Day 
							vm.Working = this.SchedT
							vm.selectedSN = this.ShiftN
							vm.selectedSched = this.sched
							vm.StartT = this.START
							vm.EndT = this.END
							console.log(this.IDsettings)
							this.$showModal({template: `
								<Page>
											<StackLayout orientation="vertical" width="100%" >
												<Label text="Request Schedule" fontSize="14" padding="15" backgroundColor="#002851" textAlignment="center" color="white" verticalAlignment="center"/>
												<StackLayout orientation="horizontal" margin="10" width="100%">
													<StackLayout width="40%" marginLeft="10">
														<Label text="Request Date:" fontSize="14" color="black" />
													</StackLayout>
													<StackLayout width="60%">
														<Label :text="this.DisplayselectedDate" fontSize="14" color="black"/>
													</StackLayout>
												</StackLayout>

												<StackLayout orientation="horizontal" width="100%" marginTop="5"> 
													<Label text="Current Schedule" fontSize="14" color="black" fontWeight="500" marginLeft="10"/>
												</StackLayout>
												
												<StackLayout orientation="horizontal" margin="5" width="100%">
													<StackLayout width="40%" marginLeft="10">
														<Label text="Schedule Type:" fontSize="14" color="black" />
													</StackLayout>
													<StackLayout width="60%">
														<Label :text="this.DisplayselectedST" fontSize="14" color="black" />
													</StackLayout>
												</StackLayout>

												<StackLayout orientation="horizontal" margin="5" width="100%">
													<StackLayout width="40%" marginLeft="10">
														<Label text="Shift:" fontSize="14" color="black" />
													</StackLayout>
													<StackLayout width="60%">
														<Label :text="this.DisplayselectedSN" fontSize="14" color="black" />
													</StackLayout>
												</StackLayout>

												<StackLayout orientation="horizontal" margin="5" width="100%">
													<StackLayout width="40%" marginLeft="10">
														<Label text="Schedule:" fontSize="14" color="black" />
													</StackLayout>
													<StackLayout width="60%">
														<Label :text="this.DisplayselectedSched" fontSize="14" color="black" />
													</StackLayout>
												</StackLayout>

												<StackLayout orientation="horizontal" width="100%" marginTop="10"> 
													<Label text="Requested Schedule" fontSize="14" color="black" fontWeight="500" marginLeft="10"/>
												</StackLayout>

												<StackLayout orientation="horizontal" margin="5" width="100%">
													<StackLayout width="35%" marginLeft="10" marginTop="10">
														<Label text="Schedule Type: " fontSize="14" color="black" />
													</StackLayout>
													<StackLayout width="65%">
														<TextField height="40" width="90%" borderRadius="3" borderWidth="1" style="
															background-image: url('~/assets/images/ic_dropdown.png');
															background-repeat: no-repeat;
															background-position: 97% 50%;
															background-size: 50 50;" 
															@tap="showSchedType"
															v-model="schedtype"
															fontSize="14"
															editable="false"/>
													</StackLayout>
												</StackLayout>

												<StackLayout orientation="horizontal" margin="5" width="100%">
													<StackLayout width="35%" marginLeft="10" marginTop="10">
														<Label text="Select Shift: " fontSize="14" color="black" />
													</StackLayout>
													<StackLayout width="65%">
														<TextField height="40" width="90%" borderRadius="3" borderWidth="1" style="
															background-image: url('~/assets/images/ic_dropdown.png');
															background-repeat: no-repeat;
															background-position: 97% 50%;
															background-size: 50 50;" 
															@tap="showShiftNum"
															v-model="shiftnum"
															fontSize="14"
															editable="false"
															:isEnabled="isShift"
															:opacity="opaShift"/>
													</StackLayout>
												</StackLayout>

												<StackLayout orientation="horizontal" margin="5" width="100%" :visibility="shift1">
													<StackLayout width="35%" marginLeft="10" marginTop="10">
														<Label text="Shift 1: " fontSize="14" color="black" />
													</StackLayout>
													<StackLayout orientation="horizontal" marginLeft="10">
														<TextField height="40" width="45%" borderRadius="3" borderWidth="1" style="
															background-image: url('~/assets/images/ic_time.png');
															background-repeat: no-repeat;
															background-position: 97% 50%;
															background-size: 50 50;" 
															fontSize="14"
															editable="false"
															v-model="shift1from"
															@tap="shiftFromPicker('shift1from')"
															hint="FROM"/>
														<TextField height="40" width="45%" borderRadius="3" borderWidth="1" style="
															background-image: url('~/assets/images/ic_time.png');
															background-repeat: no-repeat;
															background-position: 97% 50%;
															background-size: 50 50;" marginLeft="10"
															fontSize="14"
															editable="false"
															v-model="shift1to"
															@tap="shiftToPicker('shift1to')"
															hint="TO"/>
													</StackLayout>
												</StackLayout>

												<StackLayout orientation="horizontal" margin="5" width="100%" :visibility="shift2">
													<StackLayout width="35%" marginLeft="10" marginTop="10">
														<Label text="Shift 2: " fontSize="14" color="black" />
													</StackLayout>
													<StackLayout orientation="horizontal" marginLeft="10">
														<TextField height="40" width="45%" borderRadius="3" borderWidth="1" style="
															background-image: url('~/assets/images/ic_time.png');
															background-repeat: no-repeat;
															background-position: 97% 50%;
															background-size: 50 50;" 
															fontSize="14"
															editable="false"
															v-model="shift2from"
															@tap="shiftFromPicker('shift2from')"
															hint="FROM"/>
														<TextField height="40" width="45%" borderRadius="3" borderWidth="1" style="
															background-image: url('~/assets/images/ic_time.png');
															background-repeat: no-repeat;
															background-position: 97% 50%;
															background-size: 50 50;" marginLeft="10"
															fontSize="14"
															editable="false"
															v-model="shift2to"
															@tap="shiftToPicker('shift2to')"
															hint="TO"/>
													</StackLayout>
												</StackLayout>

												<StackLayout orientation="horizontal" margin="5" width="100%" :visibility="shift3">
													<StackLayout width="35%" marginLeft="10" marginTop="10">
														<Label text="Shift 3: " fontSize="14" color="black" />
													</StackLayout>
													<StackLayout orientation="horizontal" marginLeft="10">
														<TextField height="40" width="45%" borderRadius="3" borderWidth="1" style="
															background-image: url('~/assets/images/ic_time.png');
															background-repeat: no-repeat;
															background-position: 97% 50%;
															background-size: 50 50;" 
															fontSize="14"
															editable="false"
															v-model="shift3from"
															@tap="shiftFromPicker('shift3from')"
															hint="FROM"/>
														<TextField height="40" width="45%" borderRadius="3" borderWidth="1" style="
															background-image: url('~/assets/images/ic_time.png');
															background-repeat: no-repeat;
															background-position: 97% 50%;
															background-size: 50 50;" marginLeft="10"
															fontSize="14"
															editable="false"
															v-model="shift3to"
															@tap="shiftToPicker('shift3to')"
															hint="TO"/>
													</StackLayout>
												</StackLayout>
												
												<StackLayout orientation="horizontal" horizontalAlignment="right" verticalAlignment="bottom" marginBottom="10" marginTop="20">
													<Button borderRadius="3" marginRight="10" height="30" width="30" 
														horizontalAlignment="right" backgroundColor="#f1c40f" marginRight="2%"
														style="background-image: url('~/assets/images/send_request.png');
														background-repeat: no-repeat;
														background-position: 50% 50%;
														background-size: 50 50;"
														@tap="validationRequest"/> 
													<Button borderRadius="3" marginRight="10" height="30" width="30" 
														horizontalAlignment="right" backgroundColor="#f1c40f" marginRight="2%"
														style="background-image: url('~/assets/images/not_interested.png');
														background-repeat: no-repeat;
														background-position: 50% 50%;
														background-size: 50 50;"
														@tap="modalClose"/> 
												</StackLayout> 

											</StackLayout>
								</Page>`,
								data() {
									return {
										DisplayselectedDate: vm.selectedDate,
										DisplayselectedST: '',
										DisplayselectedSN: vm.selectedSN,
										DisplayselectedSched: vm.selectedSched,
										SCHEDTYPE: ["Working Day", "Rest Day"],
										schedtype: 'Working Day',
										SHIFTNUM: ["1", "2", "3"],
										shiftnum: '1',
										shift1: 'visible',
										shift2: 'collapse',
										shift3: 'collapse',
										shift1from: vm.StartT,
										shift1to: vm.EndT,
										shift2from: vm.StartT,
										shift2to: vm.EndT,
										shift3from: vm.StartT,
										shift3to: vm.EndT,
										shiftList: [],
										shiftto1: false,
										shiftto2: false,
										shiftto3: false,
										luding: 'collapse',
										totalhars: '',
										isShift: true,
										opaShift: '1'
									}
								},
								created: function() {
									
									if (vm.Working === "WD"){
										this.DisplayselectedST = "Working Day"
									}
									else if (vm.Working === "RD"){
										this.DisplayselectedST = "Rest Day"
									}
									else if (vm.Working === "HD"){
										this.DisplayselectedST = "Holiday"
									}
									this.selectedLen()
								},
								methods: {
									selectedLen(){
										if (vm.dateLen === 1){
											this.shiftnum = "1"
											this.shift1 = 'visible'
											this.shift1from = ""
											this.shift2from = ""
											this.shift3from = ""
											this.shift1to = ""
											this.shift2to = ""
											this.shift3to = ""
										}
										else if (vm.dateLen === 2){
											if (this.DisplayselectedSN === "1"){
												this.shiftnum = "1"
												// this.shift1from = vm.StartT
												// this.shift1to = vm.EndT
												this.shift2 = "collapse"
												this.shift3 = "collapse"
												this.shift1 = 'visible'
												this.isShift = false
												this.opaShift = '0.5'
											}
											else{
												this.shiftnum = "2"
												// this.shift2from = vm.StartT
												// this.shift2to = vm.EndT
												this.shift2 = "visible"
												this.shift3 = "collapse"
												this.shift1 = 'collapse'
												this.isShift = false
												this.opaShift = '0.5'
											}
										
										}
										else{
											if (this.DisplayselectedSN === "1"){
												this.shiftnum = "1"
												this.shift3 = "collapse"
												this.shift2 = 'collapse'
												this.shift1 = 'visible'
												this.isShift = false
												this.opaShift = '0.5'
											}
											else if (this.DisplayselectedSN === "2"){
												this.shiftnum = "2"
												this.shift3 = "collapse"
												this.shift2 = 'visible'
												this.shift1 = 'collapse'
												this.isShift = false
												this.opaShift = '0.5'
											}
											else{
												this.shiftnum = "3"
												this.shift3 = "visible"
												this.shift2 = 'collapse'
												this.shift1 = 'collapse'
												this.isShift = false
												this.opaShift = '0.5'
											}
											
										}
									},
									modalClose() {
										this.$modal.close()
									},
									shiftFromPicker(a){
										this.totalhars = vm.THsettings * 3600000
										if (vm.dateLen === 1){
											if (a === 'shift1from'){
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													
													var time = moment(selectedDateTime).format('hh:mm A') 
													this.shift1from = time
													this.shiftto1 = true
													this.shift1to = (moment(moment(moment(this.shift1from, ["h:mm A"]).format("HH:mm"), "HH:mm") + this.totalhars).format("hh:mm A"))
													
													var splt = moment(this.shift1from, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift1from, "hh:mm A").format("HH:mm A") <= rstShift1){
															Toast.makeText("Start Time should not overlap previous date's end time schedule.").show();
														} 
													}
													console.log(selectedDateTime)
												})
											}
											else if (a === 'shift2from'){
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													console.log(selectedDateTime)
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift2from = time
													this.shiftto2 = true
													if (this.shift2from <= this.shift1to){
														Toast.makeText("Time must not overlap.").show();
														this.shift2from = ""
													}
													
													else if (moment(this.shift2from, "hh:mm A").format("HH:mm A") < moment(this.shift1to, "hh:mm A").format("HH:mm A")){
														Toast.makeText("Shift 2 Start Time must be Less than Shift 1 End Time").show();
													}
													else{
														this.shift2to = (moment(moment(moment(this.shift2from, ["h:mm A"]).format("HH:mm"), "HH:mm") + this.totalhars).format("hh:mm A"))
													}
													var splt = moment(this.shift2from, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift2from, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("Start Time should not overlap previous date's end time schedule.").show();
														} 
													}
													console.log(time)
												})
											}
											else{
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift3from = time
													this.shiftto3 = true
													if (this.shift3from <= this.shift2to){
														Toast.makeText("Time must not overlap.").show();
														this.shift3from = ""
													}
													else if (moment(this.shift3from, "hh:mm A").format("HH:mm A") < moment(this.shift2to, "hh:mm A").format("HH:mm A")){
														Toast.makeText("Shift 3 Start Time must be Less than Shift 3 End Time").show();
													}
													else{
														this.shift3to = (moment(moment(moment(this.shift3from, ["h:mm A"]).format("HH:mm"), "HH:mm") + this.totalhars).format("hh:mm A"))
													}

													var splt = moment(this.shift3from, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift3from, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("Start Time should not overlap previous date's end time schedule.").show();
														} 
													}
													// console.log(time)
												})
											}
										}
										else if (vm.dateLen === 2){
											if (a === 'shift1from'){
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A') 
													this.shift1from = time
													this.shiftto1 = true
													// console.log(selectedDateTime)
													var splt = moment(this.shift1from, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift1from, "hh:mm A").format("HH:mm A") <= rstShift1){
															Toast.makeText("Start Time should not overlap previous date's end time schedule.").show();
															this.shift1from = vm.StartT
														} 
													}
												})
											}
											else if (a === 'shift2from'){
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													console.log(selectedDateTime)
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift2from = time
													this.shiftto2 = true
													var splt = moment(this.shift2from, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift2from, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("Start Time should not overlap previous date's end time schedule.").show();
															this.shift2from = vm.StartT
														} 
													}
													if (moment(this.shift2from, 'hh:mm A').format('HH:mm A') <= vm.CONDITION2){
														Toast.makeText("Time must not overlap.").show();
														this.shift2from = vm.StartT
													}
													console.log(time)
												})
											}
										}
										else{
											if (a === 'shift1from'){
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A') 
													this.shift1from = time
													this.shiftto1 = true
													// console.log(selectedDateTime)
													var splt = moment(this.shift1from, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A')
													
													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift1from, "hh:mm A").format("HH:mm A") <= rstShift1){
															Toast.makeText("Start Time should not overlap previous date's end time schedule.").show();
															this.shift1from = vm.StartT
														} 
													}
												})
											}
											else if (a === 'shift2from'){
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													console.log(selectedDateTime)
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift2from = time
													this.shiftto2 = true
													var splt = moment(this.shift2from, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift2from, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("Start Time should not overlap previous date's end time schedule.").show();
															this.shift2from = vm.StartT
														} 
													}
													if (moment(this.shift2from, 'hh:mm A').format('HH:mm A') <= vm.CONDITION2){
														Toast.makeText("Time must not overlap.").show();
														this.shift2from = vm.StartT
													}
													console.log(time)
												})
											}
											else{
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift3from = time
													this.shiftto3 = true
													var splt = moment(this.shift3from, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.PreviousDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift1from, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("Start Time should not overlap previous date's end time schedule.").show();
															this.shift3from = vm.StartT
														} 
													}
													if (moment(this.shift3from, 'hh:mm A').format('HH:mm A') <= vm.CONDITION4){
														Toast.makeText("Time must not overlap.").show();
														this.shift3from = vm.StartT
													}
													console.log(time)
												})
											}
										}
										
									},
									shiftToPicker(a){
										if (vm.dateLen === 1){
											if (a === 'shift1to'){
												picker.pickTime({
													title: "choose time",
													startingHour: this.shift1to
												}).then(selectedDateTime => {
													
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift1to = time

													var splt = moment(this.shift1to, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift1to, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("End Time should not overlap next date's start time schedule.").show();
														}
													}
												 	if (moment(this.shift1from, "hh:mm A").format("HH:mm A") > moment(this.shift1to, "hh:mm A").format("HH:mm A")){
														Toast.makeText("Shift 1 Start Time must be Greater than Shift 1 End Time").show();
													}
												})
											}
											else if (a === 'shift2to'){
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift2to = time

													var splt = moment(this.shift2to, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift2to, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("End Time should not overlap next date's start time schedule.").show();
														} 
													}
													if (moment(this.shift2from, "hh:mm A").format("HH:mm A") > moment(this.shift2to, "hh:mm A").format("HH:mm A")){
														Toast.makeText("Shift 2 Start Time must be Greater than Shift 2 End Time").show();
													}
													
												})
											}
											else{
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift3to = time
													

													var splt = moment(this.shift3to, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift3to, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("End Time should not overlap next date's start time schedule.").show();
														} 
													}

													if (moment(this.shift3from, "hh:mm A").format("HH:mm A") > moment(this.shift3to, "hh:mm A").format("HH:mm A")){
														Toast.makeText("Shift 3 Start Time must be Greater than Shift 3 End Time").show();
													}
													
												})
											}
										}
										else if (vm.dateLen === 2){
											if (a === 'shift1to'){
												picker.pickTime({
													title: "choose time",
													startingHour: this.shift1to
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift1to = time

													var splt = moment(this.shift1to, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift1to, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("End Time should not overlap next date's start time schedule.").show();
															this.shift1to = vm.EndT
														} 
													}
													if (moment(this.shift1to, 'hh:mm A').format('HH:mm A') >= vm.CONDITION1){
														Toast.makeText("Time must not overlap.").show();
														this.shift1to = vm.EndT
													}
													console.log(time)
												})
											}
											else if (a === 'shift2to'){
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift2to = time

													var splt = moment(this.shift2to, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift2to, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("End Time should not overlap next date's start time schedule.").show();
															this.shift2to = vm.EndT
														} 
													}
													// console.log(time)
												})
											}
										}
										else{
											if (a === 'shift1to'){
												picker.pickTime({
													title: "choose time",
													startingHour: this.shift1to
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift1to = time

													var splt = moment(this.shift1to, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift1to, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("End Time should not overlap next date's start time schedule.").show();
															this.shift1to = vm.EndT
														} 
													}
													if (moment(this.shift1to, 'hh:mm A').format('HH:mm A') >= vm.CONDITION1){
														Toast.makeText("Time must not overlap.").show();
														this.shift1to = vm.EndT
													}
													console.log(time)
												})
											}
											else if (a === 'shift2to'){
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift2to = time

													var splt = moment(this.shift2to, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A')

													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														if ( moment(this.shift2to, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("End Time should not overlap next date's start time schedule.").show();
															this.shift2to = vm.EndT
														} 
													}
													if (moment(this.shift2to, 'hh:mm A').format('HH:mm A') >= vm.CONDITION3){
														Toast.makeText("Time must not overlap.").show();
														this.shift2to = vm.EndT
													}
													console.log(time)
												})
											}
											else{
												picker.pickTime({
													title: "choose time",
												}).then(selectedDateTime => {
													var time = moment(selectedDateTime).format('hh:mm A')
													this.shift3to = time

													var splt = moment(this.shift3to, "hh:mm A").format("HH:mm A").split(" ")
													var spltrstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A').split(" ")
													var rstShift1 = moment(vm.NextDate, 'hh:mm A').format('HH:mm A')
													console.log("Next Date: " + rstShift1)
													console.log("Selected Time: " + this.shift3to)
													if ((splt[1] === "AM" && spltrstShift1[1] === "AM") || (splt[1] === "PM" && spltrstShift1[1] === "PM")){
														console.log("wew123")
														if (moment(this.shift3to, "hh:mm A").format("HH:mm A") >= rstShift1){
															Toast.makeText("End Time should not overlap next date's start time schedule.").show();
															this.shift3to = vm.EndT
														} 
													}
													console.log(time)
												})
											}
										}
										
									},
									showSchedType() {
										action("Choose Schedule Type", "Cancel", this.SCHEDTYPE).then(result => {
											if (result !== "Cancel"){
												this.schedtype = result
											}
										})
									},
									showShiftNum(){
										action("Choose Shift Number", "Cancel", this.SHIFTNUM).then(result => {
											if (result !== "Cancel"){
												this.shiftnum = result
												if (this.shiftnum === "1"){
													this.shift2 = 'collapse'
													this.shift3 = 'collapse'
													this.shift2from = ""
													this.shift2to = ""
												}
												else if (this.shiftnum === "2"){
													this.shift2 = 'visible'
													this.shift3 = 'collapse'
													this.shift3from = ""
													this.shift3to = ""
												}
												else{
													this.shift2 = 'visible'
													this.shift3 = 'visible'
												}
											}
										})
									},
									validationRequest(){
										if (vm.dateLen === 1){
											if (this.shiftnum === "1"){
												if (this.shift1from === "" || this.shift1to === ""){
													Toast.makeText("Kindly input your Shift Time").show(); 
												}
												else{
													
													if (moment(this.shift1from, "hh:mm A").format("HH:mm A") > moment(this.shift1to, "hh:mm A").format("HH:mm A")){
														Toast.makeText("Shift 1 Start Time must be Greater than Shift 1 End Time").show();
													}
													else{
														this.shiftList = [{
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate,
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '1' + ' Shift',
															SHIFTVAL: this.shift1from + '-' + this.shift1to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														}]

														this.sendingRequest()
													}
													
												}
											}
											else if (this.shiftnum === "2"){
												if (this.shift1from === "" || this.shift1to === "" ||
														this.shift2from === "" || this.shift2to === ""){
															Toast.makeText("Kindly input your Shift Time").show(); 
												}
												else{ 
													
													if (moment(this.shift2from, "hh:mm A").format("HH:mm A") > moment(this.shift2to, "hh:mm A").format("HH:mm A")){
														Toast.makeText("Shift 2 Start Time must be Greater than Shift 2 End Time").show();
													}
													else if (moment(this.shift2from, "hh:mm A").format("HH:mm A") < moment(this.shift1to, "hh:mm A").format("HH:mm A")){
														Toast.makeText("Shift 2 Start Time must be Less than Shift 1 End Time").show();
													}
													else{
														this.shiftList = [{
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate, 
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '1' + ' Shift',
															SHIFTVAL: this.shift1from + '-' + this.shift1to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														},
														{
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate,
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '2' + ' Shift',
															SHIFTVAL: this.shift2from + '-' + this.shift2to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														}]

														this.sendingRequest()
													}
													
												}
											}
											else{
												if (this.shift1from === "" || this.shift1to === "" || 
													this.shift2from === "" || this.shift2to === "" ||
													this.shift3from === "" || this.shift3to === ""){
															Toast.makeText("Kindly input your Shift Time").show(); 
												}
												else{
													
													if (moment(this.shift3from, "hh:mm A").format("HH:mm A") > moment(this.shift3to, "hh:mm A").format("HH:mm A")){
														Toast.makeText("Shift 3 Start Time must be Greater than Shift 3 End Time").show();
													}
													else if (moment(this.shift3from, "hh:mm A").format("HH:mm A") < moment(this.shift2to, "hh:mm A").format("HH:mm A")){
														Toast.makeText("Shift 3 Start Time must be Less than Shift 2 End Time").show();
													}
													else{
														this.shiftList = [{ 
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate,
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '3' + ' Shift',
															SHIFTVAL:  this.shift3from + '-' + this.shift3to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														},
														{
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate,
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '2' + ' Shift',
															SHIFTVAL: this.shift2from + '-' + this.shift2to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														},
														{
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate,
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '1' + ' Shift',
															SHIFTVAL: this.shift1from + '-' + this.shift1to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														}]

														this.sendingRequest()
													}
													
												}
											}
										}
										else if (vm.dateLen === 2){
											if (this.shiftnum === "1"){
												if (this.shift1from === "" || this.shift1to === ""){
													Toast.makeText("Kindly input your Shift Time").show(); 
												}
												else{
													
													// if (moment(this.shift1to, 'hh:mm A').format('HH:mm A') >= vm.vm.CONDITION1){
													// 	Toast.makeText("Time must not overlap to Shift 2 Start Time.").show();
													// }
													// else{
														this.shiftList = [{
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate,
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '1' + ' Shift',
															SHIFTVAL: this.shift1from + '-' + this.shift1to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														}]

														this.sendingRequest()
													}
												// }
											}
											else if (this.shiftnum === "2"){
												if (this.shift2from === "" || this.shift2to === ""){
													Toast.makeText("Kindly input your Shift Time").show(); 
												}
												else{ 
												
														this.shiftList = [{
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate,
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '2' + ' Shift',
															SHIFTVAL: this.shift2from + '-' + this.shift2to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														}]
														this.sendingRequest()
													}
											}
										}
										else{
											if (this.shiftnum === "1"){
												if (this.shift1from === "" || this.shift1to === ""){
													Toast.makeText("Kindly input your Shift Time").show(); 
												}
												else{
													
												 	if (this.shift1to === vm.EndT && this.shift1from === vm.StartT){
														console.log(vm.StartT)
														console.log(vm.EndT)
														Toast.makeText("no change data").show();
													}
													else{
														this.shiftList = [{
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate,
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '1' + ' Shift',
															SHIFTVAL: this.shift1from + '-' + this.shift1to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														}]

														this.sendingRequest()
													}
													
												}
											}
											else if (this.shiftnum === "2"){
												if (this.shift2from === "" || this.shift2to === ""){
													Toast.makeText("Kindly input your Shift Time").show(); 
												}
												else{ 
													
												
													if (this.shift2to === vm.EndT && this.shift2from === vm.StartT){
														console.log(vm.StartT)
														console.log(vm.EndT)
														Toast.makeText("no change data").show();
													}
													else{
														this.shiftList = [{
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate,
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '2' + ' Shift',
															SHIFTVAL: this.shift2from + '-' + this.shift2to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														}]
														this.sendingRequest()
													}
													
												}
											}
											else{
												if (this.shift3from === "" || this.shift3to === ""){
													Toast.makeText("Kindly input your Shift Time").show(); 
												}
												else{
													
													if (this.shift3to === vm.EndT && this.shift3from === vm.StartT){
														console.log(vm.StartT)
														console.log(vm.EndT)
														Toast.makeText("no change data").show();
													}
													else{
														this.shiftList = [{ 
															EMPID: localStorage.getItem("EmpID"),
															REQUESTDATE: vm.reqDate,
															SCHEDULETYPE: this.schedtype,
															SHIFTTYPE: '3' + ' Shift',
															SHIFTVAL:  this.shift3from + '-' + this.shift3to,
															BREAKTYPE: '',
															LUNCH: '',
															FIRSTBREAK: '',
															SECONDBREAK: '',
															ENDBREAK: '',
															MCSCHEDID: vm.IDsettings,
															ISDELETED: '0',
															SCHEDSTATUS: 'Pending'
														}]
														this.sendingRequest()
													}
												}
											}
										}
									},
									sendingRequest(){
											// this.luding = 'visible'
											http.request({
											url: localStorage.getItem('URL') + "InsertScheduleRequest",
											method: "POST",
											headers: { "Content-Type": "application/json" },
											content: JSON.stringify({
												CN: localStorage.getItem("ClientName"),
												SCHEDREQUESTLIST: this.shiftList
												})
											}).then((response) => {
												http.request({
												url: localStorage.getItem("URL") + "DHRGetDHRTOKEN",
												method: "POST",
												headers: { "Content-Type": "application/json" },
												content: JSON.stringify({
													CN: localStorage.getItem("ClientName"),
													EMPID: localStorage.getItem("EmpID")
													})
												}).then(response => {
													http.request({
													url: "https://fcm.googleapis.com/fcm/send",
													method: "POST",
													headers: { Authorization:
														"key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
														"Content-Type": "application/json" },
													content: JSON.stringify({
														notification: {
															body: localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
																" " + "is applying for new schedule request",
															title: "New Schedule Request" },
														to: response.content.toJSON()
														})
													}).then(response => {
														vm.scheduleRequest = []
														vm.getschedulerequest()
														Toast.makeText("Schedule Request successfully").show();
														this.$modal.close();
													})
												})
												// setTimeout(() => {
												//     this.luding='collapse'
														
												// }, 3000);
												
											})	
									},
								}
							})
						}
						else{
							console.log("wew")
							// Toast.makeText("Unable to file schedule request.Please ask assistance from your immediate supervisor").show();
							alert('Unable to file schedule request.Please ask assistance from your immediate supervisor')
						}
					
				
				},
				schedSettings(){
					http.request({
          url: localStorage.getItem('URL') + "TKGetSettings",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
						CN: localStorage.getItem('ClientName'),
            EmpID : localStorage.getItem('EmpID')
            })
          }).then((response) => {
						// console.log(response.content.toJSON())
						this.TKSETTINGS = response.content.toJSON().ListTKGetSettings
						if (response.content.toJSON().ListTKGetSettings !== null){
							this.THsettings = response.content.toJSON().ListTKGetSettings[0].TotalHours
							this.IDsettings = response.content.toJSON().ListTKGetSettings[0].ID
							
						}
						else{
							this.requestModalEnabled = false
							this.opaRequest = '0.3'
							this.opaDelete = '0.3'
							this.deleteModalEnabled = false
							this.cancelEnabled = false
							this.opaCancel = '0.3'
						}
					})
				},
				getCurrent(){
					var today = new Date();
          var dd = today.getDate();
          var mm = today.getMonth() + 1;
          var yyyy = today.getFullYear();
          if (dd < 10) {
            dd = "0" + dd;
          }
          if (mm < 10) {
            mm = "0" + mm;
          }
          
          this.selectedYear = yyyy;
          this.currentDay = yyyy + "-" + mm + "-" + dd;
          this.selectedschedDate = this.currentDay;
          var beforecurrentmonth = yyyy + '-' + (today.getMonth() < 10 ? "0" + today.getMonth() : today.getMonth()) + '-' + dd;
          //console.log(this.currentDay)
          console.log(this.selectedschedDate)
          var lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
          this.enddate = lastDay.getDate();
          // this.selectedMonth =  moment(beforecurrentmonth).format('MMMM') + '-' + moment(this.currentDay).format('MMMM')

          this.selectedMonthID = moment(this.currentDay).format('M')
          this.modMonth = moment(this.currentDay).format('MMMM')

          for(var i = 0 ; i < this.MONTHLIST.length; i++)
          {
            if(this.MONTHLIST[i] === this.selectedMonth)
            {
              this.selectedMonthID = i + 1
            }
          }
            http.request({
            url: localStorage.getItem('URL') + "GetTKDaysv1",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
                CN: localStorage.getItem('ClientName'),
                EmpID : localStorage.getItem('EmpID')
            })
            }).then((response) => {
               for (var i=0; i<response.content.toJSON().TKDAY.length; i++)
               {
                this.tkdays.push(response.content.toJSON().TKDAY[i].TKDays)
               }
               var find_eom = response.content.toJSON().TKDAY.find(res => res.TKDays.toLowerCase().split('-')[1] == 'eom' || res.TKDays.toLowerCase().split('-')[1] == 'end of month')
                if(find_eom == undefined) {
                  this.selectedMonth =  moment(beforecurrentmonth).format('MMMM') + '-' + moment(this.currentDay).format('MMMM')
                  this.MONTHLIST = ["December-January","January-February","February-March", "March-April", "April-May", "May-June","June-July","July-August","August-September","September-October","October-November","November-December"]
                }
                else
                {
                  this.selectedMonth = moment(this.currentDay).format('MMMM')
                  this.MONTHLIST = ["January","February","March", "April", "May", "June","July","August","September","October","November","December"]
                }
               for (var i=0; i<response.content.toJSON().TKDAY.length; i++)
               {
                // this.tkdays.push(response.content.toJSON().TKDAY[i].TKDays)
                var sp = response.content.toJSON().TKDAY[i].TKDays.split('-')
                var eom = sp[1].toLowerCase() === 'eom' || sp[1].toLowerCase() === 'end of month' ? lastDay.getDate() :
                sp[1]
                  if(sp[0] > sp[1])
                  {
                      this.selectedCutoff = response.content.toJSON().TKDAY[i].TKDays

                      var selectedMonthID = this.selectedMonthID === 1 ? 12 : this.selectedMonthID - 1
                      var selectedYear = selectedMonthID === 12 ? this.selectedYear - 1 : this.selectedYear
                      this.cutoffstart = (selectedYear +'-'+(selectedMonthID < 10 ? "0" + selectedMonthID : selectedMonthID)+'-'+sp[0])

                      // this.cutoffstart = (this.selectedYear +'-'+this.selectedMonthID+'-'+sp[0])
                      var selid =  selectedMonthID == 12 ? 1: selectedMonthID + 1

                      // var selid =  today.getMonth() + 2
                      this.cutoffend = (this.selectedYear +'-'+(selid < 10 ? "0" + selid : selid)+'-'+sp[1])
                      console.log(this.cutoffstart)
                      console.log(this.cutoffend)
                      break;
                  }
                  else
                  {
                    if(today.getDate() <= eom)
                    {
                      this.selectedCutoff = response.content.toJSON().TKDAY[i].TKDays
                      this.cutoffstart = (this.selectedYear +'-'+this.selectedMonthID+'-'+sp[0])
                      
                      if (sp[1].toLowerCase() === 'eom' || sp[1].toLowerCase() === 'end of month')
                      {
                        this.cutoffend = (this.selectedYear +'-'+this.selectedMonthID+'-'+lastDay.getDate())
                      }
                      else
                      {
                        this.cutoffend = (this.selectedYear +'-'+this.selectedMonthID+'-'+sp[1])
                      }
                      break;
                      
                    }
                  }

               }
							 this.getschedulerequest();
							this.selectedFirstDate = 'From'
              this.selectedSecondDate = 'To'
					})
				},
				
				listSched(a){
					if(a === 'Month'){
						action("Choose Month", "Cancel", this.MONTHLIST).then(result => {
							if (result !== 'Cancel'){
								this.selectedMonth = result
								for(var i = 0 ; i < this.MONTHLIST.length; i++)
								{
									if(this.MONTHLIST[i] === result)
									{
										this.selectedMonthID = i + 1
									}
								}
							}
						})
					}
					else if (a === 'Day'){
						action("Choose Day", "Cancel", this.tkdays).then(result => {
              if(result !== 'Cancel'){
                this.selectedCutoff = result
              }
            });
					}
					else{
						action("Choose Year", "Cancel", this.YEARLIST).then(result => {
              if(result !== 'Cancel'){
								this.selectedYear = result
							}
            })
					}
				},
				selectSched(a){
					var d1 = Frame.topmost().getViewById('d1');
          			var d2 = Frame.topmost().getViewById('d2');
					if (a === 'First'){
						d2.checked = false
						this.FROMTOEnabled = false
						this.FROMTO = '0.3'
						this.MDYEnabled = true
						this.MDY = '1'
						// alert("mdy" + this.MDYEnabled)
					}
					else if (a === 'Second'){
						d1.checked = false
						this.FROMTOEnabled = true
						this.FROMTO = '1'
						this.MDYEnabled = false
						this.MDY = '0.3'
						// alert("fromto" + this.FROMTOEnabled )
					}
					
				},
				loadmo() {
					orientation.setOrientation("portrait");
					orientation.disableRotation();
				},
				backbtn() {
					var applicationModule = require("application");
					var AndroidApplication = applicationModule.android;
					var activity =
						AndroidApplication.startActivity ||
						AndroidApplication.foregroundActivity ||
						Frame.topmost().android.currentActivity ||
						Frame.topmost().android.activity;
					activity.onBackPressed = () => {
						this.$navigateTo(this.DTR, { clearHistory: true })
					};
				},
			}
		};
	</script> 
	<style scoped>
			.delete {
				background-image: url("~/assets/images/rubbish-bin.png");
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 60% 60%;
			}
			.minus {
				background-image: url("~/assets/images/minus.png");
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 60% 60%;
			}
			.swap {
				background-image: url("~/assets/images/swap2.png");
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 60% 60%;
			}
			.drop {
				background-image: url("~/assets/images/ic_dropdown.png");
				background-repeat: no-repeat;
				background-position: 97% 50%;
				background-size: 50 50;
			}
			.calendar {
				background-image: url("~/assets/images/ic_calendar.png");
				background-repeat: no-repeat;
				background-position: 97% 50%;
				background-size: 50 50;
			}
			.search {
				background-image: url("~/assets/images/search.png");
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 50% 50%;
			}
			
			.plus {
				background: url("~/assets/images/plus.png") no-repeat;
				background-size: 50% 50%;
				background-position: 50% 50%;
			}
			.like {
				background: url("~/assets/images/like-solid.png") no-repeat;
				background-size: 50% 50%;
				background-position: 50% 50%;
			}
			.cut {
				background: url("~/assets/images/cut.png") no-repeat;
				background-size: 50% 50%;
				background-position: 50% 50%;
			}
			button:highlighted {
				animation-name: highlight;
				animation-duration: 2s;
				animation-fill-mode: forwards;
			}
			@keyframes highlight {
				from {
					background-color: rgba(0, 0, 0, 0.6);
				}
				to {
					background-color: black;
				}
			}
			</style>
			