<template>
	<Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
		<ActionBar title="Timekeeping" color="#002851" flat="true" backgroundColor='#f1c40f'>
			<NavigationButton text="Go Back" android.systemIcon="ic_menu_back"
				@tap="$navigateTo(DB, {clearHistory: true})" />
		</ActionBar>
		<GridLayout>
			<ScrollView orientation="vertical">
				<StackLayout orientation="vertical">
					<FlexboxLayout flexDirection="column" backgroundColor="#003366" borderColor="#2d5176" margin="10"
						marginTop="10" marginBottom="0" borderRadius="5" borderWidth="2">
						<GridLayout rows="auto,*" columns="auto,*" @tap="$navigateTo(DTR, {clearHistory: true})">
							<Label fontSize='12' verticalAlignment="center"
								@tap="$navigateTo(DTR, {clearHistory: true})" class="info" text="Daily Time Record"
								color="white" padding="5" paddingLeft="50" paddingTop="15" paddingBottom="15"
								width="100%" borderBottom="1" borderColor="#2d5176" borderBottomWidth="2" />
						</GridLayout>

						<GridLayout v-for="list in timekeepinglist" rows="auto,*" columns="auto,*">
							<Label fontSize='12' verticalAlignment="center" @tap="fnct_route(list.Function)"
								:class="list.Class" :text="list.Name" :visibility="list.Visibility" color="white" padding="5" paddingLeft="50"
								paddingTop="15" paddingBottom="15" width="100%" borderBottom="1" borderColor="#2d5176"
								borderBottomWidth="2" />
						</GridLayout>

					</FlexboxLayout>
				</StackLayout>
			</ScrollView>
			<StackLayout row='1' :visibility="luding" isUserInteractionEnabled='false' />
			<StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center"
				horizontalAlignment="center" opacity='0.6' borderRadius='6' backgroundColor='black' height="50"
				width="50">
				<ActivityIndicator busy="true" color="white" height="100%" width="100%" verticalAlignment="center" />
			</StackLayout>
		</GridLayout>
	</Page>
</template>
<script>
	import Toast from "nativescript-toast";
	import { topmost } from "ui/frame";
	var orientation = require("nativescript-orientation");
	import * as http from "tns-core-modules/http";
	import DTR from "../Timekeeping/Timekeeping.vue"
	import SR from "../Timekeeping/Schedule_Request.vue"
	import dashboard from "../Dashboard.vue"
	export default {
		data() {
			return {
				luding: 'visible',
				DTR: DTR,
				SR: SR,
				DB: dashboard,
				timekeepinglist: []
			};
		},
		created: function () {
			this.timeAccess()
		},
		methods: {
			fnct_route(a) {
				if (a === 'Personal_Timesheet') {
					Toast.makeText("Working on it.", "long").show();
				}
				else if (a === 'Employee_Timesheet') {
					Toast.makeText("Working on it.", "long").show();
				}
				else if (a === 'Schedule_Request') {
					this.$navigateTo(SR)
				}
			},
			timeAccess() {
				console.log("wew")
				http.request({
					url: localStorage.getItem("URL") + "GetAllAccess",
					method: "POST",
					headers: { "Content-Type": "application/json" },
					content: JSON.stringify({
						CN: localStorage.getItem("ClientName"),
						EmpID: localStorage.getItem("EmpID"),
						Function: "Timekeeping"
					})
				}).then(response => {
					console.log(response.content.toJSON().Access)
					if (response.content.toJSON().Access !== null) {
						for (var o = 0; o < response.content.toJSON().Access.length; o++) {
							var param = response.content.toJSON().Access[o].Parameter.toLowerCase()
							if (response.content.toJSON().Access[o].Parameter.toLowerCase() == 'personal timesheet' ||
								response.content.toJSON().Access[o].Parameter.toLowerCase() == 'employee timesheet' ||
								response.content.toJSON().Access[o].Parameter.toLowerCase() == 'schedule request') {
								this.timekeepinglist.push({
									Name: response.content.toJSON().Access[o].Parameter,
									Function: param == 'personal timesheet' ? 'Personal_Timesheet' :
										param == 'employee timesheet' ? 'Employee_Timesheet' :
											'Schedule_Request',
									Class: param == 'timekeeping validation' ? 'personal' :
										param == 'employee timesheet' ? 'info' :
											'sched',
									Visibility: localStorage.getItem("ClientName").toLowerCase() === 'vivere' || 
												localStorage.getItem("ClientName").toLowerCase() === 'ilmdemo2' || 
												localStorage.getItem("ClientName").toLowerCase() === 'ilmdev'  && 
												param == 'schedule request' ? 'visible' : 'collapse'
									
								})
							}

						}
						this.luding = 'collapse'
					}
					else {
						this.luding = 'collapse'
					}
				})
			},
			loadmo() {
				orientation.setOrientation("portrait");
				orientation.disableRotation();
			},
			backbtn() {
				var applicationModule = require("application");
				var AndroidApplication = applicationModule.android;
				var activity =
					AndroidApplication.startActivity ||
					AndroidApplication.foregroundActivity ||
					topmost().android.currentActivity ||
					topmost().android.activity;
				activity.onBackPressed = () => {
					//Your code here
					this.$navigateTo(this.DB, { clearHistory: true })
					// topmost().goBack();
				};
			},
			alert() {
				Toast.makeText("Working on it.", "long").show();
			}
		}
	};
</script>

<style scoped>
	Label {
		font-size: 12px;
	}

	.sched {
		background-image: url("~/assets/images/Schedule.png");
		background-repeat: no-repeat;
		background-position: 5% 50%;
		background-size: 80%;
		padding-right: 10%;
	}

	.info {
		background-image: url("~/assets/images/DTR.png");
		background-repeat: no-repeat;
		background-position: 5% 50%;
		background-size: 80%;
		padding-right: 10%;
	}

	.exit {
		background-image: url("~/assets/images/menu_audit_trail.png");
		background-repeat: no-repeat;
		background-position: 5% 50%;
		background-size: 80%;
		padding-right: 10%;
	}

	.personal {
		background-image: url("~/assets/images/personal.png");
		background-repeat: no-repeat;
		background-position: 5% 50%;
		background-size: 80%;
		padding-right: 10%;
	}
</style>