<template>
	<Page class="page" backgroundColor="#003366" @loaded='backbtn();loadmo()'>
		<ActionBar title="Schedule Approval" flat="true" color="#002851" backgroundColor='#f1c40f'>
			<NavigationButton text="Go Back" :visibility="vloading" backgroundColor="blue" android.systemIcon="ic_menu_back"
				@tap="$navigateTo(TD, {clearHistory: true});schedreqCount" />
		</ActionBar>
		
		<StackLayout orientation="vertical" backgroundColor="#003366" borderColor="#2d5176" margin="10" marginTop="10"
			borderRadius="5" borderWidth="2">
			<Label fontSize="14" text="Schedule Approval" color="white" fontWeight="700" padding="10" paddingLeft="10"
				width="100%" borderBottom="1" borderColor="#2d5176" borderBottomWidth="2" />
			<StackLayout orientation="vertical">
				<FlexboxLayout>
					<Label paddingLeft="10%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white" text="Name"
						textWrap="true" width="20%" marginRight="1" backgroundColor="#2d5176"></Label>
					<Label paddingLeft="10%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white" text="Date"
						textWrap="true" width="20%" marginRight="1" backgroundColor="#2d5176"></Label>
					<Label paddingLeft="10%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white" text="S.T"
						textWrap="true" width="15%" marginRight="1" backgroundColor="#2d5176"></Label>
					<Label paddingLeft="10%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white" text="Shift"
						textWrap="true" width="15%" marginRight="1" backgroundColor="#2d5176"></Label>
					<Label paddingLeft="10%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white" text="From"
						textWrap="true" width="15%" marginRight="1" backgroundColor="#2d5176"></Label>
					<Label paddingLeft="10%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white" text="To"
						textWrap="true" width="15%" marginRight="1" backgroundColor="#2d5176"></Label>
					<StackLayout color="white"  width="10%" backgroundColor="#2d5176">
						<CheckBox id='allchecker' fillColor="#f1c40f" horizontalAlignment="center" :isEnabled="isEnabledCheckall" @tap="clickcheck($event)"/>
					</StackLayout>

				</FlexboxLayout>
				<ScrollView orientation="vertical" height="75%" scrollBarIndicatorVisible="false">
					<StackLayout orientation="vertical">
						<FlexboxLayout backgroundColor="#2d5176" v-for="request in TODOLISTsched" :key="request['.key']" 	@tap="selectRequest(request)">
							<Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"
								textWrap="true" marginBottom="1" width="20%" marginRight="1"
								backgroundColor="#003366"
								:text="request.Name"
							></Label>
							<Label
								paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"
								textWrap="true" marginBottom="1" width="20%" marginRight="1"
								backgroundColor="#003366"
								:text="request.Date"
								></Label>
							<Label
								paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"
								textWrap="true" marginBottom="1" width="15%" marginRight="1"
								backgroundColor="#003366"
								:text="request.ST"></Label>
							<Label
								paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"
								textWrap="true" marginBottom="1" width="15%" marginRight="1"
								backgroundColor="#003366"
								:text="request.Shift"
							></Label>
							<Label
								paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"
								textWrap="true" marginBottom="1" width="15%" marginRight="1"
								backgroundColor="#003366"
								:text="request.From"
								></Label>
							<Label
								paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"
								textWrap="true" marginBottom="1" width="15%" marginRight="1"
								backgroundColor="#003366"
								:text="request.To"
								></Label>
							<StackLayout paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"
								 marginBottom="1" width="10%" backgroundColor="#003366">
								<CheckBox marginTop="10" fillColor="#f1c40f" horizontalAlignment="center"
								:id="request.id" @tap="chkchange($event,request.id)"/>
							</StackLayout>
						</FlexboxLayout>
					
					</StackLayout>
				</ScrollView>
				<StackLayout orientation="horizontal" horizontalAlignment="right" paddingTop="25%">
					<Button borderRadius="3" text="Deny" backgroundColor="#f1c40f" marginRight="10" 
						@tap="deniedModal" height="40" width="auto" textWrap="true" />
					<Button borderRadius="3" text="Approve" backgroundColor="#f1c40f" marginRight="10"
						@tap="approvedModal" height="40" width="auto" textWrap="true" :checked="checker" :value="checker"/>
				</StackLayout>
			</StackLayout>
		</StackLayout>
	</Page>
</template>
<script>
	// import { topmost } from "ui/frame";
	const Frame = require("tns-core-modules/ui/frame").Frame;
	import * as http from "tns-core-modules/http";
	var orientation = require("nativescript-orientation");
	
	import dashboard from "../Dashboard.vue"
	import todo from "../ToDo/ToDo.vue"
export default {
	data() {
		return{
			DB: dashboard,
			TD: todo,
			TODOLISTsched: [],
			checkCount: 0,
			isEnabledCheckall: true,
			validateID: '',
			vloading: 'visible'
		}
	},
	created: function (){
		this.getScheduleApprover()
		
	},
	methods: {
		schedreqCount(){
        http.request({
			url: localStorage.getItem('URL') + "GetTDSchedRequestApprover",
			method: "POST",
			headers: { "Content-Type": "application/json" },
			content: JSON.stringify({
				CN: localStorage.getItem("ClientName"),
				EmpID: localStorage.getItem("EmpID")
				})
			}).then((response) => {
        // console.log(response.content.toJSON().ListTodoScheduleView )
        if (response.content.toJSON().ListTodoScheduleView !== null){
          var reqcount = response.content.toJSON().ListTodoScheduleView.length
					localStorage.setItem("requestcount", reqcount)
					console.log(reqcount)
        }
				else{
					var reqcount = 0
					localStorage.setItem("requestcount", reqcount)
				}
      })
    },
		loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {

        this.$navigateTo(this.TD, {clearHistory: true})
      };
		},
		approved(){
			if(this.TODOLISTsched.length === 0){
				Toast.makeText("No data Available").show();
			}
			else{
				var len = this.TODOLISTsched.length
				for (var i = 0; i < this.TODOLISTsched.length; i++) {
					let checkBox = Frame.topmost().getViewById( "" + this.TODOLISTsched[i].id + "");
					console.log(checkBox)
					if (checkBox.checked == 1) {
						var selctedEmpID = this.TODOLISTsched[i].EMPID;
						console.log(selctedEmpID)
						http.request({
						url: localStorage.getItem("URL") + "TodoApproveDenySchedRequest",
						method: "POST",
						headers: { "Content-Type": "application/json" },
						content: JSON.stringify({
							CN:localStorage.getItem("ClientName"),
							TODOSCHEDREQUESTLIST : [{
								UID: this.TODOLISTsched[i].id,
								STATUSTYPE: "1"}]
							})
						}).then(response => {
							// console.log(response.content.toJSON())
							if(len === i)
							{
								this.TODOLISTsched.splice(0)
								this.getScheduleApprover();
								//localStorage.setItem("requestcount", localStorage.getItem("requestcount") - i)
							
							}
							http.request({
							url: localStorage.getItem("URL") + "DHRGetDHRTOKENV2",
							method: "POST",
							headers: { "Content-Type": "application/json" },
							content: JSON.stringify({
								CN: localStorage.getItem("ClientName"),
								EMPID: selctedEmpID
								})
							}).then(response => {
								http.request({
								url: "https://fcm.googleapis.com/fcm/send",
								method: "POST",
								headers: { Authorization:
									"key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
									"Content-Type": "application/json" },
								content: JSON.stringify({
									notification: {
										body: localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
											" " + "approved your schedule request.",
											title: "Schedule Approval" },
										to: response.content.toJSON()
									})
								}).then(response => {
									this.checkCount = 0;
									console.log(response.content.toJSON());
									Toast.makeText("Successfully approved").show();
								})
							})
						
						})
					}
				}
				Frame.topmost().getViewById("allchecker").checked = false;
				
				this.schedreqCount()
				//this.TODOLISTsched.splice(0);
				
			}
		},	
		denied(){
			if(this.TODOLISTsched.length === 0){
				Toast.makeText("No data Available").show();
			}
			else{
				var len = this.TODOLISTsched.length
				for (var i = 0; i < this.TODOLISTsched.length; i++) {
					let checkBox = Frame.topmost().getViewById( "" + this.TODOLISTsched[i].id + "");
					console.log(checkBox)
					if (checkBox.checked == 1) {
						var selctedEmpID = this.TODOLISTsched[i].EMPID;
						console.log(selctedEmpID)
						http.request({
						url: localStorage.getItem("URL") + "TodoApproveDenySchedRequest",
						method: "POST",
						headers: { "Content-Type": "application/json" },
						content: JSON.stringify({
							CN:localStorage.getItem("ClientName"),
							TODOSCHEDREQUESTLIST : [{
								UID: this.TODOLISTsched[i].id,
								STATUSTYPE: "0"}]
							})
						}).then(response => {
							if(len === i)
							{
								this.TODOLISTsched.splice(0)
								this.getScheduleApprover();
								//localStorage.setItem("requestcount", localStorage.getItem("requestcount") - i)
							
							}
							http.request({
							url: localStorage.getItem("URL") + "DHRGetDHRTOKENV2",
							method: "POST",
							headers: { "Content-Type": "application/json" },
							content: JSON.stringify({
								CN: localStorage.getItem("ClientName"),
								EMPID: selctedEmpID
								})
							}).then(response => {
								http.request({
								url: "https://fcm.googleapis.com/fcm/send",
								method: "POST",
								headers: { Authorization:
									"key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
									"Content-Type": "application/json" },
								content: JSON.stringify({
									notification: {
										body:localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
											" " + "approved your schedule request.",
											title: "Schedule Approval" },
										to: response.content.toJSON()
									})
								}).then(response => {
									this.checkCount = 0;
									console.log(response.content.toJSON());
									Toast.makeText("Successfully denied").show();
								})
							})
							
						})
					}
				}
				Frame.topmost().getViewById("allchecker").checked = false;
				// this.TODOLISTsched = []
				// this.getScheduleApprover()
				this.schedreqCount()
			}
		},
		approvedModal(){
			if(this.checkCount === 0){

			}
			else{
				confirm({
					title: "Confirmation",
					message: "Are you sure you want to approve the schedule?",
					okButtonText: "CONFIRM",
					cancelButtonText: "CANCEL",
				}).then(result => {
					if (result === true){
						this.approved()
					}
				})
			}
		},
		deniedModal(){
			if(this.checkCount === 0){

			}
			else{
				confirm({
					title: "Confirmation",
					message: "Are you sure you want to deny the schedule?",
					okButtonText: "CONFIRM",
					cancelButtonText: "CANCEL",
				}).then(result => {
					if (result === true){
						this.denied()
					}
				})
			}
		},
		selectRequest(a){
			console.log(a)
			var vm = this;
			vm.ReqDate = a.Date + ' ' + a.Day 
			vm.ReqName = a.Name
			vm.CurSchedType = a.CurST
			vm.CurShift = a.CurShift
			vm.CurSched = a.CurFrom + '-' + a.CurTo
			vm.NewSchedType = a.ST
			vm.NewShift = a.Shift
			vm.NewSchedFrom = a.From  
			vm.NewSchedTo = a.To
			vm.RequestType = a.ReqType
			this.$showModal({template: `
				<Page>
					<StackLayout>
						<StackLayout orientation="vertical" width="100%" height="460">
							<Label text="Schedule Details" 
								fontSize="14" 
								paddingTop="20" 
								paddingBottom="20" 
								backgroundColor="#002851" 
								textAlignment="center" 
								color="white" 
								verticalAlignment="center" />
								<ScrollView scrollBarIndicatorVisible="false" orientation="vertical">
              		<StackLayout orientation="vertical">
									
										<StackLayout orientation="horizontal" margin="5" width="100%">
											<StackLayout width="40%" marginLeft="10">
												<Label text="Request Date:" fontSize="14" color="black" />
											</StackLayout>
											<StackLayout width="60%">
												<Label :text="this.DisplayReqDate" fontSize="14" color="black"/>
											</StackLayout>
										</StackLayout>

										<StackLayout orientation="horizontal" margin="5" width="100%">
											<StackLayout width="40%" marginLeft="10">
												<Label text="Employee Name:" fontSize="14" color="black" />
											</StackLayout>
											<StackLayout width="60%">
												<Label :text="this.DisplayReqName" fontSize="14" color="black"/>
											</StackLayout>
										</StackLayout>

										<StackLayout orientation="horizontal" margin="5" width="100%">
											<StackLayout width="40%" marginLeft="10">
												<Label text="Request Type:" fontSize="14" color="black" />
											</StackLayout>
											<StackLayout width="60%">
												<Label :text="this.DisplayReqType" fontSize="14" color="black" />
											</StackLayout>
										</StackLayout>

										<StackLayout orientation="horizontal" width="100%" marginTop="5"> 
											<Label text="Current Schedule" fontSize="14" color="black" fontWeight="500" marginLeft="10"/>
										</StackLayout>

										<StackLayout orientation="horizontal" margin="5" width="100%">
											<StackLayout width="40%" marginLeft="10">
												<Label text="Schedule Type:" fontSize="14" color="black" />
											</StackLayout>
											<StackLayout width="60%">
												<Label :text="this.DisplayCurShiftType" fontSize="14" color="black" />
											</StackLayout>
										</StackLayout>

										<StackLayout orientation="horizontal" margin="5" width="100%">
											<StackLayout width="40%" marginLeft="10">
												<Label text="Shift:" fontSize="14" color="black" />
											</StackLayout>
											<StackLayout width="60%">
												<Label :text="this.DisplayCurShift" fontSize="14" color="black" />
											</StackLayout>
										</StackLayout>

										<StackLayout orientation="horizontal" margin="5" width="100%">
											<StackLayout width="40%" marginLeft="10">
												<Label text="Schedule:" fontSize="14" color="black" />
											</StackLayout>
											<StackLayout width="60%">
												<Label :text="this.DisplayCurSched" fontSize="14" color="black" />
											</StackLayout>
										</StackLayout>

										<StackLayout orientation="horizontal" width="100%" marginTop="10"> 
											<Label text="Requested Schedule" fontSize="14" color="black" fontWeight="500" marginLeft="10"/>
										</StackLayout>

										<StackLayout>
											<StackLayout orientation="horizontal" margin="5" width="100%">
												<StackLayout width="40%" marginLeft="10">
													<Label text="Shift Type:" fontSize="14" color="black" />
												</StackLayout>
												<StackLayout width="60%">
													<Label :text="this.DisplayNewSchedType" fontSize="14" color="black" />
												</StackLayout>
											</StackLayout>

											<StackLayout orientation="horizontal" margin="5" width="100%">
												<StackLayout width="40%" marginLeft="10">
													<Label text="Shift Number:" fontSize="14" color="black" />
												</StackLayout>
												<StackLayout width="60%">
													<Label :text="this.DisplayNewShift" fontSize="14" color="black" />
												</StackLayout>
											</StackLayout>

											<StackLayout orientation="horizontal" margin="5" width="100%">
												<StackLayout width="40%" marginLeft="10">
													<Label text="Start Time:" fontSize="14" color="black" />
												</StackLayout>
												<StackLayout width="60%">
													<Label :text="this.DisplayNewSchedFrom" fontSize="14" color="black" />
												</StackLayout>
											</StackLayout>

											<StackLayout orientation="horizontal" margin="5" width="100%">
												<StackLayout width="40%" marginLeft="10">
													<Label text="End Time:" fontSize="14" color="black" />
												</StackLayout>
												<StackLayout width="60%">
													<Label :text="this.DisplayNewSchedTo" fontSize="14" color="black" />
												</StackLayout>
											</StackLayout>
										</StackLayout>

										<StackLayout width="100%" borderTop="1" borderTopWidth="1" borderColor="#2d5176" paddingTop="15" @tap="close">
											<Label text="OK" fontSize="16" color="black" horizontalAlignment="center" verticalAlignment="bottom"/>
										</StackLayout>
									</StackLayout>
								</ScrollView>
						</StackLayout>
					</StackLayout>
				</Page>
				`,
				data(){
					return{
						DisplayReqDate: vm.ReqDate,
						DisplayReqName: vm.ReqName,
						DisplayCurShiftType: vm.CurSchedType,
						DisplayCurShift: vm.CurShift,
						DisplayCurSched: vm.CurSched,
						DisplayNewSchedType: vm.NewSchedType,
						DisplayNewShift: vm.NewShift,
						DisplayNewSchedFrom: vm.NewSchedFrom,
						DisplayNewSchedTo: vm.NewSchedTo,
						DisplayReqType: vm.RequestType
					}
				},
				methods:{
					close(){
						this.$modal.close()
					},
				}
			})
		},
		
		chkchange(e,a){
			console.log(a)
			var count = 0
				this.checkCount = 0;
				console.log(e.object.checked)
        for (var i = 0;i < this.TODOLISTsched.length; i++){
          if(this.TODOLISTsched[i].id === a)
          {
            if(e.object.checked === false)
            {
              this.TODOLISTsched[i].checked = true
            }
            else
            {
              this.TODOLISTsched[i].checked = false
            }
            
          }
          if(this.TODOLISTsched[i].checked === true)
          {
            count += 1
            this.checkCount += 1
          }
      }
			console.log(count)
        if(count === this.TODOLISTsched.length)
        {
          Frame.topmost().getViewById("allchecker").checked = true
        }
        else
        {
          Frame.topmost().getViewById("allchecker").checked = false
        }
		},
		getScheduleApprover(){
			http.request({
			url: localStorage.getItem('URL') + "GetTDSchedRequestApprover",
			method: "POST",
			headers: { "Content-Type": "application/json" },
			content: JSON.stringify({
				CN: localStorage.getItem("ClientName"),
				EmpID: localStorage.getItem("EmpID")
				})
			}).then((response) => {
				if (response.content.toJSON().ListTodoScheduleView !== null){
					this.TODOLISTsched.splice(0)
					var o = 0 
					for (var i = 0; i < response.content.toJSON().ListTodoScheduleView.length; i++){
						this.TODOLISTsched.push({
							Name: response.content.toJSON().ListTodoScheduleView[i].EMPNAME,
							Date: response.content.toJSON().ListTodoScheduleView[i].REQUESTDATE,
							ST: response.content.toJSON().ListTodoScheduleView[i].NEWSCHEDULETYPE,
							Shift: response.content.toJSON().ListTodoScheduleView[i].NEWSHIFT,
							From: response.content.toJSON().ListTodoScheduleView[i].NEWSTARTTIME,
							To: response.content.toJSON().ListTodoScheduleView[i].NEWENDTIME,
							Day: response.content.toJSON().ListTodoScheduleView[i].DAY,
							CurFrom: response.content.toJSON().ListTodoScheduleView[i].CURRENTSTARTTIME,
							CurTo: response.content.toJSON().ListTodoScheduleView[i].CURRENTENDTIME,
							CurST: response.content.toJSON().ListTodoScheduleView[i].CURRENTSCHEDULETYPE,
							CurShift: response.content.toJSON().ListTodoScheduleView[i].CURRENTSHIFT,
							id: response.content.toJSON().ListTodoScheduleView[i].SERIESID,
							EMPID: response.content.toJSON().ListTodoScheduleView[i].EMPID,
							checker: true,
							ReqType: response.content.toJSON().ListTodoScheduleView[i].NEWSTARTTIME === "" || response.content.toJSON().ListTodoScheduleView[i].NEWSTARTTIME === "- -" ? 'Delete' : 'Schedule'
						})
						o+=1
					}
					
				}
				else{
					// this.TODOLISTsched = []
					this.isEnabledCheckall = false;
				}
				
			})
		},
		clickcheck(event){
			this.checkCount = 0;
      if (this.TODOLISTsched.length  >= 1 ){
        for (var i = 0;i < this.TODOLISTsched.length; i++){
          if(event.object.checked === false)
          {
            Frame.topmost().getViewById(this.TODOLISTsched[i].id).checked = true
            this.TODOLISTsched[i].checked = true
            this.checkCount += 1
          }
          else {
            Frame.topmost().getViewById(this.TODOLISTsched[i].id).checked = false
            this.TODOLISTsched[i].checked = false
          }
        }
      }
      else{
        Toast.makeText("No data Available").show();
      }
		}
	}
}
</script>