<template>
    <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo();safetyChecking();'>
      <ActionBar title="Safety Check" flat="true" color="#002851" backgroundColor='#f1c40f'>
          <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(TD, {clearHistory: true})"/>
      </ActionBar>

      <GridLayout  borderColor="#2d5176" borderWidth="2" borderRadius="5" class="m-10 p-10">
        <ScrollView row='1'>
          <StackLayout orientation="vertical">
              <Label color="white" fontSize="14" :text="QuestionTitle" horizontalAlignment="left" marginBottom="20" textWrap="true"/>
              <CheckBox v-for="(result, index) in Question" :key="result['.key']" 
                @tap="singleSelected(result)" 
                :id="result.checkboxID"
                boxType="circle" fillColor="yellow" :text="result.QuestionDescription" 
                color="white" marginLeft="25" marginBottom="10" :checked="check" textWrap="true"
              />
          </StackLayout>
        </ScrollView>
        <StackLayout row='1' horizontalAlignment="right" verticalAlignment="bottom">
          <Button text="" class="btnsave" marginBottom="15" marginRight="15" backgroundColor="#f1c40f" borderRadius="100" height="60"
          width="60" @tap="submit" />
        </StackLayout>
      </GridLayout>
    </Page>
</template>

<script>
import todo from "../ToDo/ToDo.vue";
import * as http from "tns-core-modules/http";
import Toast from "nativescript-toast";
var moment = require("moment");
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
import * as utils from "tns-core-modules/utils/utils";
var orientation = require("nativescript-orientation");


export default {
  data() {
    return {
      TD: todo,
      scDID: "",
      scName: "",
      scQMID: "",
      QuestionTitle: "",
      Question: "",
      insertscQDID: '',
      scQMID2: [],
      SafetyCheckcounts: ''
    }
  },
  methods: {
     loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.TD, {clearHistory: true});
      };
    },
    submit(){
      if(this.insertscQDID !== ''){
        http.request({  
        url: localStorage.getItem("URL") + "InsertSafetyCheckAnswer",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          CN:localStorage.getItem("ClientName"),
          EmpID:localStorage.getItem("EmpID"),
          scQMID:this.scQMID,
          scQDID:this.insertscQDID
          })
        })
        .then(response => {
            this.insertscQDID = '';
            this.QuestionTitle = '';
            this.Question = '';
            this.safetyChecking()
            Toast.makeText("Sent safety check successful").show();
        });
      }
      else{
       Toast.makeText("kindly select answer").show();
      }
    },
    singleSelected(a) {
      this.insertscQDID = a.scQDID
      console.log(this.insertscQDID)
      for(var o = 0; o<this.Question.length;o++){
        var gabbi =  Frame.topmost().getViewById(this.Question[o].checkboxID)
          if(gabbi.checked === true){
            gabbi.checked = false
          }
        
      }
    },
    safetyChecking(){
      localStorage.setItem('tanong', 'safetychecklist[0].Question')
      http.request({
      url: localStorage.getItem("URL") + "GetSafetyCheck",
      method: "POST",
      headers: { "Content-Type": "application/json" },
      content: JSON.stringify({
        CN:localStorage.getItem("ClientName"),
        EmpID:localStorage.getItem("EmpID")
        })
      }).then(response => {
        // localStorage.setItem("safetycount", response.content.toJSON().getSafetyCheck.length)
        if(response.content.toJSON().getSafetyCheck !== null) {
          var safetychecklist = [];
          var num = 0
            for (var i=0; i<response.content.toJSON().getSafetyCheck.length; i++){
              this.scQMID2.push(response.content.toJSON().getSafetyCheck[i].scQMID);
              var uniqueSafetyCheck = Array.from(new Set(this.scQMID2))
            this.SafetyCheckcounts = uniqueSafetyCheck.length;
            localStorage.setItem("safetycount", this.SafetyCheckcounts)
            //   console.log(response.content.toJSON().getSafetyCheck[i].QuestionDescription);
            // this.Question = response.content.toJSON().getSafetyCheck[i]
            // var cc = safetychecklist[num].Question.length 
          var f = safetychecklist.find(res => res.scQMID === response.content.toJSON().getSafetyCheck[i].scQMID)
          if(f === undefined) {
            safetychecklist.push({
              count: '',
              checkboxID: '',
              hideshow: 'visible',
              scDID: response.content.toJSON().getSafetyCheck[i].scDID,
              scName: response.content.toJSON().getSafetyCheck[i].scName,
              scQMID: response.content.toJSON().getSafetyCheck[i].scQMID,
              QuestionTitle: response.content.toJSON().getSafetyCheck[i].QuestionTitle,
              Question: [{
                count: 0,
                checkboxID: response.content.toJSON().getSafetyCheck[i].scQMID + '-' + 0,
                scQDID: response.content.toJSON().getSafetyCheck[i].scQDID,
                QuestionDescription: response.content.toJSON().getSafetyCheck[i].QuestionDescription,
                scQRID: response.content.toJSON().getSafetyCheck[i].scQDID
              }]
            })
            if(safetychecklist.length > 1) {
              num += 1
            }
          }
          else {
            var cc = safetychecklist[num].Question.length   
            safetychecklist[num].Question.push({
              count: cc,
              checkboxID: response.content.toJSON().getSafetyCheck[i].scQMID + "-" + cc,
              scQDID: response.content.toJSON().getSafetyCheck[i].scQDID,
              QuestionDescription: response.content.toJSON().getSafetyCheck[i].QuestionDescription,
              scQRID: response.content.toJSON().getSafetyCheck[i].scQDID
            })
            var f = safetychecklist.find(res => res.scQMID === response.content.toJSON().getSafetyCheck[i].scQMID)
              // console.log(response.content.toJSON().getSafetyCheck[i].scQMID + "-" + this.safetychecklist[num].Question.length)
            f.count = safetychecklist[num].Question.length
            // f.checkboxID = response.content.toJSON().getSafetyCheck[i].scQMID + "-" + this.safetychecklist[num].Question.length
            }
          }
          console.log(safetychecklist[0].Question)
          this.scDID = safetychecklist[0].scDID
          this.scName = safetychecklist[0].scName
          this.scQMID = safetychecklist[0].scQMID
          this.QuestionTitle = safetychecklist[0].QuestionTitle
          this.Question = safetychecklist[0].Question
                
        }
        else {
          //alert("Safety Check is empty")
        }
        });
      }
  }
}
</script>

<style scoped>
.btnsave {
    background-image: url("~/assets/images/check.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
</style>


