<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'> 
    <ActionBar title="Survey" flat="true" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(TD, {clearHistory: true})"/>
    </ActionBar>
    <StackLayout orientation="vertical"> 
        <Label fontSize="14" text="Survey" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" />
        <StackLayout orientation="horizontal" margin="10">
            <TextField 
            height="40"
            width="65%"
            fontSize="14" 
            borderRadius="3" 
            borderWidth="1" 
            color="black"
            backgroundColor="white"
            borderColor="#f1c40f"
            class="drop"
            editable="false"
            :text="this.selectedSurvey"
            @tap="listview('survey')"
            />
        </StackLayout>
        <Label text="View Description" fontSize="14" textDecoration="underline" height="20" color="white" @tap="alert()" marginLeft="10"/>
        <ScrollView orientation="vertical" height="65%" scrollBarIndicatorVisible="false">
                      <StackLayout orientation="horizontal" padding="5" margin="5" backgroundColor="#002851" v-show="this.show">
                        <StackLayout orientation="vertical">

                          <StackLayout borderColor="#2d5176" borderWidth="2" v-for="result in questions">                         
                            <StackLayout orientation="horizontal">
                              <Label fontSize="14" :text="result.QuestionNum" color="white" fontWeight="700" padding="10" textWrap="true"/>
                              <Label fontSize="14" :text="result.Question" color="white" fontWeight="700" padding="10"  width="100%" textWrap="true"/>
                            </StackLayout> 

                          <!--Single select-->
                          <StackLayout :visibility='result.QuestionType === "Single" ? "visible" : "collapse"' >

                              <CheckBox  v-for="(resulta, index) in result.Choices"  
                              @tap="singleSelected(resulta.Choicedata,$event,index, result.QuestionNum, result.Choices.length)" 
                              :id='result.QuestionNum + "-" + index' boxType="circle" fillColor="#f1c40f" :text="resulta.Choicedata" 
                              color="white" marginLeft="15%"/>

                          </StackLayout>

                           <!--Rate-->
                          <StackLayout :visibility='result.QuestionType === "Rate" ? "visible" : "collapse"'>
                            <StackLayout orientation="horizontal" >
                              <StarRating emptyColor="white" filledColor="#f1c40f" :id='result.QuestionNum' @valueChange='starchange($event)' value="0" max="5" marginLeft="15%"></StarRating>
                            </StackLayout>
                          </StackLayout>
                          
                          <!--yes or no-->
                          <StackLayout :visibility='result.QuestionType === "YesNo" ? "visible" : "collapse"'>
                            <!--<CheckBox boxType="circle" fillColor="#f1c40f" text="Yes" color="white" marginLeft="15%" :checked="yescheck" @tap="ownyes($event)"/>
                            <CheckBox boxType="circle" fillColor="#f1c40f" text="No" color="white" marginLeft="15%" :checked="nocheck" @tap="ownno($event)"/>-->
                            <StackLayout marginLeft='30' marginTop='10' :id='result.QuestionNum + "-" + "Yes" + "-" + result.QuestionNum'>
                              <CheckBox checked='false' onTintColor="#f1c40f" onCheckColor="#003366" fillColor="#f1c40f" 
                              isUserInteractionEnabled='false' :id='result.QuestionNum + "-" + "Yes"' boxType="circle" text="Yes" color="white"
                              @tap='ownyesno($event, result.QuestionNum, "Yes")' />                         
                            </StackLayout>

                            <StackLayout marginLeft='30' marginTop='10'  :id='result.QuestionNum + "-" + "No" + "-" + result.QuestionNum' >  
                              <CheckBox checked='false' onTintColor="#f1c40f" onCheckColor="#003366" fillColor="#f1c40f" 
                              isUserInteractionEnabled='false' :id='result.QuestionNum + "-" + "No"' boxType="circle" text="No" color="white"
                              @tap='ownyesno($event, result.QuestionNum, "No")' />               
                            </StackLayout>

                          </StackLayout>

                          <!--multi select-->
                         <StackLayout :visibility='result.QuestionType === "Multi" ? "visible" : "collapse"' >
                            <CheckBox v-for="resulta in result.Choices" boxType="box" fillColor="#f1c40f" :text="resulta.Choicedata" color="white" marginLeft="15%" @tap="multiSelected(resulta.Choicedata,$event)"/>
                          </StackLayout>

                           <!--Scale-->
                         <StackLayout :visibility='result.QuestionType === "Scale" ? "visible" : "collapse"' >
                            <StackLayout orientation="vertical">
                                <StackLayout orientation="horizontal">
                                  <Label  fontSize="14" :text="result.MinScale" color="white" fontWeight="700" padding="5" marginLeft="8%" marginRight="60%"/>           
                                  <Label  fontSize="14" :text="result.MaxScale" color="white" fontWeight="700" padding="5"/>       
                                </StackLayout>                                
                              <Slider :id='"slide" + result.QuestionNum' :minValue="result.Choices[0].Choicedata" :maxValue="result.Choices[1].Choicedata" marginBottom="10"></Slider>
                           </StackLayout>
                           </StackLayout>

                          <!--textbox-->
                          <StackLayout :visibility='result.QuestionType === "TextBox" ? "visible" : "collapse"' padding="10">
                            <TextView :id='"textb" + result.QuestionNum' style="margin-top: 15px" borderColor="white" borderWidth="1" height="200px" color="white"></TextView>
                          </StackLayout> 
                          </StackLayout> 
                        </StackLayout> 
                      </StackLayout>
        </ScrollView>
        <!--<StackLayout marginLeft="62%" marginBottom="3%">
            <Label fontSize="14" text="View Description" color="white" fontWeight="700" padding="10" width="100%" textDecoration="underline" @tap="alert"/>
        </StackLayout> -->
      <StackLayout horizontalAlignment="right" verticalAlignment="bottom">
        <Button class="btnsave" backgroundColor="#f1c40f" borderRadius="100" height="60"
        width="60" @tap="modal" :isEnabled="this.submitEnabled"  marginRight="15" marginTop="5"/>
      </StackLayout>
    </StackLayout>
  </Page>
</template>
<script>
const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;
const picker = new ModalPicker();
import * as http from "tns-core-modules/http";
import Toast from "nativescript-toast";
var moment = require("moment");
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
import * as utils from "tns-core-modules/utils/utils";
var orientation = require("nativescript-orientation");
import todo from "../ToDo/ToDo.vue"
import ToDoAnswerSurveyVue from "../ToDo/ToDo-Survey.vue"
export default {
  data() {
    return {
      getAllSingle:[],
      getAllMulti:[],
      getAllRate:[],
      getAllTextBox:[],
      getAllYesOrNo:[],
      getAllScale:[],
      listpickerSurvey:[],
      selectedSurvey:'',
      show:true,
      submitEnabled:false,
      category:[],
      questions:[],
      selectedQuestion:[],
      descriptions:'',
      QID:'',
      yesnoAnswer:[],
      yescheck:false,
      nocheck:false,
      starAnswer:[],
      sliderAnswer:[],
      QNo:[],
      QType:[],
      QPrimary:[],
      QAnswers:[],
      singleAnswer:[],
      multipleAnswer:[],
      textviewAnswer:[],
      SingleQno:[],
      SingleQtion:[],
      MultiQno:'',
      MultiQtion:'',
      RateQno:[],
      RateQtion:[],
      TextBoxQno:[],
      TextBoxQtion:[],
      YesNoQno:[],
      YesNoQtion:[],
      ScaleQno:[],
      ScaleQtion:[],
      SurveyIDarr:[],
      SurveyQTYPEyesno:[],
      SurveyQTYPEsingle:[],
      SurveyQTYPErate:[],
      SurveyQTYPEscale:[],
      SurveyQTYPEtb:[],
      TD: todo,
      submitSingle: ''
    };
  },
  created() {
    this.surveyTypes();
  },
  methods: {
    starchange(e) {
      this.starAnswer.push(e.value)
      //console.log(this.starAnswer)
    },
    sliderChange(){
      //console.log(this.getAllScale.length)
      for(var i = 0; i < this.getAllScale.length;i++){
        var slideID = Frame.topmost().getViewById("slide"+ this.getAllScale[i].QuestionNum);
        this.sliderAnswer.push(slideID.value);
      }
      // console.log(e.value)
    },
    textboxChange(){
      //console.log(this.getAllTextBox.length);
      for(var i = 0; i < this.getAllTextBox.length;i++){
        var tbID = Frame.topmost().getViewById("textb"+ this.getAllTextBox[i].QuestionNum);
        //console.log(tbID)
        this.textviewAnswer.push(tbID.text);
      }
      // console.log(e.value)
    },
    singleSelected(data,event,index,a,res){
      console.log(index)
      for(var i = 0; i < res; i++)
      {
        var gabbi = Frame.topmost().getViewById(a + "-" + i)
        //console.log(gabbi.checked)
        if(gabbi.checked === true)
        {
          gabbi.checked = false
        }
      }
      this.submitSingle = a + "-" + i
      this.singleAnswer.push(index)
      console.log(this.submitSingle)
      if(this.singleAnswer.length !== 0){
        this.QAnswers.push(this.singleAnswer)
      }
    },
    multiSelected(data,event){
      this.multipleAnswer.push(data)
      if(this.multipleAnswer.length !== 0){
         this.QAnswers.push(this.multipleAnswer)
      }
      //console.log(this.multipleAnswer)
    },
    ownyesno(event, qnum, id){
       if(id === "Yes")
        {
          event.object.isUserInteractionEnabled = false
          var dd = Frame.topmost().getViewById(qnum + "-" + id)
          var ddd = Frame.topmost().getViewById(qnum + "-" + 'No')
          var eee = Frame.topmost().getViewById(qnum + "-" + 'No' + "-" +qnum)
          dd.checked =true
          ddd.checked=false
          eee.isUserInteractionEnabled = true
        }
        else
        {
          event.object.isUserInteractionEnabled = false
          var dd = Frame.topmost().getViewById(qnum + "-" + id)
          var ddd = Frame.topmost().getViewById(qnum + "-" + 'Yes')
          var eee = Frame.topmost().getViewById(qnum + "-" + 'Yes' + "-" +qnum)
          dd.checked = true
          ddd.checked= false
          eee.isUserInteractionEnabled = true
        }
        this.yesnoAnswer.push(id)
    },
    surveyTypes(){
          http.request({
              url: localStorage.getItem("URL") + "GetSurveyv2",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem("ClientName"),
                LoginID: localStorage.getItem("EmpID")
              })
            })
            .then(response => {
              this.category = response.content.toJSON().Survey;
              for(var i = 0; i < response.content.toJSON().Survey.length; i++ ){
                 this.listpickerSurvey.push(response.content.toJSON().Survey[i].SurveyTitle)
               }           
            });
    },
    clearAllData(){
          this.questions = [];
          this.QNo = [];
          this.QType = [];
          this.QPrimary = [];
          this.QAnswers = [];

          this.SingleQno = []
          this.SingleQtion = []

          this.MultiQno = ""
          this.MultiQtion = ""

          this.RateQno =  []
          this.RateQtion = []

          this.TextBoxQno = []
          this.TextBoxQtion = []

          this.yesnoAnswer = []
          this.YesNoQno = []
          this.YesNoQtion = []
          
          this.singleAnswer = []
          this.SingleQno = []
          this.SingleQtion = []

          this.sliderAnswer = []
          this.ScaleQno = []
          this.ScaleQtion = []

          this.textviewAnswer = []
          this.TextBoxQno = []
          this.TextBoxQtion = []
            
          this.SurveyIDarr = []

          this.SurveyQTYPEyesno = []
          this.SurveyQTYPEsingle = []
          this.SurveyQTYPErate = []
          this.SurveyQTYPEscale = []
          this.SurveyQTYPEtb = []
    },
    listview(e) {
      if (e === 'survey')
        action("Choose Survey", "Cancel", this.listpickerSurvey)
        .then(result => {             
        if(result !== 'Cancel'){
          this.show = true;  
          this.submitEnabled = true;
          this.selectedSurvey = result;
          this.selectedQuestion = this.category.find(res => res.SurveyTitle === this.selectedSurvey);
          this.QID = this.selectedQuestion.SurveyID;
          //console.log(this.QID)
          this.clearAllData()
          
          for(var i = 0; i < this.selectedQuestion.SurveyList.length; i++){
              this.questions.push(this.selectedQuestion.SurveyList[i])
              this.QNo.push(this.selectedQuestion.SurveyList[i].QuestionNum)
              this.QType.push(this.selectedQuestion.SurveyList[i].QuestionType)
              this.QPrimary.push(this.selectedQuestion.SurveyList[i].Question)
              //console.log(this.selectedQuestion.SurveyList)
          }
          this.getAllSingle = this.selectedQuestion.SurveyList.filter(res => res.QuestionType === "Single");
          this.getAllMulti = this.selectedQuestion.SurveyList.find(res => res.QuestionType === "Multi");
          this.getAllRate = this.selectedQuestion.SurveyList.filter(res => res.QuestionType === "Rate");
          this.getAllTextBox = this.selectedQuestion.SurveyList.filter(res => res.QuestionType === "TextBox");
          this.getAllYesOrNo = this.selectedQuestion.SurveyList.filter(res => res.QuestionType === "YesNo");
          this.getAllScale = this.selectedQuestion.SurveyList.filter(res => res.QuestionType === "Scale");
          // console.log("length ko"+this.getAllYesOrNo.length)

          if(this.getAllSingle.length !== 0){
            for(var i = 0; i < this.getAllSingle.length; i ++){
              this.SingleQno.push(this.getAllSingle[i].QuestionNum);
              this.SingleQtion.push(this.getAllSingle[i].Question);
              this.SurveyIDarr.push(this.QID);
              this.SurveyQTYPEsingle.push("Single");
            }
          }
          if(this.getAllMulti !== undefined){
            this.MultiQno = this.getAllMulti.QuestionNum;
            this.MultiQtion = this.getAllMulti.Question;
          }
          if(this.getAllRate.length !== 0){   
            for(var i = 0; i < this.getAllRate.length; i ++){       
              this.RateQno.push(this.getAllRate[i].QuestionNum);
              this.RateQtion.push(this.getAllRate[i].Question);
              this.SurveyIDarr.push(this.QID);
              this.SurveyQTYPErate.push("Rate");
            }
          }
          if(this.getAllTextBox.length !== 0){
            for(var i = 0; i < this.getAllTextBox.length; i ++){   
              this.TextBoxQno.push(this.getAllTextBox[i].QuestionNum);
              this.TextBoxQtion.push(this.getAllTextBox[i].Question);
              this.SurveyIDarr.push(this.QID);
              this.SurveyQTYPEtb.push("TextBox");
            }
          }
          if(this.getAllYesOrNo.length !== 0){   
            for(var i = 0; i < this.getAllYesOrNo.length; i ++){
              this.YesNoQno.push(this.getAllYesOrNo[i].QuestionNum);
              this.YesNoQtion.push(this.getAllYesOrNo[i].Question);
              this.SurveyIDarr.push(this.QID)
              this.SurveyQTYPEyesno.push("yesorno")
            }
          }
          if(this.getAllScale.length !== 0){
          for(var i = 0; i < this.getAllScale.length; i ++){
            this.ScaleQno.push(this.getAllScale[i].QuestionNum);
            this.ScaleQtion.push(this.getAllScale[i].Question);
            this.SurveyIDarr.push(this.QID);
            this.SurveyQTYPEscale.push("Scale");
          }
          }
          this.descriptions = this.selectedQuestion.SurveyDescription;
          //this.show = false
        }
        });
    },
    singleSelectAnswers(){
      for(var i = 0; i < this.getAllSingle.length; i++){
             http.request({
              url: localStorage.getItem("URL") + "InsertAllAnswerSurveyv3",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                _EmpID:localStorage.getItem("EmpID"),
                _SurveyID:this.SurveyIDarr[i],
                _Qno:this.SingleQno[i],
                _QType:this.SurveyQTYPEsingle[i],
                _QTion:this.SingleQtion[i],
                list:this.singleAnswer[i]
              })
           })
          .then(response => {
            console.log(response.content.toJSON())
          });
      }
    },
    multiSelectAnswers(){
      //for(var i = 0; i < this.multipleAnswer.length; i++){
        http.request({
              url: localStorage.getItem("URL") + "InsertAllAnswerSurveyv3",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                _EmpID:localStorage.getItem("EmpID"),
                _SurveyID:this.QID,
                _Qno:this.MultiQno,
                _QType:"multiple",
                _QTion:this.MultiQtion,
                list:this.multipleAnswer.join("_")
              })
           })
          .then(response => {

        });
     //}
    },
    starAnswers(){
       for(var i = 0; i < this.getAllRate.length; i++){
             http.request({
              url: localStorage.getItem("URL") + "InsertAllAnswerSurveyv3",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                _EmpID:localStorage.getItem("EmpID"),
                _SurveyID:this.SurveyIDarr[i],
                _Qno:this.RateQno[i],
                _QType:this.SurveyQTYPErate[i],
                _QTion:this.RateQtion[i],
                list:this.starAnswer[i]
              })
           })
          .then(response => {

          });
       }
    },
    textBoxAnswers(){
      for(var i = 0; i < this.getAllTextBox.length; i++){
             http.request({
              url: localStorage.getItem("URL") + "InsertAllAnswerSurveyv3",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                _EmpID:localStorage.getItem("EmpID"),
                _SurveyID:this.SurveyIDarr[i],
                _Qno:this.TextBoxQno[i],
                _QType:this.SurveyQTYPEtb[i],
                _QTion:this.TextBoxQtion[i],
                list:this.textviewAnswer[i]
              })
           })
          .then(response => {

          });
      }
    },
      yesNoAnswers(){
             //console.log(this.yesnoAnswer)
        for(var i = 0; i < this.getAllYesOrNo.length; i++){
             http.request({
              url: localStorage.getItem("URL") + "InsertAllAnswerSurveyv3",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                _EmpID:localStorage.getItem("EmpID"),
                _SurveyID:this.SurveyIDarr[i],
                _Qno:this.YesNoQno[i],
                _QType:this.SurveyQTYPEyesno[i],
                _QTion:this.YesNoQtion[i],
                list:this.yesnoAnswer[i]
              })
           })
          .then(response => {

          });
        }
    },
      scaleAnswers(){
        for(var i = 0; i < this.getAllScale.length; i++){
             http.request({
              url: localStorage.getItem("URL") + "InsertAllAnswerSurveyv3",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                _EmpID:localStorage.getItem("EmpID"),
                _SurveyID:this.SurveyIDarr[i],
                _Qno:this.ScaleQno[i],
                _QType:this.SurveyQTYPEscale[i],
                _QTion:this.ScaleQtion[i],
                list:this.sliderAnswer[i]
              })
           })
          .then(response => {

          });
        }
    },
    ThreeAnswers(){
    this.sliderChange();
    this.textboxChange();
    if(this.starAnswer.length !== 0){
      for(var i = 0; i < this.getAllRate.length;i++){
      this.QAnswers.push(this.starAnswer[i])
    }
    }
    if(this.yesnoAnswer.length !== 0){
      for(var i = 0; i < this.getAllYesOrNo.length;i++){
        this.QAnswers.push(this.yesnoAnswer[i])
      }
    }
    if(this.textviewAnswer.length !== 0){
        for(var i = 0; i < this.getAllTextBox.length;i++){
        this.QAnswers.push(this.textviewAnswer[i])
        }
    }
    if(this.sliderAnswer.length !== 0){
      for(var i = 0; i < this.getAllScale.length;i++){
      this.QAnswers.push(this.sliderAnswer[i])
      }
    }
    },
    InsertSurvey(){
         this.ThreeAnswers()
          if(this.QAnswers.length < this.questions.length){
            Toast.makeText("Kindly answer all the questions").show() 
            console.log("Answers:"+ this.QAnswers.length)
            console.log("Questions:"+this.questions.length)
          }
          else{
            this.singleSelectAnswers()
            this.multiSelectAnswers()
            this.starAnswers()
            this.textBoxAnswers()
            this.yesNoAnswers()
            this.scaleAnswers()
            this.$navigateTo(ToDoAnswerSurveyVue)
            this.selectedSurvey = "";
            this.descriptions = "";
            this.category = [];
            this.listpickerSurvey = [];
            this.show = false;
            Toast.makeText("Successfully saved").show();
            this.surveyTypes();
      }
    },
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.TD, {clearHistory: true});
      };
    },
    alert() {
      alert(this.descriptions);
    },
    modal() {
      var vm = this;
      vm.InsertSurvey = this.InsertSurvey
      confirm({
            title: "Confirmation",
            message: "Submit Survey?",
            okButtonText: "OK",
            cancelButtonText: "CANCEL",
          }).then(result => {
            if(result === true){
              vm.InsertSurvey();
          }
      })
    },
  }
};
</script>
<style scoped>
.search {
  background-image: url("~/assets/images/search.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% 50%;
}
.drop {
  background-image: url("~/assets/images/ic_dropdown2.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 50 50;
}
.btnsave {
  background-image: url("~/assets/images/check.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
</style>