<template>
  <Page class="page" backgroundColor="#003366" @loaded='backbtn();loadmo()'>
    <ActionBar title="Leave Approval" flat="true" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" :visibility="vloading" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(TD, {clearHistory: true})"/>
    </ActionBar>
            <StackLayout orientation="vertical"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10"  borderRadius="5" borderWidth="2" >
             <Label fontSize="14" text="Leave Approval" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                    <StackLayout orientation="vertical">
                        <FlexboxLayout>
                                    <Label paddingLeft="20%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Name" textWrap="true" width="22%" marginRight="1" backgroundColor="#2d5176"  ></Label>
                                    <Label paddingLeft="20%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Type" textWrap="true" width="22%" marginRight="1" backgroundColor="#2d5176" ></Label>
                                    <Label paddingLeft="20%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Date" textWrap="true" width="22%" marginRight="1" backgroundColor="#2d5176"  ></Label>
                                    <Label paddingLeft="10%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Approval" textWrap="true" width="22%" marginRight="1" backgroundColor="#2d5176" ></Label>
                                    <!--<Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="" textWrap="true"  width="15%" backgroundColor="#2d5176" ></Label> -->
                                    <StackLayout color="white"  marginLeft="1" width="15%" backgroundColor="#2d5176">
                                          <CheckBox fillColor="#f1c40f" id='allchecker' :value="checker" horizontalAlignment="center"  @tap="chkchange('all','')" :isEnabled="isEnabledCheckall"/>
                                    </StackLayout>
                          </FlexboxLayout>
                        <ScrollView orientation="vertical" height="80%" scrollBarIndicatorVisible="false">
                          <StackLayout orientation="vertical" >
                            <FlexboxLayout  backgroundColor="#2d5176" v-for="result in LeaveApproval" :key="result['.key']">
                                        <Label  @tap="selectleave($event, result)"  paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Names" textWrap="true"  marginBottom="1"  width="22%" marginRight="1" backgroundColor="#003366"  ></Label>
                                        <Label  @tap="selectleave($event, result)"  paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Type" textWrap="true"  marginBottom="1"   width="22%" marginRight="1" backgroundColor="#003366" ></Label>
                                        <Label  @tap="selectleave($event, result)"  paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Date" textWrap="true"  marginBottom="1"   width="22%" marginRight="1" backgroundColor="#003366"  ></Label>
                                        <Label  @tap="selectleave($event, result)"  paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Approval" textWrap="true"   marginBottom="1"  width="22%" marginRight="1" backgroundColor="#003366"  ></Label>
                                        <StackLayout paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  marginLeft="1"  marginBottom="1" width="15%" backgroundColor="#003366">
                                            <CheckBox marginTop="10" fillColor="#f1c40f"  :value="checker" horizontalAlignment="center" :id="result.IDko" :isUserInteractionEnabled='true' opacity='1' :checked="checker" @tap="chkchange('isa',result.IDko)"/>
                                        </StackLayout>
                            </FlexboxLayout>
                             <StackLayout :visibility="vloading1" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" opacity='0.6'  height="100%" width="100%">
                                <ActivityIndicator :isCollapsed="actvisible" busy="true"
                                    color="white" height="100%" width="100%"
                                    verticalAlignment="center"
                                    backgroundColor="#003366"  />
                                <Label verticalAlignment="center"  height="100%" width="100%"  fontSize="14" text="Loading.. Please wait..." color="white"  marginLeft="60%"/>
                            </StackLayout>
                        </StackLayout>
                        </ScrollView>
                        <StackLayout orientation="horizontal" height="20%" horizontalAlignment="right">
                            <Button borderRadius="3" text="Deny" backgroundColor="#f1c40f" marginRight="10" @tap="validaterequest('deny')" height="40" width="auto" textWrap="true"/>
                            <Button borderRadius="3" text="Approve" backgroundColor="#f1c40f" marginRight="10" @tap="validaterequest('approve')"  height="40" width="auto" textWrap="true" />
                        </StackLayout>
                    </StackLayout>
    </StackLayout>
  </Page>
</template>
<script>
const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;
const picker = new ModalPicker();
import * as http from "tns-core-modules/http";
import Toast from "nativescript-toast";
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
var moment = require("moment");
var orientation = require("nativescript-orientation");
const imageSourceModule = require("tns-core-modules/image-source");
import todo from "../ToDo/ToDo.vue"

export default {
  data() {
    return {
      LeaveApproval: [],
      selectedStatus: [],
      simplecontainer:[],
      listPickerStatus: ["Approved", "Denied"],
      vloading: "collapse",
      vloading1: "visible",
      schedDate:'',
      myhalfday:'',
      status:'Pending',
      selectedRowID:'',
      TD: todo,
      validateID: '',
      checkCount:0,
      isEnabledCheckall:true,
      approve: []
    };
  },
  created() {
    this.LeaveApprovalResults();
  },
  methods: {
    confirmationforApproved() {
      var vm = this;
      vm.approved = this.Approved;
      this.$showModal({
        template: `
          <Page >
          <StackLayout width="100%" height="35%" backgroundColor="white">
          <StackLayout orientation="vertical" >
            <Label text="Confirmation" height="40" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
              <StackLayout orientation="horizontal" paddingLeft="8%" paddingTop="20%">
                 <Label text="Are you sure you want to confirm?" textAlignment="center" color="#003366" fontSize="20" textDecoration="bold" textWrap="true"/>         
              </StackLayout> 
              <StackLayout orientation="horizontal" paddingLeft="45%" paddingTop="40%"> 
                <Button  @tap="$modal.close" text="NO" textAlignment="center" color="#003366" fontSize="16" marginRight="15%" backgroundColor='#f1c40f'/>   
                <Button  @tap="save();modalClose()" text="YES" textAlignment="center" color="#003366" fontSize="16" backgroundColor='#f1c40f'/>
            </StackLayout>                   
          </StackLayout>
        </StackLayout>
            </Page>`,
        data() {
          return {
            data: ""
          };
        },
        methods: {
          modalClose() {
            this.$modal.close();
          },
          save(){
            vm.approved();
          }
        }
      });
    },
    confirmationforDenied() {
      var vm = this;
      vm.denied = this.Denied;
      this.$showModal({
        template: `
          <Page >
          <StackLayout width="100%" height="35%" backgroundColor="white">
          <StackLayout orientation="vertical" >
            <Label text="Confirmation" height="40" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
              <StackLayout orientation="horizontal" paddingLeft="10%" paddingTop="20%">
                 <Label text="Are you sure you want to confirm?" textAlignment="center" color="#003366" fontSize="20" textDecoration="bold" textWrap="true"/>         
              </StackLayout> 
              <StackLayout orientation="horizontal" paddingLeft="45%" paddingTop="40%"> 
                <Button  @tap="$modal.close" text="NO" textAlignment="center" color="#003366" fontSize="16" marginRight="15%" backgroundColor='#f1c40f'/>   
                <Button  @tap="save();modalClose()" text="YES" textAlignment="center" color="#003366" fontSize="16" backgroundColor='#f1c40f'/>
            </StackLayout>                   
          </StackLayout>
        </StackLayout>
            </Page>`,
        data() {
          return {
            data: ""
          };
        },
        methods: {
          modalClose() {
            this.$modal.close();
          },
          save(){
            vm.denied();
          }
        }
      });
    },
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.TD, {clearHistory: true})
      };
    },
    LeaveApprovalResults() {
      if (localStorage.getItem('ClientName').toLowerCase() === 'generali'
            || localStorage.getItem("ClientName").toLowerCase() === 'generali_dev'
            || localStorage.getItem("ClientName").toLowerCase() === 'mahmc'
            || localStorage.getItem("ClientName").toLowerCase() === 'octacrom'
            || localStorage.getItem("ClientName").toLowerCase() === 'campaigntrack'
            || localStorage.getItem("ClientName").toLowerCase() === 'essel'
            || localStorage.getItem("ClientName").toLowerCase() === 'mccmoney') {
      http
        .request({
          url: localStorage.getItem("URL") + "GetDB",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            ClientName: localStorage.getItem("ClientName")
          })
        })
        .then(responses => {
          http
            .request({
              url: localStorage.getItem("URL") + "ShowLeavesForApprovalMobileGen",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                EmpID:localStorage.getItem("EmpID")
              })
            })
            .then(response => {
              var resulta = response.content.toJSON().LeavesListData.filter(res => res.EmpID.toUpperCase() !== localStorage.getItem("EmpID").toUpperCase())
              console.log(resulta + " resulta")
              if (resulta.length == 0) {
                this.isEnabledCheckall = false;
                this.vloading = "visible";
                this.vloading1 = "collapse";
              }
              else {
                for (var i = 0;i < resulta.length;i++) 
                  {
                  this.schedDate = moment(resulta[i].LeaveDate).format("YYYY-MM-DD");
                  if(this.schedDate === "Invalid date") {
                    this.schedDate = "";
                  }
                  this.LeaveApproval.push({
                    Names: resulta[i].EmpName,
                    Type: resulta[i].LeaveType,
                    Date: this.schedDate,
                    Approval:this.status,
                    IDko: resulta[i].ID,
                    LeaveID: resulta[i].LeaveID,
                    // Halfday: resulta[i].Halfday,
                    DateApplied: resulta[i].DateApplied,
                    ShiftType: resulta[i].ShiftType,
                    EmpComment: resulta[i].EmpComment,
                    EmpReason: resulta[i].EmpReason,
                    ApproverComment: resulta[i].ApproverComment,
                    FilePath: resulta[i].FilePath,
                    EmpID:resulta[i].EmpID,
                    checkOnebyOne:false,
                    checkerko:true,
                    ID: 'check' + i,
                    LeaveHours: resulta[i].LeaveHours,
                    LeaveMinutes: resulta[i].LeaveMinutes
                  });
                  // this.LeaveID = response.content.toJSON().LeavesListData                        
                }
                this.vloading = "visible";
                this.vloading1 = "collapse";
              }
            });
            // console.log(this.LeaveApproval)
        });
      }
      else{
          http
            .request({
              url: localStorage.getItem("URL") + "ShowLeavesForApprovalMobilev2",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                EmpID:localStorage.getItem("EmpID")
              })
            })
            .then(response => {
              var resulta = response.content.toJSON().LeavesListData.filter(res => res.EmpID.toUpperCase() !== localStorage.getItem("EmpID").toUpperCase())
              console.log(" this is the result" + resulta.length)
              if (resulta.length == 0) {
                this.isEnabledCheckall = false;
                this.vloading = "visible";
                this.vloading1 = "collapse";
              }
              else {
                for (var i = 0;i < resulta.length;i++) 
                  {
                  this.schedDate = moment(resulta[i].LeaveDate).format("YYYY-MM-DD");
                  if(this.schedDate === "Invalid date") {
                    this.schedDate = "";
                  }
                  this.LeaveApproval.push({
                    Names: resulta[i].EmpName,
                    Type: resulta[i].LeaveType,
                    Date: this.schedDate,
                    Approval:this.status,
                    IDko: resulta[i].ID,
                    LeaveID: resulta[i].LeaveID,
                    // Halfday: resulta[i].Halfday,
                    DateApplied: resulta[i].DateApplied,
                    ShiftType: resulta[i].ShiftType,
                    EmpComment: resulta[i].EmpComment,
                    EmpReason: resulta[i].EmpReason,
                    ApproverComment: resulta[i].ApproverComment,
                    FilePath: resulta[i].FilePath,
                    ID: 'check' + i,
                    EmpID:resulta[i].EmpID,
                    checkOnebyOne:false,
                    checkerko:true
                  });
                  // this.LeaveID = response.content.toJSON().LeavesListData                        
                }
                this.vloading = "visible";
                this.vloading1 = "collapse";
              }
            });
            // console.log(this.LeaveApproval)
            
        };
    
    },
    Approved(){

          if(this.LeaveApproval.length === 0) {
            Toast.makeText("No data Available").show();
          } else {
            var requestorLeaveID = []
            var requestorEmpID = []
            var LeaveID = []
            for(var v = 0; v < this.approve.length;v++){
              requestorLeaveID.push(this.approve[v].LeaveID)
              requestorEmpID.push(this.approve[v].EmpID)
              LeaveID.push(this.approve[v].LeaveID2)
            }
            for (var i = 0; i < this.LeaveApproval.length; i++) {
              // alert(this.LeaveApproval[i].ApproverComment)
              let checkBox = Frame.topmost().getViewById( "" + this.LeaveApproval[i].IDko + "");
              if (checkBox.checked == 1) {
                var selctedEmpID = this.LeaveApproval[i].EmpID;
                http.request({
                    url: localStorage.getItem("URL") + "ApproveDenyLeavesv3",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN:localStorage.getItem("ClientName"),
                      EmpID:localStorage.getItem("EmpID"),
                      SeriesID:this.LeaveApproval[i].IDko,
                      Status: "Approved",
                      ApproverComment : this.LeaveApproval[i].ApproverComment
                    })
                  })
                  .then(response => {
                    http.request({
                          url: localStorage.getItem("URL") + "DHRGetDHRTOKENV2",
                          method: "POST",
                          headers: { "Content-Type": "application/json" },
                          content: JSON.stringify({
                            CN: localStorage.getItem("ClientName"),
                            EMPID:selctedEmpID
                          })
                        })
                        .then(response => {
                          //console.log(this.listOfLeave[i].LeaveType)
                          console.log(response.content.toJSON())
                          http.request({
                              url: "https://fcm.googleapis.com/fcm/send",
                              method: "POST",
                              headers: {
                                Authorization:
                                  "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                                "Content-Type": "application/json"
                              },
                              content: JSON.stringify({
                                notification: {
                                  body:
                                  localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
                                    " " +
                                    "approved your leave.",
                                  title: "Leave Approval"
                                },
                                to: response.content.toJSON()
                              })
                            })
                            .then(response => {
                             
                                http.request({
                                url: localStorage.getItem("URL") + "ShowLeavesForApprovalMobilev2",
                                method: "POST",
                                headers: { "Content-Type": "application/json" },
                                content: JSON.stringify({
                                  CN:localStorage.getItem("ClientName"),
                                  EmpID:localStorage.getItem("EmpID")
                                  })
                                }).then((response) => {
                                  // console.log(response.content.toJSON().ListTodoScheduleView )
                                  if (response.content.toJSON().LeavesListData !== null){
                                    var leavecount = response.content.toJSON().LeavesListData.length
                                    localStorage.setItem("leavecount2", leavecount)
                                    this.checkCount = 0;
                                    console.log(response.content.toJSON());
                                    Toast.makeText("Successfully approved").show();
                                    console.log(localStorage.getItem("leavecount2"))
                                  }
                                  else{
                                    var leavecount = 0
                                    localStorage.setItem("leavecount2", leavecount)
                                    this.checkCount = 0;
                                    console.log(response.content.toJSON());
                                    Toast.makeText("Successfully approved").show();
                                    console.log(localStorage.getItem("leavecount2"))
                                  }
                                })
                              
                            });
                      }); 
                  })
              }
            }
            // setTimeout(() => {
            //   http.request({
            //   url: localStorage.getItem("URL") + "requestorLeaveEmailNotif",
            //   method: "POST",
            //   headers: { "Content-Type": "application/json" },
            //   content: JSON.stringify({
            //     CN:localStorage.getItem("ClientName"),
            //     LeaveID: requestorLeaveID
            //     })
            //   }).then((response) => {
            //     console.log("requestorLeaveEmailNotif " + response.content.toJSON())
            //     http.request({ 
            //     url: localStorage.getItem("URL") + "Email_Notif_SecApprover",
            //     method: "POST",
            //     headers: { "Content-Type": "application/json" }, 
            //     content: JSON.stringify({
            //       CN:localStorage.getItem('ClientName'),
            //       requestorID: requestorEmpID,
            //       leaveID: LeaveID,
            //       SerialID:requestorLeaveID,
            //       })
            //     }).then((response) => {
            //       console.log(response.content.toJSON())
            //     }).catch((error) => {
            //       console.log(error)
            //     })
            //   })
            // }, 1000)
            //Toast.makeText("Successfully approved").show();
            this.checker = false;
            Frame.topmost().getViewById("allchecker").checked = false;
            this.LeaveApproval = [];
            setTimeout(() => {
            this.LeaveApprovalResults();
          }, 2000)
          }
    },
    Denied(){
     
          if(this.LeaveApproval.length === 0) {
            Toast.makeText("No data Available").show();
          } else {
            var requestorLeaveID = []
            var requestorEmpID = []
            var LeaveID = []
            for(var v = 0; v < this.approve.length;v++){
              requestorLeaveID.push(this.approve[v].LeaveID)
              requestorEmpID.push(this.approve[v].EmpID)
              LeaveID.push(this.approve[v].LeaveID2)
            }
            for (var i = 0; i < this.LeaveApproval.length; i++) {
              let checkBox = Frame.topmost().getViewById( "" + this.LeaveApproval[i].IDko + "");
              if (checkBox.checked == 1) {
                var selctedEmpID = this.LeaveApproval[i].EmpID;
                http.request({
                    url: localStorage.getItem("URL") + "ApproveDenyLeavesv3",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN:localStorage.getItem("ClientName"),
                      EmpID:localStorage.getItem("EmpID"),
                      SeriesID:this.LeaveApproval[i].IDko,
                      Status: "Denied",
                      ApproverComment : this.LeaveApproval[i].ApproverComment
                    })
                  })
                  .then(response => {
                   http.request({
                          url: localStorage.getItem("URL") + "DHRGetDHRTOKENV2",
                          method: "POST",
                          headers: { "Content-Type": "application/json" },
                          content: JSON.stringify({
                            CN: localStorage.getItem("ClientName"),
                            EMPID:selctedEmpID
                          })
                        })
                        .then(response => {
                          //console.log(this.listOfLeave[i].LeaveType)
                          console.log(response.content.toJSON())
                          http.request({
                              url: "https://fcm.googleapis.com/fcm/send",
                              method: "POST",
                              headers: {
                                Authorization:
                                  "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                                "Content-Type": "application/json"
                              },
                              content: JSON.stringify({
                                notification: {
                                  body:
                                  localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
                                    " " +
                                    "denied your leave.",
                                  title: "Leave Approval"
                                },
                                to: response.content.toJSON()
                              })
                            })
                            .then(response => {
                              
                                http.request({
                                url: localStorage.getItem("URL") + "ShowLeavesForApprovalMobilev2",
                                method: "POST",
                                headers: { "Content-Type": "application/json" },
                                content: JSON.stringify({
                                  CN:localStorage.getItem("ClientName"),
                                  EmpID:localStorage.getItem("EmpID")
                                  })
                                }).then((response) => {
                                  // console.log(response.content.toJSON().ListTodoScheduleView )
                                  if (response.content.toJSON().LeavesListData !== null){
                                    var leavecount = response.content.toJSON().LeavesListData.length
                                    localStorage.setItem("leavecount2", leavecount)
                                    this.checkCount = 0;
                                    console.log(response.content.toJSON());
                                    Toast.makeText("Successfully denied").show();
                                    console.log(localStorage.getItem("leavecount2"))
                                  }
                                  else{
                                    var leavecount = 0
                                    localStorage.setItem("leavecount2", leavecount)
                                    this.checkCount = 0;
                                    console.log(response.content.toJSON());
                                    Toast.makeText("Successfully denied").show();
                                    console.log(localStorage.getItem("leavecount2"))
                                  }
                                })
                              
                             
                            });
                      }); 
                  })
              }
            }
            //Toast.makeText("Successfully denied").show();
            // setTimeout(() => {
            //   http.request({
            //   url: localStorage.getItem("URL") + "requestorLeaveEmailNotif",
            //   method: "POST",
            //   headers: { "Content-Type": "application/json" },
            //   content: JSON.stringify({
            //     CN:localStorage.getItem("ClientName"),
            //     LeaveID: requestorLeaveID
            //     })
            //   }).then((response) => {
            //     console.log("requestorLeaveEmailNotif " + response.content.toJSON())
            //     http.request({ 
            //     url: localStorage.getItem("URL") + "Email_Notif_SecApprover",
            //     method: "POST",
            //     headers: { "Content-Type": "application/json" }, 
            //     content: JSON.stringify({
            //       CN:localStorage.getItem('ClientName'),
            //       requestorID: requestorEmpID,
            //       leaveID: LeaveID,
            //       SerialID:requestorLeaveID,
            //       })
            //     }).then((response) => {
            //       console.log(response.content.toJSON())
            //     }).catch((error) => {
            //       console.log(error)
            //     })
            //   })
            // }, 1000)
            //Toast.makeText("Successfully approved").show();
            this.checker = false;
            Frame.topmost().getViewById("allchecker").checked = false;
            this.LeaveApproval = [];
            setTimeout(() => {
            this.LeaveApprovalResults();
          }, 2000)
          }
        
    },
    clickcheck(event) {
      this.checkCount = 0;
      if (this.LeaveApproval.length  >= 1 ){
        for (var i = 0;i < this.LeaveApproval.length; i++){
          if(event.object.checked === false)
          {
            Frame.topmost().getViewById(this.LeaveApproval[i].IDko).checked = true
            this.LeaveApproval[i].checked = true
            console.log('dito')
            this.checkCount += 1
          }
          else {
            Frame.topmost().getViewById(this.LeaveApproval[i].IDko).checked = false
            this.LeaveApproval[i].checked = false
          }
        }
      }
      else{
        Toast.makeText("No data Available").show();
      }
    },
    chkchange(e,a) {
      console.log(a + " aaaaaaaaaaaaa")
      // alert("alert1")
      var checkmain = Frame.topmost().getViewById('allchecker')

      if (e === 'all'){
        
        if(checkmain.checked === true){ 
          console.log("111111111111")
          
          this.approve.splice(0)
            for(var o = 0; o < this.LeaveApproval.length; o++){ 
              // console.log(this.LeaveApproval[o].IDko)
              var checkall = Frame.topmost().getViewById(this.LeaveApproval[o].IDko)
              
              if (checkall.checked = false) {
                  checkall.checked === true;
              }
              
            }
        }
        else {
          console.log("22222222222")
          this.checkCount = 0;
          this.approve.splice(0);
          for(var o = 0; o < this.LeaveApproval.length; o++){ 
              // console.log(this.LeaveApproval[o].IDko)
              var checkall = Frame.topmost().getViewById(this.LeaveApproval[o].IDko)
              var LeaveID = this.LeaveApproval.find(res => res.IDko === this.LeaveApproval[o].IDko)
              if (checkall.checked = true) {
                  checkall.checked === false;
              }
              this.approve.push({
                    EmpID: LeaveID.EmpID, 
                    LeaveID: LeaveID.IDko, 
                    ApproverComment:this.ApproverComment, 
                    LeaveID2:LeaveID.LeaveID, 
                    LeaveDate:LeaveID.Date, 
                    EmpReason:LeaveID.EmpReason
              })
          }
        }
      }
      else {
        var LeaveID = this.LeaveApproval.find(res => res.IDko === a)
        var le = this.approve.find(res => res.LeaveID === LeaveID.LeaveID)
        var index = this.approve.indexOf(le);
        var singlecheck = Frame.topmost().getViewById(a)
        if (singlecheck.checked === false) {
                console.log('3333333333333333333333')
                singlecheck.checked === true;
                this.approve.push({
                    EmpID: LeaveID.EmpID, 
                    LeaveID: LeaveID.IDko, 
                    ApproverComment:this.ApproverComment, 
                    LeaveID2:LeaveID.LeaveID, 
                    LeaveDate:LeaveID.Date, 
                    EmpReason:LeaveID.EmpReason
                })
        }
        else if (singlecheck.checked === true) {
                console.log('4444444444444444444444')
                if (index > -1) {
                    this.approve.splice(index, 1);
                }
                singlecheck.checked === false;
        }
      }
        


        
      // alert("alert2")
      // if (e === 'all'){
      //   // alert("alert3")
      //   if(checkmain.checked === false){
      //     // alert("alert4")
      //     this.checkCount = 0;
      //     this.approve.splice(0)
      //     // alert("alert5")
      //     for(var o = 0; o < this.LeaveApproval.length; o++){
      //       // alert("alert6")
			// 		  var checkall = Frame.topmost().getViewById(this.LeaveApproval[o].IDko)
			// 		  console.log("ito yon: "+ checkall)
      //       var LeaveID = this.LeaveApproval.find(res => res.IDko === 'check' + o)
      //       if(checkall.checked === false){
      //         // checkall.toggle()
      //         checkall.checked === true;
      //       }
      //       this.approve.push({
      //         EmpID: LeaveID[o].EmpID, 
      //         LeaveID: LeaveID[o].IDko, 
      //         ApproverComment:this.ApproverComment, 
      //         LeaveID2:LeaveID[o].LeaveID, 
      //         LeaveDate:LeaveID[o].LeaveDate, 
      //         EmpReason:LeaveID[o].EmpReason
      //       })
      //       // console.log(this.approve)
      //     }
      //   }
      //   else{
      //     this.approve.splice(0)
      //     for(var o = 0; o < this.LeaveApproval.length; o++){
      //       var checkall = Frame.topmost().getViewById(this.LeaveApproval[o].IDko)
      //       if(checkall.checked === true){
      //         // checkall.toggle()
      //         checkall.checked === false;
      //       } 
      //     }
      //   }
      // }
      // else{
      //   var LeaveID = this.LeaveApproval.find(res => res.IDko === a)
      //   var le = this.approve.find(res => res.LeaveID === LeaveID.LeaveID)
      //   var index = this.approve.indexOf(le);
      //   var check = Frame.topmost().getViewById(a)
      //   if(checkmain.checked === true){
      //     // checkmain.toggle()
      //     checkall.checked === false;
      //   }
        
      //   if(check.checked === true){
      //     if (index > -1) {
      //       this.approve.splice(index, 1);
      //     }
      //   }
      //   else{
      //     this.approve.push({
      //       EmpID: LeaveID.EmpID, 
      //       LeaveID: LeaveID.IDko, 
      //       ApproverComment:this.ApproverComment, 
      //       LeaveID2:LeaveID.LeaveID, 
      //       LeaveDate:LeaveID.LeaveDate, 
      //       EmpReason:LeaveID.EmpReason})
      //       // console.log(this.approve)
      //     if (this.approve.length === this.LeaveApproval.length){
      //       checkmain.checked = true
      //     }
      //   }
      // }
  
    },
         selectleave(args, a) {
           this.validateID = a.IDko
          //  var reddd = Frame.topmost().getViewById(this.validateID);
           console.log(a.IDko + "ddddddddddddddd")
           var hd
              if (a.HalfDay === '1') {
                    hd = true
                  } else {
                    hd = false
                  }
            var dateapp
            dateapp = moment(a.DateApplied).format("YYYY-MM-DD")
            var hrmns
            this.hrmsn = a.ShiftType
                        
              localStorage.setItem("tdleavedate", a.Date),
              localStorage.setItem("tdleavetime", a.LeaveHours + ' ' + a.LeaveMinutes),
              localStorage.setItem("tdhalfday", hd),
              localStorage.setItem("tdleavetype", a.Type),
              localStorage.setItem("tddateapplied", dateapp),
              localStorage.setItem("tdleavestatus", a.Approval),
              localStorage.setItem("tdreason", a.EmpReason),
              localStorage.setItem("tdempcomment", a.EmpComment),
              localStorage.setItem("tdapprovercomment", a.ApproverComment),
              localStorage.setItem("tdleaveimage", a.FilePath) 
           
          var vm = this
          // localStorage.setItem("ClientName", 'Generali')
          if(localStorage.getItem("ClientName").toLowerCase() === 'generali'){
         
            this.$showModal({template: `
          <Page > 
           <StackLayout>
            <StackLayout orientation="vertical" height="80%">
            <Label text="Leave Details" fontSize="14" paddingTop="20" paddingBottom="20" backgroundColor="#002851" textAlignment="center" color="white" verticalAlignment="center"  />
            <StackLayout>
            <ScrollView orientation="vertical" row="1" width="100%">
            <StackLayout>
            <StackLayout orientation="horizontal" marginTop="15" marginRight="10" marginBottom="15" marginLeft="5">
              <Label  width="40%"
                    text="Leave Date"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
              <TextField
                  isEnabled="false"
                  horizontalAlignment="right"
                  height="40"
                  width="50%"
                  fontSize="14" 
                  borderRadius="3" 
                  borderWidth="1" 
                  :text="this.leavedate"
                  @focus="textfieldfocus"
                  @blur="textfieldblur"
                  color="#002851"
                  marginRight='5'
                  marginLeft='5'
                  textWrap="true"
                  style="
                  background-repeat: no-repeat;
                  background-position: 97% 50%;
                  background-size: 50 50;" 
                  backgroundColor="#adb8c9" />   
             </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Hrs/mns"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />

                   <TextField
                  isEnabled="false"
                  horizontalAlignment="right"
                  height="40"
                  width="50%"
                  fontSize="14" 
                  borderRadius="3" 
                  borderWidth="1" 
                  :text="this.leavetime"
                  @focus="textfieldfocus"
                  @blur="textfieldblur"
                  color="#002851"
                  marginRight='5'
                  marginLeft='5'
                  textWrap="true"
                  style="
                  background-repeat: no-repeat;
                  background-position: 97% 50%;
                  background-size: 50 50;" 
                  backgroundColor="#adb8c9" />   
                    />  
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Leave Type"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                    <TextField
                    isEnabled="false"
                    horizontalAlignment="right"
                    height="40"
                    width="50%"
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    :text="this.leavetype"
                    @focus="textfieldfocus"
                    @blur="textfieldblur"
                    color="#002851"
                    marginRight='5'
                    marginLeft='5'
                    textWrap="true"
                    style="
                    background-repeat: no-repeat;
                    background-position: 97% 50%;
                    background-size: 50 50;" 
                    backgroundColor="#adb8c9" />     
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Date Applied"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                    isEnabled="false"
                    horizontalAlignment="right"
                    height="40"
                    width="50%"
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    :text="this.dateapplied"
                    @focus="textfieldfocus"
                    @blur="textfieldblur"
                    color="#002851"
                    marginRight='5'
                    marginLeft='5'
                    textWrap="true"
                    style="
                    background-repeat: no-repeat;
                    background-position: 97% 50%;
                    background-size: 50 50;"
                    backgroundColor="#adb8c9" />       
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Leave Status"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.leavestatus"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
                      
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Reason"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.reason"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Comment"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextView
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="70"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.empcomment"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Approver Comment"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextView
                      horizontalAlignment="right"
                      height="70"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      v-model="appcomment"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Uploaded File"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <Image 
                    id="imageID" 
                    row='1' 
                    :src="leaveimage"
                    verticalAlignment='center' 
                    height="320" 
                    width="69%" 
                    class="formBox" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginBottom="15" > 
               <Label
                      @tap="modalClose2()"  
                      width="90%"
                      text="OK"
                      fontSize="14"
                      paddingTop="10" 
                      textAlignment="right" 
                      color="#002851" 
                      verticalAlignment="center"
                      marginRight='20'
                      marginLeft='10'
                      paddingBottom="10" />
            </StackLayout>
            </StackLayout>
              </ScrollView>   
            </StackLayout>              
          </StackLayout>
          </StackLayout> 
            </Page>`,
          data() {
              return {
                appcomment: '',
                // docos1: "~/images/document.png",
                leavedate:      localStorage.getItem("tdleavedate"),
                leavetime:      localStorage.getItem("tdleavetime"),
                halfday:        localStorage.getItem("tdhalfday"),
                leavetype:      localStorage.getItem("tdleavetype"),
                dateapplied:    localStorage.getItem("tddateapplied"),
                leavestatus:    localStorage.getItem("tdleavestatus"),
                reason:         localStorage.getItem("tdreason"),
                empcomment:     localStorage.getItem("tdempcomment"),
                approvercomment:localStorage.getItem("tdapprovercomment"),
                leaveimage:     '',
                cancelleavedisabled: '',
                cancelcolor:{
                          color: '#e0e0d1'
                         }
              }
            }, 
            created: function() {
              console.log("qweqwe"+localStorage.getItem("tdapprovercomment"))
              imageSourceModule.fromUrl(a.FilePath).then(img => {
                this.leaveimage = 'data:image/jpeg;base64,' + img.toBase64String('jpeg', 50)
              })
              // if(a.FilePath === ''){
              //  //this.urlsegment = "~/images/document.png";
              // }
              // else{
              //  this.leaveimage = filepath;
              // }
              // this.uploadimageCC()
              // this.disablecancelleave()
              // console.log(localStorage.getItem("dateapplied"))
              // console.log(localStorage.getItem("leavetype"))
          },
          methods: {
          modalClose1() {
            this.$modal.close()
            // vm.validatecancel()
            
          },
          modalClose2() {
            this.$modal.close()
            localStorage.setItem("appcomm", this.appcomment)
            vm.validatecomment()
          },
          }})    
          }
          else if (localStorage.getItem("ClientName").toLowerCase() === 'amanpulo'){
            console.log(a.DepartureDate)
            console.log(a.ReturnDate)
            vm.LeaveDate = a.Date
            vm.isHalf = a.hd
            vm.leavetype = a.Type
            vm.dateapplied = dateapp
            vm.leavestatus = a.Approval
            vm.reason = a.EmpReason
            vm.depart = a.DepartureDate
            vm.return = a.ReturnDate
            vm.empcomment = a.EmpComment
            vm.approvercomment = a.ApproverComment
            vm.filepath = a.FilePath
            this.$showModal({
              template: `
              <Page > 
           <StackLayout>
            <StackLayout orientation="vertical" height="80%">
            <Label text="Leave Details" fontSize="14" paddingTop="20" paddingBottom="20" backgroundColor="#002851" textAlignment="center" color="white" verticalAlignment="center"  />
            <StackLayout>
            <ScrollView orientation="vertical" row="1" width="100%">
            <StackLayout>
            <StackLayout orientation="horizontal" marginTop="15" marginRight="10" marginBottom="15" marginLeft="5">
              <Label  width="40%"
                    text="Leave Date"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
              <TextField
                  isEnabled="false"
                  horizontalAlignment="right"
                  height="40"
                  width="50%"
                  fontSize="14" 
                  borderRadius="3" 
                  borderWidth="1" 
                  :text="this.leavedate"
                  @focus="textfieldfocus"
                  @blur="textfieldblur"
                  color="#002851"
                  marginRight='5'
                  marginLeft='5'
                  textWrap="true"
                  style="
                  background-repeat: no-repeat;
                  background-position: 97% 50%;
                  background-size: 50 50;" 
                  backgroundColor="#adb8c9" />   
             </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Half Day"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />

                    <CheckBox  
                    isEnabled="false"
                    checked="false" 
                    horizontalAlignment="center"
                    v-bind:checked="halfday"  
                    />  
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Leave Type"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                    <TextField
                    isEnabled="false"
                    horizontalAlignment="right"
                    height="40"
                    width="50%"
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    :text="this.leavetype"
                    @focus="textfieldfocus"
                    @blur="textfieldblur"
                    color="#002851"
                    marginRight='5'
                    marginLeft='5'
                    textWrap="true"
                    style="
                    background-repeat: no-repeat;
                    background-position: 97% 50%;
                    background-size: 50 50;" 
                    backgroundColor="#adb8c9" />     
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Date Applied"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                    isEnabled="false"
                    horizontalAlignment="right"
                    height="40"
                    width="50%"
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    :text="this.dateapplied"
                    @focus="textfieldfocus"
                    @blur="textfieldblur"
                    color="#002851"
                    marginRight='5'
                    marginLeft='5'
                    textWrap="true"
                    style="
                    background-repeat: no-repeat;
                    background-position: 97% 50%;
                    background-size: 50 50;"
                    backgroundColor="#adb8c9" />       
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Leave Status"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.leavestatus"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
                      
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Reason"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.reason"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Departure Date"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.departuredate"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Return Date"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.returndate"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Comment"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextView
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="70"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.empcomment"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Approver Comment"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      horizontalAlignment="right"
                      height="70"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      v-model="appcomment"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Uploaded File"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <Image 
                    id="imageID" 
                    row='1' 
                    :src="leaveimage"
                    verticalAlignment='center' 
                    height="320" 
                    width="69%" 
                    class="formBox" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginBottom="15" > 
               <Label
                      @tap="modalClose2()"  
                      width="90%"
                      text="OK"
                      fontSize="14"
                      paddingTop="10" 
                      textAlignment="right" 
                      color="#002851" 
                      verticalAlignment="center"
                      marginRight='20'
                      marginLeft='10'
                      paddingBottom="10" />
            </StackLayout>
            </StackLayout>
              </ScrollView>   
            </StackLayout>              
          </StackLayout>
          </StackLayout> 
            </Page>`,
              data() {
                return{
                  leavedate: vm.LeaveDate,
                  halfday: vm.isHalf,
                  leavetype: vm.leavetype,
                  dateapplied: vm.dateapplied,
                  leavestatus: vm.leavestatus,
                  reason: vm.reason,
                  departuredate: vm.depart === undefined ? 'N/A' : vm.depart,
                  returndate: vm.return === undefined ? 'N/A' : vm.return,
                  empcomment: vm.empcomment,
                  appcomment: vm.approvercomment,
                  leaveimage: vm.filepath
                }
              },
              methods: {
                modalClose2(){
                  this.$modal.close()
                  localStorage.setItem("appcomm", this.appcomment)
                  vm.validatecomment()
                }
              }
            })

          }
          else {
          this.$showModal({template: `
          <Page > 
           <StackLayout>
            <StackLayout orientation="vertical" height="80%">
            <Label text="Leave Details" fontSize="14" paddingTop="20" paddingBottom="20" backgroundColor="#002851" textAlignment="center" color="white" verticalAlignment="center"  />
            <StackLayout>
            <ScrollView orientation="vertical" row="1" width="100%">
            <StackLayout>
            <StackLayout orientation="horizontal" marginTop="15" marginRight="10" marginBottom="15" marginLeft="5">
              <Label  width="40%"
                    text="Leave Date"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
              <TextField
                  isEnabled="false"
                  horizontalAlignment="right"
                  height="40"
                  width="50%"
                  fontSize="14" 
                  borderRadius="3" 
                  borderWidth="1" 
                  :text="this.leavedate"
                  @focus="textfieldfocus"
                  @blur="textfieldblur"
                  color="#002851"
                  marginRight='5'
                  marginLeft='5'
                  textWrap="true"
                  style="
                  background-repeat: no-repeat;
                  background-position: 97% 50%;
                  background-size: 50 50;" 
                  backgroundColor="#adb8c9" />   
             </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Half Day"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />

                    <CheckBox  
                    isEnabled="false"
                    checked="false" 
                    horizontalAlignment="center"
                    v-bind:checked="halfday"  
                    />  
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Leave Type"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                    <TextField
                    isEnabled="false"
                    horizontalAlignment="right"
                    height="40"
                    width="50%"
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    :text="this.leavetype"
                    @focus="textfieldfocus"
                    @blur="textfieldblur"
                    color="#002851"
                    marginRight='5'
                    marginLeft='5'
                    textWrap="true"
                    style="
                    background-repeat: no-repeat;
                    background-position: 97% 50%;
                    background-size: 50 50;" 
                    backgroundColor="#adb8c9" />     
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Date Applied"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                    isEnabled="false"
                    horizontalAlignment="right"
                    height="40"
                    width="50%"
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    :text="this.dateapplied"
                    @focus="textfieldfocus"
                    @blur="textfieldblur"
                    color="#002851"
                    marginRight='5'
                    marginLeft='5'
                    textWrap="true"
                    style="
                    background-repeat: no-repeat;
                    background-position: 97% 50%;
                    background-size: 50 50;"
                    backgroundColor="#adb8c9" />       
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Leave Status"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.leavestatus"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
                      
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Reason"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.reason"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Comment"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextView
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="70"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.empcomment"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;"
                      backgroundColor="#adb8c9" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Approver Comment"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      horizontalAlignment="right"
                      height="70"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      v-model="appcomment"
                      @focus="textfieldfocus"
                      @blur="textfieldblur"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Uploaded File"
                    textWrap="true"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <Image 
                    id="imageID" 
                    row='1' 
                    :src="leaveimage"
                    verticalAlignment='center' 
                    height="320" 
                    width="69%" 
                    class="formBox" />
            </StackLayout>
            <StackLayout orientation="horizontal" marginBottom="15" > 
               <Label
                      @tap="modalClose2()"  
                      width="90%"
                      text="OK"
                      fontSize="14"
                      paddingTop="10" 
                      textAlignment="right" 
                      color="#002851" 
                      verticalAlignment="center"
                      marginRight='20'
                      marginLeft='10'
                      paddingBottom="10" />
            </StackLayout>
            </StackLayout>
              </ScrollView>   
            </StackLayout>              
          </StackLayout>
          </StackLayout> 
            </Page>`,
          data() {
              return {
                appcomment: '',
                // docos1: "~/images/document.png",
                leavedate:      localStorage.getItem("tdleavedate"),
                halfday:        localStorage.getItem("tdhalfday"),
                leavetype:      localStorage.getItem("tdleavetype"),
                dateapplied:    localStorage.getItem("tddateapplied"),
                leavestatus:    localStorage.getItem("tdleavestatus"),
                reason:         localStorage.getItem("tdreason"),
                empcomment:     localStorage.getItem("tdempcomment"),
                approvercomment:'',
                leaveimage:     '',
                cancelleavedisabled: '',
                cancelcolor:{
                          color: '#e0e0d1'
                         }
              }
            }, 
            created: function() {
              this.appcomment = localStorage.getItem("tdapprovercomment");
              imageSourceModule.fromUrl(a.FilePath).then(img => {
                this.leaveimage = 'data:image/jpeg;base64,' + img.toBase64String('jpeg', 50)
              })
              // if(a.FilePath === ''){
              //  //this.urlsegment = "~/images/document.png";
              // }
              // else{
              //  this.leaveimage = filepath;
              // }
              // this.uploadimageCC()
              // this.disablecancelleave()
              // console.log(localStorage.getItem("dateapplied"))
              // console.log(localStorage.getItem("leavetype"))
          },
          methods: {
          modalClose1() {
            this.$modal.close()
            // vm.validatecancel()
            
          },
          modalClose2() {
            this.$modal.close()
            localStorage.setItem("appcomm", this.appcomment)
            console.log(this.leaveimage + " this is the image")
            vm.validatecomment()
          },
          }})    
          }


        },   
        validatecomment(){
            // alert(this.validateID)
            var type2 = this.LeaveApproval.find(res => res.IDko === this.validateID);
            if (localStorage.getItem("appcomm") === null || localStorage.getItem("appcomm") === ''){
              var req = Frame.topmost().getViewById(this.validateID);
                console.log(req.isUserInteractionEnabled + " validatecomment false" + localStorage.getItem("appcomm"))
                // req.isUserInteractionEnabled = 'true';
                // req.opacity = "0";
            
            }
            else{ 
            // alert(type2.ApproverComment + 'wala')
             type2.ApproverComment = localStorage.getItem("appcomm");
            // alert(localStorage.getItem("appcomm") + 'meron')
            var req = Frame.topmost().getViewById(this.validateID);
                var LeaveID = this.LeaveApproval.find(res => res.IDko === this.validateID)
                LeaveID.ApproverComment = localStorage.getItem("appcomm")
                console.log(req.isUserInteractionEnabled + " validatecomment true" + localStorage.getItem("appcomm"))
                Toast.makeText("Comment Saved").show();
                // req.isUserInteractionEnabled = 'false';
                // req.opacity = "1";
            
            }
            
            // for (var i = 0;i < this.LeaveApproval.length;i++){
            //   // this.simplecontainer = this.LeaveApproval[i]
            //   this.simplecontainer.push({
            //         Names: this.LeaveApproval[i].Names,
            //         Type: this.LeaveApproval[i].Type,
            //         Date: this.LeaveApproval[i].Date,
            //         Approval: this.LeaveApproval[i].Approval,
            //         IDko: this.LeaveApproval[i].IDko,
            //         // Halfday: resulta[i].Halfday,
            //         DateApplied: this.LeaveApproval[i].DateApplied,
            //         ShiftType: this.LeaveApproval[i].ShiftType,
            //         EmpComment: this.LeaveApproval[i].EmpComment,
            //         EmpReason: this.LeaveApproval[i].EmpReason,
            //         ApproverComment: this.LeaveApproval[i].ApproverComment,
            //         FilePath: this.LeaveApproval[i].FilePath,
            //         EmpID: this.LeaveApproval[i].EmpID,
            //         checkOnebyOne: this.LeaveApproval[i].checkOnebyOne,
            //         checkerko: this.LeaveApproval[i].checkerko,
            //         LeaveHours: this.LeaveApproval[i].LeaveHours,
            //         LeaveMinutes: this.LeaveApproval[i].LeaveMinutes
            //       });
            // }
            
            // this.LeaveApproval = []
            // for (var i = 0;i < this.simplecontainer.length;i++){
            //     console.log(this.simplecontainer[i].IDko,this.simplecontainer[i].ApproverComment)
            // }
            // setTimeout(() => {
              // for (var i = 0;i < this.simplecontainer.length;i++){
              // this.simplecontainer = this.LeaveApproval[i]
              // this.LeaveApproval.push({
              //       Names: this.simplecontainer[i].Names,
              //       Type: this.simplecontainer[i].Type,
              //       Date: this.simplecontainer[i].Date,
              //       Approval: this.simplecontainer[i].Approval,
              //       IDko: this.simplecontainer[i].IDko,
              //       // Halfday: resulta[i].Halfday,
              //       DateApplied: this.simplecontainer[i].DateApplied,
              //       ShiftType: this.simplecontainer[i].ShiftType,
              //       EmpComment: this.simplecontainer[i].EmpComment,
              //       EmpReason: this.simplecontainer[i].EmpReason,
              //       ApproverComment: this.simplecontainer[i].ApproverComment,
              //       FilePath: this.simplecontainer[i].FilePath,
              //       EmpID: this.simplecontainer[i].EmpID,
              //       checkOnebyOne: this.simplecontainer[i].checkOnebyOne,
              //       checkerko: this.simplecontainer[i].checkerko,
              //       LeaveHours: this.simplecontainer[i].LeaveHours,
              //       LeaveMinutes: this.simplecontainer[i].LeaveMinutes
              //     });
            // }
            // for (var i = 0;i < this.LeaveApproval.length;i++){
            //     console.log(this.LeaveApproval[i].IDko,this.LeaveApproval[i].ApproverComment)
            // }
            // }, 3000);
            // console.log("eeeeeeee"+JSON.stringify(this.LeaveApproval))
            // this.simplecontainer = []
            
            localStorage.removeItem("appcomm")
        },
        validaterequest(request) {   
          localStorage.setItem("tdrequest", request)        
          var vm = this
          if(this.approve.length !== 0) {
            confirm({
              title: "Confirmation",
              message: "Are you sure you want to confirm?",
              okButtonText: "YES",
              cancelButtonText: "NO",
            }).then(result => {
              if(result === true){
                if(localStorage.getItem("tdrequest") === 'approve')
                {
                  vm.Approved()
                }
                else if (localStorage.getItem("tdrequest") === 'deny'){
                  vm.Denied()
                }
              }
            })  
          }
          else{
            Toast.makeText("Please Select to be Approved or Denied").show();
          }
        },
  }
};
</script>
<style scoped>
label {
  font-size: 12;
}
</style>