<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'> 
    <ActionBar title="To Do" color="#002851" flat="true" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(DB, {clearHistory: true})"/>
    </ActionBar>
    <GridLayout>
      <GridLayout>
        <ScrollView orientation="vertical">
          <StackLayout orientation="vertical">
            <FlexboxLayout flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" >
              <GridLayout v-for="list in todoList"  rows="auto,*" columns="auto,*">
                <Label fontSize='12' verticalAlignment="center" @tap="fnct_route(list.Function)"  :class="list.Class" :text="list.Name" color="white"  padding="5" paddingLeft="50" paddingTop="15" paddingBottom="15" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                <Label :text="list.Count" :visibility="list.Visibility" class="todobadge"  color="white" fontWeight="700"  fontSize="14" marginRight="15" verticalAlignment="center" horizontalAlignment="right"/>
              </GridLayout>     
            </FlexboxLayout> 
          </StackLayout>
        </ScrollView>
      </GridLayout>
      <StackLayout row='1' :visibility="luding" isUserInteractionEnabled='false' />
      <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center"
        opacity='0.6' borderRadius='6' backgroundColor='black' height="50" width="50">
        <ActivityIndicator busy="true" color="white" height="100%" width="100%" verticalAlignment="center" />
      </StackLayout>
    </GridLayout>
    

  </Page>
</template>
<script>
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
import * as http from "tns-core-modules/http";
var orientation = require("nativescript-orientation");
import dashboard from "../Dashboard.vue"
import ToDoLeaveApprovalVue from "../ToDo/ToDo-LeaveApproval.vue"
import ToDoLeaveReportsVue from "../ToDo/ToDo-LeaveReports.vue"
import ToDoRequestFormsVue from "../ToDo/ToDo-RequestForms.vue"
import ToDoAnswerSurveyVue from "../ToDo/ToDo-Survey.vue"
import ToDoTimeSheetVue from "../ToDo/ToDo-Timesheet.vue"
import ToDoSafetyCheckVue from "../ToDo/ToDo-SafetyCheck.vue"
import ToDoScheduleApprovalVue from "../ToDo/ToDo-ScheduleApproval.vue"

export default {
  data() {
    return {
      luding: 'visible',
      countTimesheet:0,
      countLeave:0,
      countSurvey:0,
      countRequest:0,
      countSafetyCheck:0,
      hideTimesheet:'hidden',
      hideLeave:'hidden',
      hideSurvey:'hidden',
      hideRequest:'hidden',
      hideSafetyCheck:'hidden',
      DB: dashboard,
      scQMID:[],
      todoList: []
    };
  },
  created() {
    // this.timeSheetResult()
    this.todoAccess()
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.DB, {clearHistory: true})
      };
    },
    alert() {
      alert("working on it");
    },
    fnct_route(a) {
            if (a === 'ToDo_Timesheet') {
                this.$navigateTo(ToDoTimeSheetVue)
            }
            else if (a === 'ToDo_LeaveApproval') {
                this.$navigateTo(ToDoLeaveApprovalVue)
            }
            else if (a === 'ToDo_LeaveReports') {
                this.$navigateTo(ToDoLeaveReportsVue)
            }
            else if (a === 'ToDo_AnswerSurvey') {
                this.$navigateTo(ToDoAnswerSurveyVue)
            }
            else if (a === 'ToDo_RequestForms') {
                this.$navigateTo(ToDoRequestFormsVue)
            }
            else if (a === 'ToDo_SafetyCheck') {
                this.$navigateTo(ToDoSafetyCheckVue)
            }
            else if (a === "ToDo_ScheduleApproval") {
                this.$navigateTo(ToDoScheduleApprovalVue)
            }
        },

    todoAccess(){
      console.log("leave: "+ localStorage.getItem('leavecount2'))
      console.log("time: "+localStorage.getItem('timecount'))
      console.log("survey: "+localStorage.getItem('surveycount'))
      console.log("forms: "+localStorage.getItem('formcount'))
      console.log("safety: "+localStorage.getItem('safetycount'))
      
      http.request({
              url: localStorage.getItem("URL") + "GetAllAccess",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem("ClientName"),
                EmpID: localStorage.getItem("EmpID"),
                Function: "To Do"
              })
            })
            .then(response => {
              if (response.content.toJSON().Access !== null){
                for(var o = 0; o < response.content.toJSON().Access.length; o++) 
                {
                    var param = response.content.toJSON().Access[o].Parameter.toLowerCase()
                    if(response.content.toJSON().Access[o].Parameter.toLowerCase() == 'timekeeping validation' ||
                    response.content.toJSON().Access[o].Parameter.toLowerCase() == 'leave approval' ||
                    response.content.toJSON().Access[o].Parameter.toLowerCase() == 'leave reports' ||
                    response.content.toJSON().Access[o].Parameter.toLowerCase() == 'answer survey' ||
                    response.content.toJSON().Access[o].Parameter.toLowerCase() == 'form request' ||
                    response.content.toJSON().Access[o].Parameter.toLowerCase() == 'safety check' ||
                    response.content.toJSON().Access[o].Parameter.toLowerCase() == 'schedule approval')
                    {
                        this.todoList.push({
                            Name: response.content.toJSON().Access[o].EditName,
                            Function: param == 'timekeeping validation' ? 'ToDo_Timesheet' :
                                param == 'leave approval' ? 'ToDo_LeaveApproval' :
                                param == 'leave reports' ? 'ToDo_LeaveReports' :
                                param == 'answer survey' ? 'ToDo_AnswerSurvey' :
                                param == 'form request' ? 'ToDo_RequestForms':
                                param == 'schedule approval' ? 'ToDo_ScheduleApproval':
                                'ToDo_SafetyCheck' ,
                            Class: param == 'timekeeping validation' ? 'timesheet' :
                                param == 'leave approval' ? 'leaveap':
                                param == 'leave reports' ? 'leaverep' :
                                param == 'answer survey' ? 'survey' :
                                param == 'form request' ? 'request' :
                                param == 'schedule approval' ? 'sched' :
                                'safety',
                            Count: param == 'timekeeping validation' ? localStorage.getItem('timecount'):
                                param == 'leave approval' ? localStorage.getItem('leavecount2'):
                                param == 'leave reports' ? 0:
                                param == 'answer survey' ? localStorage.getItem('surveycount') :
                                param == 'form request' ? localStorage.getItem('formcount') :
                                param == 'schedule approval' ? localStorage.getItem('requestcount') :
                                localStorage.getItem('safetycount'),
                            Visibility: param == 'timekeeping validation' ? (localStorage.getItem('timecount') == 0 ? 'hidden' : 'visible') :
                                param == 'leave approval' ? (localStorage.getItem('leavecount2') == 0 ? 'hidden' : 'visible'):
                                param == 'leave reports' ? 'collapse' :
                                param == 'answer survey' ? (localStorage.getItem('surveycount') == 0 ? 'hidden' : 'visible') :
                                param == 'form request' ? (localStorage.getItem('formcount') == 0 ? 'hidden' : 'visible') :
                                param == 'schedule approval' ? (localStorage.getItem('requestcount') == 0 ? 'hidden' : 'visible') :
                                (localStorage.getItem('safetycount') == 0 ? 'hidden' : 'visible')
                        })
                    }
                    
                }
                this.luding = "collapse"
              }
              else{
                this.luding = "collapse"
              }
                
            })
    },
    
  }
};
</script>
<style scoped>
.sched {
		background-image: url("~/assets/images/Schedule.png");
		background-repeat: no-repeat;
		background-position: 5% 50%;
		background-size: 80%;
		padding-right: 10%;
	}
.safety {
  background-image: url("~/assets/images/menu_safety.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.request {
  background-image: url("~/assets/images/menu_audit_trail.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.survey {
  background-image: url("~/assets/images/menu_survey.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.timesheet {
  background-image: url("~/assets/images/menu_logs_validation.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.leaveap {
  background-image: url("~/assets/images/menu_leave_approval.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.leaverep {
  background-image: url("~/assets/images/menu_leave_reports.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.todobadge {
  position: relative;
  width: 25;
  height: 25;
  border: 2px solid white;
  border-radius: 100px;
  background: rgb(165, 16, 16);
  color:white;
  text-align:center;
  padding-top:2;
}
</style>
