<template>
  <Page class="page" backgroundColor="#003366" @loaded='backbtn();loadmo()'>
    <ActionBar title="Timesheet Validation" flat="true" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" :visibility="vloading" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(TD, {clearHistory: true});"/>
    </ActionBar>

            <StackLayout orientation="vertical"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10"  borderRadius="5" borderWidth="2" >
             <Label fontSize="14" text="Timesheet Validation" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                    <StackLayout orientation="vertical">
                        <FlexboxLayout>
                                    <Label paddingLeft="12%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Name" textWrap="true" width="18%" marginRight="1" backgroundColor="#2d5176"  ></Label>
                                    <Label paddingLeft="15%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Date" textWrap="true" width="18%" marginRight="1" backgroundColor="#2d5176" ></Label>
                                    <Label paddingLeft="15%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="From" textWrap="true" width="18%" marginRight="1" backgroundColor="#2d5176"  ></Label>
                                    <Label paddingLeft="20%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="To" textWrap="true" width="18%" marginRight="1" backgroundColor="#2d5176" ></Label>
                                    <Label paddingLeft="15%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Type" textWrap="true" width="18%" marginRight="1" backgroundColor="#2d5176" ></Label>
                                    <Label paddingLeft="15%" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Logs" textWrap="true"  width="18%" backgroundColor="#2d5176" ></Label>
                                    <StackLayout color="white"  marginLeft="1"  width="15%" backgroundColor="#2d5176">
                                          <CheckBox id='allchecker' fillColor="#f1c40f" horizontalAlignment="center" :isEnabled="isEnabledCheckall" @tap="chkchange('all', '')"/>
                                    </StackLayout>

                          </FlexboxLayout>
                        <ScrollView orientation="vertical" height="80%" scrollBarIndicatorVisible="false">
                          <StackLayout orientation="vertical" >
                            <FlexboxLayout backgroundColor="#2d5176" v-for="result in TimeSheets">
                                        <Label  @tap="selectTimesheet(result.SeriesID,result.Date,result.From,result.To,result.Type,$event,result.EmpComment,result.FilePath,result.ShiftNum)" paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Names" textWrap="true"  marginBottom="1"  width="18%" marginRight="1" backgroundColor="#003366"  ></Label>
                                        <Label  @tap="selectTimesheet(result.SeriesID,result.Date,result.From,result.To,result.Type,$event,result.EmpComment,result.FilePath,result.ShiftNum)" paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Date" textWrap="true"  marginBottom="1"   width="18%" marginRight="1" backgroundColor="#003366" ></Label>
                                        <Label  @tap="selectTimesheet(result.SeriesID,result.Date,result.From,result.To,result.Type,$event,result.EmpComment,result.FilePath,result.ShiftNum)" paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.From" textWrap="true"  marginBottom="1"   width="18%" marginRight="1" backgroundColor="#003366"  ></Label>
                                        <Label  @tap="selectTimesheet(result.SeriesID,result.Date,result.From,result.To,result.Type,$event,result.EmpComment,result.FilePath,result.ShiftNum)" paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.To" textWrap="true"   marginBottom="1"  width="18%" marginRight="1" backgroundColor="#003366"  ></Label>
                                        <Label  @tap="selectTimesheet(result.SeriesID,result.Date,result.From,result.To,result.Type,$event,result.EmpComment,result.FilePath,result.ShiftNum)" paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Type" textWrap="true"  marginBottom="1"  width="18%" marginRight="1" backgroundColor="#003366"  ></Label>
                                        <Label  @tap="showLogs(result.Date,result.EmpID,result.Location)" paddingLeft="5" paddingTop="8" paddingBottom="8" horizontalAlignment="center" color="white"  class="eye-con" textWrap="true"  marginBottom="1"  width="18%" marginRight="1" backgroundColor="#003366"  ></Label>
                                        <StackLayout paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  marginLeft="1"  marginBottom="1" width="15%" backgroundColor="#003366">
                                            <CheckBox marginTop="10" fillColor="#f1c40f"  horizontalAlignment="center" :id="result.ID" checked="false" @tap="chkchange('isa',result.ID)"/>
                                        </StackLayout>
                            </FlexboxLayout>
                             <StackLayout :visibility="vloading1" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" opacity='0.6'  height="100%" width="100%">
                                <ActivityIndicator :isCollapsed="actvisible" busy="true"
                                    color="white" height="100%" width="100%"
                                    verticalAlignment="center"
                                    backgroundColor="#003366"  />
                                <Label verticalAlignment="center"  height="100%" width="100%"  fontSize="14" text="Loading.. Please wait..." color="white"  marginLeft="60%"/>
                            </StackLayout>
                            
                        </StackLayout>
                        </ScrollView>
                        <StackLayout orientation="horizontal" height="20%" horizontalAlignment="right">
                            <Button borderRadius="3" text="Deny" backgroundColor="#f1c40f" marginRight="10" @tap="confirmationforDenied" height="40" width="auto" textWrap="true"/>
                            <Button borderRadius="3" text="Approve" backgroundColor="#f1c40f" marginRight="10" @tap="confirmationforApproved"  height="40" width="auto" textWrap="true" />
                        </StackLayout>
                    </StackLayout>
    </StackLayout>
  </Page>
</template>
<script>
const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;
const picker = new ModalPicker();
import * as http from "tns-core-modules/http";
var moment = require("moment");
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
import { CheckBox } from 'nativescript-checkbox';
import Toast from "nativescript-toast";
var orientation = require("nativescript-orientation");
import todo from "../ToDo/ToDo.vue"

export default {
  data() {
    return {
      TimeSheets: [],
      approve: [],
      schedOut: [],
      schedDate:[],
      vloading: "hidden",
      vloading1: "visible",
      TD: todo,
      komentonghurado:[],
      checkCount:0,
      isEnabledCheckall:true,
    };
  },
  created() {
    this.timeSheetResult();
  },
  methods: {
    // timeCount(){
    //   http.request({
    //   url: localStorage.getItem("URL") + "GetLogsForApprovalMobilev2",
    //   method: "POST",
    //   headers: { "Content-Type": "application/json" },
    //   content: JSON.stringify({
    //     CN:localStorage.getItem("ClientName"),
    //     EmpID:localStorage.getItem("EmpID")
    //     })
    //   }).then((response) => {
    //     // console.log(response.content.toJSON().ListTodoScheduleView )
    //     if (response.content.toJSON().LogsListData !== null){
    //       var timecount = response.content.toJSON().LogsListData.length
		// 			localStorage.setItem("timecount", timecount)
		// 			console.log(localStorage.getItem("timecount"))
    //     }
		// 		else{
		// 			var timecount = 0
		// 			localStorage.setItem("timecount", timecount)
    //       console.log(localStorage.getItem("timecount"))
		// 		}
    //   })
    // },
    showLogs(SelectedDate,EmpID, Loc){
      var vm = this;
      vm.DateSelected = SelectedDate
      vm.EmpID = EmpID
      vm.Location = Loc
      this.$showModal({template: `
      <Page>
        <StackLayout  width="100%" height="500">
          <Label text="Logs" fontSize="14" paddingTop="15" paddingBottom="15" backgroundColor="#002851" textAlignment="center" color="white" verticalAlignment="center"/>
          
          <ScrollView scrollBarIndicatorVisible="false" orientation="vertical" height="70%">
            <StackLayout orientation="vertical" >
              <FlexboxLayout>
                <Label class="p-5" fontWeight="bold" color="black" paddingLeft="3" fontSize="14" text="Start Time" width="20%" marginRight="1" textAlignment="Center" textWrap="true" ></Label>
                <Label class="p-5" fontWeight="bold" color="black" paddingLeft="3" fontSize="14" text="End Time" width="20%" marginRight="1" textAlignment="Center" textWrap="true" ></Label>
                <Label class="p-5" fontWeight="bold" color="black" paddingLeft="3" fontSize="14" text="Reason" width="20%" marginRight="1" textAlignment="Center" textWrap="true" ></Label>
                <Label class="p-5" fontWeight="bold" color="black" paddingLeft="3" fontSize="14" text="Total" width="20%" marginRight="1" textAlignment="Center" textWrap="true" ></Label>
                <Label class="p-5" fontWeight="bold" color="black" paddingLeft="3" fontSize="14" text="Status" width="20%" marginRight="1" textAlignment="Center" textWrap="true" ></Label>
              </FlexboxLayout>
              <FlexboxLayout v-for="result in resultTimesheets" :key="result['.key']">
                <Label class="p-5" color="black" paddingLeft="3" fontSize="14" :text="result.StartTime" width="20%" marginRight="1" textAlignment="Center" textWrap="true" ></Label>
                <Label class="p-5" color="black" paddingLeft="3" fontSize="14" :text="result.EndTime" width="20%" marginRight="1" textAlignment="Center" textWrap="true" ></Label>
                <Label class="p-5" color="black" paddingLeft="3" fontSize="14" :text="result.ReasonDesc" width="20%" marginRight="1" textAlignment="Center" textWrap="true" ></Label>
                <Label class="p-5" color="black" paddingLeft="3" fontSize="14" :text="result.HourWork" width="20%" marginRight="1" textAlignment="Center" textWrap="true" ></Label>
                <Label class="p-5" color="black" paddingLeft="3" fontSize="14" :text="result.ActivityStatus" width="20%" marginRight="1" textAlignment="Center" textWrap="true" ></Label>
              </FlexboxLayout>
            </StackLayout>
          </ScrollView>

            <StackLayout orientation="vertical">

              <StackLayout orientation="horizontal" width= "100%" paddingLeft="10">
                <StackLayout width= "20%">
                  <Label paddingLeft="3" color="black" fontSize="14" text="Location: " textWrap="true" />
                </StackLayout >
                <StackLayout width= "80%">
                  <Label color="black" fontSize="14" fontWeight="bold" :text="DisplayLocation" textWrap="true"/>
                </StackLayout >
              </StackLayout>
            
              <StackLayout orientation="horizontal" width= "100%" paddingLeft="10">
                <StackLayout width="45%">
                  <Label paddingLeft="3" color="black" fontSize="14" text="Total Worked Hours: " textWrap="true"/>
                </StackLayout >
                <StackLayout width="55%">
                  <Label color="black" fontSize="14" fontWeight="bold" :text="TotalWorkedHrs"  textWrap="true"/>
                </StackLayout >
              </StackLayout>
              
              <Label />
              <StackLayout width="100%" borderTop="1" borderTopWidth="1" borderColor="#2d5176" paddingTop="10" @tap="$modal.close">
                <Label text="OK" fontSize="14" color="black" horizontalAlignment="center" verticalAlignment="bottom"/>
              </StackLayout>

            </StackLayout

        </StackLayout>
      </Page>`,
      data() {
        return {
          resultTimesheets: [],
          DisplayLocation: vm.Location,
          TotalWorkedHrs: '',
        }
      },
      created() {
        this.getTimesheet()
        this.getTWH()
      },
      methods: {
        getTWH(){
          console.log(localStorage.getItem('ClientName'))
          console.log(vm.EmpID)
          console.log(vm.DateSelected)
          console.log(vm.DateSelected)
          http.request({
          url: localStorage.getItem("URL") + "DHRTotalWorkedHrs",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            CN:localStorage.getItem('ClientName'),
            EMPID: vm.EmpID,
            STARTDATE:vm.DateSelected,
            ENDDATE:vm.DateSelected
            })
          }).then((response) => {
            console.log(response.content.toJSON().GetTotalWorkedHours[0].TWH)
            this.TotalWorkedHrs = response.content.toJSON().GetTotalWorkedHours[0].TWH
          })
        },
        getTimesheet(){
          http.request({
          url: localStorage.getItem("URL") + "DisplayActivityByRangeAlternative4",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            companyname:localStorage.getItem('ClientName'),
            NTID: vm.EmpID,
            Start_Date:vm.DateSelected,
            End_Date:vm.DateSelected
            })
          }).then((response) => {
            
            // var twh = 0
            for (var i = 0; i < response.content.toJSON().ListAllActivity.length; i++){
              // twh += parseInt(response.content.toJSON().ListAllActivity[i].HourWork)
              this.resultTimesheets.push({
                StartTime: moment(response.content.toJSON().ListAllActivity[i].StartTIme, 'MMM D YYYY h:mmA').format("h:mm A") === 'Invalid date' ? '' : moment(response.content.toJSON().ListAllActivity[i].StartTIme,'MMM D YYYY h:mmA').format("h:mm A"),
                EndTime: moment(response.content.toJSON().ListAllActivity[i].StartEnd, 'MMM D YYYY h:mmA').format("hh:mm A") === 'Invalid date' ? '' : moment(response.content.toJSON().ListAllActivity[i].StartEnd,'MMM D YYYY h:mmA').format("h:mm A"),
                ReasonDesc: response.content.toJSON().ListAllActivity[i].ReasonDesc,
                HourWork: response.content.toJSON().ListAllActivity[i].HourWork,
                ActivityStatus: response.content.toJSON().ListAllActivity[i].ActivityStatus

              })
            }
            // console.log(this.resultTimesheets)
            // this.TotalWorkedHrs = (twh / 60) === 'NaN' ? '0.00' : (twh / 60)
            
            
          })
            }
          }
        });
    },
    confirmationforApproved() {
      var vm = this;
      if(this.approve.length !== 0) {
        confirm({
          title: "Confirmation",
          message: "Are you sure you want to confirm?",
          okButtonText: "YES",
          cancelButtonText: "NO",
        }).then(result => {
          if (result === true){
            vm.approved();
          }
        })
      }
      else{
        Toast.makeText("Please Select to be Approved or Denied").show();
      }
    },
    confirmationforDenied() {
      var vm = this;
      if(this.approve.length !== 0) {
        confirm({
          title: "Confirmation",
          message: "Are you sure you want to confirm?",
          okButtonText: "YES",
          cancelButtonText: "NO",
        }).then(result => {
          if (result === true){
            vm.denied();
          }
        })
      }
      else{
        Toast.makeText("Please Select to be Approved or Denied").show();
      }
    },
    selectTimesheet(IDmoto,date,from,to,type,event,comment,filepath,shiftnum){
      var vm = this;
      vm.Shift = shiftnum
      vm.Dates = date;
      vm.From = from;
      vm.To = to;
      vm.Reasons = type;
      vm.empcomment = comment;
      vm.komento = this.komentonghurado;
      vm.selectedEmpIDs = this.selectedEmpID;
      console.log(filepath)
      // if(comment === ''){
      //   Toast.makeText("Added segment is not available").show();
      // }
      // else{
      this.$showModal({template: `
          <Page >
          <GridLayout height="620">
            <StackLayout orientation="vertical" width="100%" >
            <Label text="View Schedule" fontSize="14" paddingTop="15" paddingBottom="15" backgroundColor="#002851" textAlignment="center" color="white" verticalAlignment="center"/>
            <ScrollView scrollBarIndicatorVisible="false" orientation="vertical" height="88%">
              <StackLayout orientation="vertical">
              <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginLeft="5">
                <Label text="Date:" fontSize="14" color="black" marginRight="5"/>
                <Label :text="this.DisplayDate" fontSize="14" color="black"/>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginLeft="5">
                <Label text="Time:" fontSize="14" color="black" marginRight="5"/>
                <Label :text="this.DisplayFrom" fontSize="14" color="black"/>
                <Label text="-" fontSize="14" color="black"/>
                <Label :text="this.DisplayTo" fontSize="14" color="black"/>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginLeft="5">
                <Label text="Reason:" fontSize="14" color="black" marginRight="5"/>
                <Label :text="this.DisplayReasons" fontSize="14" color="black"/>
              </StackLayout>
               <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginLeft="5">
                <Label text="Shift:" fontSize="14" color="black" marginRight="5"/>
                <Label :text="this.DisplayShift" fontSize="14" color="black"/>
              </StackLayout>
            <StackLayout orientation="horizontal" marginTop="15" marginRight="10" marginLeft="5">
                <Label text="Employee's comment:" fontSize="14" color="black" marginRight="5"/>
                <Label text="" fontSize="14" color="black"/>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
              <TextView 
                  editable="false"
                    height="80" 
                    width="100%"
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    v-model="this.DisplayEmpComment"
                    hint="Comment"
                    @focus="textfieldfocus"
                    @blur="textfieldblur"
                    color="black"
                    backgroundColor="gray"
              />
               
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginLeft="5">
                <Label text="Approver's Comment:" fontSize="14" color="black"/>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="5" marginLeft="5">
              <TextView
              height="80" 
                    width="100%"
                    fontSize="14" 
                    borderRadius="3" 
                    borderWidth="1" 
                    hint="Comment"
                    @focus="textfieldfocus"
                    @blur="textfieldblur"
                    color="black"
                    v-model="approverComments"
              />
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="10" marginRight="10" marginLeft="5">
                <Label text="Uploaded File:" fontSize="14" color="black"/>
              </StackLayout>
              <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="5" marginLeft="5">
              <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="5" marginLeft="25%">
                <Image loadMode="sync" horizontalAlignment="center" :src="urlsegment" height="150" width="150" @tap="pictureModal"/>
              </StackLayout>

              </StackLayout>
            </ScrollView>  
              <StackLayout orientation="horizontal" marginLeft="85%"  @tap="$modal.close">
                <Label  text="DONE" textAlignment="center" color="#003366" marginRight="5"/>
              </StackLayout>     
            </StackLayout>
            <GridLayout row="1" orientation="horizontal" width="100%" height="620" :visibility="hidePic" horizontalAlignment="center" verticalAlignment="center" backgroundColor="white">
              
              <Image loadMode="sync"  :src="urlsegment" height="100%" width="100%" @tap="pictureModal"/>
              <Label text="Close" fontSize="14" verticalAlignment="bottom" horizontalAlignment="right" color="black" marginRight="10" marginBottom="10" @tap="closeModal"/>
            </GridLayout>
          </StackLayout>
            
          </GridLayout>
            </Page>`,
          data() {
              return {
                hidePic: 'collapse',
                DisplayDate:vm.Dates,
                DisplayFrom:vm.From,
                DisplayTo:vm.To,
                DisplayReasons:vm.Reasons,
                DisplayEmpComment:vm.empcomment,
                approverComments:'',
                uploadedFile:'',
                urlsegment:'',
                DisplayShift: vm.Shift
              }
            }, 
            created: function() { 
              this.time1 = 'Select Time';
              this.time2 = 'Select Time';
              this.selectedSegment = 'Reason';
              if(filepath === ''){
               //this.urlsegment = "~/images/document.png";
              }
              else{
               this.urlsegment = filepath;
              }
          },
          methods: {
            closeModal(){
              this.hidePic = 'collapse'
            },
          pictureModal(){
            this.hidePic = 'visible'
          },
          KomentoNgAprobado(){
            if(this.approverComments === ""){
              var ID = vm.TimeSheets.find(a => a.SeriesID === IDmoto);
              ID.checkerko = false;
            }
            else{
              vm.komento.push(this.approverComments);
              var ID = vm.TimeSheets.find(a => a.SeriesID === IDmoto);
              ID.checkerko = true;
              ID.opacityko = "1";
              this.modalClose();
            }
          },
          modalClose() {
            this.$modal.close()
          },   
          }})  
    },
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.TD, {clearHistory: true});
      };
    },
    timeSheetResult() {
      http
        .request({
          url: localStorage.getItem("URL") + "GetDB",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            ClientName: localStorage.getItem("ClientName")
          })
        })
        .then(responses => {
          http
            .request({
              url: localStorage.getItem("URL") + "GetLogsForApprovalMobilev2",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                EmpID:localStorage.getItem("EmpID")
              })
            })
            .then(response => {
              var resulta = response.content.toJSON().LogsListData.filter(res => res.EmpID.toUpperCase() !== localStorage.getItem("EmpID").toUpperCase())
              //console.log(resulta)
              if (resulta.length === 0) {
                this.isEnabledCheckall = false;
                this.vloading = "visible";
                this.vloading1 = "hidden";
              } else {
                for (var i = 0;i < resulta.length;i++) 
                  {
                  this.schedOut = moment(resulta[i].EndTime).format("h:mm A");
                  this.schedDate = moment(resulta[i].SchedDate).format("YYYY-MM-DD");
                  if(this.schedOut === "Invalid date") {
                    this.schedOut = "";
                  }
                  if(this.schedDate === "Invalid date") {
                    this.schedDate = "";
                  }
                  this.TimeSheets.push({
                    Names: resulta[i].EmpName,
                    Date: this.schedDate,
                    From: moment(resulta[i].StartTime).format("h:mm A"),
                    To: this.schedOut,
                    Type: resulta[i].Reason,
                    SeriesID: resulta[i].SeriesID,
                    EmpComment:resulta[i].EmpComment,
                    FilePath:resulta[i].FilePath,
                    EmpID:resulta[i].EmpID,
                    checkOnebyOne:false,
                    checkerko:true,
                    opacityko:'1',
                    ID: 'check' + i,
                    ShiftNum: resulta[i].ShiftNum,
                    Location: resulta[i].Location
                  });
                }
                this.vloading = "visible";
                this.vloading1 = "hidden";
              }
            });
        });
    },
    approved() {
          if (this.TimeSheets.length === 0) {
            Toast.makeText("No data Available").show();
          } else {
            this.vloading1 = 'visible'
            var reqSeriesID = []
            for(var v = 0;v < this.approve.length;v++){
              reqSeriesID.push(this.approve[v].SeriesID)
            }
            for (var i = 0; i < this.TimeSheets.length; i++) {
              let checkBox = Frame.topmost().getViewById( "" + this.TimeSheets[i].ID + "");
              if (checkBox.checked == 1) {
                var selctedEmpID = this.TimeSheets[i].EmpID;
                http.request({
                    url: localStorage.getItem("URL") + "ApproveDenyLogsv3",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN:localStorage.getItem("ClientName"),
                      EmpID:localStorage.getItem("EmpID"),
                      SeriesID: this.TimeSheets[i].SeriesID,
                      Status: "Approved",
                      ApproverComment:this.komentonghurado[i]
                    })
                  })
                  .then(response => {
                          console.log(selctedEmpID);
                    		  http.request({
                          url: localStorage.getItem("URL") + "DHRGetDHRTOKENV2",
                          method: "POST",
                          headers: { "Content-Type": "application/json" },
                          content: JSON.stringify({
                            CN: localStorage.getItem("ClientName"),
                            EMPID:selctedEmpID
                          })
                        })
                        .then(response => {
                          //console.log(this.listOfLeave[i].LeaveType)
                          console.log(response.content.toJSON())
                          http.request({
                              url: "https://fcm.googleapis.com/fcm/send",
                              method: "POST",
                              headers: {
                                Authorization:
                                  "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                                "Content-Type": "application/json"
                              },
                              content: JSON.stringify({
                                notification: {
                                  body:
                                  localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
                                    " " +
                                    "approved your segment.",
                                  title: "Timesheet Validation"
                                },
                                to: response.content.toJSON()
                              })
                            })
                            .then(response => {
                              http.request({
                              url: localStorage.getItem("URL") + "GetLogsForApprovalMobilev2",
                              method: "POST",
                              headers: { "Content-Type": "application/json" },
                              content: JSON.stringify({
                                CN:localStorage.getItem("ClientName"),
                                EmpID:localStorage.getItem("EmpID")
                                })
                              }).then((response) => {
                                // console.log(response.content.toJSON().ListTodoScheduleView )
                                if (response.content.toJSON().LogsListData !== null){
                                  var timecount = response.content.toJSON().LogsListData.length
                                  localStorage.setItem("timecount", timecount)
                                  Frame.topmost().getViewById("allchecker").checked = false;
                                  this.checkCount = 0;
                                  Toast.makeText("Successfully approved").show();
                                  console.log(localStorage.getItem("timecount"))
                                }
                                else{
                                  var timecount = 0
                                  localStorage.setItem("timecount", timecount)
                                  Frame.topmost().getViewById("allchecker").checked = false;
                                  this.checkCount = 0;
                                  Toast.makeText("Successfully approved").show();
                                  console.log(localStorage.getItem("timecount"))
                                }
                              })
                              
                            });
                      });                 
                  });
              }
            }
            // setTimeout(() => {
            //   http.request({
            //   url: localStorage.getItem("URL") + "requestorSegmentEmailNotif",
            //   method: "POST",
            //   headers: { "Content-Type": "application/json" },
            //   content: JSON.stringify({
            //     CN:localStorage.getItem("ClientName"),
            //     SegmentID: reqSeriesID
            //     })
            //   }).then((response) => {
            //     console.log("requestorLeaveEmailNotif " + response.content.toJSON())
            //   })
            // }, 1000)
            Frame.topmost().getViewById("allchecker").checked = false;   
            this.TimeSheets = [];
            this.timeSheetResult();
          }
    },

    denied() {
          if (this.TimeSheets.length === 0) {
            Toast.makeText("No data Available").show();
          } else {
            this.vloading1 = 'visible'
            var reqSeriesID = []
            for(var v = 0;v < this.approve.length;v++){
              reqSeriesID.push(this.approve[v].SeriesID)
            }
            for (var i = 0; i < this.TimeSheets.length; i++) {
              let checkBox = Frame.topmost().getViewById( "" + this.TimeSheets[i].ID + "");
              if (checkBox.checked == 1) {
                var selctedEmpID = this.TimeSheets[i].EmpID;
                http.request({
                    url: localStorage.getItem("URL") + "ApproveDenyLogsv3",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN:localStorage.getItem("ClientName"),
                      EmpID:localStorage.getItem("EmpID"),
                      SeriesID: this.TimeSheets[i].SeriesID,
                      Status: "Denied",
                      ApproverComment:this.komentonghurado[i]
                    })
                  })
                  .then(response => {
                    console.log(selctedEmpID);
                    		  http.request({
                          url: localStorage.getItem("URL") + "DHRGetDHRTOKENV2",
                          method: "POST",
                          headers: { "Content-Type": "application/json" },
                          content: JSON.stringify({
                            CN: localStorage.getItem("ClientName"),
                            EMPID:selctedEmpID
                          })
                        })
                        .then(response => {
                          //console.log(this.listOfLeave[i].LeaveType)
                          console.log(response.content.toJSON())
                          http.request({
                              url: "https://fcm.googleapis.com/fcm/send",
                              method: "POST",
                              headers: {
                                Authorization:
                                  "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                                "Content-Type": "application/json"
                              },
                              content: JSON.stringify({
                                notification: {
                                  body:
                                  localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
                                    " " +
                                    "denied your segment.",
                                  title: "Timesheet Validation"
                                },
                                to: response.content.toJSON()
                              })
                            })
                            .then(response => {
                              http.request({
                              url: localStorage.getItem("URL") + "GetLogsForApprovalMobilev2",
                              method: "POST",
                              headers: { "Content-Type": "application/json" },
                              content: JSON.stringify({
                                CN:localStorage.getItem("ClientName"),
                                EmpID:localStorage.getItem("EmpID")
                                })
                              }).then((response) => {
                                // console.log(response.content.toJSON().ListTodoScheduleView )
                                if (response.content.toJSON().LogsListData !== null){
                                  var timecount = response.content.toJSON().LogsListData.length
                                  localStorage.setItem("timecount", timecount)
                                  this.checkCount = 0; 
                                  Toast.makeText("Successfully denied").show();
                                  console.log(localStorage.getItem("timecount"))
                                }
                                else{
                                  var timecount = 0
                                  localStorage.setItem("timecount", timecount)
                                  // Frame.topmost().getViewById("allchecker").checked = false;    
                                  this.checkCount = 0; 
                                  Toast.makeText("Successfully denied").show();
                                  console.log(localStorage.getItem("timecount"))
                                }
                              })
                              
                            });
                      });                 
                  });
              }
            }
            // setTimeout(() => {
            //   http.request({
            //   url: localStorage.getItem("URL") + "requestorSegmentEmailNotif",
            //   method: "POST",
            //   headers: { "Content-Type": "application/json" },
            //   content: JSON.stringify({
            //     CN:localStorage.getItem("ClientName"),
            //     SegmentID: reqSeriesID
            //     })
            //   }).then((response) => {
            //     console.log("requestorLeaveEmailNotif " + response.content.toJSON())
            //   })
            // }, 1000)
            Frame.topmost().getViewById("allchecker").checked = false;    
            
            this.TimeSheets = [];
            this.timeSheetResult();   
          }
    },
    chkchange(e,a) {
      var checkmain = Frame.topmost().getViewById('allchecker')
      if (e === 'all'){
        if(checkmain.checked === false){
          this.checkCount = 0;
          this.approve.splice(0)
          for(var o = 0; o < this.TimeSheets.length; o++){
					  var checkall = Frame.topmost().getViewById('check' + o)
					  console.log("ito yon: "+ checkall)
            var seriesID = this.TimeSheets.find(res => res.ID === 'check' + o)
            if(checkall.checked === false){
              checkall.toggle()
            }
            this.approve.push({
              SeriesID: seriesID.SeriesID, 
              ApproverComment:seriesID.ApproverComment,
              EmpID:seriesID.EmpID
            })
            console.log(this.approve)
          }
        }
        else{
          this.approve.splice(0)
          for(var o = 0; o < this.TimeSheets.length; o++){
            var checkall = Frame.topmost().getViewById('check' + o)
            if(checkall.checked === true){
              checkall.toggle()
            } 
          }
        }
      }
      else{
        var seriesID = this.TimeSheets.find(res => res.ID === a)
        var le = this.approve.find(res => res.SeriesID === seriesID.SeriesID)
        var index = this.approve.indexOf(le);
        var check = Frame.topmost().getViewById(a)
        if(checkmain.checked === true){
          checkmain.toggle()
        }
        if(check.checked === true){
          if (index > -1) {
            this.approve.splice(index, 1);
          }
        }
        else{

          this.approve.push({
            SeriesID: seriesID.SeriesID, 
            ApproverComment:seriesID.ApproverComment,
            EmpID:seriesID.EmpID
          })
            console.log(this.approve)
          if (this.approve.length === this.TimeSheets.length){
            checkmain.checked = true
          }
          
        }
        // check.toggle()
      }
    },
    clickcheck(event) {
          this.checkCount = 0;
          if (this.TimeSheets.length  >= 1 ){
          for (var i = 0;i < this.TimeSheets.length; i++){
            if(event.object.checked === false)
            {
              Frame.topmost().getViewById(this.TimeSheets[i].SeriesID).checked = true
              this.TimeSheets[i].checked = true
              console.log('dito')
              this.checkCount += 1
            }
            else {
              Frame.topmost().getViewById(this.TimeSheets[i].SeriesID).checked = false
              this.TimeSheets[i].checked = false
            }
            //   if (Frame.topmost().getViewById(this.TimeSheets[i].SeriesID).isUserInteractionEnabled === true) {
            //     if (Frame.topmost().getViewById(this.TimeSheets[i].SeriesID).checked === true){
            //       if(Frame.topmost().getViewById("allchecker").checked === true){
            //         Frame.topmost().getViewById(this.TimeSheets[i].SeriesID).checked = false;
            //       }
                    
            //     }
            //     else if (Frame.topmost().getViewById(this.TimeSheets[i].SeriesID).checked === false){
            //       if(Frame.topmost().getViewById("allchecker").checked === false){
            //         Frame.topmost().getViewById(this.TimeSheets[i].SeriesID).checked = true;
            //     }
            //     }
            // } else {
            //   Frame.topmost().getViewById(this.TimeSheets[i].SeriesID).checked = false;
            // }
          }
          }
          else{
            Toast.makeText("No data Available").show();
          }

    }
  }
};
</script>
<style scoped>
label {
  font-size: 12;
}
.eye-con {
  background-image: url("~/images/todo_logs_btn.png");
  background-repeat: no-repeat;
  background-position: 67% 40%;
  background-size: 80 80;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 10;
}
</style>