<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn()'> 
    <ActionBar title="Leave Reports" flat="true" color="#002851" backgroundColor='#f1c40f'>
      <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(TD, {clearHistory: true})"/>
    </ActionBar>
    <GridLayout padding='10'>
    <StackLayout orientation="vertical"  height='100%' width='100%'>
      <FlexboxLayout row='1' flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176" marginBottom="10"  borderRadius="5" borderWidth="2" >        
        <Label fontSize="14" text="Filter by Employee Name" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
        <StackLayout orientation="horizontal" margin="10">
          <!-- <Autocomplete :items="items" suggestMode="Suggest" displayMode="Tokens"/> -->
              <!-- <Autocomplete  :items="items"  suggestMode="SuggestAppend" noResultsText='No Employee' displayMode="Tokens" completionMode='Contains' minimumCharactersToSearch='1'>
                    <SuggestionView ~suggestionView suggestionViewHeight='50'>
                        <StackLayout v-suggestionItemTemplate  orientation="vertical" padding="10">
                            <v-template v-for='i in items'>
                                <Label :text="i.text" />
                            </v-template>
                        </StackLayout>
                     </SuggestionView>    -->
                          <!-- <Autocomplete~suggestionView suggestionViewHeight="20">
                          </Autocomplete~suggestionView> -->
              <!-- </Autocomplete> -->
            <TextField 
            height="40"
            width="100%"
            fontSize="14" 
            borderRadius="3" 
            borderWidth="1" 
            color="black"
            backgroundColor="white"
            borderColor="#f1c40f"
            v-model="name"
            @textChange='textchange'
            @focus="textfieldfocus" @blur="textfieldblur"
            />
        </StackLayout>
        <StackLayout marginRight="10" marginTop="5" marginBottom="10">
                <Button borderRadius="3" height="40" width="40" class="search" @tap="searchEmployee" backgroundColor="#f1c40f" horizontalAlignment="right"/>
        </StackLayout>
      </FlexboxLayout>

          <StackLayout row='1' height='100%' width='100%' backgroundColor="#003366" borderColor="#2d5176"  borderRadius="5" borderWidth="2" >
             <Label fontSize="14" text="Leave Approval" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                    <StackLayout orientation="vertical">
                        <FlexboxLayout>
                            <Label  borderRightColor="#003366" borderRightWidth="1" fontSize='12' paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Leave Date" width="33%" textWrap="true"    backgroundColor="#2d5176"></Label>
                            <Label  borderRightColor="#003366" borderRightWidth="1" fontSize='12' paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Name"  textWrap="true"  width="33%" backgroundColor="#2d5176"   ></Label>
                            <Label  fontSize='12' paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Status"  textWrap="true"  width="34%" backgroundColor="#2d5176"   ></Label>
                        </FlexboxLayout >
                        <Label :visibility='avail' color='white' text='No data available' fontSize='12' textAlignment='center' padding='10'/>
                        <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center"  borderRadius='6' height="50" width="50">
                      
                            <ActivityIndicator  busy="true"
                            color="white" height="100%" width="100%"
                            verticalAlignment="center"/>
                            
                        </StackLayout>
                        <ScrollView orientation="vertical" height="100%">
                        <StackLayout orientation="vertical">
                        <FlexboxLayout  backgroundColor="#003366" v-for="result in leaveReports">
                            <Label  borderBottomColor="#2d5176" borderBottomWidth="1" borderRightColor="#2d5176" borderRightWidth="1" fontSize='12' paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.LeaveDate" width="33%" textWrap="true"></Label>
                            <Label  borderBottomColor="#2d5176" borderBottomWidth="1" borderRightColor="#2d5176" borderRightWidth="1"  fontSize='12' paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.EmployeeName"  textWrap="true"  width="33%"  ></Label>
                            <Label  borderBottomColor="#2d5176" borderBottomWidth="1" fontSize='12' paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.LeaveStatus"  textWrap="true"  width="34%"   ></Label>

                       </FlexboxLayout>  
                       </StackLayout>
                       </ScrollView>                
                    </StackLayout>                     
                  </StackLayout>
      <!-- <StackLayout orientation="vertical" minHeight="100%"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="10"  borderRadius="5" borderWidth="2" >        
        <Label fontSize="14" text="Leave Reports" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
        <FlexboxLayout orientation="horizontal" >
                      <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Leave Date" width="33%" marginRight="1"   backgroundColor="#2d5176"></Label>
                      <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Name"  textWrap="true"   width="33%" marginRight="1" backgroundColor="#2d5176"   ></Label>
                      <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Status" marginLeft="1" textWrap="true"   width="34%"  backgroundColor="#2d5176"  ></Label>
        </FlexboxLayout >
        <ScrollView orientation="vertical">
          <StackLayout orientation="vertical">
            <FlexboxLayout backgroundColor="#2d5176" v-for="result in leaveReports">
                        <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center"  marginBottom="1"  color="white" :text="result.LeaveDate" width="33%" marginRight="1"  backgroundColor="#003366"></Label>
                        <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center"  marginBottom="1"  color="white" :text="result.EmployeeName" width="33%" textWrap="true"  marginRight="1"   backgroundColor="#003366"></Label>
                        <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center"  marginBottom="1"  color="white" :text="result.LeaveStatus" marginLeft="1" width="34%" textWrap="true"   backgroundColor="#003366"></Label>
            </FlexboxLayout>
            </StackLayout>
        </ScrollView>
      </StackLayout> -->

    </StackLayout>
      <StackLayout width='100%' :visibility='se'  row='1' verticalAlignment='top' borderRadius='3' padding='10' paddingTop='90' horizontalAlignment='center' >
        <Label v-for="item in items" @tap='palitname' backgroundColor='white' borderBottomWidth='1' padding='10' borderBottomColor='#003366' color='#003366' :text='item' fontSize='18' textWrap='true' textAlignment='center'/>
      </StackLayout>
    </GridLayout>
  </Page>
</template>
<script>
const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;   
const picker = new ModalPicker();
import * as http from 'tns-core-modules/http';
import todo from "../ToDo/ToDo.vue"
var moment = require('moment')
  export default {
    data () {
      return {
      emp: [],
      items:[],
      leaveReports:[],
      leaveReports2:[],
      name:'',
      se:'collapse',
      avail: 'collapse',
      luding: 'visible',
      TD: todo,
      };
    },
    created () {
        this.leaveReportsResult()
    },
      methods: {  
        
        backbtn() {
          var applicationModule = require("application");
          var AndroidApplication = applicationModule.android;
          var activity =
            AndroidApplication.startActivity ||
            AndroidApplication.foregroundActivity ||
            Frame.topmost().android.currentActivity ||
            Frame.topmost().android.activity;
          activity.onBackPressed = () => {
            //Your code here

            this.$navigateTo(this.TD, {clearHistory: true})
          };
        },
        palitname(e)
        {
          
          this.name = e.object.text
          this.items.splice(0)
        },
        textchange(e) {
          this.items.splice(0)
          for(var o = 0; o < this.emp.length; o++)
          {
              // if(this.items[o].indexOf(e.object.text) > -1)
              // {
              //   console.log(this.items[o])
              // }
            //var aa = []
              var reg = new RegExp(e.object.text, "gi");
              var res = this.emp[o].match(reg);
              if(e.object.text !== '')
              {
                if(res !== null)
                {
                  this.se = 'visible'
                  this.items.push(this.emp[o])
                  if(this.emp[o] === this.name)
                  {
                    this.se = 'collapse'
                  }
                }
                
              }
              
          }

        },
        textfieldfocus(a) {
            a.object.borderColor = "#f1c40f";
            a.object.borderWidth = 2
        },
        textfieldblur(a) {
          this.se = 'collapse'
            a.object.borderColor = "transparent";
            a.object.borderWidth = 1
        },
        leaveReportsResult()
        { 
            http.request({
            url: localStorage.getItem('URL') + "GetDB",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
                ClientName: localStorage.getItem('ClientName')
            })
            }).then((responses) => {
                http.request({
                url: localStorage.getItem('URL') + "ShowLeavesReports",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                NTID:localStorage.getItem('EmpID')
                })
                }).then((response) => {
                  if(response.content.toJSON().Leave !== null)
                  {
                    for(var o = 0; o <response.content.toJSON().Leave.length;o++)
                    {
                      this.leaveReports.push({
                        LeaveDate: moment(response.content.toJSON().Leave[o].LeaveDate).format("ll") !== 'Invalid date' ? moment(response.content.toJSON().Leave[o].LeaveDate).format("ll") : ''
                        ,LeaveStatus: response.content.toJSON().Leave[o].LeaveStatus
                        ,EmployeeName: response.content.toJSON().Leave[o].EmployeeName
                      })
                      this.leaveReports2.push({
                        LeaveDate: moment(response.content.toJSON().Leave[o].LeaveDate).format("ll") !== 'Invalid date' ? moment(response.content.toJSON().Leave[o].LeaveDate).format("ll") : ''
                        ,LeaveStatus: response.content.toJSON().Leave[o].LeaveStatus
                        ,EmployeeName: response.content.toJSON().Leave[o].EmployeeName
                      })
                      var name = this.emp.find(a => a === response.content.toJSON().Leave[o].EmployeeName)
                      if(name === undefined)
                      {
                        this.emp.push(response.content.toJSON().Leave[o].EmployeeName)
                      }
                      //console.log(this.leaveReports[o].LeaveDate);
                    }
                    this.leaveReports.reverse();
                    this.leaveReports2.reverse();
                  }
                  this.luding = 'collapse'
                }); 
            })

        },
        searchEmployee(){
            // http.request({
            // url: localStorage.getItem('URL') + "GetDB",
            // method: "POST",
            // headers: { "Content-Type": "application/json" },
            // content: JSON.stringify({
            //     ClientName: localStorage.getItem('ClientName')
            // })
            // }).then((responses) => {
            //     http.request({
            //     url: localStorage.getItem('URL') + "ShowLeavesReports",
            //     method: "POST",
            //     headers: { "Content-Type": "application/json" },
            //     content: JSON.stringify({
            //     NTID:localStorage.getItem('EmpID')
            //     })
            //     }).then((response) => {
                  if(this.name === ''){
                    alert('Input name')
                  }
                  else{
                    this.luding = 'visible'
                    this.leaveReports.splice(0)
                   // for(var o = 0 ; o < this.leaveReports2.length; o++)
                    //{
                        var p = this.leaveReports2.filter(res =>res.EmployeeName === this.name)
                        this.leaveReports = p
                        this.luding = 'collapse'
                      //   this.leaveReports.push({
                      //   LeaveDate: p.LeaveDate
                      //   ,LeaveStatus: p.LeaveStatus
                      //   ,EmployeeName: p.EmployeeName
                      // })
                    //}

                  // for(var i=0; i < response.content.toJSON().Leave.length; i ++){
                  //   this.leaveReports.push(response.content.toJSON().Leave.find(res => res.EmployeeName === this.name))
                  //   }
                   }
               // }); 
           // })


         },
        }
      };
</script>
<style scoped>
.search {
    background-image: url("~/assets/images/search.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50% 50%;
}
Label {
  font-size: 12
}
</style>
