<template>
  <Page class="page" @loaded='backbtn()' backgroundColor="#003366">
    <ActionBar title="Request Forms" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(TD, {clearHistory: true})"/>
    </ActionBar>  
    <GridLayout>
     <StackLayout backgroundColor="#003366" margin="10" row="1">
        <StackLayout orientation="horizontal" padding="10" >
        <TabView height="100%" selectedIndex="0" tabBackgroundColor="#f1c40f" >
            <TabViewItem title="Request forms" height="100%">
                <!--<ScrollView orientation="vertical" class="sv" scrollBarIndicatorVisible="false">-->
                   <GridLayout>
                    <StackLayout orientation="vertical">  
                         <FlexboxLayout>
                                    <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Name" textWrap="true" width="23%" marginRight="1" backgroundColor="#2d5176" fontSize='12'></Label>
                                    <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Date" textWrap="true" width="22%" marginRight="1" backgroundColor="#2d5176" fontSize='12'  ></Label>
                                    <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Loans" textWrap="true" width="22%" marginRight="1" backgroundColor="#2d5176" fontSize='12'  ></Label>
                                    <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Forms" textWrap="true" width="15%" marginRight="1" backgroundColor="#2d5176" fontSize='12' ></Label>
                                   <!-- <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="" textWrap="true"  width="15%" backgroundColor="#2d5176" ></Label> -->
                                    <StackLayout color="white" width="18%" backgroundColor="#2d5176">
                                          <CheckBox id='allchecker' fillColor="#f1c40f" :value="checker" horizontalAlignment="center"  @tap="clickcheck($event)" :isEnabled="isEnabledCheckall"/>
                                    </StackLayout>
                          </FlexboxLayout>
                          <ScrollView orientation="vertical" scrollBarIndicatorVisible="false">
                          <StackLayout orientation="vertical" >
                            <FlexboxLayout backgroundColor="#2d5176" v-for="result in requested">
                              <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Name" textWrap="true" marginRight="1" marginLeft="1" marginBottom="1"  width="23%" backgroundColor="#003366" fontSize='12'></Label>
                              <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Date" textWrap="true" marginRight="1" marginLeft="1" marginBottom="1"  width="22%" backgroundColor="#003366" fontSize='12'></Label>
                              <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Loans" textWrap="true" marginRight="1" marginLeft="1" marginBottom="1"  width="22%" backgroundColor="#003366" fontSize='12'></Label>
                              <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Forms" textWrap="true" marginRight="1" marginLeft="1" marginBottom="1"  width="15%" backgroundColor="#003366" fontSize='12'></Label>
                              <StackLayout paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  marginLeft="1"  marginBottom="1" width="18%" backgroundColor="#003366" marginRight="1">
                                <CheckBox marginTop="10" fillColor="#f1c40f"  checked="false" horizontalAlignment="center" :id="result.ID" :checked="checker" @tap="chkchange($event,result.ID)"/>
                              </StackLayout>
                            </FlexboxLayout>
                          </StackLayout>
                          </ScrollView>
                          
                      
                    
                    </StackLayout>
                    <StackLayout orientation="horizontal" horizontalAlignment="right" >
                      <Button row="1" borderRadius="3" text="Deny" verticalAlignment="bottom" backgroundColor="#f1c40f" marginRight="10" @tap="validaterequest('deny')" height="40" width="auto" textWrap="true"/>
                    <Button row="1" borderRadius="3" text="Approve"  verticalAlignment="bottom" backgroundColor="#f1c40f" @tap="validaterequest('approve')"  height="40" width="auto" textWrap="true" />
                    </StackLayout>
                    
                   </GridLayout>
                <!--</ScrollView>-->                 
            </TabViewItem>
            <TabViewItem title="Audit Trail" height="100%">
             <ScrollView orientation="vertical" class="sv" scrollBarIndicatorVisible="false">    
                <StackLayout orientation="vertical" backgroundColor="#003366">
                    <FlexboxLayout>
                        <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" marginRight="1" marginBottom="1" color="white"  text="Name" textWrap="true" width="20%" backgroundColor="#2d5176" fontSize='12'></Label>
                        <Label paddingLeft="3" paddingTop="8" paddingBottom="8" verticalAlignment="center" marginRight="1" marginBottom="1" color="white"  text="Date" textWrap="true" width="21%" backgroundColor="#2d5176" fontSize='12' ></Label>
                        <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" marginRight="1" marginBottom="1" color="white"  text="Loans" textWrap="true" width="20%" backgroundColor="#2d5176" fontSize='12'></Label>
                        <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" marginRight="1" marginBottom="1" color="white"  text="Reviewed By" textWrap="true" width="20%" backgroundColor="#2d5176" fontSize='12'></Label>    
                        <Label paddingLeft="3" paddingTop="8" paddingBottom="8" verticalAlignment="center" marginBottom="1" color="white"  text="Reviewed Date" textWrap="true" width="22%" backgroundColor="#2d5176" fontSize='12'></Label>    
                    </FlexboxLayout>
                  <StackLayout orientation="vertical" >
                    <FlexboxLayout  backgroundColor="#2d5176" v-for="result in audits">
                        <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Reqname" textWrap="true" marginRight="1" marginLeft="1" marginBottom="1"  width="20%" backgroundColor="#003366" fontSize='12'></Label>
                        <Label paddingLeft="3" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.RequestedD" textWrap="true" marginRight="1" marginBottom="1"  width="21%" backgroundColor="#003366" fontSize='12'></Label>
                        <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.FormT" textWrap="true" marginRight="1"  marginBottom="1"  width="20%"backgroundColor="#003366" fontSize='12'></Label>
                        <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.ReviewedB" textWrap="true" marginRight="1"   marginBottom="1"  width="20%" backgroundColor="#003366" fontSize='12'></Label>
                        <Label paddingLeft="3" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  :text="result.Dapproved" textWrap="true" marginRight="1" marginBottom="1"  width="21%" backgroundColor="#003366" fontSize='12'></Label>
                    </FlexboxLayout>
                  </StackLayout>
                </StackLayout>
             </ScrollView>   
            </TabViewItem>
        </TabView>  
        </StackLayout>              
      </StackLayout>
       <StackLayout row='1' :visibility="vloading1" isUserInteractionEnabled='false'/>
                <StackLayout :visibility="vloading1" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" opacity='0.6'  height="50" width="50">
                  <ActivityIndicator :isCollapsed="actvisible" busy="true"
                  color="white" height="100%" width="100%"
                  verticalAlignment="center"
                  backgroundColor="#003366" />
                  <Label verticalAlignment="center"  height="100%" width="100%"  fontSize="14" text="Loading.. Please wait..." color="white" marginLeft="60%"/>
                </StackLayout>
              
     </GridLayout>
  </Page>
</template>
<script>
const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;
const Frame = require("tns-core-modules/ui/frame").Frame;
const picker = new ModalPicker();
import * as http from "tns-core-modules/http";
var moment = require("moment");
// import { topmost } from "ui/frame";
import Toast from "nativescript-toast";
var orientation = require("nativescript-orientation");
import todo from "../ToDo/ToDo.vue"

export default {
  data() {
    return {
      audits: [],
      datereq:[],
      dateapp:[],
      requested:[],
      RFdate:[],
      checker: false,
      vloading1:"visible",
      TD: todo,
      checkCount:0,
      isEnabledCheckall:true
    };
  },
  created() {
    this.GetAllRequest();
  },
  methods: {
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        topmost().android.currentActivity ||
        topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.TD, {clearHistory: true})
      };
    },
      GetAllRequest(){
         http.request({
          url: localStorage.getItem("URL") + "GetDB",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            ClientName: localStorage.getItem("ClientName")
          })
        })
        .then(responses => {
          http
            .request({
              url: localStorage.getItem("URL") + "DHRGetTodoRequestFormmv1",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                LOGINID:localStorage.getItem("EmpID")
              })
            })
            .then(response => {
             var resulta =  response.content.toJSON().GetTodoRequestInfo;
                if(resulta === null){
                  this.isEnabledCheckall = false;
                  this.GetAuditTrail();
                  this.vloading1 = "hidden";
                }
                else{
                  for (var i = 0;i < resulta.length;i++) 
                  {
                    this.RFdate = moment(resulta[i].DATEREQUESTED).format("YYYY-MM-DD");
                    if(this.RFdate === "Invalid date") {
                      this.RFdate = "";
                    }
                    this.requested.push({
                      Name: resulta[i].REQUESTEDNAMEBY,
                      Date: this.RFdate,
                      Loans: resulta[i].FORMTYPES,
                      Forms:resulta[i].FORMCODE,
                      ID:resulta[i].ID
                    });                       
                }
              this.GetAuditTrail();
              this.vloading1 = "hidden";
              }
              localStorage.setItem("formcount", response.content.toJSON().GetTodoRequestInfo.length)
            });
        });
      },
      GetAuditTrail(){
         http.request({
          url: localStorage.getItem("URL") + "GetDB",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            ClientName: localStorage.getItem("ClientName")
          })
        })
        .then(responses => {
          http
            .request({
              url: localStorage.getItem("URL") + "DHRGetTodoRequestFormAuditTrailv1",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                LOGINID:localStorage.getItem("EmpID")
              })
            })
            .then(response => {
                var resulta =  response.content.toJSON().GetTodoRequestAuditInfo;
                //this.audits = response.content.toJSON().GetTodoRequestAuditInfo;

                  for (var i = 0;i < resulta.length;i++) 
                  {
                  this.datereq = moment(resulta[i].DATEREQUESTED).format("YYYY-MM-DD");
                  this.dateapp = moment(resulta[i].DATEAPPROVED).format("YYYY-MM-DD");
                  if(this.datereq === "Invalid date") {
                    this.datereq = "";
                  }
                  if(this.dateapp === "Invalid date") {
                    this.dateapp = "";
                  }
                  this.audits.push({
                    Reqname: resulta[i].REQUESTEDNAMEBY,
                    RequestedD: this.datereq,
                    FormT: resulta[i].FORMTYPES,
                    ReviewedB:resulta[i].EMPNAME,
                    Dapproved:this.dateapp
                  });
                  // this.LeaveID = response.content.toJSON().LeavesListData                        
                }
                //console.log(this.audits);
            });
        });
      },
      Approved() {
        http.request({
            url: localStorage.getItem("URL") + "GetDB",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              ClientName: localStorage.getItem("ClientName")
            })
          })
          .then(responses => {
            if (this.requested.length === 0) {
              Toast.makeText("No data Available").show();
            } else {
              for (var i = 0; i < this.requested.length; i++) {
                let checkBox = topmost().getViewById("" + this.requested[i].ID + "");
                //console.log(checkBox)
                if (checkBox.checked == 1) {
                  http.request({
                      url: localStorage.getItem("URL") + "ApprovedDeniedDHRTodoRequestv1",
                      method: "POST",
                      headers: { "Content-Type": "application/json" },
                      content: JSON.stringify({
                        CN:localStorage.getItem("ClientName"),
                        ID:this.requested[i].ID,
                        LOGINID:localStorage.getItem("EmpID"),
                        ISCHECKED: "True"
                      })
                    })
                    .then(response => {
                      this.checker = false;
                      this.requested = [];
                      this.audits = [];
                      this.checkCount = 0;
                      this.GetAllRequest();
                      Toast.makeText("Successfully approved").show();
                    });
                }
              }
            }
          });
    },
    Denied() {
        http.request({
            url: localStorage.getItem("URL") + "GetDB",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              ClientName: localStorage.getItem("ClientName")
            })
          })
          .then(responses => {
            if (this.requested.length === 0) {
              Toast.makeText("No data Available").show();
            } else {
              for (var i = 0; i < this.requested.length; i++) {
                let checkBox = topmost().getViewById("" + this.requested[i].ID + "");
                //console.log(checkBox)
                if (checkBox.checked == 1) {
                  http.request({
                      url: localStorage.getItem("URL") + "ApprovedDeniedDHRTodoRequestv1",
                      method: "POST",
                      headers: { "Content-Type": "application/json" },
                      content: JSON.stringify({
                        CN:localStorage.getItem("ClientName"),
                        ID:this.requested[i].ID,
                        LOGINID:localStorage.getItem("EmpID"),
                        ISCHECKED: "False"
                      })
                    })
                    .then(response => {
                      //console.log("pumasok ako")
                      this.checker = false;
                      this.requested = [];
                      this.audits = [];
                      this.checkCount = 0;
                      this.GetAllRequest();
                      Toast.makeText("Successfully denied").show();
                    });
                }
              }
            }
          });
    },
    clickcheck(event) {
          this.checkCount = 0;
          if (this.requested.length  >= 1 ){
            for (var i = 0;i < this.requested.length; i++){
              if(event.object.checked === false)
              {
                topmost().getViewById(this.requested[i].ID).checked = true
                this.requested[i].checked = true
                console.log('dito')
                this.checkCount += 1
              }
              else {
                topmost().getViewById(this.requested[i].ID).checked = false
                this.requested[i].checked = false
              }
            }
          }
          else{
            Toast.makeText("No data Available").show();
          }
    },
    chkchange(e,a) {
        var count = 0
        this.checkCount = 0;
        console.log(e.object.checked)
        for (var i = 0;i < this.requested.length; i++){
          if(this.requested[i].ID === a)
          {
            if(e.object.checked === false)
            {
              this.requested[i].checked = true
            }
            else
            {
              this.requested[i].checked = false
            }
            
          }
          if(this.requested[i].checked === true)
          {
            console.log('1')
            count += 1
            this.checkCount += 1
          }
      }
      console.log(count)
        if(count === this.requested.length)
        {
          topmost().getViewById("allchecker").checked = true
        }
        else
        {
          topmost().getViewById("allchecker").checked = false
        }
    },
    validaterequest(request) {       
          var vm = this
          localStorage.setItem("tdrequest",request);
          if(this.checkCount === 0){

          }
          else{
          confirm({
            title: "Confirmation",
            message: "Are you sure you want to confirm?",
            okButtonText: "YES",
            cancelButtonText: "NO",
          }).then(result => {
            if(result === true){
              if(localStorage.getItem("tdrequest") === 'approve')
              {
                vm.Approved()
              }
              else if (localStorage.getItem("tdrequest") === 'deny'){
                vm.Denied()
              }
            }
          })  
          } 
    },
  }
};
</script>
<style scoped>
.drop {
  background-image: url("~/assets/images/ic_dropdown.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
.sv {
  width: 100%;
  height: 100%;
}
.calendar {
  background-image: url("~/assets/images/ic_calendar.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
.time {
  background-image: url("~/assets/images/ic_time.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
</style>