<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
    <ActionBar title="Request Forms" color="#002851" backgroundColor='#f1c40f'>
      <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(DB, {clearHistory: true})" />
    </ActionBar>
    <GridLayout>
      <ScrollView orientation="vertical">
        <StackLayout orientation="horizontal" height="100%">
          <FlexboxLayout flexDirection="column" backgroundColor="#003366" borderColor="#2d5176" margin="10" marginTop="10"
            marginBottom="1%" borderRadius="5" borderWidth="2">
            <Label text="Forms" color="white" fontSize="14" height="6%" fontWeight="700" padding="5" paddingLeft="10"
              width="100%" borderBottom="1" borderColor="#2d5176" borderBottomWidth="2" />
            <StackLayout orientation="vertical">
              <TextField height="40" fontSize="14" borderRadius="3" borderWidth="1" hint="[Select Form]" @focus="textfieldfocus"
                @blur="textfieldblur" @tap="listview" class="drop" editable='false' backgroundColor="white" width="100%"
                v-model="selectedform" />
              <FlexboxLayout>
                <Label paddingLeft="3" color="white" fontSize="12" text="Type" paddingTop="4" width="33%" marginRight="1"
                  backgroundColor="#2d5176"></Label>
                <Label paddingLeft="3" color="white" fontSize="12" text="Desired Amount" paddingTop="4" textWrap="true"
                  paddingBottom="4" width="33%" marginRight="1" backgroundColor="#2d5176"></Label>
                <Label paddingLeft="3" color="white" fontSize="12" text="Date Requested" textWrap="true" width="34%"
                  paddingTop="4" paddingBottom="4" backgroundColor="#2d5176"></Label>
              </FlexboxLayout>
              <!-- <StackLayout orientation="horizontal" backgroundColor="#2d5176" height="100%">
                        <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="2018-05-30" width="33%" marginRight="1"  backgroundColor="#003366"></Label>
                        <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="Thursday" width="33%" textWrap="true"  marginRight="1"   backgroundColor="#003366"></Label>
                        <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="Approved" width="34%" textWrap="true"   backgroundColor="#003366"></Label>
            </StackLayout> -->
              <StackLayout orientation="horizontal" height="75%">
              </StackLayout>
            </StackLayout>
            <StackLayout orientation="horizontal" horizontalAlignment='right' height="8%">
              <Button text="Status" fontSize="14" marginBottom="2%" marginRight="2%" borderRadius="3" height="40"
                backgroundColor="#f1c40f" @tap="status()" />
              <Button text="View" fontSize="14" marginBottom="2%" marginRight="2%" borderRadius="3" height="40"
                backgroundColor="#f1c40f" horizontalAlignment="right" @tap="view()" :isEnabled="viewbtn"/>
              <!-- <Button text="Send" fontSize="14" marginBottom="2%" marginRight="4%" borderRadius="3" height="40"
                backgroundColor="#f1c40f" horizontalAlignment="right" @tap="send()" /> -->
            </StackLayout>
          </FlexboxLayout>
        </StackLayout>
      </ScrollView>
      <StackLayout row='1' :visibility="luding" isUserInteractionEnabled='false' />
      <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center"
        opacity='0.6' borderRadius='6' backgroundColor='black' height="50" width="50">
        <ActivityIndicator busy="true" color="white" height="100%" width="100%" verticalAlignment="center" />
      </StackLayout>
    </GridLayout>
    
  </Page>

</template>

<script>
  import * as http from "tns-core-modules/http";
  import * as Toast from "nativescript-toast";
  import { topmost } from "ui/frame";
  var orientation = require("nativescript-orientation");
  import dashboard from "../Dashboard.vue"
  import viewform from "../RequestForms/ViewForm.vue"


  export default {
    data() {
      return {
        listPickerForms: [],
        selectedform: "",
        formList: [],
        viewbtn: true,
        coden: '',
        dataSettingsList: [],
        formsid: '',
        DB: dashboard,
        VF: viewform,
        luding: 'collapse'
      };
    },
    created() {
      this.loadgender();
      this.getFormList();
      // this.getProfileSignatory();
    },
    methods: {
      loadmo() {
        orientation.setOrientation("portrait");
        orientation.disableRotation();
      },
      backbtn() {
        var applicationModule = require("application");
        var AndroidApplication = applicationModule.android;
        var activity =
          AndroidApplication.startActivity ||
          AndroidApplication.foregroundActivity ||
          topmost().android.currentActivity ||
          topmost().android.activity;
        activity.onBackPressed = () => {
          //Your code here

          // topmost().goBack();
          this.$navigateTo(this.DB, {clearHistory: true})
        };
      },
      loadgender() {
        http
          .request({
            url: localStorage.getItem("URL") + "GetDB",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              ClientName: localStorage.getItem("ClientName")
            })
          })
          .then(responses => {
            http
              .request({
                url: localStorage.getItem("URL") + "DisplayCompleteProfile",
                method: "POST",
                headers: { "Content-type": "application/json" },
                content: JSON.stringify({
                  LoginID: localStorage.getItem("EmpID")
                })
              })
              .then(response => {
                // this.EmpName = response.content.toJSON().CompleteProfile
                response.content.toJSON().CompleteProfile[0].Gender;
                localStorage.setItem(
                  "gender",
                  response.content.toJSON().CompleteProfile[0].Gender
                );
              });
          });
      },

      status() {
        Toast.makeText("Status for loan is not available right now").show();
      },

      view() {
        var url = this.coden === 'document' || this.coden === 'coe' ? localStorage.getItem("URL")  + localStorage.getItem("pdffile") + '-' + localStorage.getItem("ClientName") + '-' + localStorage.getItem("EmpID") + '.pdf'
           : localStorage.getItem("ClientName").toLowerCase() === 'generali' ? 'https://ws.durusthr.com/generali/' + localStorage.getItem("pdffile") + '.pdf'
           : localStorage.getItem("URL") + localStorage.getItem("pdffile") + localStorage.getItem("EmpID") + '.pdf'
        console.log(url)
        // this.luding = 'visible'
        if (this.selectedform == ""){
          Toast.makeText("Please select a Form").show();
          // this.luding = 'collapse'
        }
        else {
          http.request({
          url: localStorage.getItem("URL")  + "DHRGetRequestModalv1",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            CN: localStorage.getItem("ClientName"),
            LOGINID: localStorage.getItem("EmpID"),
            FORMID: this.formsid
            })
          }).then((response) => {
            console.log(response.content.toJSON().GetRequestInfo[0].ISMODALVIEW)
            if (response.content.toJSON().GetRequestInfo[0].ISMODALVIEW === "Yes"){
              confirm({
                message: "This form need to be approved?",
                okButtonText: "Yes",
                cancelButtonText: "No"
              }).then(result => {
                console.log(result);
                if (result === true){
                  http.request({
                  url: localStorage.getItem("URL")  + "AddTodoRequestFormv1",
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  content: JSON.stringify({
                    CN: localStorage.getItem("ClientName"),
                    LOGINID: localStorage.getItem("EmpID"),
                    FORMID: this.formsid
                    })
                  }).then((response) => {
                    Toast.makeText("Done send request!").show();
                  })
                }
                else{
                  
                }
              })
            }
            else{
              if(this.coden === 'document' || this.coden === 'PAYSLIP' || this.coden === 'coe')
              {
                console.log("dito ka pumasok.--"+localStorage.getItem("generatepdf"))
                console.log(url.split(' ').join('%20'))
                http.request({
                url: localStorage.getItem("URL")  + "SelectCustomFormsv4",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  EmpID: localStorage.getItem("EmpID"),
                  Forms:  localStorage.getItem("generatepdf")
                  })
                }).then((response) => {
                  http.request({
                  url: url.split(' ').join('%20'),
                  method: "GET",
                  }).then(response => {

                    if(response.statusCode === 200)
                    {
                      localStorage.setItem("locapath", url.split(' ').join('%20'))
                      console.log(localStorage.getItem('locapath'))
                      this.$navigateTo(this.VF, {clearHistory: true})
                    }
                    else
                    {
                      Toast.makeText("PDF Generation unsuccessful!").show();
                    }
                  })
                })
              }
              else
              {
                console.log(localStorage.getItem("generatepdf"))
                http.request({
                url: localStorage.getItem("URL") + "GetDB",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  ClientName: localStorage.getItem("ClientName")
                  })
                }).then(responses => {
                  http.request({
                  url: localStorage.getItem("URL") + localStorage.getItem("generatepdf"),
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  content: JSON.stringify({
                    NTID: localStorage.getItem("EmpID")
                    })
                  }).then(response => {
                    http.request({
                    url: url.split(' ').join('%20'),
                    method: "GET",
                    }).then(response => {
                      if(response.statusCode === 200)
                      {
                        localStorage.setItem("locapath", url.split(' ').join('%20'))
                        this.$navigateTo(this.VF)
                      }
                      else 
                      {
                        Toast.makeText("PDF Generation unsuccessful!").show();
                      }
                    })
                  })
                })
              }
            }
          })
        }
      },
      getFormList() {
        http.request({
        url: localStorage.getItem("URL")  + "GetDHRRequestFormv1",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          CN: localStorage.getItem("ClientName"),
          LOGINID: localStorage.getItem("EmpID")
          })
        }).then((response) => {
          for (var n = 0; n < response.content.toJSON().RequestFormList.length; n++) {
            this.formList.push(response.content.toJSON().RequestFormList[n])
            this.listPickerForms.push(response.content.toJSON().RequestFormList[n].FORMNAME);
          }
        })
      },
      showDetailPageModally() {
        this.$showModal(requestForms);
      },
      listview() {
        // if (e === "form")
          action("Select", "Cancel", this.listPickerForms).then(result => {
            if (result !== "Cancel") {
              this.selectedform = result;
              var pdfname = this.formList.find(res => res.FORMNAME === this.selectedform)
              pdfname.CODENAME === 'document' || pdfname.CODENAME === 'coe' ? localStorage.setItem("generatepdf", pdfname.PDFFILE)
              : localStorage.setItem("generatepdf", pdfname.PDFFILE.replace('-', ''))
              pdfname.CODENAME === 'document' || pdfname.CODENAME === 'coe' ? localStorage.setItem("pdffile","pdf/" + pdfname.PDFFILE)
              :localStorage.setItem("pdffile","pdf/GovForms-Employee/" + pdfname.PDFFILE);
              console.log(localStorage.getItem('generatepdf'))
              console.log(localStorage.getItem('pdffile'))
              this.coden =  pdfname.CODENAME
              var formids = this.formList.find(res => res.FORMNAME === result)
              this.formsid = formids.FORMID
              console.log(this.formsid)
            }
          });
      }
    }
  };
  const requestForms = {
    template: `
      <Page>
        <StackLayout width="100%" height="70%" >
            <StackLayout orientation="vertical">
              <Label text="Choose Item" height="40" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
                <ScrollView orientation="vertical" height="50%">
                 <StackLayout orientation="vertical" width="210" height="210" >
                  <Label text="Salary Loan" width="auto" height="50" />
                  <Label text="BIR Form 2316" width="auto" height="50" />
                  <Label text="BIR Form 1902" width="auto" height="50" />
                  <Label text="BIR Form 1905" width="auto" height="50" />
                 </StackLayout>
                </ScrollView>
            <StackLayout android:horizontalAlignment="center" orientation="horizontal" > 
              <Button  @tap="$modal.close" text="CANCEL" textAlignment="center" color="#003366" />   
              <Button  @tap="$modal.close" text="OK" textAlignment="center" color="#003366" />
            </StackLayout>                  
       </StackLayout>
        </StackLayout> 
      </Page>
    `
  };
</script>
<style scoped>
  .drop {
    background-image: url("~/assets/images/ic_dropdown.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
  }
</style>