<template>
      <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
          <ActionBar title="Request Form" color="#002851" backgroundColor='#f1c40f'>
            <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(RF, {clearHistory: true})"/>
          </ActionBar>
                <StackLayout width="auto" height="90%">
                    <PDFView :src="localPath" height="85%" width="100%"/>

                    <GridLayout rows="auto,*" columns="auto,*"   height="15%" width="100%"  backgroundColor="#002851" >
                                    
                        <Button row="1" col="1" height="40" margin="5%"  verticalAlignment="center" borderRadius="3" width="40%"  text="Share" @tap="getfile()" fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" />
                    </GridLayout>
                </StackLayout> 
                
      </Page>
</template>

<script>
import PDFView from "nativescript-pdf-view";
import { topmost } from "ui/frame";
var orientation = require("nativescript-orientation");
import { ShareFile } from "nativescript-share-file";
import * as http from "tns-core-modules/http";
const httpModule = require("http");
import requestform from "../RequestForms/RequestForms.vue"

export default {
  data() {
    return {
      localPath: "",
      RF: requestform,
    };
  },
  created: function() {
    this.getpdffile();
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        topmost().android.currentActivity ||
        topmost().android.activity;

        activity.onBackPressed = () => {
        //Your code here
          this.$navigateTo(this.RF, {clearHistory: true})
        };
    },
    getpdffile() {
      this.localPath = localStorage.getItem("locapath")
      // this.localPath = "http://ilm.durusthr.com/ilm/pdf/PaySlipDefault-I007-2018-04-16-2018-04-30.pdf"
    },
    getfile() {
      http
        .getFile(
          this.localPath
        )
        .then(
          resultFile => {
            console.log(resultFile._path);

            var shareFile = new ShareFile();
            shareFile.open({
              path: resultFile._path,
              intentTitle: "Send file via:",
              rect: {
                x: 110,
                y: 110,
                width: 0,
                height: 0
              },
              options: false,
              animated: true
            });
            //   // The returned result will be File object
          },
          e => {}
        );
    }
  }
};
</script>
