<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'> 
    <ActionBar title="Holidays" color="#002851" flat="true" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(LM, {clearHistory: true})"/>
    </ActionBar>
    <GridLayout rows="auto,*" columns="auto,*">
    <ScrollView orientation="vertical" row="1" width="100%"> 

      <StackLayout orientation="vertical"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="10"  borderRadius="5" borderWidth="2" >
          <!-- <Label fontSize="14" text="Holidays" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" /> -->
          <!-- <FlexboxLayout flexDirection="column" orientation="vertical">
            <StackLayout orientation="horizontal"  marginLeft="10" marginRight="10" marginTop="10" marginBottom="5"> 
                <Label 
                height="40" 
                width="25%"
                fontSize="14" []
                borderRadius="3"
                text='Choose month/year:'
                textWrap="true"
                color="white"
                textAlignment="left"
                paddingTop="4"
                />
              
                <TextView 
                height="40" 
                width="35%"
                fontSize="14" 
                borderRadius="3" 
                borderWidth="1"
                :text="mymonth[11]" 
                @tap="selectedMonth"
                class="drop"
                backgroundColor="white"
                editable='false'
                />

                <TextView 
                height="40" 
                width="25%"
                fontSize="14" 
                borderRadius="3" 
                borderWidth="1"
                :text="myyear[0]" 
                @tap="selectedYear"
                class="drop"
                backgroundColor="white"
                editable='false'
                />

                <Button 
                 borderRadius="3" 
                 height="40" 
                 width="13%"  
                 @tap="searchholidays"
                 horizontalAlignment="right" 
                 backgroundColor="#f1c40f"
                 marginLeft="5"
                 style='background-image: url("~/assets/images/search.png");background-repeat: no-repeat;background-size: 50 50;background-position:50% 50%;'
                 />
            </StackLayout>
          </FlexboxLayout> -->
          <StackLayout orientation="vertical"> 
                          <FlexboxLayout>
                                      
                                      <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize="12"  color="white"  text="Type"  textWrap="true"  width="30%" marginRight="1" backgroundColor="#2d5176" textAlignment="center"></Label>
                                      <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize="12"  color="white"  text="Holiday Name" width="40%"   textWrap="true" marginRight="1" backgroundColor="#2d5176" textAlignment="center"></Label>
                                      <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize="12"  color="white"  text="Day" textWrap="true"    flexGrow="5" width="30%"   backgroundColor="#2d5176" textAlignment="center"></Label>
                          </FlexboxLayout >
              <ScrollView orientation="vertical">
                      <StackLayout orientation="vertical">
                          <FlexboxLayout backgroundColor="#2d5176" v-for="listholidays in holiday" 
                                  :key="listholidays['.key']" >
                                      <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize="12"  marginBottom="1"  color="white" :text="listholidays.Type" width="30%" textWrap="true"  marginRight="1"   backgroundColor="#003366" textAlignment="center"></Label>
                                      <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize="12"  marginBottom="1"  color="white" :text="listholidays.HolidayName" width="40%" textWrap="true" marginRight="1"  backgroundColor="#003366" textAlignment="center"></Label>
                                      <Label paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" fontSize="12" marginBottom="1"  color="white" :text="listholidays.HolidayDate"  textWrap="true"  flexGrow="5" width="30%"   backgroundColor="#003366" textAlignment="center"></Label>
                          </FlexboxLayout>
                      </StackLayout>
              </ScrollView>

          </StackLayout>
      </StackLayout>

      </ScrollView>
        <StackLayout row='1' :visibility="vloading1" isUserInteractionEnabled='false'/>
          <StackLayout :visibility="vloading1" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" opacity='0.6' borderRadius='6'  backgroundColor='black' height="50" width="50">
                      
                      <ActivityIndicator  busy="true"
                      color="white" height="100%" width="100%"
                    verticalAlignment="center"/>
                      
          </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
import * as http from "tns-core-modules/http";
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
var orientation = require("nativescript-orientation");
var moment = require("moment");
import leavemanagement from "../LeaveManagement/LeaveManagement.vue"

export default {
  components: {},
  data() {
    return {
      holiday: "",
      LM: leavemanagement,
      mymonth:['January','February','March','April','May','June','July','August','Sepetember','October','November','December'],
      mm:"",
      myyear:['2018','2019'],
      yy:"",
      firsfilterdate: "",
      secondfilterdate: "",
      vloading1:"visible"
    };
  },
  created: function() {
    
    this.mm = this.mymonth[11]
    this.yy = this.myyear[0]
    this.getholiday();
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        topmost().android.currentActivity ||
        topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        // topmost().goBack();
        this.$navigateTo(this.LM, {clearHistory: true})
      };
    },
    getholiday() {
      http
        .request({
          url: localStorage.getItem("URL") + "GetDB",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            ClientName: localStorage.getItem("ClientName")
          })
        })
        .then(responses => {
          http
            .request({
              url: localStorage.getItem("URL") + "ShowHolidaysv2",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem('ClientName'),
                Empid: localStorage.getItem("EmpID")
              })
            })
            .then(response => {
              this.holiday = response.content.toJSON().Holidays;
              for (
                var i = 0;
                i < response.content.toJSON().Holidays.length;
                i++
              ) {
                  this.holiday[i].HolidayDate = moment(this.holiday[i].HolidayDate).format(
                  "YYYY-MM-DD"
                );
              }
              this.vloading1 = "collapse"
            });
        });
    },
    selectedMonth(args){
        action("Choose Month", "Cancel", this.mymonth).then(result => {
           if (result !== "Cancel") {
                args.object.text = result;
                this.mm = result
           }
           else{
             args.object.text = this.mymonth[0];
             this.mm = this.mymonth[0]
           }
        })
    },
    selectedYear(args){
        action("Choose Year", "Cancel", this.myyear).then(result => {
           if (result !== "Cancel") {
                args.object.text = result;
                this.yy = result
           }
           else{
             args.object.text = this.myyear[0];
             this.yy = this.myyear[0]
           }
        })
    },
    searchholidays(){
    // console.log(this.mm)
      const mnth = moment(this.mm +' '+'01 ,2018').format("MM-DD-YYYY").split("-")
    // console.log(mnth[0] + '-' + '01' + '-' + this.yy)
 
        http
        .request({
          url: localStorage.getItem("URL") + "ShowHolidaysByRange",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            CN: localStorage.getItem("ClientName"),
            NTID : localStorage.getItem("EmpID"),
            Start_Date : mnth[0] + '-' + '01' + '-' + this.yy,
            End_Date : mnth[0] + '-' + '31' + '-' + this.yy,

          })
        })
        .then(response => {
              this.holiday = ''
              this.holiday = response.content.toJSON().Holidays;
              for (
                var i = 0;
                i < response.content.toJSON().Holidays.length;
                i++
              ) {
                  this.holiday[i].HolidayDate = moment(this.holiday[i].HolidayDate).format(
                  "YYYY-MM-DD"
                );
              }
        })



    }
  }
};
</script>
<style scope>
label {
  font-size: 14;
}
.drop {
  background-image: url("~/assets/images/ic_dropdown.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 30 30;
}
</style>
