<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo();leavedetails()'>
    <ActionBar title="Leave Management" color="#002851" flat="true" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back"  android.systemIcon="ic_menu_back" @tap="$navigateTo(DB, {clearHistory: true})"/>
    </ActionBar>
      <GridLayout rows="auto,*" columns="auto,*">
            <ScrollView orientation="vertical" row="1" width="100%">
            <StackLayout orientation="vertical">
            
                    <FlexboxLayout flexDirection="column"  backgroundColor="#003366" borderColor="#2d5176" margin="10" marginBottom="10"  borderRadius="5" borderWidth="2">
                        <Label  fontSize='14' color="white" text="Apply Leave" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2"/>
                        
                        <StackLayout orientation='horizontal' margin="5" verticalAlignment='center' horizontalAlignment='center' >
                            <CheckBox :id="Single" :isEnabled='this.chkbx' @tap="selectmode($event,'single')" width="40%" boxType="circle" fillColor="#f1c40f"
                                text="Single Select" color="white" textAlignment="center" :checked="singlesel"/>
                            <CheckBox :id="Multiple" :isEnabled='this.chkbx' @tap="selectmode($event,'multiple')" width="45%" boxType="circle" fillColor="#f1c40f"
                                text="Multiple Select" color="white" textAlignment="center" :checked="multisel" />    
                        </StackLayout>
                        <calendar :monthViewStyle='monthViewStyle' transitionMode='Slide' :selectionMode="this.sel" eventsViewMode="Inline" :eventSource="newEvents" @dateSelected="onDateSelected" @dateDeselected="onDateDeselected" id="calendar" height="300" margin="10" />
                        
                        <GridLayout padding='10' paddingLeft='20' minHeight='65' height='auto'>
                            <StackLayout row='1' orientation='horizontal' verticalAlignment='top' horizontalAlignment='left' >
                                <Image src="~/assets/images/lime.png" height="15" width="15" stretch="aspectFill" marginRight='5'/>
                                <Label fontSize='12' textWrap="true" color="white" text="Approved" fontWeight="600"/>
                            </StackLayout>
                            <StackLayout row='1' marginLeft='100' orientation='horizontal' verticalAlignment='top' horizontalAlignment='left' >
                                    <Image src="~/assets/images/red.png" height="15" width="15" stretch="aspectFill" marginRight="5"/> 
                                    <Label fontSize='12' textWrap="true" color="white" text="Regular Holiday" fontWeight="600"/>
                            </StackLayout>
                            <StackLayout row='1' orientation='horizontal' verticalAlignment='bottom' horizontalAlignment='left' >
                                    <Image src="~/assets/images/yellow.png" height="15" width="15" stretch="aspectFill" marginRight="5"/>
                                    <Label fontSize='12' textWrap="true" color="white" text="Pending" fontWeight="600" />
                            </StackLayout>
                            <StackLayout row='1' marginLeft='100' orientation='horizontal' verticalAlignment='bottom' horizontalAlignment='left' >
                                    <Image src="~/assets/images/orange.png" height="15" width="15" stretch="aspectFill" marginRight="5"/> 
                            </StackLayout>
                            <StackLayout row='1' orientation='horizontal' marginLeft='120' verticalAlignment='bottom' horizontalAlignment='left' >
                                    <Label fontSize='12' textWrap="true" color="white" text="Special Non-Working Holiday" fontWeight="600"/>
                            </StackLayout>

                             
                        </GridLayout>
                            <!-- <StackLayout orientation="vertical" padding='10'>
                                <FlexboxLayout marginBottom="5">
                                    <Image src="~/assets/images/lime.png" height="15" width="15" stretch="aspectFill" marginRight="5"/>
                                    <Label fontSize='12' textWrap="true" color="white" text="Approved" fontWeight="600" marginRight="20"/>
                                    <Image src="~/assets/images/red.png" height="15" width="15" stretch="aspectFill" marginRight="5"/> 
                                    <Label fontSize='12' textWrap="true" color="white" text="Regular Holiday" fontWeight="600"/>
                                    </FlexboxLayout >
                                <FlexboxLayout>
                                    <Image src="~/assets/images/yellow.png" height="15" width="15" stretch="aspectFill" marginRight="5"/>
                                    <Label fontSize='12' textWrap="true" color="white" text="Pending" fontWeight="600" marginRight="30"/>
                                    <Image src="~/assets/images/orange.png" height="15" width="15" stretch="aspectFill" marginRight="5"/> 
                                    <Label fontSize='12' textWrap="true" color="white" text="Special Non-Working Holiday" fontWeight="600"/>
                            
                                </FlexboxLayout>
                            </StackLayout> -->
                          <GridLayout rows="auto,*" columns="auto,*" margin="5" >
                                     
                                    <Button row="1" col="0" height="40"  verticalAlignment="bottom"  @tap="$navigateTo(HOL, {clearHistory: true})" borderRadius="3" marginRight="5" width="50%"  text="View Holiday"  fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" />

                                    <Button id='req' isUserInteractionEnabled='false' :isEnabled='this.sendval' opacity='0.3' row="1" col="1" height="40"  verticalAlignment="bottom" borderRadius="3" width="50%"  text="Send Request" @tap="leavereq()" fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" />
                                </GridLayout>

                    </FlexboxLayout>


                    <!-- <StackLayout  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="0"  borderRadius="5" borderWidth="2" > -->
                    
                    <!-- <Label fontSize='14'  text="Leave Request" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" /> -->

                            <!-- <StackLayout orientation="vertical" minHeight="100" >
                                <FlexboxLayout>
                          <Label  borderRightColor="#003366" borderRightWidth="1" fontSize='12' paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text=" " width="13%" textWrap="true"    backgroundColor="#2d5176"></Label>
                          <Label textAlignment="center" borderRightColor="#003366" borderRightWidth="1" fontSize='12' paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Leave Date"  textWrap="true"  width="35%" backgroundColor="#2d5176"   ></Label>
                          <Label textAlignment="center" borderRightColor="#003366" borderRightWidth="1" fontSize='12' paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Half Day" textWrap="true"  width="18%"  backgroundColor="#2d5176"  ></Label>
                          <Label textAlignment="center" fontSize='12' paddingLeft="5" paddingTop="8" paddingBottom="8" verticalAlignment="center" color="white"  text="Leave Type" textWrap="true"   width="35%" backgroundColor="#2d5176"  ></Label>

                                </FlexboxLayout >
                                <FlexboxLayout backgroundColor="#003366" v-for="(item, index) in listOfLeave">
                                    <Label @tap="removeleave" :id="index"  width="13%" class="removimg" stretch="aspectFill" borderBottomColor="#2d5176" borderBottomWidth="1" borderRightColor="#2d5176" borderRightWidth="1" paddingLeft="5" paddingTop="8" paddingBottom="8"  verticalAlignment="center" color="white" />
                                    <Label :text="item.LeaveDate"  width="35%" textWrap="true" borderBottomColor="#2d5176" borderBottomWidth="1" borderRightColor="#2d5176" borderRightWidth="1" paddingLeft="5" paddingTop="20" paddingBottom="8"  verticalAlignment="center" color="white" fontSize='12' textAlignment="center"></Label>
                                    <StackLayout width="18%" borderBottomColor="#2d5176" borderBottomWidth="1" borderRightColor="#2d5176" borderRightWidth="1" paddingTop="12" paddingBottom="8"  verticalAlignment="center"  >
                                        <CheckBox horizontalAlignment="center" marginTop="10" @checkedChange="ishalf" :id="item.id"   :checked="item.isHalfDay" fillColor="#f1c40f" onTintColor="#f1c40f" onCheckColor="#003366" textAlignment="center"/>
                                    </StackLayout> -->
                                    
                                    <!-- <Label  :id="item.id" :text="availableleaves[0].Ltype"  @tap="modalLtype($event,'bel')" class="dropwhite" fontSize='12'  paddingTop="20" borderBottomColor="#2d5176" borderBottomWidth="1" marginLeft="1" verticalAlignment="center" width="35%" textWrap="true" color='white' textAlignment="center"></Label> -->
                                <!-- </FlexboxLayout>                         -->

                            <!-- </StackLayout>
                                <GridLayout rows="auto,*" columns="auto,*" margin="5" >
                                     -->
                                    <!-- <Button row="1" col="0" height="40"  verticalAlignment="bottom"  @tap="$navigateTo(HOL, {clearHistory: true})" borderRadius="3" marginRight="5" width="50%"  text="View Holiday"  fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" /> -->
                                    <!-- <Button borderRadius="3" marginRight="5" width="33%"  text="Swap Schedule" @tap="onButtonTap" fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" /> -->
                                    <!-- <Button id='req' isUserInteractionEnabled='false' opacity='0.3' row="1" col="1" height="40"  verticalAlignment="bottom" borderRadius="3" width="50%"  text="Send Request" @tap="kuhalocation()" fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" /> -->
                                <!-- </GridLayout> -->
                    <!-- </StackLayout> -->
                    <FlexboxLayout :visibility="LD1visib" flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="0"  borderRadius="5" borderWidth="2" >
                        <Label fontSize='14' text="Leave Details" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                        <StackLayout orientation="horizontal" margin="10">
                        <TextField 
                            height="40" 
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            hint=""
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            class="drop"
                            editable='false'
                            :text="modalleaves[0]"
                            @tap="modalLtype($event,'bal')"
                            paddingLeft="5" 
                            backgroundColor="white" width="70%" marginRight='5' />
                        <TextField 
                            height="40" 
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            hint=""
                            textAlign="center"
                            editable='false'
                            :text="leavebal"
                            paddingLeft="5" 
                            backgroundColor="white" width="31%" />
                            
                    </StackLayout>
                    <StackLayout orientation="vertical" >
                        <Label width="60%" fontSize='14' :text="'Last leave taken on:' + ' ' + lastleaves" textAligntment="center" color="white"></Label>
                        <Label />
                        <!-- <Label :visibility="amanThis" width="60%" fontSize='14' :text="'Flight Request Balance:' + ' ' + flightbalance" textAligntment="center" color="white"></Label> -->
                        <!-- <Label fontSize='14' :text="lastleaves" horizontalAlignment="center" color="white"></Label> -->
                        <Button borderRadius="3" margin="10" height="40"  text="Leave History" @tap="$navigateTo(LH, {clearHistory: true})" fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" />
                    </StackLayout>
                    </FlexboxLayout>

                    <!-- generali leave details -->
                    <FlexboxLayout :visibility="LD2visib" flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="0"  borderRadius="5" borderWidth="2" >
                        <StackLayout orientation="horizontal">
                        <Label  fontSize='14' text="Leave Details" color="white" fontWeight="700" padding="10" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                        </StackLayout>
                        <StackLayout orientation="horizontal" margin="4">
                        <Label  fontSize='14' text="Leave Type" color="white" fontWeight="700" padding="3" paddingLeft="10" width="40%"   borderColor="#2d5176" />
                        <Label  fontSize='14' text="Days" color="white" fontWeight="700" padding="3" paddingLeft="10" width="20%"   borderColor="#2d5176" />
                        <Label  fontSize='14' text="Remaining Time" color="white" fontWeight="700" padding="3" paddingLeft="10" width="40%"   borderColor="#2d5176" />
                        </StackLayout>
                        <StackLayout orientation="horizontal" margin="4">
                        <TextField 
                            height="40" 
                            width="40%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            hint=""
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            class="drop"
                            editable='false'
                            textAlign="center"
                            :text="modalleaves[0]"
                            @tap="modalLtype($event,'bal')"
                            paddingLeft="5" 
                            backgroundColor="white" marginRight='5' />

                        <TextField 
                            height="40" 
                            width="20%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            hint=""
                            textAlign="center"
                            editable='false'
                            :text="leavebal"
                            paddingLeft="5" 
                            backgroundColor="white" marginRight='5' />

                        <TextField 
                            height="40" 
                            width="40%"
                            fontSize="14" 
                            borderRadius="3" 
                            borderWidth="1" 
                            @focus="textfieldfocus"
                            @blur="textfieldblur"
                            hint=""
                            textAlign="center"
                            editable='false'
                            :text="leavehours"
                            paddingLeft="5" 
                            backgroundColor="white"  />
                            
                    </StackLayout>
                    <StackLayout orientation="vertical" >
                        <Label width="60%" fontSize='14' :text="'Last leave taken on:' + ' ' + lastleaves" textAligntment="center" color="white"></Label>
                        <!-- <Label fontSize='14' :text="lastleaves" horizontalAlignment="center" color="white"></Label> -->
                        <Button borderRadius="3" margin="10" height="40"  text="Leave History" @tap="$navigateTo(LH, {clearHistory: true})" fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" />
                    </StackLayout>
                    </FlexboxLayout>

            </StackLayout>
        </ScrollView>
        <StackLayout row='1' :visibility="vloading1" isUserInteractionEnabled='false'/>
          <StackLayout :visibility="vloading1" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" opacity='0.6' borderRadius='6'  backgroundColor='black' height="50" width="50">
                      
                      <ActivityIndicator  busy="true"
                      color="white" height="100%" width="100%"
                    verticalAlignment="center"/>
                      
          </StackLayout>
           <!-- <StackLayout :visibility="vloading1" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" opacity='0.6'  height="100%" width="100%">
                    <ActivityIndicator :isCollapsed="actvisible" busy="true"
                    color="white" height="100%" width="100%"
                   verticalAlignment="center"
                    backgroundColor="black"  />
                    <Label  verticalAlignment="center"  height="100%" width="100%"  fontSize="14" text="Loading.. Please wait..." color="white"/>
            </StackLayout> -->
  </GridLayout>
  </Page>
</template>
<script>
const calendarModule = require("nativescript-ui-calendar");
import { Color } from "tns-core-modules/color";
import * as http from "tns-core-modules/http";
import mymixen from "../myMixin.js"
// import { Frame.topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
const timerModule = require("tns-core-modules/timer");
var moment = require("moment");
var orientation = require("nativescript-orientation");
import * as Toast from "nativescript-toast";
import * as geolocation from "nativescript-geolocation";
import { Accuracy } from "ui/enums";
import dashboard from "../Dashboard.vue"
import leavehistory from "../LeaveManagement/LeaveHistory.vue"
import holidays from "../LeaveManagement/Holidays.vue"
import leaverequest from "../LeaveManagement/LeaveRequest.vue"

export default {
  mixins:[mymixen],
  components: {},
  data() {
    return {
      amanThis: 'collapse',
      chkbx: "false",
      sendval: "false",
      flightbalance: "",
      lastleaves: "",
      leavebal: "",
      leavehours: "",
      modalleaves: [],
      availableleaves: [],
      listOfLeave: [],
      listofapplyleave: [],
      leaveid: 0,
      events: JSON.parse(localStorage.getItem("listofmyevents")),
      newEvents: [],
      vloading: "hidden",
      vloading1: "visible",
      totalevents: JSON.parse(localStorage.getItem("listofmytotalevents")) != null ? JSON.parse(localStorage.getItem("listofmytotalevents")) : [],
      coordinates: "",
      DB: dashboard,
      LH: leavehistory,
      HOL: holidays,
      LR: leaverequest,
      sel: 'None',
      singlesel: 'true',
      multisel: 'false',
      LD1visib: '',
      LD2visib: '',
      checkreg: [],
      leaveArr:JSON.parse(localStorage.getItem("listofmyevents")) != null ? JSON.parse(localStorage.getItem("listofmyevents")) : []
    };
  },
  created() {
    
    this.showholidays();
    // this.showavailableleaves();
    
    // this.showholidays()
    // this.singlesel = "true"
    this.sel = 'Single'
    // this.showholidays();
    // geolocation.enableLocationRequest();
    // this.flightbalance()
    // var newEvents = localStorage.getItem("listofmyevents");
    // this.events = localStorage.getItem("listofmyevents");
    // this.totalevents = localStorage.getItem("listofmytotalevents");
  },
  computed: {
    monthViewStyle() {
      const monthViewStyle = new calendarModule.CalendarMonthViewStyle();
      monthViewStyle.backgroundColor = '#003366';
      monthViewStyle.selectionShape = 'Round';
      monthViewStyle.selectionShapeColor = '#f1c40f';
 
      const dayCellStyle = new calendarModule.DayCellStyle();
      dayCellStyle.showEventsText = false;
      dayCellStyle.eventTextColor = '#003366';
      dayCellStyle.cellTextColor = 'white';
      dayCellStyle.cellBorderWidth = 1;
      dayCellStyle.cellBorderColor = '#2d5176';
      dayCellStyle.cellBackgroundColor = '#003366';
      dayCellStyle.cellAlignment = 'VerticalLeft';
      monthViewStyle.dayCellStyle = dayCellStyle;

      const titleCellStyle = new calendarModule.DayCellStyle();
      titleCellStyle.cellTextColor = 'white';
      titleCellStyle.cellTextFontStyle = 'Bold';
      titleCellStyle.cellBorderWidth = 1;
      titleCellStyle.cellBackgroundColor = '#003366';
      monthViewStyle.titleCellStyle = titleCellStyle;

      const dayNameCellStyle = new calendarModule.CellStyle();
      dayNameCellStyle.cellBorderWidth = 1;
      dayNameCellStyle.cellBorderColor = '#2d5176';
      dayNameCellStyle.cellTextColor = 'white';
      dayNameCellStyle.cellTextFontStyle = 'Bold';
      dayNameCellStyle.cellTextSize = 13;
      dayNameCellStyle.cellBackgroundColor = '#003366';
      dayNameCellStyle.cellAlignment = 'VerticalLeft';
      monthViewStyle.dayNameCellStyle = dayNameCellStyle;               
      return monthViewStyle;
    }
  },
  methods: {
    flightmoto(){
      var hidemonga = Frame.topmost().getViewById("hidemonga")
      if (localStorage.getItem("ClientName").toLowerCase() === 'amanpulo'){
        this.amanThis = 'visible'
        http.request({
        url: localStorage.getItem("URL") + "DHRFlightBalance",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          CN: localStorage.getItem("ClientName"),
          EMPID: localStorage.getItem("EmpID")
          })
        }).then((response) => {
            this.flightbalance = response.content.toJSON().DHRFlightBalance[0].FLIGHTBALANCE.slice(0, -1)
            localStorage.setItem("FlightBalance", response.content.toJSON().DHRFlightBalance[0].FLIGHTBALANCE.slice(0, -1))
            
        })
      }
      else{
        this.amanThis = 'collapse'
      }
      
    },
    leavedetails(){
      // localStorage.setItem("ClientName", 'generali')
        if(localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
          this.LD1visib = 'collapse'
          this.LD2visib = 'visible'
        }
        else{
          this.LD1visib = 'visible'
          this.LD2visib = 'collapse'
        }
    },
    leavereq(){
      var aar = []
      for(var a = 0;a < this.listOfLeave.length; a++)
      {
        aar.push({LeaveDate:this.listOfLeave[a].LeaveDate})
      }
      console.log(aar[0].LeaveDate + " this is my leave")
      localStorage.setItem("leaves", JSON.stringify(aar))
      this.$navigateTo(this.LR, {clearHistory: true}) 
    },
    selectmode(index, a){
      
      if (this.vloading1 === "hidden") {
      if (a === 'single'){
        this.multisel = "false"
        this.singlesel = "true"
        this.sel = 'Single'
        var req = Frame.topmost().getViewById("req");
        req.isUserInteractionEnabled = "false";
        req.opacity = "0.3";
        this.listofleave = ''
      }
      else{
        this.singlesel = "false"
        this.multisel = "true"
        this.sel = 'Multiple'
        var req = Frame.topmost().getViewById("req");
        req.isUserInteractionEnabled = "false";
        req.opacity = "0.3";
        this.listofleave = ''
      }
      } else {
        Toast.makeText("Please wait still loading...").show();
      }
    },
    enableLocationTap(args) {
          geolocation.enableLocationRequest().then(function () {
                }, function (e) {
                    console.log("Error: " + (e.message || e));
                });
    },
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        // Frame.topmost().goBack();
        this.$navigateTo(this.DB, {clearHistory: true})
      };
    },
    showholidays() {
      this.modalleaves.splice(0);
      this.availableleaves.splice(0);
      this.listOfLeave.splice(0);
      this.listofapplyleave.splice(0);
      // this.events.splice(0);
      if(this.leaveArr != null)
      {
        this.leaveArr.splice(0);
      }
      this.leaveid = 0;
      this.vloading1 = "visible";

      http.request({
      url: localStorage.getItem("URL") + "ShowHolidaysv2",
      method: "POST",
      headers: { "Content-Type": "application/json" },
      content: JSON.stringify({
        CN: localStorage.getItem("ClientName"),
        EmpID: localStorage.getItem("EmpID")
        })
      }).then(response => {
        if (response.content.toJSON().Holidays !== null) {
          for (var i = 0; i < response.content.toJSON().Holidays.length;i++) {
            this.checkreg.push(moment(response.content.toJSON().Holidays[i].HolidayDate).format("ll"))
            console.log(moment(response.content.toJSON().Holidays[i].HolidayDate).format("ll") + " this is holidays")

            this.totalevents.push({
              Date: moment(response.content.toJSON().Holidays[i].HolidayDate).format("ll"),
              Type: response.content.toJSON().Holidays[i].Type
            });
            if (response.content.toJSON().Holidays[i].Type === "Regular Holiday") {
              var startDate = new Date(response.content.toJSON().Holidays[i].HolidayDate );
              var endDate = new Date(response.content.toJSON().Holidays[i].HolidayDate);
                
              const event = new calendarModule.CalendarEvent(
                response.content.toJSON().Holidays[i].HolidayName,
                startDate,
                endDate,
                true,
                new Color("red")
              );
              this.leaveArr.push(event)
              // this.newEvents.push(this.events)
            } 
            else {
              var startDate = new Date( response.content.toJSON().Holidays[i].HolidayDate);
              var endDate = new Date(response.content.toJSON().Holidays[i].HolidayDate);
              const event = new calendarModule.CalendarEvent(
                response.content.toJSON().Holidays[i].HolidayName,
                startDate,
                endDate,
                true,
                new Color("orange")
              );
              this.leaveArr.push(event)
              // this.newEvents.push(this.events)
            }
          }
          this.showleaves();
        } 
        else {
          this.showleaves();
        }
      });
    },
    showleaves() {
      http.request({
      url: localStorage.getItem("URL") + "ShowLeavesv2",
      method: "POST",
      headers: { "Content-Type": "application/json" },
      content: JSON.stringify({
        CN: localStorage.getItem("ClientName"),
        NTID: localStorage.getItem("EmpID")
        })
      }).then(response => {
        if (response.content.toJSON().Leave !== null) {
          for (var i = 0; i < response.content.toJSON().Leave.length; i++) {
            this.totalevents.push({
              Date: moment(response.content.toJSON().Leave[i].LeaveDate).format("ll"),
              Type: response.content.toJSON().Leave[i].LeaveStatus
            });
            // console.log("Appr"+moment(response.content.toJSON().Leave[i].LeaveDate).format("ll"))
            if (response.content.toJSON().Leave[i].LeaveStatus === "Approved") {
              console.log(response.content.toJSON().Leave[i].LeaveDate)
              var startDate = new Date(response.content.toJSON().Leave[i].LeaveDate);
              var endDate = new Date(response.content.toJSON().Leave[i].LeaveDate);
              const event = new calendarModule.CalendarEvent(
                response.content.toJSON().Leave[i].LeaveType,
                startDate,
                endDate,
                true,
                new Color("green")
              );
              this.leaveArr.push(event)
              this.newEvents = this.leaveArr;
            } 
            else if (response.content.toJSON().Leave[i].LeaveStatus === "Pending") {
              console.log(" pedssssss")
              console.log(response.content.toJSON().Leave[i].LeaveDate)
              var startDate = new Date(response.content.toJSON().Leave[i].LeaveDate);
              var endDate = new Date(response.content.toJSON().Leave[i].LeaveDate);
              const event = new calendarModule.CalendarEvent(
                response.content.toJSON().Leave[i].LeaveType,
                startDate,
                endDate,
                true,
                new Color("yellow")
              );
              this.leaveArr.push(event)
              this.newEvents = this.leaveArr;
              }
            }
            // this.vloading1 = "hidden";
            this.showavailableleaves();
        } 
        else {
          // this.vloading1 = "hidden";
          this.showavailableleaves();
        }
      });
    },
    showavailableleaves() {
      this.vloading1 = "hidden";
      this.modalleaves.splice(0);
      this.availableleaves.splice(0);
      this.listOfLeave.splice(0);
      this.listofapplyleave.splice(0);
      // this.events.splice(0)
      this.leaveid = 0;


      if (localStorage.getItem("ILMorGen").toLowerCase() === "gen") {
              http
              .request({
                url: localStorage.getItem("URL") + "ShowAvailableLeaveGen",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  NTID: localStorage.getItem("EmpID")
                })
              })
              .then(response => {
                if (response.content.toJSON().availableLeavesGen === null) {
                  this.availableleaves = "No Available Leaves";
                  this.vloading1 = "hidden";
                  
                } else {
                  this.availableleaves = response.content.toJSON().availableLeavesGen;
                  for (var i = 0; i < response.content.toJSON().availableLeavesGen.length;i++) 
                  {
                    this.modalleaves.push(
                      response.content.toJSON().availableLeavesGen[i].LType
                    );
                  }
                  if (response.content.toJSON().AvailableLastLeaves !== null){
                  this.lastleaves = moment(response.content.toJSON().AvailableLastLeaves).format("YYYY-MM-DD");
                  }
                  else {
                  this.lastleaves = 'None'
                  }
                  localStorage.setItem("remaininghours",response.content.toJSON().availableLeavesGen[0].leaveHourse)
                  console.log(response.content.toJSON().availableLeavesGen[0].leaveHourse)
                  this.leavebal = response.content.toJSON().availableLeavesGen[0].leaveBalance;
                  
                  var totalhrsmns 
                  var myhrsmns
                  var mymns
                  var minuto
                  var compute1
                  totalhrsmns = response.content.toJSON().availableLeavesGen[0].leaveHourse
                  myhrsmns = totalhrsmns.toString().split(".")
                  if (myhrsmns[1] > 0){
                          compute1 = (myhrsmns[1] * .60).toString().split(".")
                          console.log(compute1)
                          minuto = compute1[0]
                        }
                        else {
                          minuto = "00"
                  }
                  // totalhrsmns = response.content.toJSON().availableLeavesGen[0].leaveHourse
                  this.leavehours = myhrsmns[0] + ' ' +'hrs'+ ' ' + minuto + 'mns';
                  // console.log(myhrsmns[1])
                  // console.log(minuto[0])
                  // localStorage.setItem("remaininghours", myhrsmns[0])
                  // mymns = myhrsmns[1] * 60
                  // alert(localStorage.getItem("remaininghours"))
            }
            });
            setTimeout(() => {
              // let cal = Frame.topmost().getViewById('calendar');
              // cal.reload()
              this.vloading1 = "hidden";
              if(localStorage.getItem("GENDER") != null || localStorage.getItem("GENDER") != ''){
              this.chkbx = "true"
              // this.singlesel = "true"
              // this.sel = 'Single'
              } else {
              alert("Please update your 'Gender' on Personal Information first.");
              }
            }, 5000);

        } else {
            http
              .request({
                url: localStorage.getItem("URL") + "ShowAvailableLeavesv2",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  NTID: localStorage.getItem("EmpID")
                })
              })
              .then(response => {
                if (response.content.toJSON().AvailableLeaves === null) {
                  this.availableleaves = "No Available Leaves";
                  this.vloading1 = "hidden";
                  
                } else {
                  this.availableleaves = response.content.toJSON().AvailableLeaves;
                  for (var i = 0; i < response.content.toJSON().AvailableLeaves.length;i++) 
                  {
                    this.modalleaves.push(
                      response.content.toJSON().AvailableLeaves[i].Ltype
                    );
                  }

                  if (response.content.toJSON().AvailableLastLeaves !== null){
                  this.lastleaves = moment(response.content.toJSON().AvailableLastLeaves).format("YYYY-MM-DD");
                  } else {
                  this.lastleaves = 'None'
                  }
                  
                  
                  // if (localStorage.getItem("ClientName").toLowerCase() === 'generali') {
                  //       var totalhrs
                  //       var totalmns
                  //       var hrsmns
                  //       var mns
                  //       this.totalhrs = response.content.toJSON().AvailableLeaves[0].LeaveBal * 9.00;
                  //       console.log(this.totalhrs)
                  //       hrsmns = this.totalhrs.toString().split(".");
                  //       console.log(hrsmns[1] * 60)
                  //       if (hrsmns[1] > 0){
                  //         this.totalmns = (hrsmns[1] * 60);
                  //       }
                  //       else {
                  //         this.totalmns = "00"
                  //       }
                  //       this.leavebal = hrsmns[0] + 'hrs' + ':' + this.totalmns + 'mns'
                  // }
                  // else {
                        this.leavebal = response.content.toJSON().AvailableLeaves[0].LeaveBal.slice(0, -2);
                        // var baam = response.content.toJSON().AvailableLeaves[0].LeaveBal
                        console.log(this.leavebal+'----this balance')
                      
                  // }

                  // console.log(moment(this.now).format("YYYY-MM-DD"))
                  var offsetLeave = response.content.toJSON().AvailableLeaves.find(e => e.Ltype == 'Offset Leave')
                  // console.log(offsetLeave.LeaveBal + " ttttttttttttttt")
                  var offsetFinalValue
                  var offsetBal = parseFloat(offsetLeave.LeaveBal.slice(0, -2) * 8);
                  console.log(offsetBal)
                  offsetBal = offsetBal.toFixed(9)
                  var mins = "0." + offsetBal.split('.')[1];
                  console.log(mins)
                  var dec = (mins) * 60;
                  console.log(dec);
                  if (dec.toFixed(0) < 10) {
                    offsetFinalValue = parseFloat(offsetBal.split('.')[0] + '.0' + dec.toFixed(0))
                    localStorage.setItem("offsetValue",offsetFinalValue)
                  } else {
                    offsetFinalValue = parseFloat(offsetBal.split('.')[0] + '.' + dec.toFixed(0))
                    localStorage.setItem("offsetValue",offsetFinalValue)
                  }
                }
              });
            setTimeout(() => {
              // let cal = Frame.topmost().getViewById('calendar');
              // cal.reload()
              this.vloading1 = "hidden";

              if(localStorage.getItem("GENDER") != null || localStorage.getItem("GENDER") != ''){
              this.chkbx = "true"
              // this.singlesel = "true"
              // this.sel = 'Single'
              } else {
              alert("Please update your 'Gender' on Personal Information first.");
              }
            }, 5000);
      }
      this.flightmoto()
    },
    onDateSelectedRange(args){
      this.listOfLeave.push(moment(args.date).format("YYYY-MM-DD"))
      console.log(this.listOfLeave)
    },
    onDateSelected(args) {
      console.log('1')
      var reg = this.checkreg.find(res => res === moment(args.date).format("ll"))
      localStorage.setItem('checkreg', reg)
      // console.log(this.sel)
      if(this.sel !== 'Single')
      {
        localStorage.setItem('checkreg', '')
      }
      

      if(localStorage.getItem("GENDER") != null || localStorage.getItem("GENDER") != ''){
      if (this.vloading1 === "hidden") {
        
        var f = this.listOfLeave.find(res => moment(res.LeaveDate).format("MMMM DD, YYYY") === moment(args.date).format("MMMM DD, YYYY"));
        if (f === undefined) {
          var patingin = 0;
          var ac = this.totalevents.filter(res => res.Date === moment(args.date).format("ll")
          );
          if (ac.length !== 0) {
            for (var o = 0; o < ac.length; o++) {
             
              if (ac[o].Type === "Approved" || ac[o].Type === "Pending") {
                patingin += 1;
              }
            }
          }
         
          if (patingin === 0) {
            var req = Frame.topmost().getViewById("req");
            
            this.sendval = true
            
            if (this.availableleaves === "No Available Leaves") {
              alert("Sorry you are not allowed to file a leave, Please contact your immediate supervisor!");
              var req = Frame.topmost().getViewById("req")
              req.isUserInteractionEnabled = "false"
              req.opacity = "0.3";
            } 
            else {
              if (this.singlesel === 'true'){
                req.isUserInteractionEnabled = "true";
                req.opacity = "1";
                this.listOfLeave.splice(args.object.id, 1);
                this.listOfLeave.push({ LeaveDate: moment(args.date).format("MMMM DD, YYYY") })
                this.insertLeave(args)
                localStorage.setItem("SingleMultpleLength", this.listOfLeave.length)
                //console.log(localStorage.getItem("SingleMultpleLength"))\
                console.log(JSON.stringify(this.listOfLeave) + " list of leaves")
              }
              else {
                if(reg === undefined) {
                  req.isUserInteractionEnabled = "true";
                  req.opacity = "1";
                  this.insertLeave(args)
                  this.listOfLeave.push({ LeaveDate: moment(args.date).format("MMMM DD, YYYY") })
                  localStorage.setItem("SingleMultpleLength", this.listOfLeave.length)
                  // console.log(localStorage.getItem("SingleMultpleLength"))
                  console.log(JSON.stringify(this.listOfLeave) + " list of leaves")
                  }
                    
                  
                }
              this.leaveid += 1;
              for (var i = 0; i < this.listOfLeave.length; i++){
                  // console.log("dito" + this.listOfLeave[i].LeaveDate);
                  // console.log(this.listOfLeave[0])
                  // console.log(this.listOfLeave[this.listOfLeave.length - 1])
              }
              
            }
          }
        }
      } else {
        Toast.makeText("Please wait still loading...").show();
      }
      }
       else {
        alert("Please update your 'Gender' on Personal Information first.");
      }
    },
    onDateDeselected(args){
          for (var i = 0; i < this.listOfLeave.length; i++){
            if(this.listOfLeave[i].LeaveDate === moment(args.date).format("MMMM DD, YYYY")){
              this.listOfLeave.splice(i, 1);
          }
          }
          if (this.listOfLeave.length <= 0){
                var req = Frame.topmost().getViewById("req");
                req.isUserInteractionEnabled = "false";
                req.opacity = "0.3";
                this.sendval = false
          }
    },
    modalLtype(args, ergs) {
      console.log(this.availableleaves)
      action("Choose Leave Type", "Cancel", this.modalleaves).then(result => {
        if (result !== "Cancel") {
          // alert("here")
          if (localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
              if (ergs === "bal") {
                args.object.text = result;
                var bal = this.availableleaves.find(res => res.LType === result);
                // var totalhrs
                //     var totalmns
                //     var hrsmns
                //     var mns
                // this.totalhrs = bal.leaveHourse * 9.00;
                // this.totalhrs = bal.leaveHourse * 9.00;
                // console.log(this.totalhrs)
                // hrsmns = this.totalhrs.toString().split(".");
                // console.log(hrsmns[1] * 60)
                // if (hrsmns[1] > 0){
                //   this.totalmns = (hrsmns[1] * 60);
                // }
                // else {
                //   this.totalmns = "00"
                // }
                this.leavebal = bal.leaveBalance
                // this.leavehours = bal.leaveHourse + ' ' +'hours'
                // this.leavebal = hrsmns[0] + 'hrs' + ':' + this.totalmns + 'mns'
                // this.leavebal = bal.LeaveBal;
                // alert("nandito")
                //id.isHalfDay = args.object.checked
                var totalhrsmns 
                var myhrsmns
                var mymns
                var minuto
                var compute1
                totalhrsmns = bal.leaveHourse
                myhrsmns = totalhrsmns.toString().split(".")
                if (myhrsmns[1] > 0){
                        compute1 = (myhrsmns[1] * .60).toString().split(".")
                        console.log(compute1)
                        minuto = compute1[0]
                      }
                      else {
                        minuto = "00"
                }
                // totalhrsmns = response.content.toJSON().availableLeavesGen[0].leaveHourse
                this.leavehours = myhrsmns[0] + ' ' +'hrs'+ ' ' + minuto + 'mns';
              } else {
                args.object.text = result;
                var type = this.availableleaves.find(res => res.LType === result);
                var type2 = this.listOfLeave.find(res => res.id === args.object.id);
                type2.LeaveID = type.serialID;
                type2.LeaveType = type.LType;
                // alert("gumana")
              }
                
            } else {
              if (ergs === "bal") {
                args.object.text = result;
                var bal = this.availableleaves.find(res => res.Ltype === result);
                
                // this.leavebal = bal.Ltype == 'Offset Leave' ? (parseFloat(bal.LeaveBal.slice(0, -2)) * 60) / 8 : bal.LeaveBal.slice(0, -2);
                if(bal.Ltype == 'Offset Leave')
                {
                  var offsetBal = parseFloat(bal.LeaveBal * 8);
                  console.log(offsetBal)
                  offsetBal = offsetBal.toFixed(9)
                  var mins = "0." + offsetBal.split('.')[1];
                  console.log(mins)
                  var dec = (mins) * 60;
                  console.log(dec.toFixed(0) + " decimal");
                  var finalDec = dec.toFixed(0)
                  // var finalDec = dec.split('.')[0]
                  // console.log(finalDec + " final")
                  if (dec.toFixed(0) < 10) {
                    this.leavebal = offsetBal.split('.')[0] + '.0' + finalDec
                    console.log(this.leavebal + " ddddddddddd")
                  } else {
                    this.leavebal = offsetBal.split('.')[0] + '.' + finalDec
                    console.log(this.leavebal + " eeeeeeeeeeee")
                  }
                } else {
                  this.leavebal = bal.LeaveBal.slice(0, -2)
                }
                // alert("nandito")
                //id.isHalfDay = args.object.checked
              } else {
                args.object.text = result;
                var type = this.availableleaves.find(res => res.Ltype === result);
                var type2 = this.listOfLeave.find(res => res.id === args.object.id);
                type2.LeaveID = type.SerialID;
                type2.LeaveType = type.Ltype;
                // alert("gumana")
              }
            }
        }
      });
    },

    removeleave(args) {
      this.listOfLeave.splice(args.object.id, 1);
      if (this.listOfLeave.length === 0) {
        var req = Frame.topmost().getViewById("req");
        req.isUserInteractionEnabled = "false";
        req.opacity = "0.3";
      }
    },
    ishalf(args) {
      //alert('dito')
      var id = this.listOfLeave.find(res => res.id === args.object.id);
      id.isHalfDay = args.object.checked;
    },

    fileleave() {
      
      // if (this.listOfLeave.length > 0) {
        this.vloading1 = "visible";
        for (var i = 0; i < this.listOfLeave.length; i++) { 
          var lt = this.listOfLeave[i].LeaveType;
        //   alert(lt);
          http
            .request({
              url: localStorage.getItem("URL") + "FileLeavev2",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem("ClientName"),
                NTID: localStorage.getItem("EmpID"),
                LeaveDate: moment(this.listOfLeave[i].LeaveDate).format(
                  "YYYY-MM-DD"
                ),
                LeaveType: this.listOfLeave[i].LeaveType,
                LeaveID: this.listOfLeave[i].LeaveID,
                isHalfDay: this.listOfLeave[i].isHalfDay === false ? 0 : 1,
                Coordinates: this.coordinates
              })
            })
            .then(response => {
              http
                .request({
                  url: localStorage.getItem("URL") + "DHRGetDHRTOKEN",
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  content: JSON.stringify({
                    CN: localStorage.getItem("ClientName"),
                    EMPID: localStorage.getItem("EmpID")
                  })
                })
                .then(response => {
                  // console.log(this.listOfLeave[i].LeaveType)
                  // console.log(response.content.toJSON())
                  http
                    .request({
                      url: "https://fcm.googleapis.com/fcm/send",
                      method: "POST",
                      headers: {
                        Authorization:
                          "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                        "Content-Type": "application/json"
                      },
                      content: JSON.stringify({
                        notification: {
                          body:
                            localStorage.getItem("Fullname") +
                            " " +
                            "is applying for " +
                            lt,
                          title: "New Leave Request"
                        },
                        to: response.content.toJSON()
                      })
                    })
                    .then(response => {
                      console.log(response.content.toJSON());
                      setTimeout(() => {
                        this.vloading1 = "hidden";
                        Toast.makeText("Leave request sent").show();
                        var req = Frame.topmost().getViewById("req");
                        req.isUserInteractionEnabled = "false";
                        req.opacity = "0.3";
                      }, 1000);
                    });
                });
            
            })
            .catch(err => {
              this.vloading = "hidden";
              Toast.makeText("Connection timed out. Please try again.").show();
              console.log("Error -> " + err.message);
            });
        }

        this.refreshtags()
        this.showholidays();
      // } else {
      //   alert("Please Select Leave Date");
      // }
      // }
     
    },
    refreshtags(){
                http
                  .request({
                    url: localStorage.getItem("URL") + "ShowHolidaysv2",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN: localStorage.getItem("ClientName"),
                      EmpID: localStorage.getItem("EmpID")
                    })
                  })
                  .then(response => {
                    // alert(response.content.toJSON().length)
                    if (response.content.toJSON().Holidays.length > 0) {
                      console.log("diiiitooooo11111")
                      for (
                        var i = 0;
                        i < response.content.toJSON().Holidays.length;
                        i++
                      ) {
                        // console.log(response.content.toJSON().Holidays.length)
                        this.totalevents.push({
                          Date: moment(
                            response.content.toJSON().Holidays[i].HolidayDate
                          ).format("ll"),
                          Type: response.content.toJSON().Holidays[i].Type
                        });
                        if (
                          response.content.toJSON().Holidays[i].Type === "Regular Holiday"
                        ) {
                          var startDate = new Date(
                            response.content.toJSON().Holidays[i].HolidayDate
                          );
                          var endDate = new Date(
                            response.content.toJSON().Holidays[i].HolidayDate
                          );
                          const event = new calendarModule.CalendarEvent(
                            response.content.toJSON().Holidays[i].HolidayName,
                            startDate,
                            endDate,
                            true,
                            new Color("red")
                          );
                          this.events.push(event);
                          // console.log(event)
                        } else {
                          var startDate = new Date(
                            response.content.toJSON().Holidays[i].HolidayDate
                          );
                          var endDate = new Date(
                            response.content.toJSON().Holidays[i].HolidayDate
                          );
                          const event = new calendarModule.CalendarEvent(
                            response.content.toJSON().Holidays[i].HolidayName,
                            startDate,
                            endDate,
                            true,
                            new Color("orange")
                          );
                          this.events.push(event);
                          // console.log(event)
                        }
                      }
                      // console.log(this.totalevents)
                      // this.showleaves()
                    } else {
                      // this.showleaves()
                    }
                    
                  });
                // this.showleaves();
              
              
                http
                  .request({
                    url: localStorage.getItem("URL") + "ShowLeavesv2",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN: localStorage.getItem("ClientName"),
                      NTID: localStorage.getItem("EmpID")
                    })
                  })
                  .then(response => {
                    if (response.content.toJSON().Leave !== null) {
                      console.log("diiiitooooo")
                      for (var i = 0; i < response.content.toJSON().Leave.length; i++) {
                        this.totalevents.push({
                          Date: moment(
                            response.content.toJSON().Leave[i].LeaveDate
                          ).format("ll"),
                          Type: response.content.toJSON().Leave[i].LeaveStatus
                        });
                        if (
                          response.content.toJSON().Leave[i].LeaveStatus === "Approved"
                        ) {
                          var startDate = new Date(
                            response.content.toJSON().Leave[i].LeaveDate
                          );
                          var endDate = new Date(
                            response.content.toJSON().Leave[i].LeaveDate
                          );
                          const event = new calendarModule.CalendarEvent(
                            response.content.toJSON().Leave[i].LeaveType,
                            startDate,
                            endDate,
                            true,
                            new Color("green")
                          );
                          this.events.push(event);
                        } else if (
                          response.content.toJSON().Leave[i].LeaveStatus === "Pending"
                        ) {
                          var startDate = new Date(
                            response.content.toJSON().Leave[i].LeaveDate
                          );
                          var endDate = new Date(
                            response.content.toJSON().Leave[i].LeaveDate
                          );
                          const event = new calendarModule.CalendarEvent(
                            response.content.toJSON().Leave[i].LeaveType,
                            startDate,
                            endDate,
                            true,
                            new Color("yellow")
                          );
                          this.events.push(event);
                        }
                      }
                      setTimeout(() => {
                        // let cal = Frame.topmost().getViewById('calendar');
                        // cal.reload()
                        // this.vloading = 'visible'
                        // this.vloading1 = 'hidden'
                      }, 1000);
                      // this.showavailableleaves()
                    } else {
                      setTimeout(() => {
                        // let cal = Frame.topmost().getViewById('calendar');
                        // cal.reload()
                        // this.vloading = 'visible'
                        // this.vloading1 = 'hidden'
                      }, 1000);
                    }
                  });
                localStorage.setItem("listofmyevents", this.events);
                localStorage.setItem("listofmytotalevents", this.totalevents);
                // console.log("resulta")
                // console.log(localStorage.getItem("listofmyevents"))
                // console.log(localStorage.getItem("listofmytotalevents"))
    },
    textfieldfocus(a) {
      a.object.borderColor = "#f1c40f";
    },
    textfieldblur(a) {
      a.object.borderColor = "transparent";
    }
  }
};
</script>
<style scoped>
.drop {
  background-image: url("~/assets/images/ic_dropdown.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 50 50;
}
.dropwhite {
  background-image: url("~/assets/images/dropdownwhite.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 50 50;
}
.removimg {
  background-image: url("~/assets/images/remove.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50 50;
}
</style>
