<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo();halfdayhide();'>  
    <ActionBar title="Leave Request" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(LM, {clearHistory: true})"/>
    </ActionBar>
    <GridLayout rows="auto,*" columns="auto,*">
        <ScrollView orientation="vertical" row="1" width="100%">
    <FlexboxLayout flexDirection="column" orientation="vertical">
      <StackLayout height="80%"> 
      <StackLayout orientation="horizontal"  marginLeft="10" marginRight="10" marginTop="10" marginBottom="5">
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='Leave Date'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <TextView 
          height="100" 
          width="70%"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1"
          :text="[listOfLeave]" 
          backgroundColor="#adb8c9"
          editable='false'
          />
        </StackLayout>

        <StackLayout orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='Leave Type'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <TextField 
          height="40" 
          width="70%"
          fontSize="14"
          :isEnabled='regcheck'
          borderRadius="3" 
          :text="lt"
          @tap="selectedLtype($event)"
          borderWidth="1" 
          backgroundColor="white"
          editable='false'
          class="drop"
          />
        </StackLayout>

        <StackLayout :visibility="half1" orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="28%"
          fontSize="14" 
          borderRadius="3"
          text='Half Day'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />

          <CheckBox 
          width="10%"
          orientation="horizontal" 
          fillColor="#f1c40f"  
          horizontalAlignment="center"
          @checkedChange="ishalf" 
          />
          
          <Label 
          height="40" 
          width="22%"
          fontSize="14" 
          borderRadius="3"
          text='Shift Type'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />

          <TextField 
          height="40" 
          width="40%"
          id="shfttyp"
          :text="shifttype[0]"
          :isEnabled="false"
          opacity='0.3'
          @tap="selectedShift($event)"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1" 
          backgroundColor="white"
          editable='false'
          class="drop"
          />
        </StackLayout>

        <StackLayout :visibility="half2" orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='Time'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />

          <TextField
                  horizontalAlignment="right"
                  height="40"
                  width="34%"
                  margin="2"
                  fontSize="14" 
                  borderRadius="3" 
                  :text="selectedhrs"
                  editable="false"
                  backgroundColor="white"
                  @tap="selecttime('oras')" 
                  textWrap="true"
                  class="clock"
              />
            <TextField
                  horizontalAlignment="right"
                  height="40"
                  width="34%"
                  margin="2"
                  fontSize="14" 
                  borderRadius="3" 
                  :text="selectedmns"
                  editable="false"
                  backgroundColor="white"
                  @tap="selecttime('minuto')" 
                  textWrap="true"
                  class="clock"
              />
        </StackLayout>

        <StackLayout orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='Reason'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <TextField 
          :isEnabled='reasontype[0] === "--" ? false : true'
          :backgroundColor='reasontype[0] === "--" ? "lightgray" : "white"'
          height="40" 
          width="70%"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1" 
          :text="reasontype[0]"
          @tap="selectedReason($event)"
          class="drop"
          editable='false'
          />
        </StackLayout>

        <StackLayout orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='Comment'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <TextView  
          height="70" 
          width="70%"
          v-model="leavecomment"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1" 
          backgroundColor="white"
          />
        </StackLayout>

        <StackLayout orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="28%"
          fontSize="14" 
          borderRadius="3"
          text='Uploaded File'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <!-- <StackLayout height="20%" row="1" verticalAlignment="top" paddingBottom="50" paddingRight="10" paddingLeft="10"
            paddingTop="50" width="70%"> -->
            <Image id="imageID" row='1' :src="docos1" verticalAlignment='center' height="320" width="69%" class="formBox" />
          <!-- </StackLayout> -->
        </StackLayout>
        </Stacklayout>
        <StackLayout  height="10%">
        <StackLayout orientation="horizontal" horizontalAlignment="right"  marginLeft="10" marginRight="10" marginTop="1" marginBottom="10">
                 <Button 
                 borderRadius="3" 
                 height="40" 
                 width="40" 
                 horizontalAlignment="right" 
                 backgroundColor="#f1c40f"
                 marginLeft="5"
                 @tap="upload"
                 style='background-image: url("~/assets/images/open_gallery.png");background-repeat: no-repeat;background-size: 70 70;background-position:50% 50%;'
                 />

                 <Button 
                 borderRadius="3" 
                 height="40" 
                 width="40" 
                 @tap="openCamera"
                 horizontalAlignment="right" 
                 backgroundColor="#f1c40f"
                 marginLeft="5"
                 style='background-image: url("~/assets/images/camera2.png");background-repeat: no-repeat;background-size: 70 70;background-position:50% 50%;'
                 />

                 <Button
                 id='sendrqst'
                 :isEnabled='this.sendRequest'
                 borderRadius="3" 
                 height="40" 
                 width="40" 
                 @tap="kuhalocation" 
                 horizontalAlignment="right" 
                 backgroundColor="#f1c40f"
                 marginLeft="5"
                 style='background-image: url("~/assets/images/send_request.png");background-repeat: no-repeat;background-size: 70 70;background-position:50% 50%;'
                 />
                 
        </StackLayout>
        </StackLayout>

        
    </FlexboxLayout> 
    
    </ScrollView>
    <StackLayout row='1' :visibility="luding" isUserInteractionEnabled='false' />
      <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center"
        opacity='0.6' borderRadius='6' backgroundColor='black' height="50" width="50">
        <ActivityIndicator busy="true" color="white" height="100%" width="100%" verticalAlignment="center" />
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
import { takePicture } from "nativescript-camera";
import * as camera from "nativescript-camera";
import * as http from "http";
import * as fs from "tns-core-modules/file-system";
const imageSourceModule = require("tns-core-modules/image-source");
const fileSystemModule = require("tns-core-modules/file-system");
import { topmost } from "tns-core-modules/ui/frame";
const httpModule = require("tns-core-modules/http");
var orientation = require("nativescript-orientation");
import * as Toast from "nativescript-toast";
var moment = require("moment");
const timerModule = require("tns-core-modules/timer");
import * as geolocation from "nativescript-geolocation";
import { Accuracy } from "tns-core-modules/ui/enums";
import leavemanagement from "../LeaveManagement/LeaveManagement.vue"
var imagepicker = require("nativescript-imagepicker");
const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;   
const picker = new ModalPicker();
const calendarModule = require("nativescript-ui-calendar");
import { Color } from "tns-core-modules/color";



export default {
  data() {
    return {
      sendRequest: true,
      luding: 'collapse',
      docos1: "~/assets/images/document.png",
      propath: "",
      lastleaves: "",
      leavebal: "",
      modalleaves: [],
      availableleaves: [],
      listOfLeave: [],
      newListOfLeave: [],
      listofapplyleave: [],
      // leaveid: 0,
      // events: [],
      vloading: "hidden",
      vloading1: "hidden",
      half1: 'collapse',
      half2: 'collapse',
      // totalevents: [],
      leavetypes: [],
      leavebals:[],
      coordinates: "",
      shifttype: ['1st Half','2nd Half'],
      reasontype: ['Family Event', 'Sickness', 'Vacation' ,'Emergency', 'Study', 'Travel', 'Financial Problem'],
      isHalfDay: false,
      myhrs: [],
      mymns: [],
      selectedhrs: '',
      selectedmns: '',
      lt: "",
      st: '',
      lid: "",
      rt: "",
      leavecomment: "",
      leaveimage: "",
      LM: leavemanagement,
      Address:  "",
      regcheck: true,
      events: [],
      totalevents: [],
    };
  },
  created: function() {
    this.showavailableleaves();
    this.constanttime();
    
    this.listOfLeave = JSON.parse(localStorage.getItem("leaves"));
    console.log(JSON.parse(localStorage.getItem("leaves")))
    for (var i = 0; i < this.listOfLeave.length; i++) {
      this.newListOfLeave.push(moment(this.listOfLeave[i].LeaveDate).format("YYYY-MM-DD"))
    }
    console.log(this.listOfLeave)
  },
  methods: {
    halfdayhide(){
      // localStorage.setItem("ClientName", 'generali')
        if(localStorage.getItem("ClientName").toLowerCase() === 'generali'){
          this.reasontype[0] = '--'
          this.half1 = 'collapse'
          this.half2 = 'visible'
        }
        else{
          this.half1 = 'visible'
          this.half2 = 'collapse'
        }
    },
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here
        // Frame.topmost().goBack();
        this.$navigateTo(this.LM, {clearHistory: true})
      };
    },
    openCamera() {
      var gabbi = Frame.topmost().getViewById("imageID");
      camera.requestPermissions();
      camera
        .takePicture({
          width: 800,
          height: 1024,
          keepAspectRatio: true,
          saveToGallery: false,
          cameraFacing: "front"
        })
        .then(imageAsset => {
          gabbi.src = imageAsset;
          let documents = fileSystemModule.knownFolders.documents();
          let path = fileSystemModule.path.join(documents.path, "pic.png");
          imageSourceModule.fromAsset(imageAsset).then(imageSource => {
            imageSource.saveToFile(path, "jpg");
            var imgLocal = imageSource.fromFile(path);
            this.propath = imageSource.toBase64String("jpg", 50);
            //this.listPickerbenefits = [];
            console.log(this.propath)
          });
        })
        .catch(function(err) {
          Toast.makeText("Connection timed out. Please try again.").show();
          console.log("Error -> " + err.message);
        });
    },
    fileleave(a) {
      // this.selecttime('none')
      // localStorage.setItem("ClientName", 'ilm')\
      console.log(this.selectedhrs)
      console.log(this.selectedmns)
      if (this.leavecomment === ''){
        Toast.makeText("Please complete your leave request information").show();
        this.luding = 'collapse'
        }
      else if (localStorage.getItem("ClientName").toLowerCase() === 'generali' && localStorage.getItem("remaininghours") <= 4 && this.lt != 'LWOP') {
          alert("Warning! : Your remaining balance is equivalent or less than 4hrs, please use 'LWOP' as your leave type.")
          this.luding = 'collapse'
        }
      else {
        // this.sendRequest = false
        this.luding = 'visible'
        http.request({
        url:"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="+a+"&rankby=distance&key=AIzaSyCRSh3MC7KEQmgFLP_aTyFcYfktaiQlgTo",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          })
        }).then((response) => {
          var loc = response.content.toJSON().results[0].name
          for (var i = 0; i < localStorage.getItem("leaves").length; i++) {
            if(localStorage.getItem("ClientName").toLowerCase() === 'generali'){
              http.request({
              url: localStorage.getItem("URL") + "FileLeaveGen",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem("ClientName"),
                NTID: localStorage.getItem("EmpID"),
                LeaveDate: moment(localStorage.getItem("leaves")[i].LeaveDate).format("YYYY-MM-DD"),
                LeaveType: this.lt,
                LeaveID: this.lid,
                isHalfDay: this.isHalfDay === false ? 0 : 1,
                Coordinates: loc,
                ShiftType: this.st,
                EmpReason: this.rt,
                EmpComment: this.leavecomment,
                FilePath: this.propath,
                LeaveHours: this.selectedhrs,
                LeaveMinutes: this.selectedmns
                })
              }).then(response => {
                http.request({
                url: localStorage.getItem("URL") + "DHRGetDHRTOKEN",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  EMPID: localStorage.getItem("EmpID")
                  })
                }).then(response => {
                  http.request({
                  url: "https://fcm.googleapis.com/fcm/send",
                  method: "POST",
                  headers: {
                    Authorization:
                      "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                      "Content-Type": "application/json"},
                  content: JSON.stringify({
                    notification: {
                      body:
                        localStorage.getItem("EmpID") +
                        " " +
                        "is applying for " +
                        this.lt,
                        title: "New Leave Request"
                      },
                      to: response.content.toJSON()
                    })
                  }).then(response => {
                    setTimeout(() => {
                    }, 1000);
                  })
                })
              }).catch(err => {
                this.luding = 'collapse'
                Toast.makeText("Connection timed out. Please try again.").show();
                console.log("Error -> " + err.message);
              });
            }
            else {
              http.request({
              url: localStorage.getItem("URL") + "FileLeavevv3",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem("ClientName"),
                NTID: localStorage.getItem("EmpID"),
                LeaveDate: moment(localStorage.getItem("leaves")[i].LeaveDate).format("YYYY-MM-DD"),
                LeaveType: this.lt,
                LeaveID: this.lid,
                isHalfDay: this.isHalfDay === false ? 0 : 1,
                Coordinates: loc,
                ShiftType: this.st,
                EmpReason: this.rt,
                EmpComment: this.leavecomment,
                FilePath: this.propath,
                })
              }).then(response => {
                http.request({
                url: localStorage.getItem("URL") + "DHRGetDHRTOKEN",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  EMPID: localStorage.getItem("EmpID")
                })
              })
              .then(response => {
                http.request({
                url: "https://fcm.googleapis.com/fcm/send",
                method: "POST",
                headers: {
                  Authorization:
                    "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                    "Content-Type": "application/json"},
                content: JSON.stringify({
                  notification: {
                    body: localStorage.getItem("EmpID") +
                    " " +
                    "is applying for " +
                    this.lt,
                    title: "New Leave Request"
                  },
                  to: response.content.toJSON()
                  })
                }).then(response => {
                  setTimeout(() => {
                    }, 1000);
                  })
                })
              }).catch(err => {
                this.luding = 'collapse'
                Toast.makeText("Connection timed out. Please try again.").show();
                console.log("Error -> " + err.message);
              })
            }
      }
        this.showholidays();
        this.showleaves()
        
        }).catch(err => {
                this.luding = 'collapse'
                Toast.makeText("Connection timed out. Please try again.").show();
                console.log("Error -> " + err.message);
              })
      }
    },
    GetAddress() {
        http.request({
          url:"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="+this.coordinates+"&rankby=distance&key=AIzaSyCRSh3MC7KEQmgFLP_aTyFcYfktaiQlgTo",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({

          })
        }).then((response) => {
          this.Address = response.content.toJSON().results[0].name;
          console.log(this.Address);
        })
      },
    kuhalocation() {
      
      var geolocation = require("nativescript-geolocation");
      if (!geolocation.isEnabled()) {
        geolocation.enableLocationRequest();
      }

      if (geolocation.isEnabled()) {
        this.luding = 'visible'
        geolocation
          .getCurrentLocation({
            desiredAccuracy: Accuracy.high,
            timeout: 10000
          })
          .then(
            loc => {
              if (loc) {
                
                this.coordinates = loc.latitude + "," + loc.longitude;
                this.fileleave(loc.latitude + "," + loc.longitude)
                console.log("location ko to" + this.coordinates);
              }
            },
            e => {
              console.log("Error: " + (e.message || e));
              Toast.makeText("Can't get your current location!").show();
              this.luding = 'collapse'
            }
          );
          
      }
    },
    showavailableleaves(){
      http
        .request({
          url: localStorage.getItem("URL") + "ShowAvailableLeavesv2",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            CN: localStorage.getItem("ClientName"),
            NTID: localStorage.getItem("EmpID")
          })
        })
        .then(response => {
          this.availableleaves = response.content.toJSON().AvailableLeaves
          for (var i = 0; i < response.content.toJSON().AvailableLeaves.length;i++) 
            {
              this.leavetypes.push(response.content.toJSON().AvailableLeaves[i].Ltype);
              this.leavebals.push({Lbal:response.content.toJSON().AvailableLeaves[i].LeaveBal,
                                   Ltype:response.content.toJSON().AvailableLeaves[i].Ltype});
            }
            console.log(localStorage.getItem("checkreg"))
            if(localStorage.getItem("checkreg") !== 'undefined')
            {
              if(localStorage.getItem("checkreg") === '')
              {
               this.regcheck = true
                this.lt = response.content.toJSON().AvailableLeaves[0].Ltype 
              }
              else
              {
                this.regcheck = false
                //this.lt = 'Regular Holiday'
                http.request({
                      url: localStorage.getItem("URL") + "ShowHolidaysv2",
                      method: "POST",
                      headers: { "Content-Type": "application/json" },
                      content: JSON.stringify({
                        CN: localStorage.getItem("ClientName"),
                        EmpID: localStorage.getItem("EmpID")
                      })
                    })
                    .then(response => {
                      var selectedType = response.content.toJSON().Holidays.find(res => res.HolidayDate === moment(localStorage.getItem("checkreg")).format('MMM-DD-YYYY'))
                      this.lt = selectedType.Type;
                    })
              }
              
            }
            else
            {
              this.regcheck = true
              this.lt = response.content.toJSON().AvailableLeaves[0].Ltype 
            }
            
            this.lid = response.content.toJSON().AvailableLeaves[0].SerialID 
            this.rt = this.reasontype[0]
            console.log(this.lt)
            console.log(this.rt)
    })
    },
    selectedLtype(args){
      console.log(args)
        action("Choose Leave Type", "Cancel", this.leavetypes).then(result => {
           if (result !== "Cancel") {
                args.object.text = result;
                this.lt = result
                this.myserialID();
                args.object.text = result;
                var bal = this.leavebals.find(res => res.Ltype === result);
                console.log(bal.Lbal)
                localStorage.setItem("remaininghours",bal.Lbal)
           }
           else{
             args.object.text = this.leavetypes[0];
             this.lt = this.leavetypes[0]
             this.myserialID();
           }
        })
        
    },
    myserialID(){
      for (var i = 0; i < this.availableleaves.length;i++) 
        {
          console.log(this.lt)
          // console.log(this.availableleaves[i].SerialID)
          console.log(this.availableleaves[i].Ltype)
          if (this.lt === this.availableleaves[i].Ltype)
                {
                  this.lid = this.availableleaves[i].SerialID 
                }
          
        }
        // console.log(this.lid)
    },
    selectedShift(args){
        action("Choose Shift Type", "Cancel", this.shifttype).then(result => {
           if (result !== "Cancel") {
                args.object.text = result;
                this.st = result
           }
           else{
             args.object.text = this.shifttype[0];
             this.st = this.shifttype[0]
           }
        })
    },
    selectedReason(args){
        action("Choose Shift Type", "Cancel", this.reasontype).then(result => {
           if (result !== "Cancel") {
                args.object.text = result;
                this.rt = result
           }
           else{
             args.object.text = this.reasontype[0];
             this.rt = this.reasontype[0]
           }
        })
    },
     ishalf(args) {
      //alert('dito')
      // var id = this.listOfLeave.find(res => res.id === args.object.id);
      this.isHalfDay = args.object.checked;
      if (args.object.checked === true){
        this.st = '1st Half'
          var req = Frame.topmost().getViewById("shfttyp");
                req.isEnabled = "true";
                req.opacity = "1";
                console.log(this.st)
      }
      else {
         this.st = '' 
          var req = Frame.topmost().getViewById("shfttyp");
                req.isEnabled = "false";
                req.opacity = "0.3";
                console.log(this.st)
      }
    },
    upload(){
        var gabbi = Frame.topmost().getViewById("imageID");
        var context = imagepicker.create({ mode: "single", mediaType: "image" });

            context.authorize()
            .then(function() {
                return context.present();
            })
            .then(selected => {
                // selection.forEach(selected => {
                    // process the selected image
                    console.log(selected)
                      gabbi.src = selected[0];
                  let documents = fileSystemModule.knownFolders.documents();
                  let path = fileSystemModule.path.join(documents.path, "pic.png");
                  imageSourceModule.fromAsset(selected[0]).then(imageSource => {
                    imageSource.saveToFile(path, "jpg");
                    var imgLocal = imageSource.fromFile(path);
                    this.propath = imageSource.toBase64String("jpg", 50);
                    //this.listPickerbenefits = [];
                    console.log(this.propath)
                  });
                // });
                // list.items = selection;
                // console.log(list.items)
                
            }).catch(function (e) {
                // process error
                console.log(selected)
                Toast.makeText("Connection timed out. Please try again.").show();
            });
    },
    // selecttime() {
    //     var mytime
    //           picker.pickTime({
    //             title: "Select",
    //             theme: "dark",
    //             is24HourView: true
    //             }).then((result) => {
    //             mytime =  moment(result.hour + ":" + result.minute,"HH:mm").format("HH:MM")  
    //             mytime.split("")
    //             this.leavetime = mytime[0] + mytime[1] + 'hrs' + ':' + mytime[3] + mytime[4] + 'mns'
    //             // console.log(mytime[1])
    //             // if(this.selectedSegment === "Time-in" || this.selectedSegment === "Time-out"){
    //             //   this.time2 = "";
    //             //   this.time2 = this.time1;
    //             // }    
    //             //console.log(moment(result.hour + ":" + result.minute,"HH:mm").format("h:mm A") )
    //             })
    //             .catch((error) => {
    //               console.log("Error: " + error);
    //           });
    //         },
    constanttime(){
    
      for (var i = 0; i <= 8;i++){
           this.myhrs.push(i + ' ' +'Hours')
      }
      
      for (var i = 0; i <= 59;i++){
           this.mymns.push(i + ' ' +'Minutes')
      }
      this.selectedhrs = this.myhrs[0]
      this.selectedmns = this.mymns[0]
    },
    selecttime(a){
      // var myhrs = []
      // this.selectedhrs = this.myhrs[0]
      // this.selectedmns = this.mymns[0]

      

      if (a === 'oras'){
      action("Choose hour", "Cancel", this.myhrs).then(result => {
        // this.selectedhrs = result
        if (result !== "Cancel") {
            this.selectedhrs = result
            console.log(this.selectedhrs);
            if(this.selectedhrs === "8 Hours"){
              this.selectedmns = "0 minutes";
            }
            // this.st = result + ':' + this.selectedmns
        }
        else {
            this.selectedhrs = this.myhrs[0]
        }
      });
      }
      else if (a === 'minuto') {
      action("Choose minute", "Cancel", this.mymns).then(result => {
        // this.selectedmns = result
        if (result !== "Cancel") {
            this.selectedmns = result;
            if(this.selectedhrs === "8 Hours"){
              this.selectedmns = "0 minutes"
            }
        }
        else {
                  this.selectedmns = this.mymns[0]
        }
        });
      }
      // else {
      //   console.log(this.st)
      // }
      
      // console.log(this.selectedhrs)
      // console.log(this.selectedmns)
      
    },
   showholidays() {
        localStorage.removeItem("listofmyevents");
        localStorage.removeItem("listofmytotalevents");
        this.events.splice(0);
        http
          .request({
            url: localStorage.getItem("URL") + "ShowHolidaysv2",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              CN: localStorage.getItem("ClientName"),
              EmpID: localStorage.getItem("EmpID")
            })
          })
          .then(response => {
            if (response.content.toJSON().Holidays !== null) {
              for (
                var i = 0;
                i < response.content.toJSON().Holidays.length;
                i++
              ) {
                this.totalevents.push({
                  Date: moment(
                    response.content.toJSON().Holidays[i].HolidayDate
                  ).format("ll"),
                  Type: response.content.toJSON().Holidays[i].Type
                });
                if (
                  response.content.toJSON().Holidays[i].Type === "Regular Holiday"
                ) {
                  var startDate = new Date(
                    response.content.toJSON().Holidays[i].HolidayDate
                  );
                  var endDate = new Date(
                    response.content.toJSON().Holidays[i].HolidayDate
                  );
                  const event = new calendarModule.CalendarEvent(
                    response.content.toJSON().Holidays[i].HolidayName,
                    startDate,
                    endDate,
                    true,
                    new Color("red")
                  );
                  this.events.push(event);
                  // console.log(event)
                } else {
                  var startDate = new Date(
                    response.content.toJSON().Holidays[i].HolidayDate
                  );
                  var endDate = new Date(
                    response.content.toJSON().Holidays[i].HolidayDate
                  );
                  const event = new calendarModule.CalendarEvent(
                    response.content.toJSON().Holidays[i].HolidayName,
                    startDate,
                    endDate,
                    true,
                    new Color("orange")
                  );
                  this.events.push(event);
                  // console.log(event)
                }
              }
              // this.showleaves()
            } else {
              // this.showleaves()
            }
          });
        // this.showleaves();
      },
      showleaves() {
        http
          .request({
            url: localStorage.getItem("URL") + "ShowLeavesv2",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              CN: localStorage.getItem("ClientName"),
              NTID: localStorage.getItem("EmpID")
            })
          })
          .then(response => {
            if (response.content.toJSON().Leave !== null) {
              for (var i = 0; i < response.content.toJSON().Leave.length; i++) {
                this.totalevents.push({
                  Date: moment(
                    response.content.toJSON().Leave[i].LeaveDate
                  ).format("ll"),
                  Type: response.content.toJSON().Leave[i].LeaveStatus
                });
                if (
                  response.content.toJSON().Leave[i].LeaveStatus === "Approved"
                ) {
                  var startDate = new Date(
                    response.content.toJSON().Leave[i].LeaveDate
                  );
                  var endDate = new Date(
                    response.content.toJSON().Leave[i].LeaveDate
                  );
                  const event = new calendarModule.CalendarEvent(
                    response.content.toJSON().Leave[i].LeaveType,
                    startDate,
                    endDate,
                    true,
                    new Color("green")
                  );
                  this.events.push(event);
                } else if (
                  response.content.toJSON().Leave[i].LeaveStatus === "Pending"
                ) {
                  var startDate = new Date(
                    response.content.toJSON().Leave[i].LeaveDate
                  );
                  var endDate = new Date(
                    response.content.toJSON().Leave[i].LeaveDate
                  );
                  const event = new calendarModule.CalendarEvent(
                    response.content.toJSON().Leave[i].LeaveType,
                    startDate,
                    endDate,
                    true,
                    new Color("yellow")
                  );
                  this.events.push(event);
                }
              }
              setTimeout(() => {
                // let cal = Frame.topmost().getViewById('calendar');
                // cal.reload()
                // this.vloading = 'visible'
                // this.vloading1 = 'hidden'
              }, 1000);
              // this.showavailableleaves()
            } else {
              setTimeout(() => {
                // let cal = Frame.topmost().getViewById('calendar');
                // cal.reload()
                // this.vloading = 'visible'
                // this.vloading1 = 'hidden'
              }, 1000);
            }
          });
        
        setTimeout(() => {
          localStorage.setItem("listofmyevents", this.events);
          localStorage.setItem("listofmytotalevents", this.totalevents);
          console.log(this.events)
          console.log(this.totalevents)
          this.$navigateTo(this.LM, {clearHistory: true})
          Toast.makeText("Leave request sent").show();
          }, 6000);
        
      },
  }
};
</script>
<style scoped>
.clock {
  background-image: url("~/assets/images/ic_time.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
 }
.formBox {
  border: 1px solid #2d5176;
  border-radius: 10px;
  background-color: #003366;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 5%;
}
</style>