<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo();halfdayhide();'>  
    <ActionBar title="Leave Request" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(LM, {clearHistory: true})"/>
    </ActionBar>
    <GridLayout rows="auto,*" columns="auto,*">
        <ScrollView orientation="vertical" row="1" width="100%">
    <FlexboxLayout flexDirection="column" orientation="vertical">
      <StackLayout height="80%"> 
      <StackLayout orientation="horizontal"  marginLeft="10" marginRight="10" marginTop="10" marginBottom="5">
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='Start Date'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <TextView 
          height="40" 
          width="70%"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1"
          :text="StartDate" 
          backgroundColor="#adb8c9"
          editable='false'
          />
        </StackLayout>

        <StackLayout orientation="horizontal"  marginLeft="10" marginRight="10" marginTop="10" marginBottom="5">
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='End Date'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <TextView 
          height="40" 
          width="70%"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1"
          :text="EndDate" 
          backgroundColor="#adb8c9"
          editable='false'
          />
        </StackLayout>

        <StackLayout orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='Leave Type'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <TextField 
          height="40" 
          width="70%"
          fontSize="14"
          :isEnabled='regcheck'
          borderRadius="3" 
          :text="lt"
          @tap="selectedLtype($event)"
          borderWidth="1" 
          backgroundColor="white"
          editable='false'
          class="drop"
          />
        </StackLayout>

        <StackLayout :visibility="half1" orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="28%"
          fontSize="14" 
          borderRadius="3"
          text='Half Day'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />

          <CheckBox 
          width="10%"
          orientation="horizontal" 
          fillColor="#f1c40f"  
          horizontalAlignment="center"
          @checkedChange="ishalf" 
          :checked="icheck"
          :isEnabled="allowHalf"
          :opacity="HalfOpa"
          />
          
          <Label 
          height="40" 
          width="22%"
          fontSize="14" 
          borderRadius="3"
          text='Shift Type'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />

          <TextField 
          height="40" 
          width="40%"
          id="shfttyp"
          :text="shifttype[0]"
          :isEnabled="false"
          opacity='0.3'
          @tap="selectedShift($event)"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1" 
          backgroundColor="white"
          editable='false'
          class="drop"
          />
        </StackLayout>

        <StackLayout :visibility="half2" orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='Time'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />

          <TextField
                  horizontalAlignment="right"
                  height="40"
                  width="34%"
                  margin="2"
                  fontSize="14" 
                  borderRadius="3" 
                  :text="selectedhrs"
                  :isEnabled="hrsEnabled"
                  :opacity="hrsOpa"
                  editable="false"
                  backgroundColor="white"
                  @tap="selecttime('oras')" 
                  textWrap="true"
                  class="clock"
              />
            <TextField
                  horizontalAlignment="right"
                  height="40"
                  width="34%"
                  margin="2"
                  fontSize="14" 
                  borderRadius="3" 
                  :text="selectedmns"
                  :isEnabled="mnsEnabled"
                  :opacity="mnsOpa"
                  editable="false"
                  backgroundColor="white"
                  @tap="selecttime('minuto')" 
                  textWrap="true"
                  class="clock"
              />
        </StackLayout>

        <StackLayout orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='Reason'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <TextField 
          :isEnabled='reasontype[0] === "--" ? false : true'
          :backgroundColor='reasontype[0] === "--" ? "lightgray" : "white"'
          height="40" 
          width="70%"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1" 
          :text="reasontype[0]"
          @tap="selectedReason($event)"
          class="drop"
          editable='false'
          />
        </StackLayout>

        <StackLayout orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3"
          text='Comment'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <TextView  
          height="70" 
          width="70%"
          v-model="leavecomment"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1" 
          backgroundColor="white"
          />
        </StackLayout>

        <StackLayout orientation="horizontal" marginLeft="10" marginRight="10" marginTop="1" marginBottom="5" >
          <Label 
          height="40" 
          width="28%"
          fontSize="14" 
          borderRadius="3"
          text='Uploaded File'
          textWrap="true"
          color="white"
          textAlignment="center"
          paddingTop="8"
          />
         
          <!-- <StackLayout height="20%" row="1" verticalAlignment="top" paddingBottom="50" paddingRight="10" paddingLeft="10"
            paddingTop="50" width="70%"> -->
            <Image id="imageID" row='1' :src="docos1" verticalAlignment='center' height="320" width="69%" class="formBox" />
          <!-- </StackLayout> -->
        </StackLayout>
        </Stacklayout>
        <StackLayout  height="10%">
        <StackLayout orientation="horizontal" horizontalAlignment="right"  marginLeft="10" marginRight="10" marginTop="1" marginBottom="10">
                 <Button 
                 borderRadius="3" 
                 height="40" 
                 width="40" 
                 horizontalAlignment="right" 
                 backgroundColor="#f1c40f"
                 marginLeft="5"
                 @tap="upload"
                 style='background-image: url("~/assets/images/open_gallery.png");background-repeat: no-repeat;background-size: 70 70;background-position:50% 50%;'
                 />

                
                 <Button 
                 borderRadius="3" 
                 height="40" 
                 width="40" 
                 @tap="openCamera"
                 horizontalAlignment="right" 
                 backgroundColor="#f1c40f"
                 marginLeft="5"
                 style='background-image: url("~/assets/images/camera2.png");background-repeat: no-repeat;background-size: 70 70;background-position:50% 50%;'
                 />
                 

                 <Button
                 id='sendrqst'
                 :isEnabled='luding == "visible" ? false : true'
                 borderRadius="3" 
                 height="40" 
                 width="40" 
                 @tap="kuhalocation" 
                 horizontalAlignment="right" 
                 backgroundColor="#f1c40f"
                 marginLeft="5"
                 style='background-image: url("~/assets/images/send_request.png");background-repeat: no-repeat;background-size: 70 70;background-position:50% 50%;'
                 />
                 
        </StackLayout>
        </StackLayout>

        
    </FlexboxLayout> 
    
    </ScrollView>
    <StackLayout row='1' :visibility="luding" isUserInteractionEnabled='false' />
      <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center"
        opacity='0.6' borderRadius='6' backgroundColor='black' height="50" width="50">
        <ActivityIndicator busy="true" color="white" height="100%" width="100%" verticalAlignment="center" />
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script>
import mymixen from "../myMixin.js"
const permissions = require( "nativescript-permissions" );
import { Image } from "tns-core-modules/ui/image";
import { takePicture } from "nativescript-camera";
import * as camera from "nativescript-camera";
import * as http from "tns-core-modules/http";
import * as fs from "tns-core-modules/file-system";
const imageSourceModule = require("tns-core-modules/image-source");
const fileSystemModule = require("tns-core-modules/file-system");
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
const httpModule = require("http");
var orientation = require("nativescript-orientation");
import * as Toast from "nativescript-toast";
var moment = require("moment");
const timerModule = require("tns-core-modules/timer");
import * as geolocation from "nativescript-geolocation";
import { Accuracy } from "ui/enums";
import leavemanagement from "../LeaveManagement/LeaveManagement.vue"
var imagepicker = require("nativescript-imagepicker");
const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;   
const picker = new ModalPicker();
const calendarModule = require("nativescript-ui-calendar");
import { Color } from "tns-core-modules/color";



export default {
  mixins:[mymixen],
  data() {
    return {
      allowHalf:true,
      finalResult:'',
      icheck: 'false',
      hrsEnabled: true,
      mnsEnabled: true,
      hrsOpa: '1',
      mnsOpa: '1',
      sendRequest: true,
      luding: 'collapse',
      docos1: "~/assets/images/document.png",
      propath: "",
      lastleaves: "",
      leavebal: "",
      modalleaves: [],
      availableleaves: [],
      listOfLeave: [],
      listofapplyleave: [],
      // leaveid: 0,
      // events: [],
      vloading: "hidden",
      vloading1: "hidden",
      half1: 'collapse',
      half2: 'collapse',
      // totalevents: [],
      leavetypes: [],
      leavebals:[],
      serialID:[],
      coordinates: "",
      shifttype: ['1st Half','2nd Half'],
      reasontype: ['Family Event', 'Sickness', 'Vacation' ,'Emergency', 'Study', 'Travel', 'Financial Problem'],
      isHalfDay: false,
      myhrs: [],
      mymns: [],
      selectedhrs: '',
      selectedmns: '',
      lt: "",
      st: '',
      lid: "",
      rt: "",
      leavecomment: "",
      leaveimage: "",
      LM: leavemanagement,
      Address:  "",
      regcheck: true,
      events: [],
      totalevents: [],
      ListEarlyFilling: [],
      StartDate: '',
      EndDate: '',
      LeaveDate:JSON.parse(localStorage.getItem('leaves')),
      HalfOpa:'1',
      myImage:[],
      LeaveSettings: [],
      unableToFileLeave: false
    };
  },
  created: function() {
    this.showavailableleaves();
    this.constanttime();
    var user = JSON.parse(localStorage.getItem('leaves'))
    // console.log(this.LeaveDate.length + " this is the chosend leave")
    
    for (var i = 0; i < this.LeaveDate.length; i++) {
      this.listOfLeave.push(moment(this.LeaveDate[i].LeaveDate).format("YYYY-MM-DD"))
      console.log('listofleave: '+moment(this.LeaveDate[i].LeaveDate).format("YYYY-MM-DD"))
    }
    this.StartDate = this.listOfLeave[0]
    this.EndDate = this.listOfLeave[this.listOfLeave.length-1]
    
  },
  methods: {
      GetNextLeaveSetting(aa){
      http.request({
      url: localStorage.getItem("URL") + "GetDHRFillingSettings",
      method: "POST",
      headers: { "Content-Type": "application/json" },
      content: JSON.stringify({
        CN: localStorage.getItem("ClientName"),
        EMPID: localStorage.getItem("EmpID"),
        LEAVETYPEID: this.lid
        })
      }).then(async(resp) => {
        // this.LeaveSettings = resp.content.toJSON().GetFillingSettings[0]
        // console.log('this.LeaveSettings: '+ JSON.stringify(this.LeaveSettings))
        var dateToday = moment(resp.content.toJSON().GetFillingSettings[0].DATETODAY).format('YYYY-MM-DD')
        var isLateFilling = resp.content.toJSON().GetFillingSettings[0].LATEFILLING
        var isEarlyFilling = resp.content.toJSON().GetFillingSettings[0].EARLYFILLING
        var LateDay = resp.content.toJSON().GetFillingSettings[0].LATEDAY
        var EarlyDay = resp.content.toJSON().GetFillingSettings[0].EARLYDAY
        var LeaveDates = moment(this.LeaveDate[aa].LeaveDate).format("YYYY-MM-DD")
        var from;
        var check;
        var getmoto;
        var ListEarlyFilling = [];

        if (isLateFilling === '1' && dateToday > LeaveDates) {
          console.log("filling one")
          var c = new Date(dateToday)
          c.setDate(c.getDate() - LateDay)
          var lateFillingDate = moment(c.toString()).format('YYYY-MM-DD')
          from = new Date(lateFillingDate)
          check = new Date(LeaveDates)
        } else if (isEarlyFilling === '1' && LeaveDates > dateToday) {
          console.log('filling two')
          for (var ii = 0; ii < EarlyDay; ii++) {
            var nextDay = new Date(dateToday)
            nextDay.setDate((nextDay.getDate() + ii) + 1)
            ListEarlyFilling.push(moment(nextDay).format('YYYY-MM-DD'))
          }
          getmoto = ListEarlyFilling.find(res => res === LeaveDates)
        }

        var msg = from > check ? LeaveDates : getmoto !== undefined ? getmoto : ''
        console.log('msg: '+msg)
        if (from > check || getmoto !== undefined) {
          console.log('unable to file leave on '+msg)
          this.unableToFileLeave = true
          confirm({
            title: "Alert",
            message: "Unable to file leave on "+msg,
            okButtonText: "OK"
          })
        } else {
          console.log('filling three')
          this.unableToFileLeave = false
        }
      })
    },
    halfdayhide(){
      // localStorage.setItem("ClientName", 'generali')
        if(localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
          this.reasontype[0] = '--'
          this.half1 = 'collapse'
          this.half2 = 'visible'
        }
        else{
          this.half1 = 'visible'
          this.half2 = 'collapse'
        }
    },
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here
        // Frame.topmost().goBack();
        this.$navigateTo(this.LM, {clearHistory: true})
      };
    },
    openCamera() {
      var gabbi = Frame.topmost().getViewById("imageID");
          camera.requestPermissions();
              camera.takePicture({ width: 800, height: 1024, keepAspectRatio: true, saveToGallery: false, cameraFacing: 'front' }) 
              .then((imageAsset) => {
                gabbi.src = imageAsset;
                // let documents = fileSystemModule.knownFolders.documents();
                // let path = fileSystemModule.path.join(documents.path, "pic.png");
                imageSourceModule.fromAsset(imageAsset).then(imageSource => {
                  // imageSource.saveToFile(path, "png");
                  // var imgLocal = imageSource.fromFile(path);
                  this.propath = imageSource.toBase64String('jpeg', 50)
                  console.log(this.propath)
                })
              }).catch(function(err) {
                Toast.makeText("Connection timed out. Please try again.").show();
                console.log("Error -> " + err.message);
            })
        .catch(function(err) {
          Toast.makeText("Connection timed out. Please try again.").show();
          console.log("Error -> " + err.message);
        });
    },
    fileLeaveGen(a){
      var selected = this.selectedhrs.split(" ")
        var hrs = localStorage.getItem("remaininghours").split(".")
        if (this.leavecomment === ''){
          Toast.makeText("Please complete your leave request information").show();
          this.luding = 'collapse'
        }
        else if (localStorage.getItem("remaininghours") === '0.000' && this.lt !== 'LWOP') {
          alert("You have 0 Offset Leave balance left. Please use LWOP instead.")
          this.luding = 'collapse'
        }
        else if ((((localStorage.getItem("remaininghours") !== '0.000' && (this.lt !== 'LWOP')) && (this.selectedhrs === '0 Hours' && this.selectedmns === '0 Minutes')))){
          alert("Enter number of hours/minutes");
          this.luding = 'collapse'
        }
        else if (((parseInt(hrs[0]) < parseInt(selected[0])) && (this.lt !== 'LWOP'))){
          alert("Applied leave time cannot be more than " + hrs[0] + " Hours")
          this.luding = 'collapse'
        }
        else {
          this.luding = 'visible'
          http.request({
          url:"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="+a+"&rankby=distance&key=AIzaSyDNo635coZ7UbAAgqO03i27-6RuY-xzNtY",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            })
          }).then((response) => {
            var loc = response.content.toJSON().results[0].name
            console.log(this.listOfLeave[0])
            console.log(this.listOfLeave[this.listOfLeave.length-1])
            console.log(localStorage.getItem("SingleMultpleLength"))
            var WSname =  localStorage.getItem("ClientName").toLowerCase() === 'generali_dev' ? "FileLeaveGenV2" : "FileLeaveGen"
              console.log(WSname)
            for (var i = 0; i < this.LeaveDate.length; i++) {
              http.request({
                url: localStorage.getItem("URL") + WSname,
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: localStorage.getItem("ClientName").toLowerCase() === 'generali_dev'  ? 
                JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  NTID: localStorage.getItem("EmpID"),
                  LeaveDate: moment(this.LeaveDate[i].LeaveDate).format("YYYY-MM-DD"),
                  LeaveType: this.lt,
                  LeaveID: this.lid,
                  isHalfDay: this.isHalfDay === false ? 0 : 1,
                  Coordinates: loc,
                  ShiftType: this.st,
                  EmpReason: this.rt,
                  EmpComment: this.leavecomment,
                  FilePath: this.propath,
                  LeaveHours: this.selectedhrs,
                  LeaveMinutes: this.selectedmns,
                  LeaveRequestStartDate: this.listOfLeave[0],
                  LeaveRequestEndDate: this.listOfLeave[this.listOfLeave.length-1],
                  multiple: localStorage.getItem("SingleMultpleLength")
                  })
                : JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  NTID: localStorage.getItem("EmpID"),
                  LeaveDate: moment(this.LeaveDate[i].LeaveDate).format("YYYY-MM-DD"),
                  LeaveType: this.lt,
                  LeaveID: this.lid,
                  isHalfDay: this.isHalfDay === false ? 0 : 1,
                  Coordinates: loc,
                  ShiftType: this.st,
                  EmpReason: this.rt,
                  EmpComment: this.leavecomment,
                  FilePath: this.propath,
                  LeaveHours: this.selectedhrs,
                  LeaveMinutes: this.selectedmns
                  })
                }).then(response => {
                  this.finalResult = response.content.toJSON()
                  console.log("results0: " + response.content.toJSON())
                http.request({
                url: localStorage.getItem("URL") + "DHRGetDHRTOKEN",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  EMPID: localStorage.getItem("EmpID")
                  })
                }).then(response => {
                  http.request({
                  url: "https://fcm.googleapis.com/fcm/send",
                  method: "POST",
                  headers: {
                    Authorization:
                      "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                      "Content-Type": "application/json"},
                  content: JSON.stringify({
                    notification: {
                      body:
                      localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
                        " " +
                        "is applying for " +
                        this.lt,
                        title: "New Leave Request"
                      },
                      to: response.content.toJSON()
                    })
                  }).then(response => {
                    setTimeout(() => {
                    }, 1000);
                  })
                })
              }).catch(err => {
                this.luding = 'collapse'
                Toast.makeText("Connection timed out. Please try again.").show();
                console.log("Error -> " + err.message);
              });
            }
            this.showholidays();
            this.showleaves()
          }).catch(err => {
            this.luding = 'collapse'
            Toast.makeText("Connection timed out. Please try again.").show();
            console.log("Error -> " + err.message);
          })
        }
    },
    fileleave(a) {
      console.log(this.propath)
      if (localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
        if (localStorage.getItem("ClientName").toLowerCase() === 'ctrackuat' || localStorage.getItem("ClientName").toLowerCase() === 'campaigntrack' ){
          console.log("ctrack")
          if (this.leavecomment === ''){
            Toast.makeText("Please complete your leave request information").show();
            this.luding = 'collapse'
          }
          else if (((((localStorage.getItem("remaininghours") === '0.000' || localStorage.getItem("remaininghours") !== '0.000') && (this.lt !== 'LWOP')) && (this.selectedhrs === '0 Hours' && this.selectedmns === '0 Minutes')))){
            alert("Enter number of hours/minutes");
            this.luding = 'collapse'
          }
          else {
            this.luding = 'visible'
            http.request({
            url:"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="+a+"&rankby=distance&key=AIzaSyDNo635coZ7UbAAgqO03i27-6RuY-xzNtY",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              })
            }).then((response) => {
              var loc = response.content.toJSON().results[0].name
              console.log(this.listOfLeave[0])
              console.log(this.listOfLeave[this.listOfLeave.length-1])
              console.log(localStorage.getItem("SingleMultpleLength"))
              var WSname =  localStorage.getItem("ClientName").toLowerCase() === 'ctrackuat' ? "FileLeaveGenV2" : "FileLeaveGen"
                console.log(WSname)
              for (var i = 0; i < this.LeaveDate.length; i++) {
                http.request({
                  url: localStorage.getItem("URL") + WSname,
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  content:  localStorage.getItem("ClientName").toLowerCase() === 'ctrackuat' ? 
                  JSON.stringify({
                    CN: localStorage.getItem("ClientName"),
                    NTID: localStorage.getItem("EmpID"),
                    LeaveDate: moment(this.LeaveDate[i].LeaveDate).format("YYYY-MM-DD"),
                    LeaveType: this.lt,
                    LeaveID: this.lid,
                    isHalfDay: this.isHalfDay === false ? 0 : 1,
                    Coordinates: loc,
                    ShiftType: this.st,
                    EmpReason: this.rt,
                    EmpComment: this.leavecomment,
                    FilePath: this.propath,
                    LeaveHours: this.selectedhrs,
                    LeaveMinutes: this.selectedmns,
                    LeaveRequestStartDate: this.listOfLeave[0],
                    LeaveRequestEndDate: this.listOfLeave[this.listOfLeave.length-1],
                    multiple: localStorage.getItem("SingleMultpleLength")
                    })
                  : JSON.stringify({
                    CN: localStorage.getItem("ClientName"),
                    NTID: localStorage.getItem("EmpID"),
                    LeaveDate: moment(this.LeaveDate[i].LeaveDate).format("YYYY-MM-DD"),
                    LeaveType: this.lt,
                    LeaveID: this.lid,
                    isHalfDay: this.isHalfDay === false ? 0 : 1,
                    Coordinates: loc,
                    ShiftType: this.st,
                    EmpReason: this.rt,
                    EmpComment: this.leavecomment,
                    FilePath: this.propath,
                    LeaveHours: this.selectedhrs,
                    LeaveMinutes: this.selectedmns
                    })
                  }).then(response => {
                    console.log("results1: " + response.content.toJSON())
                  http.request({
                  url: localStorage.getItem("URL") + "DHRGetDHRTOKEN",
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  content: JSON.stringify({
                    CN: localStorage.getItem("ClientName"),
                    EMPID: localStorage.getItem("EmpID")
                    })
                  }).then(response => {
                    http.request({
                    url: "https://fcm.googleapis.com/fcm/send",
                    method: "POST",
                    headers: {
                      Authorization:
                        "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                        "Content-Type": "application/json"},
                    content: JSON.stringify({
                      notification: {
                        body:
                        localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
                          " " +
                          "is applying for " +
                          this.lt,
                          title: "New Leave Request"
                        },
                        to: response.content.toJSON()
                      })
                    }).then(response => {
                      setTimeout(() => {
                      }, 1000);
                    })
                  })
                }).catch(err => {
                  this.luding = 'collapse'
                  Toast.makeText("Connection timed out. Please try again.").show();
                  console.log("Error -> " + err.message);
                });
              }
              this.showholidays();
              this.showleaves()
            }).catch(err => {
              this.luding = 'collapse'
              Toast.makeText("Connection timed out. Please try again.").show();
              console.log("Error -> " + err.message);
            })
          }
        }
        else{
          console.log("not ctrack")
          this.fileLeaveGen(a)
        }
      }
      else{
        console.log('filling leave ilm base')
        var totaltime = this.selectedhrs.split(' ')[0] + '.' + this.selectedmns.split(' ')[0]
        if (this.leavecomment === ''){
          Toast.makeText("Please complete your leave request information").show();
          this.luding = 'collapse'
          console.log(this.selectedhrs)
          console.log(this.selectedmns)
        }
        else if(this.lt === 'Offset Leave' && (this.selectedhrs ==='0 Hours' && this.selectedmns ==='0 Minutes')){
          Toast.makeText("Please complete your leave request information").show();
          this.luding = 'collapse'
          console.log(this.selectedmns)
          console.log(this.selectedhrs)
        }
        else if(this.lt === 'Offset Leave' && (parseFloat(localStorage.getItem("offsetValue"))< parseFloat(totaltime))){
          Toast.makeText("You have "+localStorage.getItem("offsetValue")+" Offset Leave balance left. Please use LWOP instead.").show();
          this.luding = 'collapse'
        }
        else{
          this.luding = 'visible'
          http.request({
          url:"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="+a+"&rankby=distance&key=AIzaSyDNo635coZ7UbAAgqO03i27-6RuY-xzNtY",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            })
          }).then(async(response) => {
            var loc = response.content.toJSON().results[0].name
            for (var i = 0; i < this.LeaveDate.length; i++) {
              this.GetNextLeaveSetting(i)//i put -1 in (this.LeaveDate[i-1]) because this function adding 1 in (var i)

              setTimeout(() => {
                if (this.unableToFileLeave === false) {
                    http.request({
                    url: localStorage.getItem("URL") + "FileNewLeaveMobile",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN: localStorage.getItem("ClientName"),
                      NTID: localStorage.getItem("EmpID"),
                      LeaveDate: moment(this.LeaveDate[i-1].LeaveDate).format("YYYY-MM-DD"),
                      LeaveType: this.lt,
                      LeaveID: this.lid,
                      isHalfDay: this.isHalfDay === false ? 0 : 1,
                      Coordinates: loc,
                      ShiftType: this.st,
                      EmpReason: this.rt,
                      EmpComment: this.leavecomment,
                      FilePath: this.propath,
                      LeaveStartDate: this.listOfLeave[0],
                      HOURS: this.lt === 'Offset Leave' ? this.selectedhrs.split(' ')[0] : '0',
                      MINUTES: this.lt === 'Offset Leave' ? this.selectedmns.split(' ')[0] : '0',
                      LeaveEndDate: this.listOfLeave[this.listOfLeave.length-1],
                      Multiple: localStorage.getItem("SingleMultpleLength")
                      })
                    }).then(response => {
                      console.log(JSON.stringify(response.content.toJSON()) + " this is the error")
                      console.log(" this is the path " + this.propath)
                      this.finalResult = response.content.toJSON()
                      if(response.content.toJSON() === 'Success')
                      {
                        http.request({
                        url: localStorage.getItem("URL") + "DHRGetDHRTOKEN",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        content: JSON.stringify({
                          CN: localStorage.getItem("ClientName"),
                          EMPID: localStorage.getItem("EmpID")
                          })
                        }).then(response => {
                          http.request({
                          url: "https://fcm.googleapis.com/fcm/send",
                          method: "POST",
                          headers: {
                            Authorization:
                              "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                              "Content-Type": "application/json"},
                          content: JSON.stringify({
                            notification: {
                              body:
                              localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
                                " " +
                                "is applying for " +
                                this.lt,
                                title: "New Leave Request"
                              },
                              to: response.content.toJSON()
                            })
                          }).then(response => {
                            setTimeout(() => {
                            }, 1000);
                          })
                        })
                      }
                      else
                      {
                        this.luding = 'collapse'
                        Toast.makeText("Connection timed out. Please try again.").show();
                      }
                    }).catch(err => {
                      this.luding = 'collapse'
                      Toast.makeText("Connection timed out. Please try again.").show();
                      console.log("Error -> " + err.message);
                    });
                  }
              }, 1000);
          }
          // setTimeout(() => {
          //   this.showholidays();
          //   this.showleaves()
          // }, 1000);
          
          }).catch(err => {
            this.luding = 'collapse'
            Toast.makeText("Connection timed out. Please try again.").show();
            console.log("Error -> " + err.message);
          })
        }
      }
     
    },
    GetAddress() {
        http.request({
          url:"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="+this.coordinates+"&rankby=distance&key=AIzaSyDNo635coZ7UbAAgqO03i27-6RuY-xzNtY",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({

          })
        }).then((response) => {
          this.Address = response.content.toJSON().results[0].name;
          console.log(this.Address)
        })
      },
      leaveGen(){
        var selected = this.selectedhrs.split(" ")
            var hrs = localStorage.getItem("remaininghours").split(".")
            console.log("generali base")
            if (this.leavecomment === ''){
              Toast.makeText("Please complete your leave request information").show();
              this.luding = 'collapse'
            }
            else if (localStorage.getItem("remaininghours") === '0.000' && this.lt !== 'LWOP') {
              alert("You have 0 Offset Leave balance left. Please use LWOP instead.")
              this.luding = 'collapse'
            }
            else if ((((localStorage.getItem("remaininghours") !== '0.000' && (this.lt !== 'LWOP')) && (this.selectedhrs === '0 Hours' && this.selectedmns === '0 Minutes')))){
              alert("Enter number of hours/minutes");
              this.luding = 'collapse'
            }
            else if ((parseInt(hrs[0]) < parseInt(selected[0])) && (this.lt !== 'LWOP')){
              alert("Applied leave time cannot be more than " + hrs[0] + " Hours")
              this.luding = 'collapse'
            }
            else {
              console.log(this.listOfLeave[0])
            console.log(this.listOfLeave[this.listOfLeave.length-1])
            console.log(localStorage.getItem("SingleMultpleLength"))
            var WSname =  localStorage.getItem("ClientName").toLowerCase() === 'generali_dev' ? "FileLeaveGenV2" : "FileLeaveGen"
              console.log(WSname)
              for (var i = 0; i < this.LeaveDate.length; i++) {
                http.request({
                url: localStorage.getItem("URL") + WSname,
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: localStorage.getItem("ClientName").toLowerCase() === 'generali_dev' ? 
                JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  NTID: localStorage.getItem("EmpID"),
                  LeaveDate: moment(this.LeaveDate[i].LeaveDate).format("YYYY-MM-DD"),
                  LeaveType: this.lt,
                  LeaveID: this.lid,
                  isHalfDay: this.isHalfDay === false ? 0 : 1,
                  Coordinates: '',
                  ShiftType: this.st,
                  EmpReason: this.rt,
                  EmpComment: this.leavecomment,
                  FilePath: this.propath,
                  LeaveHours: this.selectedhrs,
                  LeaveMinutes: this.selectedmns,
                  LeaveRequestStartDate: this.listOfLeave[0],
                  LeaveRequestEndDate: this.listOfLeave[this.listOfLeave.length-1],
                  multiple: localStorage.getItem("SingleMultpleLength")
                  })
                : JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  NTID: localStorage.getItem("EmpID"),
                  LeaveDate: moment(this.LeaveDate[i].LeaveDate).format("YYYY-MM-DD"),
                  LeaveType: this.lt,
                  LeaveID: this.lid,
                  isHalfDay: this.isHalfDay === false ? 0 : 1,
                  Coordinates: '',
                  ShiftType: this.st,
                  EmpReason: this.rt,
                  EmpComment: this.leavecomment,
                  FilePath: this.propath,
                  LeaveHours: this.selectedhrs,
                  LeaveMinutes: this.selectedmns
                  })
                }).then(response => {
                  console.log("results2: "+response.content.toJSON())
                  http.request({
                  url: localStorage.getItem("URL") + "DHRGetDHRTOKEN",
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  content: JSON.stringify({
                    CN: localStorage.getItem("ClientName"),
                    EMPID: localStorage.getItem("EmpID")
                    })
                  }).then(response => {
                    http.request({
                    url: "https://fcm.googleapis.com/fcm/send",
                    method: "POST",
                    headers: {
                      Authorization:
                        "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                        "Content-Type": "application/json"},
                    content: JSON.stringify({
                      notification: {
                        body: localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
                        " " +
                        "is applying for " +
                        this.lt,
                        title: "New Leave Request"
                      },
                      to: response.content.toJSON()
                      })
                    }).then(response => {
                      setTimeout(() => {
                        }, 1000);
                      })
                    })
                
                  }).catch(err => {
                    this.luding = 'collapse'
                    Toast.makeText("Connection timed out. Please try again.").show();
                    console.log("Error -> " + err.message);
                  });
              }
            this.showholidays();
            this.showleaves()
            } 
      },
    kuhalocation() {
      this.luding = 'visible'
      http.request({
      url:  localStorage.getItem("URL") + "GetDHRCompanyBenefitsLeavev1",
      method: "POST",
      headers: { "Content-Type": "application/json" },
      content: JSON.stringify({
        CN: localStorage.getItem("ClientName"),
        SERIESID: this.serialIDval
        })
      }).then((response) => {
        var mobileTrack = response.content.toJSON().CompanyBenefitsLeaves[0].MOBILE
        console.log("CHINGCHONG: " + mobileTrack + this.serialIDval)
        if (mobileTrack === "True") {
          console.log("TRUE LOCATION")
          var geolocation = require("nativescript-geolocation");
          if (!geolocation.isEnabled()) {
            geolocation.enableLocationRequest();
          }
          if (geolocation.isEnabled()) {
            geolocation.getCurrentLocation({
              desiredAccuracy: Accuracy.high,
                timeout: 10000
            }).then(loc => {
              if (loc) {
                this.coordinates = loc.latitude + "," + loc.longitude;
                this.fileleave(loc.latitude + "," + loc.longitude)
                console.log("location ko to" + this.coordinates);
              }
            },
            e => {
              console.log("Error: " + (e.message || e));
              Toast.makeText("Can't get your current location!").show();
              this.luding = 'collapse'
            }) 
          }
        } 
        else {
          console.log("FALSE LOCATION")
          if (localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
              if (localStorage.getItem("ClientName").toLowerCase() === 'campaigntrack' || localStorage.getItem("ClientName").toLowerCase() === 'ctrackuat'){
                console.log("ctrack")
                if (this.leavecomment === ''){
                  Toast.makeText("Please complete your leave request information").show();
                  this.luding = 'collapse'
                }
                else if ((((localStorage.getItem("remaininghours") === '0.000' && (this.lt !== 'LWOP')) && (this.selectedhrs === '0 Hours' && this.selectedmns === '0 Minutes')))){
                  alert("Enter number of hours/minutes");
                  this.luding = 'collapse'
                }
                else {
                  console.log(this.listOfLeave[0])
                  console.log(this.listOfLeave[this.listOfLeave.length-1])
                  console.log(localStorage.getItem("SingleMultpleLength"))
                  var WSname =  localStorage.getItem("ClientName").toLowerCase() === 'ctrackuat' ? "FileLeaveGenV2" : "FileLeaveGen"
                  console.log(WSname)
                  for (var i = 0; i < this.LeaveDate.length; i++) {
                    http.request({
                    url: localStorage.getItem("URL") + WSname,
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: localStorage.getItem("ClientName").toLowerCase() === 'ctrackuat' ? 
                    JSON.stringify({
                      CN: localStorage.getItem("ClientName"),
                      NTID: localStorage.getItem("EmpID"),
                      LeaveDate: moment(this.LeaveDate[i].LeaveDate).format("YYYY-MM-DD"),
                      LeaveType: this.lt,
                      LeaveID: this.lid,
                      isHalfDay: this.isHalfDay === false ? 0 : 1,
                      Coordinates: '',
                      ShiftType: this.st,
                      EmpReason: this.rt,
                      EmpComment: this.leavecomment,
                      FilePath: this.propath,
                      LeaveHours: this.selectedhrs,
                      LeaveMinutes: this.selectedmns,
                      LeaveRequestStartDate: this.listOfLeave[0],
                      LeaveRequestEndDate: this.listOfLeave[this.listOfLeave.length-1],
                      multiple: localStorage.getItem("SingleMultpleLength")
                      })
                    : JSON.stringify({
                      CN: localStorage.getItem("ClientName"),
                      NTID: localStorage.getItem("EmpID"),
                      LeaveDate: moment(this.LeaveDate[i].LeaveDate).format("YYYY-MM-DD"),
                      LeaveType: this.lt,
                      LeaveID: this.lid,
                      isHalfDay: this.isHalfDay === false ? 0 : 1,
                      Coordinates: '',
                      ShiftType: this.st,
                      EmpReason: this.rt,
                      EmpComment: this.leavecomment,
                      FilePath: this.propath,
                      LeaveHours: this.selectedhrs,
                      LeaveMinutes: this.selectedmns
                      })
                    }).then(response => {
                      this.finalResult = response.content.toJSON()
                      console.log("results3: "+response.content.toJSON())
                      http.request({
                      url: localStorage.getItem("URL") + "DHRGetDHRTOKEN",
                      method: "POST",
                      headers: { "Content-Type": "application/json" },
                      content: JSON.stringify({
                        CN: localStorage.getItem("ClientName"),
                        EMPID: localStorage.getItem("EmpID")
                        })
                      }).then(response => {
                        http.request({
                        url: "https://fcm.googleapis.com/fcm/send",
                        method: "POST",
                        headers: {
                          Authorization:
                            "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                            "Content-Type": "application/json"},
                        content: JSON.stringify({
                          notification: {
                            body: localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
                            " " +
                            "is applying for " +
                            this.lt,
                            title: "New Leave Request"
                          },
                          to: response.content.toJSON()
                          })
                        }).then(response => {
                          setTimeout(() => {
                            }, 1000);
                          })
                        })
                    
                      }).catch(err => {
                        this.luding = 'collapse'
                        Toast.makeText("Connection timed out. Please try again.").show();
                        console.log("Error -> " + err.message);
                      });
                  }
                this.showholidays();
                this.showleaves()
                } 
              }
              else{
                console.log("not ctrack")
                this.leaveGen()
              }
          }
          else{
            console.log("ilm base")
            console.log(localStorage.getItem("remaininghours"))
            if(localStorage.getItem("remaininghours") !== null){
              var num = localStorage.getItem("remaininghours").split('.')
              var hrs = parseFloat(num[0]+"."+(num[1].substring(num[1].indexOf('.')+1,1)))
              console.log(num + " this is num")
              console.log(hrs + " this is num")
            }

            if (this.leavecomment == ''){
              Toast.makeText("Please complete your leave request information").show();
              this.luding = 'collapse'
            }
            // else if (this.lt == 'Offset Leave' && hrs >= 0.5 &&  hrs < 1){
            //   this.icheck = 'true'
            //   this.allowHalf = 'false'
            //   this.HalfOpa = '0.3'
            //   this.luding = 'collapse'
            //   Toast.makeText("Requi you have "+hrs+" leave hours, please use LWOP instead.").show();
            // }
            else if(this.lt == 'Offset Leave' && hrs <= 0.0){
              Toast.makeText("You have "+hrs+" Offset Leave balance left. Please use LWOP instead.").show();
              this.luding = 'collapse'
            }
            else {
              console.log('leavdatess: '+moment(this.LeaveDate[0].LeaveDate).format("YYYY-MM-DD"))
              for (var i = 0; i < this.LeaveDate.length; i++) {
                 this.GetNextLeaveSetting(i)//i put -1 in (this.LeaveDate[i-1]) because this function adding 1 in (var i)

                 setTimeout(() => {
                   console.log('iiiiiiiiii '+ i)
                    if (this.unableToFileLeave  === false) {
                        http.request({
                        url: localStorage.getItem("URL") + "FileNewLeaveMobile",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        content: JSON.stringify({
                          CN: localStorage.getItem("ClientName"),
                          NTID: localStorage.getItem("EmpID"),
                          LeaveDate: moment(this.LeaveDate[i-1].LeaveDate).format("YYYY-MM-DD"),
                          LeaveType: this.lt,
                          LeaveID: this.lid,
                          isHalfDay: this.isHalfDay === false ? 0 : 1,
                          Coordinates: '',
                          ShiftType: this.st,
                          EmpReason: this.rt,
                          EmpComment: this.leavecomment,
                          FilePath: this.propath,
                          LeaveStartDate: this.listOfLeave[0],
                          LeaveEndDate: this.listOfLeave[this.listOfLeave.length-1],
                          HOURS: this.lt === 'Offset Leave' ? this.selectedhrs.split(' ')[0] : '0',
                          MINUTES: this.lt === 'Offset Leave' ? this.selectedmns.split(' ')[0] : '0',
                          Multiple: localStorage.getItem("SingleMultpleLength")
                          })
                        }).then(response => {
                          this.finalResult = response.content.toJSON()
                          http.request({
                          url: localStorage.getItem("URL") + "DHRGetDHRTOKEN",
                          method: "POST",
                          headers: { "Content-Type": "application/json" },
                          content: JSON.stringify({
                            CN: localStorage.getItem("ClientName"),
                            EMPID: localStorage.getItem("EmpID")
                            })
                          }).then(response => {
                            http.request({
                            url: "https://fcm.googleapis.com/fcm/send",
                            method: "POST",
                            headers: {
                              Authorization:
                                "key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe",
                                "Content-Type": "application/json"},
                              content: JSON.stringify({
                              notification: {
                                body: localStorage.getItem("Alias") === '' ? localStorage.getItem("FIRSTNAME") : localStorage.getItem("Alias") +
                                  " " +
                                  "is applying for " +
                                this.lt,
                                title: "New Leave Request"},
                              to: response.content.toJSON()
                              })
                            }).then(response => {
                              setTimeout(() => {
                              }, 1000);
                            })
                          })
                        }).catch(err => {
                          this.luding = 'collapse'
                          Toast.makeText("Connection timed out. Please try again.").show();
                          console.log("Errrrrrrrr -> " + err.message);
                        })
                    }
                 }, 1000);

              }
              
              setTimeout(() => {
                this.showholidays();
                this.showleaves()
              }, 1000);
              
            }
          }   
        }
      })
    },
    showavailableleaves(){
      http
        .request({
          url: localStorage.getItem("URL") + "ShowAvailableLeavesv2",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            CN: localStorage.getItem("ClientName"),
            NTID: localStorage.getItem("EmpID")
          })
        })
        .then(response => {
          this.availableleaves = response.content.toJSON().AvailableLeaves
          for (var i = 0; i < response.content.toJSON().AvailableLeaves.length;i++) 
            {
              this.serialID.push(response.content.toJSON().AvailableLeaves[i])

              this.leavetypes.push(response.content.toJSON().AvailableLeaves[i].Ltype);
              this.leavebals.push({Lbal:response.content.toJSON().AvailableLeaves[i].LeaveBal,
                                   Ltype:response.content.toJSON().AvailableLeaves[i].Ltype});
            }
            console.log(localStorage.getItem("checkreg") + " selected date")
            if(localStorage.getItem("checkreg") !== 'undefined')
            {
              console.log("entered not undefined")
              if(localStorage.getItem("checkreg") === '')
              {
               this.regcheck = true
                this.lt = response.content.toJSON().AvailableLeaves[0].Ltype 
              }
              else
              {
                this.regcheck = false
                //this.lt = 'Regular Holiday'
                http.request({
                      url: localStorage.getItem("URL") + "ShowHolidaysv2",
                      method: "POST",
                      headers: { "Content-Type": "application/json" },
                      content: JSON.stringify({
                        CN: localStorage.getItem("ClientName"),
                        EmpID: localStorage.getItem("EmpID")
                      })
                    })
                    .then(response => {
                      var selectedType = response.content.toJSON().Holidays.find(res => res.HolidayDate === moment(localStorage.getItem("checkreg")).format('MMM-DD-YYYY'))
                      this.lt = selectedType.Type;
                    })
              }
              
            }
            else
            {
              console.log("entered here")
              this.regcheck = true
              this.lt = response.content.toJSON().AvailableLeaves[0].Ltype 
              this.serialIDval = response.content.toJSON().AvailableLeaves[0].SerialID
              console.log("SELECTED LTYPE: " + this.serserialIDvalialIDval)
            }
            this.serialIDval = response.content.toJSON().AvailableLeaves[0].SerialID
            this.lid = response.content.toJSON().AvailableLeaves[0].SerialID 
            this.rt = this.reasontype[0]
            console.log(this.lt)
            console.log(this.rt)
    })
    },
    selectedLtype(args){
        var leaveFiltered = [];
            if(this.LeaveDate.length > 1)
            {
              leaveFiltered = ((this.leavetypes.filter(e => e !== 'Offset Leave')))
            }
            else
            {
              leaveFiltered = ((this.leavetypes.filter(e => e === e)))
            }
        // console.log(this.selectedhrs.split(' ')[0] + " this is the hours")
        // console.log(this.selectedmns.split(' ')[0] + " this is the minutes")
        action("Choose Leave Type", "Cancel", leaveFiltered).then(result => {
          if (result !== "Cancel") {
                args.object.text = result;
                this.lt = result
                this.myserialID();
                args.object.text = result;
                var bal = this.leavebals.find(res => res.Ltype === result);
                var serialIDval = this.serialID.find(res => res.Ltype === result);
                this.serialIDval = serialIDval.SerialID
                localStorage.setItem("remaininghours",bal.Lbal)
                console.log(localStorage.getItem("remaininghours")+' leave balance')
                this.icheck = 'false'
                this.allowHalf = 'true'
                this.HalfOpa = '1'
               
            if ((localStorage.getItem("ILMorGen").toLowerCase() === "gen")) {
              if ((localStorage.getItem("ClientName").toLowerCase() === 'ctrackuat' || localStorage.getItem("ClientName").toLowerCase() === 'campaigntrack') && (localStorage.getItem("remaininghours") === '0.000' && this.lt !== 'LWOP')){
                // alert("ctrackuat")
              }
              else{
                // alert("other gen base")
                alert("You have 0 Offset Leave balance left. Please use LWOP instead.")
                this.hrsEnabled = true
                this.mnsEnabled = true
                this.hrsOpa = '1'
                this.mnsOpa = '1'
              }
            }
            else if ((localStorage.getItem("ILMorGen").toLowerCase() === "gen") && (this.lt === 'LWOP')){
                this.hrsEnabled = false
                this.mnsEnabled = false
                this.hrsOpa = '0.5'
                this.mnsOpa = '0.5'
                this.selectedhrs = "0 Hours"
                this.selectedmns = "0 Minutes"
            }
            else if ((localStorage.getItem("ILMorGen").toLowerCase() === "gen") && (this.lt !== 'LWOP')){
                this.hrsEnabled = true
                this.mnsEnabled = true
                this.hrsOpa = '1'
                this.mnsOpa = '1'
            }
            else if ((localStorage.getItem("ILMorGen").toLowerCase() === "ilm") && (this.lt == 'Offset Leave')){
                // var num = localStorage.getItem("remaininghours").split('.')
                // var num = parseFloat("2.5188")
                // var num1 = num.toFixed(0)
                // var num2 = parseInt(num1 > 0 ? num1*9 : num1)
                // var num3 = num.toFixed(4).substring(2)
                // var num4 = parseInt(num3.substring(0,1))
                // var num5 = parseInt(num3.substring(1,2))
                // var compHrs = parseFloat((num2+num4)+"."+num5)
                // console.log(num+" num")
                // console.log(num1+" num1")
                // console.log(num2+" num2")
                // console.log(num3+" num3")
                // console.log(num4+" num4")
                // console.log((num2+num4)+" num5")
                // console.log(num[0])
                // console.log(num[1].substring(num[1].indexOf('.')+1,1))
                
                // HOURS: this.lt === 'Offset Leave' ? this.selectedhrs.split(' ')[0] : '0',
                // MINUTES: this.lt === 'Offset Leave' ? this.selectedmns.split(' ')[0] : '0',
              var totaltime = this.selectedhrs.split(' ')[0] + '.' + this.selectedmns.split(' ')[0]
              console.log(totaltime)
              this.half2 = 'visible'
              this.half1 = 'collapse'
              if(parseFloat(localStorage.getItem("offsetValue"))< parseFloat(totaltime))
              {
                alert("You have "+localStorage.getItem("offsetValue")+" Offset Leave balance left. Please use LWOP instead.")
              }
              
                // var hrs = parseFloat(num[0]+"."+(num[1].substring(num[1].indexOf('.')+1,1)))
                // console.log(hrs+" hrs")
                // if (hrs >= 0.5 && hrs < 1) {
                //   this.icheck = 'true'
                //   this.allowHalf = 'false'
                //   this.HalfOpa = '0.3'
                // }else if(hrs >= 1){
                //   this.icheck = 'false'
                //   this.allowHalf = 'true'
                //   this.HalfOpa = '1'
                // }else{
                //   alert("I'm sorry you only have "+hrs+" leave hours, please use LWOP instead.")
                // }
            }
            else if ((localStorage.getItem("ILMorGen").toLowerCase() === "ilm") && (this.lt !== 'Offset Leave')){
              this.half2 = 'collapse'
              this.half1 = 'visible'
            }
          }
          else{
            if(localStorage.getItem("ILMorGen").toLowerCase() === "ilm"){
              this.half2 = 'collapse'
              this.half1 = 'visible'
            }
            else
            {
              this.half2 = 'visible'
              this.half1 = 'collapse'
            }
            args.object.text = this.leavetypes[0];
            this.lt = this.leavetypes[0]
            this.myserialID();
           }
        })
        
    },
    myserialID(){
      for (var i = 0; i < this.availableleaves.length;i++) 
        {
          console.log(this.lt)
          console.log(this.availableleaves[i].Ltype)
          if (this.lt === this.availableleaves[i].Ltype)
          {
            this.lid = this.availableleaves[i].SerialID 
          }
        }
    },
    selectedShift(args){
        action("Choose Shift Type", "Cancel", this.shifttype).then(result => {
           if (result !== "Cancel") {
                args.object.text = result;
                this.st = result
           }
           else{
             args.object.text = this.shifttype[0];
             this.st = this.shifttype[0]
           }
        })
    },
    selectedReason(args){
        action("Choose Shift Type", "Cancel", this.reasontype).then(result => {
           if (result !== "Cancel") {
                args.object.text = result;
                this.rt = result
           }
           else{
             args.object.text = this.reasontype[0];
             this.rt = this.reasontype[0]
           }
        })
    },
     ishalf(args) {
      //alert('dito')
      // var id = this.listOfLeave.find(res => res.id === args.object.id);
      this.isHalfDay = args.object.checked;
      if (args.object.checked === true){
        this.st = '1st Half'
          var req = Frame.topmost().getViewById("shfttyp");
                req.isEnabled = "true";
                req.opacity = "1";
                console.log(this.st)
      }
      else {
         this.st = '' 
          var req = Frame.topmost().getViewById("shfttyp");
                req.isEnabled = "false";
                req.opacity = "0.3";
                console.log(this.st)
      }
    },
    upload(){
      var gabbi = Frame.topmost().getViewById("imageID");
      var context = imagepicker.create({ mode: "single", mediaType: "image" });
            context.authorize()
            .then(function() {
                return context.present();
            })
            .then(selectedPicture => {
                  let documents = fileSystemModule.knownFolders.documents();
                  let path = fileSystemModule.path.join(documents.path, "pic.png");
                  gabbi.src = selectedPicture[0]
                  imageSourceModule.fromAsset(selectedPicture[0]).then(imageSource => {
                    imageSource.saveToFile(path, "png");
                    var imgLocal = imageSource.fromFile(path);
                    this.propath = imageSource.toBase64String('jpeg', 50)
                    // this.urlsegment = 'data:image/jpeg;base64,' + imageSource.toBase64String('jpeg', 50)
                    console.log(this.propath)          
                  });   
            }).catch(function (e) {
                // process error
                Toast.makeText("Connection timed out. Please try again.").show();
            });
            
    },
    // selecttime() {
    //     var mytime
    //           picker.pickTime({
    //             title: "Select",
    //             theme: "dark",
    //             is24HourView: true
    //             }).then((result) => {
    //             mytime =  moment(result.hour + ":" + result.minute,"HH:mm").format("HH:MM")  
    //             mytime.split("")
    //             this.leavetime = mytime[0] + mytime[1] + 'hrs' + ':' + mytime[3] + mytime[4] + 'mns'
    //             // console.log(mytime[1])
    //             // if(this.selectedSegment === "Time-in" || this.selectedSegment === "Time-out"){
    //             //   this.time2 = "";
    //             //   this.time2 = this.time1;
    //             // }    
    //             //console.log(moment(result.hour + ":" + result.minute,"HH:mm").format("h:mm A") )
    //             })
    //             .catch((error) => {
    //               console.log("Error: " + error);
    //           });
    //         },
    constanttime(){
    
      for (var i = 0; i <= 8;i++){
           this.myhrs.push(i + ' ' +'Hours')
      }
      
      for (var i = 0; i <= 59;i++){
           this.mymns.push(i + ' ' +'Minutes')
      }
      this.selectedhrs = this.myhrs[0]
      this.selectedmns = this.mymns[0]
    },
    selecttime(a){
      if(localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
        if (a === 'oras'){
        action("Choose hour", "Cancel", this.myhrs).then(result => {
          if (result !== "Cancel") {
              this.selectedhrs = result
              console.log(this.selectedhrs);
              var selected = this.selectedhrs.split(" ")
              var hrs = localStorage.getItem("remaininghours").split(".")
              console.log(parseInt(hrs[0]))
              console.log(parseInt(selected[0]))
              if(this.selectedhrs === "8 Hours"){
                this.selectedmns = "0 minutes";
              }
              else if ((parseInt(hrs[0]) < parseInt(selected[0])) && (this.lt !== 'LWOP')){
                alert("Applied leave time cannot be more than " + hrs[0] + " Hours")
              }
          }
          else {
              this.selectedhrs = this.myhrs[0]
          }
        });
        }
        else if (a === 'minuto') {
        action("Choose minute", "Cancel", this.mymns).then(result => {
          if (result !== "Cancel") {
              this.selectedmns = result;
              if(this.selectedhrs === "8 Hours"){
                this.selectedmns = "0 minutes"
              }
          }
          else {
            this.selectedmns = this.mymns[0]
          }
          });
        }
      }
      else{
         if (a === 'oras'){
        action("Choose hour", "Cancel", this.myhrs).then(result => {
          if (result !== "Cancel") {
              this.selectedhrs = result
              if(this.selectedhrs === "8 Hours"){
                this.selectedmns = "0 minutes";
              }
          }
          else {
              this.selectedhrs = this.myhrs[0]
          }
        });
        }
        else if (a === 'minuto') {
        action("Choose minute", "Cancel", this.mymns).then(result => {
          if (result !== "Cancel") {
              this.selectedmns = result;
              if(this.selectedhrs === "8 Hours"){
                this.selectedmns = "0 minutes"
              }
          }
          else {
            this.selectedmns = this.mymns[0]
          }
          });
        }
      }
      
    },
   showholidays() {
        localStorage.removeItem("listofmyevents");
        localStorage.removeItem("listofmytotalevents");
        this.events.splice(0);
        http
          .request({
            url: localStorage.getItem("URL") + "ShowHolidaysv2",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              CN: localStorage.getItem("ClientName"),
              EmpID: localStorage.getItem("EmpID")
            })
          })
          .then(response => {
            if (response.content.toJSON().Holidays !== null) {
              for (
                var i = 0;
                i < response.content.toJSON().Holidays.length;
                i++
              ) {
                this.totalevents.push({
                  Date: moment(
                    response.content.toJSON().Holidays[i].HolidayDate
                  ).format("ll"),
                  Type: response.content.toJSON().Holidays[i].Type
                });
                if (
                  response.content.toJSON().Holidays[i].Type === "Regular Holiday"
                ) {
                  var startDate = new Date(
                    response.content.toJSON().Holidays[i].HolidayDate
                  );
                  var endDate = new Date(
                    response.content.toJSON().Holidays[i].HolidayDate
                  );
                  const event = new calendarModule.CalendarEvent(
                    response.content.toJSON().Holidays[i].HolidayName,
                    startDate,
                    endDate,
                    true,
                    new Color("red")
                  );
                  this.events.push(event);
                  // console.log(event)
                } else {
                  var startDate = new Date(
                    response.content.toJSON().Holidays[i].HolidayDate
                  );
                  var endDate = new Date(
                    response.content.toJSON().Holidays[i].HolidayDate
                  );
                  const event = new calendarModule.CalendarEvent(
                    response.content.toJSON().Holidays[i].HolidayName,
                    startDate,
                    endDate,
                    true,
                    new Color("orange")
                  );
                  this.events.push(event);
                  // console.log(event)
                }
              }
              // this.showleaves()
            } else {
              // this.showleaves()
            }
          });
        // this.showleaves();
      },
      showleaves() {
        http
          .request({
            url: localStorage.getItem("URL") + "ShowLeavesv2",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              CN: localStorage.getItem("ClientName"),
              NTID: localStorage.getItem("EmpID")
            })
          })
          .then(response => {
            if (response.content.toJSON().Leave !== null) {
              for (var i = 0; i < response.content.toJSON().Leave.length; i++) {
                this.totalevents.push({
                  Date: moment(
                    response.content.toJSON().Leave[i].LeaveDate
                  ).format("ll"),
                  Type: response.content.toJSON().Leave[i].LeaveStatus
                });
                if (
                  response.content.toJSON().Leave[i].LeaveStatus === "Approved"
                ) {
                  var startDate = new Date(
                    response.content.toJSON().Leave[i].LeaveDate
                  );
                  var endDate = new Date(
                    response.content.toJSON().Leave[i].LeaveDate
                  );
                  const event = new calendarModule.CalendarEvent(
                    response.content.toJSON().Leave[i].LeaveType,
                    startDate,
                    endDate,
                    true,
                    new Color("green")
                  );
                  this.events.push(event);
                } else if (
                  response.content.toJSON().Leave[i].LeaveStatus === "Pending"
                ) {
                  var startDate = new Date(
                    response.content.toJSON().Leave[i].LeaveDate
                  );
                  var endDate = new Date(
                    response.content.toJSON().Leave[i].LeaveDate
                  );
                  const event = new calendarModule.CalendarEvent(
                    response.content.toJSON().Leave[i].LeaveType,
                    startDate,
                    endDate,
                    true,
                    new Color("yellow")
                  );
                  this.events.push(event);
                }
              }
              setTimeout(() => {
                // let cal = Frame.topmost().getViewById('calendar');
                // cal.reload()
                // this.vloading = 'visible'
                // this.vloading1 = 'hidden'
              }, 1000);
              // this.showavailableleaves()
            } else {
              setTimeout(() => {
                // let cal = Frame.topmost().getViewById('calendar');
                // cal.reload()
                // this.vloading = 'visible'
                // this.vloading1 = 'hidden'
              }, 1000);
            }
          });
        
        setTimeout(() => {
          
            localStorage.setItem("listofmyevents", JSON.stringify(this.events));
            localStorage.setItem("listofmytotalevents", JSON.stringify(this.totalevents));
            this.$navigateTo(this.LM, {clearHistory: true})
            console.log(this.finalResult + " ssssssssssssssssss")

          if (this.unableToFileLeave  === false) {
            if(this.finalResult === 'Success') {

              Toast.makeText("Leave request sent").show();
            }
            else {
              
              Toast.makeText("Please try again later").show();
            }
          }
        }, 6000);
        
      },
  }
};
</script>
<style scoped>
.clock {
  background-image: url("~/assets/images/ic_time.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
 }
.formBox {
  border: 1px solid #2d5176;
  border-radius: 10px;
  background-color: #003366;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 5%;
}
</style>