<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo();halfdayhide()'> 
    <ActionBar title="Leave History" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(LM, {clearHistory: true})"/>
    </ActionBar>
    <!-- <ScrollView orientation="vertical"> -->\
    <GridLayout>
    <StackLayout orientation="vertical">
    
    <FlexboxLayout flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10"  borderRadius="5" borderWidth="2" >
                <Label text="Leave Details" color="white" fontWeight="700" padding="5" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                <StackLayout orientation="horizontal" margin="10">
               <TextField
                  horizontalAlignment="stretch"
                  height="40"
                  width="50%"
                  fontSize="14" 
                  borderRadius="3" 
                  borderWidth="1" 
                  hint="From"
                  editable="false"
                  class="calendar"
                  backgroundColor="white" marginRight='5' @tap="selectDate('from')"
                  v-model="fromdate"
                  :isUserInteractionEnabled='false'  />
         
                <TextField
                  horizontalAlignment="stretch"
                  height="40"
                  width="50%"
                  fontSize="14" 
                  borderRadius="3" 
                  borderWidth="1" 
                  hint="To"
                  editable="false"
                  class="calendar"
                  backgroundColor="white" marginRight='5' @tap="selectDate('to')"
                  v-model="todate"
                  :isUserInteractionEnabled='true' />
                    
            </StackLayout>

            <StackLayout marginRight="10"  marginBottom="5">
              <Button borderRadius="3"
                      height="40" 
                      width="40" 
                      class="search"  
                      text="" 
                      backgroundColor="#f1c40f" 
                      horizontalAlignment="right"
                      @tap="searchleavehistory()"/>
          </StackLayout>
   </FlexboxLayout>

    <FlexboxLayout flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" >
        <Label text="Leave History" color="white" fontWeight="700" padding="5" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
        <StackLayout orientation="vertical">
          <StackLayout orientation="horizontal">
                      <Label textAlignment="center" paddingLeft="3" color="white" fontSize="12" text="Leave Date"  textWrap="true"   width="27%" paddingTop="4" paddingBottom="4"  backgroundColor="#2d5176"  @tap="NEWtoOLD()"></Label>
                      <Label textAlignment="center" :visibility="half1" paddingLeft="3" color="white" fontSize="12" text="Half Day" marginLeft="1" textWrap="true"   width="20%" paddingTop="4" paddingBottom="4"  backgroundColor="#2d5176"  ></Label>
                      <Label textAlignment="center" :visibility="half2" paddingLeft="3" color="white" fontSize="12" text="Time" marginLeft="1" textWrap="true"   width="20%" paddingTop="4" paddingBottom="4"  backgroundColor="#2d5176"  ></Label>
                      <Label textAlignment="center" paddingLeft="3" color="white" fontSize="12" text="Leave Type" marginLeft="1" textWrap="true"   width="25%" paddingTop="4" paddingBottom="4"  backgroundColor="#2d5176"  ></Label>
                      <Label textAlignment="center" paddingLeft="3" color="white" fontSize="12" text="Status" marginLeft="1" textWrap="true"   width="28%" paddingTop="4" paddingBottom="4"  backgroundColor="#2d5176"  ></Label>
          </StackLayout >

      <!-- <ScrollView orientation="vertical"> -->
        <ScrollView orientation="vertical" height="90%" >
          <StackLayout orientation="vertical">
              <StackLayout orientation="horizontal"  backgroundColor="#2d5176" v-for="listleaves in leaves" 
                      :key="listleaves['.key']" 
                      :id="leaves.leaveID" @tap="getleavedate(listleaves.LeaveDate,listleaves.LeaveID),gethalfday(listleaves.isHalfDay),getleavetype(listleaves.LeaveType),getpaid(listleaves.isPaid),getdateapplied(listleaves.DateApplied),getshifttype(listleaves.ShiftType),getleavestatus(listleaves.LeaveStatus),getreason(listleaves.EmpReason),getempcomment(listleaves.EmpComment),getapprovercomment(listleaves.ApproverComment),getleaveimage(listleaves.FilePath),getleaveinfos(),cancelleave()">
                      
                          <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" fontSize="12" :text="listleaves.LeaveDate" textAlignment="center" width="27%" textWrap="true" marginRight="1"   backgroundColor="#003366"></Label>
                          <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" fontSize="12" :visibility="half1" :text="listleaves.isHalfDay" textAlignment="center" width="20%" textWrap="true"   backgroundColor="#003366"></Label>
                          <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" fontSize="12" :visibility="half2" :text="listleaves.isHalfDay + '/' + listleaves.ShiftType" textAlignment="center" width="20%" textWrap="true"   backgroundColor="#003366"></Label>
                          <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" fontSize="12" :text="listleaves.LeaveType" textAlignment="center" textWrap="true" marginLeft="1" flexGrow="5" width="25%"  backgroundColor="#003366"></Label>
                          <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" fontSize="12" :text="listleaves.LeaveStatus" textAlignment="center" marginLeft="1" width="28%" textWrap="true"   backgroundColor="#003366"></Label>
                      
              </StackLayout>
          </StackLayout>
            
        </ScrollView>
      <!-- </ScrollView>        -->

        </StackLayout>
      </FlexboxLayout>
    </StackLayout>
        <StackLayout row='1' :visibility="luding" isUserInteractionEnabled='false' />
      <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center"
        opacity='0.6' borderRadius='6' backgroundColor='black' height="50" width="50">
        <ActivityIndicator busy="true" color="white" height="100%" width="100%" verticalAlignment="center" />
      </StackLayout>
    </GridLayout>
    <!-- </ScrollView> -->
  </Page>
</template>

<script>
import * as http from "tns-core-modules/http";
const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;
const picker = new ModalPicker();
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;

var orientation = require("nativescript-orientation");

// var now = new Date();
// var prevMonthLastDate = new Date(now.getFullYear(), now.getMonth(), 0);
// var prevMonthFirstDate = new Date(now.getFullYear() - (now.getMonth() > 0 ? 0 : 1), (now.getMonth() - 1 + 12) % 12, 1);

// var formatDateComponent = function(dateComponent) {
//  return (dateComponent < 10 ? '0' : '') + dateComponent;
// };

// var formatDate = function(date) {
//  return date.getFullYear() + '-' + formatDateComponent(date.getMonth() + 2) + '-' + formatDateComponent(date.getDate());
// };

var moment = require("moment");
import * as Toast from "nativescript-toast";
const calendarModule = require("nativescript-ui-calendar");
import { Color } from "tns-core-modules/color";
import leavemanagement from "../LeaveManagement/LeaveManagement.vue"

export default {
  components: {},
  data() {
    return {
      ID:'',
      luding:'collapse',
      half1:'hidden',
      half2:'hidden',
      leaves: [],
      fromdate: "From",
      todate: "To",
      leaveinfo:[],
      leavedate:'',
      halfday:'',
      leavetype:'',
      paid:'',
      dateapplied:'',
      shifttype: '',
      leavestatus:'',
      reason:'',
      empcomment:'',
      approvercomment:'',
      leaveimage:'',
      events: [],
      totalevents: [],
      LM: leavemanagement,
      sortFil: true
    };
  },
  created: function() {
    this.getleavehistory();
    var now = new Date();
    // console.log(moment(new Date(now.getFullYear(), now.getMonth(), 0).format("YYYY-MM-DD")));
    // console.log(moment(new Date(now.getFullYear() - (now.getMonth() > 0 ? 0 : 1), (now.getMonth() - 1 + 12) % 12, 1).format("YYYY-MM-DD")));
    var date = new Date();
    var date = new Date(), y = date.getFullYear(), m = date.getMonth();
    var firstDay = new Date(y, m, 1);
    var lastDay = new Date(y, m + 1, 0);

    this.firstDay = moment(firstDay).format("YYYY-MM-DD");
    this.lastDay = moment(lastDay).format("YYYY-MM-DD");
    // console.log(this.firstDay)
    // console.log(this.lastDay)
  },
  methods: {
    NEWtoOLD(){
      // var vm = this
      if (this.sortFil === true){
        this.sortFil = false
        this.leaves.sort(function(a,b)
        {
          return new Date(moment(a.LeaveDate, 'YYYY-MM-DD').format('MM/DD/YYYY')).getTime() - new Date(moment(b.LeaveDate, 'YYYY-MM-DD').format('MM/DD/YYYY')).getTime()
        })
      }
      else{
        this.sortFil = true
         this.leaves.sort(function(a,b)
        {
          return  new Date(moment(b.LeaveDate, 'YYYY-MM-DD').format('MM/DD/YYYY')).getTime() - new Date(moment(a.LeaveDate, 'YYYY-MM-DD').format('MM/DD/YYYY')).getTime() 
        })
      }
     
    },
    halfdayhide(){
      // localStorage.setItem("ClientName", 'generali')
        if(localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
          this.half1 = 'collapse'
          this.half2 = 'visible'
        }
        else{
          this.half1 = 'visible'
          this.half2 = 'collapse'
        }
    },
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        // Frame.topmost().goBack();
        this.$navigateTo(this.LM, {clearHistory: true})
      };
    },
    searchleavehistory() {
          http
            .request({
              url: localStorage.getItem("URL") + "SearchLeavesv3",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem("ClientName"),
                NTID: localStorage.getItem("EmpID"),
                Start_Date: this.fromdate,
                End_Date: this.todate
              })
            })
            .then(response => {
              console.log(response.content.toJSON().Leave)
              this.leaves = response.content.toJSON().Leave;
              for (var i = 0;i < response.content.toJSON().Leave.length;i++) {
                  this.leaves[i].LeaveDate = moment(this.leaves[i].LeaveDate).format("YYYY-MM-DD");
                if(localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
                    if (this.leaves[i].isHalfDay === "True") {
                      this.leaves[i].isHalfDay = "Yes"
                      // this.leaves[i].LeaveDate = moment(this.leaves[i].LeaveDate).format("YYYY-MM-DD");
                    }
                    else if (this.leaves[i].isHalfDay === "False"){
                      this.leaves[i].isHalfDay = "No"
                      // this.leaves[i].LeaveDate = moment(this.leaves[i].LeaveDate).format("YYYY-MM-DD");
                    }
                }
              }
            });
    },
    getleavehistory() {
    this.luding = 'visible'
    this.showholidays();
    this.showleaves();
    var date = new Date();
    var date = new Date(), y = date.getFullYear(), m = date.getMonth();
    var firstDay = new Date(y, m, 1);
    var lastDay = new Date(y, m + 1, 0);

    this.firstDay = moment(firstDay).format("YYYY-MM-DD");
    this.lastDay = moment(lastDay).format("YYYY-MM-DD");
    // console.log(this.firstDay)
    // console.log(this.lastDay)
          http
            .request({
              url: localStorage.getItem("URL") + "ShowLeavesv3",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem("ClientName"),
                NTID: localStorage.getItem("EmpID"),
                // Start_Date: this.firstDay,
                // End_Date: this.lastDay,
              })
            })
            .then(response => {
              console.log(response.content.toJSON().Leave)
               this.leaves = response.content.toJSON().Leave;
              for (var i = 0;i < response.content.toJSON().Leave.length;i++) {
                this.leaves[i].LeaveDate = moment(this.leaves[i].LeaveDate).format("YYYY-MM-DD")
                // this.leaves[i].LeaveDate = formatDate(response.content.toJSON().LeaveDate)
                // console.log(this.leaves[i].LeaveDate)
                if(localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
                    if (this.leaves[i].isHalfDay === "True") {
                      this.leaves[i].isHalfDay = "Yes"
                      // this.leaves[i].LeaveDate = moment(this.leaves[i].LeaveDate).format("YYYY-MM-DD");
                    }
                    else if (this.leaves[i].isHalfDay === "False"){
                      this.leaves[i].isHalfDay = "No"
                      // this.leaves[i].LeaveDate = moment(this.leaves[i].LeaveDate).format("YYYY-MM-DD");
                    }
                }
              }
            });
    },
    selectDate(e) {
      var mindate = ''
      var maxdate = ''
      if (e === 'from') {
        maxdate = this.todate !== 'To' ? new Date(this.todate) : ''
      } else if (e === 'to'){
        mindate = this.todate !== 'From' ? new Date(this.fromdate) : ''
      }
      picker.pickDate({
        title: "Select Date",
        theme: "dark",
        maxDate: maxdate,
        minDate: mindate
        }).then(result => {
          if (result.year !== undefined) {
            var m = result.month < 10 ? '0' + result.month : result.month
            var d = result.day < 10 ? '0' + result.day : result.day

            if (e === 'from') {
              this.fromdate = moment(result.year + '-' + m + '-' + d).format('YYYY-MM-DD')
            } else if (e === 'to'){
              this.todate = moment(result.year + '-' + m + '-' + d).format('YYYY-MM-DD')
            }
          }
        }).catch(error => {
          console.log("Error: " + error);
        });
    },
    getleavedate(data,ID){
      this.leavedate = moment(data).format("YYYY-MM-DD")
      this.ID = ID
    },
    gethalfday(data){
      if(localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
        if (data === 'Yes'){
          this.halfday = 'True'
        }
        else {
          this.halfday = 'False'
        }
      }
      else{
        this.halfday = data === '' || data === 'False' ? 'False' : 'True'
      }
      console.log(this.halfday)
    },
    getleavetype(data){
      this.leavetype = data
      // console.log(this.leavetype)
    },
    getpaid(data){
      // this.paid = data
      this.paid = data === '' || data === 'False' ? 'False' : 'True'
      // console.log(this.paid)
    },
    getdateapplied(data){
      this.dateapplied = moment(data).format("YYYY-MM-DD")
      // console.log(this.dateapplied)
    },
    getshifttype(data){
      this.shifttype = data
      // console.log(this.paid)
    },
    getleavestatus(data){
      this.leavestatus = data
      // console.log(this.leavestatus)
    },
    getreason(data){
      this.reason = data
    },
    getempcomment(data){
      this.empcomment = data
    },
    getapprovercomment(data){
      this.approvercomment = data
    },
    getleaveimage(data){
      if (data === ''){
          this.leaveimage = "~/assets/images/document.png"
      } 
      else {
          this.leaveimage = data
      }
      console.log(this.leaveimage)
    },
    getleaveinfos(){
        localStorage.setItem("leavedate", this.leavedate);
        localStorage.setItem("halfday", this.halfday);
        localStorage.setItem("leavetype", this.leavetype);
        localStorage.setItem("paid", this.paid);
        localStorage.setItem("dateapplied", this.dateapplied);
        localStorage.setItem("shifttype", this.shifttype);
        localStorage.setItem("leavestatus", this.leavestatus);
        localStorage.setItem("reason", this.reason),
        localStorage.setItem("empcomment", this.empcomment),
        localStorage.setItem("approvercomment", this.approvercomment)
        localStorage.setItem("leavecomment", this.leavecomment)
        localStorage.setItem("leaveimage", this.leaveimage)
    },
         cancelleave() {            
          var vm = this
          if(localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
           this.$showModal({template: `
          <Page >
          
           <StackLayout>
            <StackLayout orientation="vertical" height="80%">
            <Label text="Leave Details" fontSize="14" paddingTop="20" paddingBottom="20" backgroundColor="#002851" textAlignment="center" color="white" verticalAlignment="center"  />
            <StackLayout>
            <ScrollView orientation="vertical" row="1" width="100%">
            <StackLayout>
            <StackLayout orientation="horizontal" marginTop="15" marginRight="10" marginBottom="15" marginLeft="5">

              <Label  width="40%"
                    text="Leave Date"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
              <TextField
                  isEnabled="false"
                  horizontalAlignment="right"
                  height="40"
                  width="50%"
                  fontSize="14" 
                  borderRadius="3" 
                  borderWidth="1" 
                  :text="this.leavedate"
                  color="#002851"
                  marginRight='5'
                  marginLeft='5'
                  textWrap="true"
                  style="
                  background-repeat: no-repeat;
                  background-position: 97% 50%;
                  background-size: 50 50;" />

             </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Hrs/mns"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />

                    <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.halfday"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />

                  
            </StackLayout>

                        <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Leave Type"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.leavetype"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

                        <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Paid"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  
                  <CheckBox  
                    isEnabled="false"
                    checked="false" 
                    horizontalAlignment="center"
                    v-bind:checked="paid"  
                  />
            </StackLayout>

                        <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Date Applied"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.dateapplied"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

                        <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Leave Status"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.leavestatus"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Reason"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.reason"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Comment"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextView
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="70"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.empcomment"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Approver Comment"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextView
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="70"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.approvercomment"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Uploaded File"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />

                    <Image 
                    id="imageID" 
                    row='1' 
                    :src="leaveimage"
                    verticalAlignment='center' 
                    height="320" 
                    width="69%" 
                    class="formBox" />
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop='50'> 
                <Label
                      :isEnabled="this.cancelleavedisabled"
                      :style="this.cancelcolor"
                      @tap="modalClose1()" 
                      width="45%"
                      text="CANCEL LEAVE"
                      fontSize="14"

                      textAlignment="left" 
                      color="#002851" 
                      verticalAlignment="center"
                      marginRight='5'
                      marginLeft='20'
                      marginTop='7'/>
                
                <Label
                      @tap="modalClose2()"  
                      width="35%"
                      text="OK"
                      fontSize="14"

                      textAlignment="right" 
                      color="#002851" 
                      verticalAlignment="center"
                      marginRight='20'
                      marginLeft='10'
                      marginTop='7' />
            </StackLayout>
            </StackLayout>
              </ScrollView>   
            </StackLayout>              
          </StackLayout>
          </StackLayout> 
          
            </Page>`,
          data() {
              return {
                // docos1: "~/assets/images/document.png",
                leavedate:      localStorage.getItem("leavedate"),
                halfday:        localStorage.getItem("halfday") + ' ' + localStorage.getItem("shifttype"),
                leavetype:      localStorage.getItem("leavetype"),
                paid:           localStorage.getItem("paid"),
                dateapplied:    localStorage.getItem("dateapplied"),
                shifttype:      localStorage.getItem("shifttype"),
                leavestatus:    localStorage.getItem("leavestatus"),
                reason:         localStorage.getItem("reason"),
                empcomment:     localStorage.getItem("empcomment"),
                approvercomment:localStorage.getItem("approvercomment"),
                leaveimage:     localStorage.getItem("leaveimage"),
                cancelleavedisabled: '',
                cancelcolor:{
                          color: '#e0e0d1'
                         }
              }
            }, 
            created: function() {  
              console.log(localStorage.getItem("shifttype") + ' ' + localStorage.getItem("shifttype"))
              // this.uploadimageCC()
              // this.disablecancelleave()
              // console.log(localStorage.getItem("dateapplied"))
              // console.log(localStorage.getItem("leavetype"))
          },
          methods: {
            
            disablecancelleave(){
              // alert('woowoo')
              if (this.leavestatus === 'Pending' || this.leavestatus === 'Approved'){
                if(this.leavedate >= moment(this.now).format("YYYY-MM-DD")){
                  this.cancelleavedisabled = 'True'
                  this.cancelcolor.color = '#002851'
                }
                else{
                  this.cancelleavedisabled = 'False'
                }
              }
              else {
               this.cancelleavedisabled = 'False'
                // alert('nagfalse')
              }
            },
          modalClose1() {
            this.$modal.close()
            vm.validatecancel()
            
          },
          modalClose2() {
            this.$modal.close()
            
          },
          
          }})    
          }

          else{
            this.$showModal({template: `
          <Page >
          
           <StackLayout>
            <StackLayout orientation="vertical" height="80%" marginBottom="-8">
            <Label text="Leave Details" fontSize="14" paddingTop="20" paddingBottom="20" backgroundColor="#002851" textAlignment="center" color="white" verticalAlignment="center"  />
            <StackLayout>

            
            <ScrollView orientation="vertical" row="1" width="100%" height="90%">
            <StackLayout>
            <StackLayout orientation="horizontal" marginTop="15" marginRight="10" marginBottom="15" marginLeft="5">

              <Label  width="40%"
                    text="Leave Date"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
              <TextField
                  isEnabled="false"
                  horizontalAlignment="right"
                  height="40"
                  width="50%"
                  fontSize="14" 
                  borderRadius="3" 
                  borderWidth="1" 
                  :text="this.leavedate"
                  color="#002851"
                  marginRight='5'
                  marginLeft='5'
                  textWrap="true"
                  style="
                  background-repeat: no-repeat;
                  background-position: 97% 50%;
                  background-size: 50 50;" />

             </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Half Day"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />

                    <CheckBox  
                    isEnabled="false"
                    checked="false" 
                    horizontalAlignment="center"
                    v-bind:checked="halfday"  
                    />

                  
            </StackLayout>

                        <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Leave Type"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.leavetype"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

                        <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Paid"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  
                  <CheckBox  
                    isEnabled="false"
                    checked="false" 
                    horizontalAlignment="center"
                    v-bind:checked="paid"  
                  />
            </StackLayout>

                        <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Date Applied"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.dateapplied"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

                        <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Leave Status"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.leavestatus"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Reason"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextField
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="40"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.reason"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Comment"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextView
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="70"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.empcomment"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Approver Comment"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
                  <TextView
                      isEnabled="false"
                      horizontalAlignment="right"
                      height="70"
                      width="50%"
                      fontSize="14" 
                      borderRadius="3" 
                      borderWidth="1" 
                      :text="this.approvercomment"
                      color="#002851"
                      marginRight='5'
                      marginLeft='5'
                      textWrap="true"
                      style="
                      background-repeat: no-repeat;
                      background-position: 97% 50%;
                      background-size: 50 50;" />
            </StackLayout>

            <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="40%"
                    text="Uploaded File"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />

                    <Image 
                    id="imageID" 
                    row='1' 
                    :src="leaveimage"
                    verticalAlignment='center' 
                    height="320" 
                    width="69%" 
                    class="formBox" />
            </StackLayout>
              </ScrollView> 

            <StackLayout orientation="horizontal" backgroundColor="#f1c40f"> 
                <Label
                      :isEnabled="this.cancelleavedisabled"
                      :style="this.cancelcolor"
                      @tap="modalClose1()" 
                      width="50%"
                      text="CANCEL LEAVE"
                      fontSize="14"
                      textAlignment="center" 
                      color="#002851" 
                      verticalAlignment="center"
                      backgroundColor="#f1c40f"
                      height="40"
                      paddingTop="5"
                      paddingBottom="5"
                      marginTop="7" />
                
                <Label
                      @tap="modalClose2()"  
                      width="50%"
                      borderLeftWidth="1"
                      borderColor="gray"
                      borderStyle="dotted"
                      text="OK"
                      fontSize="14"
                      textAlignment="center" 
                      color="#002851" 
                      backgroundColor="#f1c40f"
                      verticalAlignment="center"
                      height="40"
                      paddingTop="5"
                      paddingBottom="5"
                      marginTop="7" />
            </StackLayout>
            </StackLayout>  
            </StackLayout>              
          </StackLayout>
          </StackLayout> 
          
            </Page>`,
          data() {
              return {
                // docos1: "~/assets/images/document.png",
                leavedate:      localStorage.getItem("leavedate"),
                halfday:        localStorage.getItem("halfday"),
                leavetype:      localStorage.getItem("leavetype"),
                paid:           localStorage.getItem("paid"),
                dateapplied:    localStorage.getItem("dateapplied"),
                leavestatus:    localStorage.getItem("leavestatus"),
                reason:         localStorage.getItem("reason"),
                empcomment:     localStorage.getItem("empcomment"),
                approvercomment:localStorage.getItem("approvercomment"),
                leaveimage:     localStorage.getItem("leaveimage"),
                cancelleavedisabled: '',
                cancelcolor:{
                          color: '#e0e0d1'
                         }
              }
            }, 
            created: function() {  
              // this.uploadimageCC()
              // this.disablecancelleave()
              // console.log(localStorage.getItem("dateapplied"))
              // console.log(localStorage.getItem("leavetype"))
          },
          methods: {
            
            disablecancelleave(){
              // alert('woowoo')
              if (this.leavestatus === 'Pending' || this.leavestatus === 'Approved'){
                if(this.leavedate >= moment(this.now).format("YYYY-MM-DD")){
                  this.cancelleavedisabled = 'True'
                  this.cancelcolor.color = '#002851'
                }
                else{
                  this.cancelleavedisabled = 'False'
                }
              }
              else {
               this.cancelleavedisabled = 'False'
                // alert('nagfalse')
              }
            },
          modalClose1() {
            this.$modal.close()
            vm.validatecancel()
            console.log(vm.ID + "")
            
          },
          modalClose2() {
            this.$modal.close()
            
          },
          
          }})    
          }


           
        },   
        validatecancel() {   
                   
          var vm = this
          vm.$showModal({template: `
          <Page >
           <StackLayout>
            <StackLayout orientation="vertical">
            <Label text="Cancel Leave Request" fontSize="14" paddingTop="20" paddingBottom="20" backgroundColor="#002851" textAlignment="center" color="white" verticalAlignment="center"  />
              <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginBottom="15" marginLeft="5">
                  <Label  width="100%"
                    text="Are you sure you want to cancel your leave?"
                    fontSize="14"
                    paddingTop="10" 
                    textAlignment="left" 
                    color="#002851" 
                    verticalAlignment="center"
                    marginRight='5'
                    marginLeft='10'
                    paddingBottom="10" />
            </StackLayout>

            <StackLayout orientation="horizontal" marginBottom="15"  marginLeft="30%"> 
                <Label
                      @tap="modalClose1()" 
                      width="50%"
                      text="CANCEL"
                      fontSize="14"
                       
                      textAlignment="right" 
                      color="#002851" 
                      marginRight="2" />
                
                <Label
                      @tap="modalClose2()"  
                      width="35%"
                      text="CONFIRM"
                      fontSize="14"
                      textAlignment="center" 
                      color="#002851" 
                      marginRight="10" />
            </StackLayout>     
                                    
          </StackLayout>
          </StackLayout> 
            </Page>`,
          data() {
              return {
                leavedate:    localStorage.getItem("leavedate"),
                halfday:      localStorage.getItem("halfday"),
                leavetype:    localStorage.getItem("leavetype"),
                paid:         localStorage.getItem("paid"),
                dateapplied:  localStorage.getItem("dateapplied"),
                leavestatus:  localStorage.getItem("leavestatus"),
                events: [],
                totalevents:[]

                
                
              }
            }, 
            created: function() {  
              
              
          },
          methods: {
          
          modalClose1() {
            this.$modal.close()
            localStorage.removeItem("leavedate"),
            localStorage.removeItem("halfday"),
            localStorage.removeItem("leavetype"),
            localStorage.removeItem("paid"),
            localStorage.removeItem("dateapplied"),
            localStorage.removeItem("leavestatus")
          },
          modalClose2() {
            
            this.cancelleaves()
            setTimeout(() => {
            vm.getleavehistory()
            }, 3000);
            
            this.$modal.close()
            localStorage.removeItem("leavedate"),
            localStorage.removeItem("halfday"),
            localStorage.removeItem("leavetype"),
            localStorage.removeItem("paid"),
            localStorage.removeItem("dateapplied"),
            localStorage.removeItem("leavestatus")
          },
          cancelleaves(){
            vm.luding = 'visible'
            if(localStorage.getItem("ILMorGen").toLowerCase() === "gen"){
              http
              .request({
                url: localStorage.getItem("URL") + "CancelLeavesGen",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  NTID: localStorage.getItem("EmpID"),
                  LeaveDate:localStorage.getItem("leavedate"),
                  LeaveType:localStorage.getItem("leavetype")
                })
              })
              .then(response => {
                Toast.makeText("Successful cancel of leave.").show();
                  
              });

            } else {
              http
              .request({
              url: localStorage.getItem("URL") + "CancelLeavesv2",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
		            CN: localStorage.getItem("ClientName"),
                NTID: localStorage.getItem("EmpID"),
                LeaveDate:localStorage.getItem("leavedate"),
                LeaveType:localStorage.getItem("leavetype"),
                ID:vm.ID
              })
            })
            .then(response => {
               Toast.makeText("Successful cancel of leave").show();
                
            });
            }
            
          },
          getleavehistory() {
            // alert("gethistory")
                var date = new Date();
                var date = new Date(), y = date.getFullYear(), m = date.getMonth();
                var firstDay = new Date(y, m, 1);
                var lastDay = new Date(y, m + 1, 0);

                this.firstDay = moment(firstDay).format("YYYY-MM-DD");
                this.lastDay = moment(lastDay).format("YYYY-MM-DD");
                // console.log(this.firstDay)
                // console.log(this.lastDay)
                    http
                      .request({
                        url: localStorage.getItem("URL") + "showLeavesv2",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        content: JSON.stringify({
                           CN: localStorage.getItem("ClientName"),
                          NTID: localStorage.getItem("EmpID"),
                          Start_Date: this.firstDay,
                          End_Date: this.lastDay,
                        })
                      })
                      .then(response => {
                        this.leaves = response.content.toJSON().Leave;
                        for (
                          var i = 0;
                          i < response.content.toJSON().Leave.length;
                          i++
                        ) {
                          if (this.leaves[i].isHalfDay === "True") {
                            this.leaves[i].isHalfDay = "Yes"
                          }
                          else if (this.leaves[i].isHalfDay === "False")
                          this.leaves[i].isHalfDay = "No"
                        }

                        // alert(response.content.toJSON().data)
                        // console.log(response.content.toJSON().Leave);
                        // console.log(localStorage.getItem("NTID"));
                        // console.log(this.todate);
                        // vm.showholidays();
                        // vm.showleaves();
                      });
              },
              
          }})    
        }, 
        showholidays() {
          // alert("1")
                localStorage.removeItem("listofmyevents");
                localStorage.removeItem("listofmytotalevents");
                this.events.splice(0);
                http
                  .request({
                    url: localStorage.getItem("URL") + "ShowHolidaysv2",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN: localStorage.getItem("ClientName"),
                      EmpID: localStorage.getItem("EmpID")
                    })
                  })
                  .then(response => {
                    if (response.content.toJSON().Holidays !== null) {
                      for (
                        var i = 0;
                        i < response.content.toJSON().Holidays.length;
                        i++
                      ) {
                        this.totalevents.push({
                          Date: moment(
                            response.content.toJSON().Holidays[i].HolidayDate
                          ).format("ll"),
                          Type: response.content.toJSON().Holidays[i].Type
                        });
                        if (
                          response.content.toJSON().Holidays[i].Type === "Regular Holiday"
                        ) {
                          var startDate = new Date(
                            response.content.toJSON().Holidays[i].HolidayDate
                          );
                          var endDate = new Date(
                            response.content.toJSON().Holidays[i].HolidayDate
                          );
                          const event = new calendarModule.CalendarEvent(
                            response.content.toJSON().Holidays[i].HolidayName,
                            startDate,
                            endDate,
                            true,
                            new Color("red")
                          );
                          this.events.push(event);
                          // console.log(event)
                        } else {
                          var startDate = new Date(
                            response.content.toJSON().Holidays[i].HolidayDate
                          );
                          var endDate = new Date(
                            response.content.toJSON().Holidays[i].HolidayDate
                          );
                          const event = new calendarModule.CalendarEvent(
                            response.content.toJSON().Holidays[i].HolidayName,
                            startDate,
                            endDate,
                            true,
                            new Color("orange")
                          );
                          this.events.push(event);
                          // console.log(event)
                        }
                      }
                      // this.showleaves()
                    } else {
                      // this.showleaves()
                    }
                  });
                // this.showleaves();
              },
              showleaves() {
                // alert("2")
                http
                  .request({
                    url: localStorage.getItem("URL") + "ShowLeavesv2",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN: localStorage.getItem("ClientName"),
                      NTID: localStorage.getItem("EmpID")
                    })
                  })
                  .then(response => {
                    if (response.content.toJSON().Leave !== null) {
                      for (var i = 0; i < response.content.toJSON().Leave.length; i++) {
                        this.totalevents.push({
                          Date: moment(
                            response.content.toJSON().Leave[i].LeaveDate
                          ).format("ll"),
                          Type: response.content.toJSON().Leave[i].LeaveStatus
                        });
                        if (
                          response.content.toJSON().Leave[i].LeaveStatus === "Approved"
                        ) {
                          var startDate = new Date(
                            response.content.toJSON().Leave[i].LeaveDate
                          );
                          var endDate = new Date(
                            response.content.toJSON().Leave[i].LeaveDate
                          );
                          const event = new calendarModule.CalendarEvent(
                            response.content.toJSON().Leave[i].LeaveType,
                            startDate,
                            endDate,
                            true,
                            new Color("green")
                          );
                          this.events.push(event);
                        } else if (
                          response.content.toJSON().Leave[i].LeaveStatus === "Pending"
                        ) {
                          var startDate = new Date(
                            response.content.toJSON().Leave[i].LeaveDate
                          );
                          var endDate = new Date(
                            response.content.toJSON().Leave[i].LeaveDate
                          );
                          const event = new calendarModule.CalendarEvent(
                            response.content.toJSON().Leave[i].LeaveType,
                            startDate,
                            endDate,
                            true,
                            new Color("yellow")
                          );
                          this.events.push(event);
                        }
                      }
                      setTimeout(() => {
                        // let cal = Frame.topmost().getViewById('calendar');
                        // cal.reload()
                        // this.vloading = 'visible'
                        // this.vloading1 = 'hidden'
                      }, 1000);
                      // this.showavailableleaves()
                    } else {
                      setTimeout(() => {
                        // let cal = Frame.topmost().getViewById('calendar');
                        // cal.reload()
                        // this.vloading = 'visible'
                        // this.vloading1 = 'hidden'
                      }, 1000);
                    }
                  });
                
                setTimeout(() => {
                  localStorage.setItem("listofmyevents", JSON.stringify(this.events));
                  localStorage.setItem("listofmytotalevents", JSON.stringify(this.totalevents));
                  console.log(this.events)
                  console.log(this.totalevents)
                  this.luding = 'collapse'
                  // this.$navigateTo(this.LM, {clearHistory: true})
                  // Toast.makeText("Leave request sent").show();
                  }, 6000);
                
              },
  
  }
};
</script>

<style scoped>
.calendar {
  background-image: url("~/assets/images/ic_calendar.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
.search {
  background-image: url("~/assets/images/search.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% 50%;
}
.drop {
  background-image: url("~/assets/images/ic_dropdown.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
.formBox {
  border: 1px solid #2d5176;
  border-radius: 10px;
  background-color: #003366;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 5%;
}
</style>