<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'> 
    <ActionBar title="Audit Trail" color="#002851" flat="true" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" :visibility="vloading" android.systemIcon="ic_menu_back" @tap="backToProfile()"/>
    </ActionBar>
            <StackLayout orientation="vertical">
                <FlexboxLayout flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" >

                    <Label text="Filter By Date" color="white" fontWeight="700" padding="5" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                    <StackLayout orientation="horizontal" marginTop="5" marginRight="10" marginLeft="10">
                        <TextField
                        horizontalAlignment="right"
                        height="40"
                        width="50%"
                        fontSize="14" 
                        borderRadius="3" 
                        borderWidth="1" 
                        hint="From"
                        editable="false"
                        @focus="textfieldfocus"
                        @blur="textfieldblur"
                        class="calendar"
                        @tap="selectDateFrom"
                        backgroundColor="white" marginRight='5' v-model="calFrom" />
                        <TextField
                        horizontalAlignment="stretch"
                        height="40"
                        width="50%"
                        fontSize="14" 
                        borderRadius="3" 
                        borderWidth="1" 
                        hint="To"
                        editable="false"
                        @focus="textfieldfocus"
                        @blur="textfieldblur"
                        class="calendar"
                        @tap="selectDateTo"
                        backgroundColor="white" marginRight='5' v-model="calTo" />
                    </StackLayout>
                    <StackLayout marginRight="10" marginTop="5" marginBottom="5">
                        <Button @tap="getAuditTrail()" borderRadius="3" height="40" width="40" class="search"  text="" backgroundColor="#f1c40f" horizontalAlignment="right"/>
                    </StackLayout>
                </FlexboxLayout>

                <FlexboxLayout height="100%" flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="5" marginBottom="5"  borderRadius="5" borderWidth="2" >
                    <!-- <Label height="auto" text="Audit Trail" color="white" fontWeight="700" padding="5" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" /> -->
                      <GridLayout>
                        <StackLayout orientation="vertical" row="0">
                          <FlexboxLayout>
                              <Label paddingLeft="3" color="white" text="Date" class="p-5" height="30" width="30%" marginRight="1" backgroundColor="#2d5176"></Label>
                              <Label paddingLeft="3" color="white"  text="Time" class="p-5" textWrap="true" width="20%" marginRight="1" backgroundColor="#2d5176"   ></Label>
                              <Label paddingLeft="3" color="white"  text="Category" textWrap="true"  paddingTop="4" flexGrow="5" width="25%"  backgroundColor="#2d5176"  ></Label>
                              <Label paddingLeft="3" color="white"  text="Remarks" marginLeft="1" textWrap="true"   width="25%" paddingTop="4"  backgroundColor="#2d5176"  ></Label>
                          </FlexboxLayout>
                        </StackLayout>

                        <StackLayout row="1" :visibility="vloading1" orientation="vertical" verticalAlignment="center" horizontalAlignment="center" opacity='0.6'  height="100%" width="100%">
                          <ActivityIndicator :isCollapsed="actvisible" busy="true"
                            color="white" height="60%" width="20%"
                            verticalAlignment="center"
                            />
                            <Label  verticalAlignment="center"  height="100%" width="100%"  fontSize="14" text="Loading.. Please wait..." color="white" marginLeft="60%"/>
                        </StackLayout>

                        <ScrollView row="1" orientation="vertical" height="90%">
                          <StackLayout orientation="vertical">
                            <StackLayout orientation="horizontal" backgroundColor="#2d5176" v-for="(audit, indexAudit) in auditTrails" :key="audit['.key']" @tap="auditModal(indexAudit)">
                              <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" width="30%" marginRight="1"  backgroundColor="#003366">{{ audit.MODIFIEDDATE }}</Label>
                              <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" width="20%" textWrap="true"  marginRight="1"   backgroundColor="#003366">{{ audit.MODIFIEDTIME }}</Label>
                              <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" textWrap="true"  width="25%"  backgroundColor="#003366">{{ audit.CATEGORY }}</Label>
                              <Label paddingLeft="3"  marginBottom="1" paddingTop="4" paddingBottom="4" color="white" text="Successful" marginLeft="1" width="25%" textWrap="true"   backgroundColor="#003366"></Label>
                            </StackLayout>
                          </StackLayout>
                        </ScrollView>

                      </GridLayout>
                       

                        

                        
                    
                </FlexboxLayout>
            </StackLayout>
    </Page>
</template>
<script>
const ModalPicker = require("nativescript-modal-datetimepicker")
  .ModalDatetimepicker;
const picker = new ModalPicker();
import { topmost } from "ui/frame";
import * as http from "tns-core-modules/http";
var orientation = require("nativescript-orientation");
var moment = require("moment");
import profile from "../Profile/Profile.vue"
export default {
  data() {
    return {
      calFrom: '',
      calTo: '',
      vloading: "hidden",
      vloading1: "visible",
      auditTrails: [],
      Prof: profile,
    }
  },
  created() {
    this.loadAuditTrail()
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        topmost().android.currentActivity ||
        topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here
         this.$navigateTo(this.Prof, {clearHistory: true})
        // topmost().goBack();
      };
    },
    backToProfile() {
      this.$navigateTo(this.Prof, {clearHistory: true})
      localStorage.removeItem("auditTrailsRecord")
      localStorage.removeItem("auditID")
    },
    selectDateFrom() {
      picker
        .pickDate({
          title: "Select Date",
          theme: "dark",
          maxDate: new Date()
        })
        .then(result => {
          // Note the month is 1-12 (unlike js which is 0-11)
          this.calFrom = moment(result.year + "-" + result.month + "-" + result.day).format("YYYY-MM-DD");
          console.log(
            "Date is: " + result.day + "-" + result.month + "-" + result.year
          );
          this.calTo = ''
          var jsdate = new Date(result.year, result.month - 1, result.day);
        })
        .catch(error => {
          console.log("Error: " + error);
        });
    },
    selectDateTo() {
      picker
        .pickDate({
          title: "Select Date",
          theme: "dark",
          minDate:new Date(this.calFrom)
        })
        .then(result => {
          // Note the month is 1-12 (unlike js which is 0-11)
          this.calTo = moment(result.year + "-" + result.month + "-" + result.day).format("YYYY-MM-DD");
          console.log(
            "Date is: " + result.day + "-" + result.month + "-" + result.year
          );
          var jsdate = new Date(result.year, result.month - 1, result.day);
        })
        .catch(error => {
          console.log("Error: " + error);
        });
    },
    loadAuditTrail() {
      http.request({
        url: localStorage.getItem('URL') + 'GetDHRAuditTrailv2',
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          CN: localStorage.getItem("ClientName"),
          EmpID: localStorage.getItem("EmpID"),
          DATEFROM: '2018-01-01',
          DATETO: new Date()
        })
      }).then(response => {
        console.log(response.content.toJSON())
        this.auditTrails = response.content.toJSON()
        localStorage.setItem('auditTrailsRecord', response.content.toJSON())
        for (var i = 0; i < response.content.toJSON().length; i++ ) {
        var timeMoTo =  this.auditTrails[i].MODIFIEDDATE = moment(this.auditTrails[i].MODIFIEDDATE).format(
              "YYYY-MM-DD"
            );
        }
      }).then(response => {
        setTimeout(() => {
          this.vloading = "visible";
          this.vloading1 = "collapse";
        }, 3000);
      })
    },
    getAuditTrail() {
      this.vloading1 = 'visible'
      http.request({
        url: localStorage.getItem('URL') + 'GetDHRAuditTrailv2',
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          CN: localStorage.getItem("ClientName"),
          EmpID: localStorage.getItem("EmpID"),
          DATEFROM: this.calFrom,
          DATETO: this.calTo
        })
      }).then(response => {
        console.log(response.content.toJSON())
        this.auditTrails = response.content.toJSON()
        localStorage.setItem('auditTrailsRecord', response.content.toJSON())
        for (var i = 0; i < response.content.toJSON().length; i++ ) {
        var timeMoTo =  this.auditTrails[i].MODIFIEDDATE = moment(this.auditTrails[i].MODIFIEDDATE).format(
              "YYYY-MM-DD"
            );
        }
      }).then(response => {
        setTimeout(() => {
          this.vloading1 = "collapse";
        }, 3000);
      })
    },
    auditModal(indexAudit) {
      localStorage.setItem("auditID", indexAudit)
      this.showAuditModal()
    },
    showAuditModal() {
      // alert(localStorage.getItem("auditID"))
      this.$showModal({
        template: `
        <Page>
          <StackLayout orientation="vertical" width="100%" height="auto">
            <Label text="Audit Details" height="40" fontSize="14" paddingTop="10" backgroundColor="#003366" textAlignment="center" color="white" verticalAlignment="center"  />
            <FlexboxLayout flexDirection="column" class="p-10">
                <FlexboxLayout class="m-b-5">
                  <Label text="Date and Time:" style="font-weight:500" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                  <Label :text="auditTrails.MODIFIEDDATE " class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="30%"/>
                  <Label :text="auditTrails.MODIFIEDTIME" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="20%"/>
                </FlexboxLayout>

                <FlexboxLayout class="m-b-5">
                  <Label text="Category:" style="font-weight:500" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                  <Label :text="auditTrails.CATEGORY" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                </FlexboxLayout>

                <FlexboxLayout class="m-b-5">
                  <Label text="Remarks:" style="font-weight:500" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                  <Label text="Successful" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                </FlexboxLayout>

                <FlexboxLayout class="m-b-5">
                  <Label text="Modified From:" style="font-weight:500" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                  <Label :text="auditTrails.CHANGEFROM" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                </FlexboxLayout>

                <FlexboxLayout class="m-b-5">
                  <Label text="Modified To:" style="font-weight:500" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                  <Label :text="auditTrails.CHANGETO" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                </FlexboxLayout>

                <FlexboxLayout class="m-b-5">
                  <Label text="Modified By:" style="font-weight:500" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                  <Label :text="auditTrails.MODIFIEDBYNAME" class="m-t-10" fontSize="14" textAlignment="left" color="#003366" width="50%"/>
                </FlexboxLayout>
              </FlexboxLayout>

              <StackLayout android:horizontalAlignment="right" orientation="horizontal" > 
                <Button  @tap="$modal.close" text="OK" textAlignment="center" backgroundColor="#fff" color="#003366" />
              </StackLayout>
          </StackLayout>
        </Page>
        `,
        data() {
          return {
            auditTrails: []
          }
        },
        created() {
          this.loadAuditTrails()
        },
        methods: {
          loadAuditTrails() {
            const idMoTo = localStorage.getItem("auditID")
            var audID = localStorage.getItem("auditTrailsRecord")
            this.auditTrails = audID[idMoTo]
            console.log(audID[idMoTo])
          }
        }
      })
    }
  }
};

</script>

<style scoped>
.calendar {
  background-image: url("~/assets/images/ic_calendar.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 40 40;
}
.search {
  background-image: url("~/assets/images/search.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% 50%;
}
Label {
  font-size:12px;
}
</style>