<template>
  <Page class="page" @loaded='backbtn();loadmo()'>
    <ActionBar title="Company Profile View">
        <NavigationButton text="Go Back" :visibility="vloading" android.systemIcon="ic_menu_back" @tap="back"/>
    </ActionBar>
    <GridLayout rows="auto,*">
      <TabView :selectedIndex="selectedIndex" row="1" tabBackgroundColor="#002851" tabTextColor="#fff" selectedTabTextColor="#fff">
          
          <!-- GENERAL INFORMATION -->
          <TabViewItem title="General Information">
            <ScrollView orientation="vertical">
              <StackLayout orientation="vertical" class="m-10">
                <FlexboxLayout flexDirection="column">
                  <Label text="Office" class="m-b-10"/>
                  <TextField editable="false" :text="branchID.OfficeType" height="40"/>
                  <Label text="Office Name" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.OfficeName" height="40"/>
                  <Label text="Trading Name" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.TradingName" height="40"/>
                  <Label text="Registration Number" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.CompanyRegistrationNo" height="40"/>
                  <Label text="Date of Registration" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.DateOfRegistration" height="40"/>
                </FlexboxLayout>
              </StackLayout>
            </ScrollView>
          </TabViewItem>

          <!-- ADDRESS -->
          <TabViewItem title="Address">
            <ScrollView orientation="vertical">
              <StackLayout orientation="vertical" class="m-10">
                <FlexboxLayout flexDirection="column">
                  <Label text="Office" class="m-b-10"/>
                  <TextField editable="false" :text="branchID.OfficeType" height="40"/>
                  <Label text="Office Name" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.OfficeName" height="40"/>
                  <Label text="Unit/Fl#" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.AddUnitFloor" height="40"/>
                  <Label text="Bldg" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.AddBldg" height="40"/>
                  <Label text="Street" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.AddStreet" height="40"/>
                  <Label text="Barangay" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.AddBarangay" height="40"/>
                  <Label text="Municipality" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.AddMunicipality " height="40"/>
                  <Label text="City" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.AddCity" height="40"/>
                  <Label text="Region" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.AddRegion" height="40"/>
                  <Label text="Country" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.AddCountry" height="40"/>
                  <Label text="ZipCode" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.AddZipCode" height="40"/>
                </FlexboxLayout>
              </StackLayout>
            </ScrollView>
          </TabViewItem>

          <!-- CONTACT -->
          <TabViewItem title="Contact">
            <ScrollView orientation="vertical">
              <StackLayout orientation="vertical" class="m-10">
                <FlexboxLayout flexDirection="column">
                  <Label text="Office" class="m-b-10"/>
                  <TextField editable="false" :text="branchID.OfficeType" height="40"/>
                  <Label text="Office Name" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.OfficeName" height="40"/>
                  <Label text="Company Phone" class="m-y-10"/>
                  <TextField editable="false" v-model="CompanyPhone" height="40"/>
                  <Label text="Phone Number" class="m-y-10"/>
                  <TextField editable="false" v-model="PhoneNumber" height="40"/>
                  <Label text="Company Email" class="m-y-10"/>
                  <TextField editable="false" v-model="CompanyEmail" height="40"/>
                  <Label text="Email" class="m-y-10"/>
                  <TextField editable="false" v-model="Email" height="40"/>
                </FlexboxLayout>
              </StackLayout>
            </ScrollView>
          </TabViewItem>

          <!-- GOVERNMENT ID -->
          <TabViewItem title="Government ID">
            <ScrollView orientation="vertical">
              <StackLayout orientation="vertical" class="m-10">
                <FlexboxLayout flexDirection="column">
                  <Label text="Office" class="m-b-10"/>
                  <TextField editable="false" :text="branchID.OfficeType" height="40"/>
                  <Label text="Office Name" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.OfficeName" height="40"/>
                  <Label text="SSS" class="m-y-10"/>
                  <TextField width="50%" editable="false" :text="branchID.Sss" height="40"/>
                  <Label text="PhilHealth" class="m-y-10"/>
                  <TextField width="50%" editable="false" :text="branchID.Philhealth" height="40"/>
                  <Label class="borderBrk" borderColor="#fff"/>
                  <Label text="Bureau of Internal Revenue" color="#bec5d1" class="m-y-10"/>
                  <Label text="TIN" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.Tin" height="40"/>
                  <Label text="RDO" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.RDOCode" height="40"/>
                  <Label class="borderBrk" borderColor="#fff"/>
                  <Label text="Pag-IBIG" color="#bec5d1" class="m-y-10"/>
                  <Label text="No." class="m-y-10"/>
                  <TextField editable="false" :text="branchID.Pagibig" height="40"/>
                  <Label text="Branch Code" class="m-y-10"/>
                  <TextField editable="false" :text="branchID.PagibigCode" height="40"/>
                </FlexboxLayout>
              </StackLayout>
            </ScrollView>
          </TabViewItem>
      </TabView>
      
      <StackLayout :visibility="vloading1" row="1" orientation="vertical" verticalAlignment="center" horizontalAlignment="center" 
        opacity='0.6' backgroundColor="black" borderRadius="6" height="50" width="50">
          <ActivityIndicator :isCollapsed="actvisible" busy="true"
          color="white" height="100%" width="100%"
          verticalAlignment="center"  />
          <Label  verticalAlignment="center"  height="100%" width="100%"  fontSize="14" text="Loading.. Please wait..." color="white" marginLeft="60%"/>
      </StackLayout>
    </GridLayout>

  </Page>
</template>

<script>
import * as http from "tns-core-modules/http";
import { topmost } from "ui/frame";
var orientation = require("nativescript-orientation");
import companyprofile from "../Profile/CompanyProfile.vue"

export default {
  data() {
    return {
      OfficeType: "",
      OfficeName: "",
      TradingName: "",
      CompanyRegistrationNo: "",
      DateOfRegistration: "",
      AddUnitFloor: "",
      AddBldg: "",
      AddStreet: "",
      AddBarangay: "",
      AddMunicipality: "",
      AddCity: "",
      AddRegion: "",
      AddCountry: "",
      AddZipCode: "",
      Sss: "",
      Philhealth: "",
      Tin: "",
      RDOCode: "",
      Pagibig: "",
      PagibigCode: "",
      CompanyPhone: "",
      PhoneNumber: "",
      CompanyEmail: "",
      Email: "",
      branchID: [],
      vloading: "hidden",
      vloading1: "visible",
      CP: companyprofile,
    };
  },
  created() {
    this.loadCompanyProfileView();
    this.loadCompanyContact();
    this.loadCompanyEmail();
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        topmost().android.currentActivity ||
        topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here
         this.$navigateTo(this.CP, {clearHistory: true})
        // topmost().goBack();
      };
    },
    loadCompanyProfileView() {
      http
        .request({
          url: localStorage.getItem("URL") + "GetDB",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            ClientName: localStorage.getItem("ClientName")
          })
        })
        .then(response => {
          http
            .request({
              url: localStorage.getItem("URL") + "GetCompanyProfile",
              method: "POST",
              headers: { "Content-type": "application/json" }
            })
            .then(response => {
              const idMoTo = localStorage.getItem("branchID");
              console.log(idMoTo)
              var bID = response.content
                .toJSON()
                .CompanyProfile.find(
                  res => res.BranchID === localStorage.getItem("branchID")
                );
              console.log(bID);
              this.branchID = bID;
            });
        });
      setTimeout(() => {
        this.vloading = "visible";
        this.vloading1 = "hidden";
      }, 3000);
    },
    loadCompanyContact() {
      http
        .request({
          url: localStorage.getItem("URL") + "GetDB",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            ClientName: localStorage.getItem("ClientName")
          })
        })
        .then(response => {
          http
            .request({
              url: localStorage.getItem("URL") + "GetCompanyProfileContact",
              method: "POST",
              headers: { "Content-type": "application/json" },
              content: JSON.stringify({
                BranchID: localStorage.getItem("branchID")
              })
            })
            .then(response => {
              this.CompanyPhone = response.content.toJSON().GetCompanyProfileContactView[0].ContactNumber;
              this.Phone = response.content.toJSON().GetCompanyProfileContactView[0].PhoneType;
            });
        });
    },
    loadCompanyEmail() {
      http
        .request({
          url: localStorage.getItem("URL") + "GetDB",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            ClientName: localStorage.getItem("ClientName")
          })
        })
        .then(response => {
          http
            .request({
              url: localStorage.getItem("URL") + "GetCompanyProfileEmail",
              method: "POST",
              headers: { "Content-type": "application/json" },
              content: JSON.stringify({
                BranchID: localStorage.getItem("branchID")
              })
            })
            .then(response => {
              this.CompanyEmail = response.content.toJSON().GetCompanyProfileEmailView[0].Emailtxt;
              this.Email = response.content.toJSON().GetCompanyProfileEmailView[0].EmailType;
            });
        });
    },
    back() {
      localStorage.removeItem("branchID");
      this.$navigateTo(this.CP, {clearHistory: true})
    }
  }
};
</script>



<style scoped>
ActionBar {
  background-color: #f1c40f;
  color: #002851;
}
Page {
  background-color: #002851;
}
TextField {
  background-color: #fff;
  color: black;
  font-size: 14px;
  height: 40px;
}

label {
  color: white;
}
.borderBrk {
  border-width: 0, 0, 1, 0;
}
Label {
  font-size: 12px;
}
.m-10 {
  margin: 20px;
}
.m-b-10 {
  margin-top: 15px;
  margin-bottom: 10px;
}
.m-y-10 {
  margin-top: 15px;
  margin-bottom: 10px;
}
</style>
