<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'> 
    <ActionBar title="Company Profile View" flat="true" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" :visibility="vloading" android.systemIcon="ic_menu_back" @tap="$navigateTo(Prof, {clearHistory: true})"/>
    </ActionBar>
    <GridLayout rows="auto,*">
        <StackLayout orientation="vertical" row="1">
            <FlexboxLayout flexDirection="column" height="95%"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="20"  borderRadius="5" borderWidth="2" >
                <Label text="Company Profile List" textAlignment="center" color="white" fontWeight="700" padding="5" paddingLeft="10" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                <StackLayout orientation="vertical">
                    <FlexboxLayout>
                      <Label paddingLeft="3" color="white"  text="Office" width="50%" marginRight="1"   backgroundColor="#2d5176"></Label>
                      <Label paddingLeft="3" color="white"  text="Office Name" paddingTop="4" textWrap="true"  paddingBottom="4" width="50%" backgroundColor="#2d5176"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout backgroundColor="#2d5176" v-for="compList in companyProfileView" :key="compList['.key']">
                      <Label paddingLeft="3"  marginBottom="1"
                        paddingTop="4" paddingBottom="4" 
                        color="white" width="50%" marginRight="1" 
                        backgroundColor="#003366" @tap="viewProfile(compList.BranchID)">{{compList.OfficeType}}</Label>
                      
                      <Label paddingLeft="3"  marginBottom="1"
                        paddingTop="4" paddingBottom="4" 
                        color="white" width="50%" textWrap="true"  
                        backgroundColor="#003366" @tap="viewProfile(compList.BranchID)">{{compList.OfficeName}}</Label>
                    </FlexboxLayout>
                </StackLayout>
            </FlexboxLayout>
        </StackLayout>

        <StackLayout :visibility="vloading1" row="1" orientation="vertical" verticalAlignment="center" horizontalAlignment="center" opacity='0.6'
          backgroundColor="black" borderRadius="6" height="50" width="50">
            <ActivityIndicator :isCollapsed="actvisible" busy="true"
            color="white" height="100%" width="100%"
            verticalAlignment="center"  />
            <Label  verticalAlignment="center"  height="100%" width="100%"  fontSize="14" text="Loading.. Please wait..." color="white" marginLeft="60%"/>
        </StackLayout>
    </GridLayout>
        
        
    </Page>
</template>

<script>
import * as http from "tns-core-modules/http";
import { topmost } from "ui/frame";
var orientation = require("nativescript-orientation");
import companyprofview from "../Profile/company_profile_view.vue"
import profile from './Profile.vue';


export default {
  data() {
    return {
      companyProfileView: [],
      vloading: "hidden",
      vloading1: "visible",
      Prof: profile,
      CPV: companyprofview,
    };
  },
  created() {
    this.loadCompanyProfile();
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        topmost().android.currentActivity ||
        topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here
         this.$navigateTo(this.Prof, {clearHistory: true})
        // topmost().goBack();
      };
    },
    loadCompanyProfile() {
      http.request({
        url: localStorage.getItem("URL") + "GetCompanyProfilev2",
        method: "POST",
        headers: { "Content-type": "application/json" },
        content: JSON.stringify({
          CN: localStorage.getItem("ClientName"),
          loginID: localStorage.getItem("EmpID")
        })
      }).then(response => {
        this.companyProfileView = response.content.toJSON().CompanyProfile;
      });
      setTimeout(() => {
        // let cal = topmost().getViewById('calendar');
        // cal.reload()
        this.vloading = "visible";
        this.vloading1 = "hidden";
      }, 3000);
    },
    viewProfile(compList) {
      localStorage.setItem("branchID", compList);
      this.$navigateTo(this.CPV, {clearHistory: true})
    }
  }
};
</script>

<style scoped>
.page {
  background-color: #002851;
}

.barColor {
  background-color: #f1c40f;
}

.formBox {
  border: 1px solid #2d5176;
  border-radius: 10px;
  background-color: #003366;
  padding: 50px;
  margin: 20px;
}

.labelColor {
  color: white;
}

.btnFill {
  background-color: #f1c40f;
  color: #002851;
}

.padding {
  padding-top: 20%;
}

.textColor {
  background-color: white;
}

.textColor1 {
  background-color: white;
  margin-left: 20px;
}
Label {
  font-size: 12px;
}
</style>