<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'> 
    <ActionBar title="Profile" color="#002851" flat="true"  backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(DB, {clearHistory: true})"/>
    </ActionBar>
     <ScrollView orientation="vertical">
        <StackLayout orientation="vertical">

         
          <FlexboxLayout flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" >
            <GridLayout v-for="personal in personalView" :key="personal"  rows="auto,*" columns="auto,*">
              <Label fontSize='12' verticalAlignment="center" :class="personal.Class" text="" @tap="navigateProfile(personal.Function)" :text="personal.Name" color="white"  padding="5" paddingLeft="50" paddingTop="15" paddingBottom="15" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
            </GridLayout>     
          </FlexboxLayout> 

        </StackLayout>
      </ScrollView>
  </Page>
</template>
<script>
import * as http from "tns-core-modules/http";
import Toast from "nativescript-toast";
import { topmost } from "ui/frame";
var orientation = require("nativescript-orientation");

import dashboard from "../Dashboard.vue"
import audittrail from "../Profile/AuditTrail.vue"
import companyprofile from "../Profile/CompanyProfile.vue"
import personalinfo from "../Profile/personnel_information.vue"
import signatorydetails from "../Profile/signatory_details.vue"

export default {
  data() {
    return {
     DB: dashboard,
     AT: audittrail,
     CP: companyprofile,
     PI: personalinfo,
     SD: signatorydetails,
     personalView: [],
    };
  },
  created() {
    this.loadPersonalInfo();
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        topmost().android.currentActivity ||
        topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here
         this.$navigateTo(this.DB, {clearHistory: true})
        // topmost().goBack();
      };
    },
    navigateProfile(a) {
      if(a === "Personal_Info") {
        this.$navigateTo(personalinfo, {clearHistory: true})
      } 
      else if  (a === "Company_Profile"){
        this.$navigateTo(companyprofile, {clearHistory: true})
      }
      else if  (a === "Audit_Trail"){
        this.$navigateTo(audittrail, {clearHistory: true})
      }
      else if  (a === "Exit"){
        this.$navigateTo(dashboard, {clearHistory: true})
      }
    },
    loadPersonalInfo() {
      if (localStorage.getItem("ClientName").toLowerCase() === 'ilm'){
        http.request({
        url: localStorage.getItem("URL") + "GetAllAccess",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          CN : localStorage.getItem("ClientName"),
          EmpID : localStorage.getItem("EmpID"),
          Function : "Profile",
          })
        }).then(response => {
          for(var i = 0; i < response.content.toJSON().Access.length; i++) {
            var result = response.content.toJSON().Access;
            var param = response.content.toJSON().Access[i].Parameter.toLowerCase()
            if(response.content.toJSON().Access[i].Parameter.toLowerCase() === "personal information" ||
              response.content.toJSON().Access[i].Parameter.toLowerCase() === "company profile view" ||
              response.content.toJSON().Access[i].Parameter.toLowerCase() === "audit trail" ||
              response.content.toJSON().Access[i].Parameter.toLowerCase() === "exit") {
              this.personalView.push({
                Name : response.content.toJSON().Access[i].Parameter,
                Class : param === "personal information" ? "info" :
                  param === "company profile view" ? "company_profile" : 
                  param === "audit trail" ? "sched" : "exit",
                Function : param === "personal information" ? "Personal_Info" :
                  param === "company profile view" ? "Company_Profile" :
                  param === "audit trail" ? "Audit_Trail" : "Exit"
              })
            }
          }
        })
      }
      else{
        http.request({
        url: localStorage.getItem("URL") + "GetAllAccess",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          CN : localStorage.getItem("ClientName"),
          EmpID : localStorage.getItem("EmpID"),
          Function : "Prof",
          })
        }).then(response => {
          for(var i = 0; i < response.content.toJSON().Access.length; i++) {
            var result = response.content.toJSON().Access;
            var param = response.content.toJSON().Access[i].Parameter.toLowerCase()
            if(response.content.toJSON().Access[i].Parameter.toLowerCase() === "personnel information" ||
              response.content.toJSON().Access[i].Parameter.toLowerCase() === "company profile view" ||
              response.content.toJSON().Access[i].Parameter.toLowerCase() === "audit trail" ||
              response.content.toJSON().Access[i].Parameter.toLowerCase() === "exit") {
              this.personalView.push({
                Name : response.content.toJSON().Access[i].Parameter,
                Class : param === "personnel information" ? "info" :
                  param === "company profile view" ? "company_profile" : 
                  param === "audit trail" ? "sched" : "exit",
                Function : param === "personnel information" ? "Personal_Info" :
                  param === "company profile view" ? "Company_Profile" :
                  param === "audit trail" ? "Audit_Trail" : "Exit"
              })
            }
          }
        })
      }
      
    },
    alert() {
      Toast.makeText("Working on it.", "long").show();
    }
  }
};
</script>

<style scoped>
Label {
  font-size: 12px;
}
.sched {
  background-image: url("~/assets/images/menu_audit_trail.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.info {
  background-image: url("~/assets/images/menu_personnel_info.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.exit {
  background-image: url("~/assets/images/menu_exit.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.company_profile {
  background-image: url("~/assets/images/menu_company_profile.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}

.benefits {
  background-image: url("~/assets/images/menu_benefits.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
</style>
