<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
    <ActionBar title="Signatory Details" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(Prof, {clearHistory: true})"/>
    </ActionBar>
 
      <StackLayout class="m-10">
        <StackLayout class="accordion" borderRadius="5" borderWidth="2" margin="1" >
          <StackLayout  orientation="horizontal">
            <Label textAlignment="center" color="white" fontSize="12" text="Forms" textWrap="true" width="100%" backgroundColor="#2d5176"  ></Label>
          </StackLayout>
          <ScrollView orientation="vertical" height="85%">
            <!-- loob ng box -->
            <StackLayout v-for="listofforms in forms"  backgroundColor="#003366"  :id='"flex" + listofforms.ID'  borderColor="#2d5176"  marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" :key="listofforms['.key']" >
                            <GridLayout height='40' @tap='pinalitanka(listofforms.ID,listofforms.formtypes)'>
                              <Label fontSize='14' row='1' :text="listofforms.formtypes" color="white" fontWeight="700" padding="10" width="100%" />
                              <Image src="~/assets/images/angle-down.png" row='1' id='img0' horizontalAlignment='right' height='25' width='25' marginRight='8'/>
                            </GridLayout>
                            <StackLayout :id='"stack" + listofforms.ID' marginLeft='10' visibility='collapse' marginTop='15' marginRight='10' marginBottom='15'>
                              <StackLayout orientation="vertical">
                                      <StackLayout  orientation="horizontal" >
                                                  <Label textAlignment="center" paddingLeft="3" color="white" fontSize="12" text="ID's" textWrap="true" paddingTop="4" paddingBottom="4" width="40%" marginRight="1" backgroundColor="#2d5176"  ></Label>
                                                  <Label textAlignment="center" paddingLeft="3" color="white" fontSize="12" text="Auto-Sign" textWrap="true" paddingTop="4" paddingBottom="4" width="20%" marginRight="1" backgroundColor="#2d5176" ></Label>
                                                  <Label textAlignment="center" paddingLeft="3" color="white" fontSize="12" text="Sign with Permission" textWrap="true"  paddingTop="4" paddingBottom="4" marginRight="1" flexGrow="5" width="20%" backgroundColor="#2d5176"  ></Label>
                                                  <Label textAlignment="center" paddingLeft="3" color="white" fontSize="12" text="Print to Sign" textWrap="true"  paddingTop="4" paddingBottom="4" flexGrow="5" width="20%" backgroundColor="#2d5176"  ></Label>  
                                      </StackLayout>
                                      <!-- List of data -->
                                            <ScrollView orientation="vertical" height="auto">
                                              <StackLayout orientation="vertical">
                                                  <StackLayout v-for='allf in allforms'  orientation="horizontal" backgroundColor="#2d5176" height="auto" :key="allf['.key']">
                                                          <Label paddingLeft="3" color="white" fontSize="12" :text="allf.FORMNAME" textWrap="true" paddingTop="4"  width="40%" marginRight="1" marginBottom="1" backgroundColor="#003366"  ></Label>
                                                              <StackLayout horizontalAlignment="center" color="white"  marginLeft="1" marginBottom="1" width="20%" backgroundColor="#003366" >
                                                                  <Switch :id="allf.FORMID+'1'" v-bind:checked="allf.AUTOSIGNED" @tap="checker($event,allf,'autosig')" ></Switch>
                                                              </StackLayout>
                                                              <StackLayout horizontalAlignment="center" color="white"  marginLeft="1" marginBottom="1" width="20%" backgroundColor="#003366" >
                                                                  <Switch :id="allf.FORMID+'2'" v-bind:checked="allf.SIGNWITHPERMIT" @tap="checker($event,allf,'sigpermit')" ></Switch>
                                                              </StackLayout>
                                                              <StackLayout horizontalAlignment="center" color="white"  marginLeft="1" marginBottom="1" width="20%" backgroundColor="#003366" >
                                                                  <Switch :id="allf.FORMID+'3'" v-bind:checked="allf.PRINTTOSIGN" @tap="checker($event,allf,'printtosig')" ></Switch>
                                                              </StackLayout>
                                                  </StackLayout>
                                              </StackLayout>
                                              </ScrollView>
                                              <!-- End of List of data-->
                              </StackLayout> 
                            </StackLayout>
            </StackLayout>
            
          </ScrollView>
            <Button borderRadius="3" height="40" width='40' fontSize="12" @tap="updatesignatory()" backgroundColor="#f1c40f" class='saved' horizontalAlignment="right" verticalAlignment="bottom"/>
        </StackLayout>
      </StackLayout>
    
      
 
  </Page>
</template>
<script>
import * as http from "tns-core-modules/http";
import { topmost } from "ui/frame";
import * as Toast from "nativescript-toast";
var orientation = require("nativescript-orientation");
var moment = require("moment");
import profile from './Profile.vue';

export default {
  components: {},
  data() {
    return {
      // form:[],
      forms: [],
      listform: [],
      allforms: [],
      mylist: [],
      slist: [],
      mydata: [],
      show: false,
      show2: false,
      isActive: false,
      updatelist: [],
      Prof: profile,
    };
  },
  created: function() {
    this.getsignatory();
  },
  methods: {
    pinalitanka(e, a) {
      this.allforms = this.listform.filter(res => res.FORMTYPES === a);
      // console.log(this.allforms)
      for (var o = 0; o < this.forms.length; o++) {
        var stack = topmost().getViewById("stack" + o);
        var flex = topmost().getViewById("flex" + o);
        var img = topmost().getViewById("img" + o);
        if (e === o && stack.visibility === "visible") {
          stack.visibility = "collapse";
        } else if (e === o) {
          stack.visibility = "visible";
        } else {
          stack.visibility = "collapse";
        }
      }
    },
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        topmost().android.currentActivity ||
        topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        // topmost().goBack();
        this.$navigateTo(this.Prof, {clearHistory: true})
      };
    },
    showmo() {
      this.show = !this.show;
      this.show2 = false;
    },
    showmo2() {
      this.show = false;
      this.show2 = !this.show2;
    },
    getsignatory() {
      http
        .request({
          url: localStorage.getItem("URL") + "GetDHRProfileSignatoryv1",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            CN: localStorage.getItem("ClientName"),
            LoginID: localStorage.getItem("EmpID")
          })
        })
        .then(response => {
          if (response.content.toJSON().ProfileSignatoryList = 'null')
          {
            Toast.makeText("No Forms to Display.").show();
          }
          var o = 0;
          for (
            var i = 0;
            i < response.content.toJSON().ProfileSignatoryList.length;
            i++
          ) {
            var formtypes = this.forms.find(
              res =>
                res.formtypes ===
                response.content.toJSON().ProfileSignatoryList[i].FORMTYPES
            );
            this.listform.push(
              response.content.toJSON().ProfileSignatoryList[i]
            );
            // console.log(formtypes)
            if (formtypes === undefined) {
              this.forms.push({
                formtypes: response.content.toJSON().ProfileSignatoryList[i]
                  .FORMTYPES,
                ID: o
              });
              o++;
            }
          }
          // console.log(this.forms)
        });
    },
    updatesignatory() {
      if (this.updatelist.length == 0) {
        Toast.makeText("Nothing to save").show();
      } else {
        for (var i = 0; i < this.updatelist.length; i++) {
          http
            .request({
              url: localStorage.getItem("URL") + "UpdateDHRProfileSignatoryv1",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem("ClientName"),
                LOGINID: localStorage.getItem("EmpID"),
                FORMID: this.updatelist[i].id,
                ISCHECKED: this.updatelist[i].check,
                AUTOSIGNED: this.updatelist[i].auto,
                SIGNWITHPERMIT: this.updatelist[i].permit,
                PRINTTOSIGN: this.updatelist[i].print
              })
            })
            .then(response => {
              Toast.makeText("Saved successfully").show();
            })
            .catch(err => {
              this.vloading = "hidden";
              Toast.makeText("Connection timed out. Please try again.").show();
              console.log("Error -> " + err.message);
            });
        }
      }
      // this.getsignatory()
    },
    checker(args, a, sig) {
      var page = args.object;
      var switchValue = args.object;
      switchValue.checked = switchValue.checked;
      var myautosign;
      var mysignwithpermit;
      var myprinttosign;
      var myformid = switchValue.id;

      // this.allforms.splice('2243', 1);
      // this.updatelist.splice('2243', 1);
      for (var i = 0; i < this.updatelist.length; i++)
        if (this.updatelist[i].id === a.FORMID) {
          this.updatelist.splice(this.updatelist[i], 1);
          // console.log('meron')
        }
      for (var i = 0; i < this.updatelist.length; i++)
        if (this.updatelist[i].id === a.FORMID) {
          this.updatelist.splice(this.updatelist[i], 1);
          // console.log('meron')
        }

      if (sig === "autosig") {
        if (switchValue.checked === true) {
          // var mysign = this.allforms.find(res => res.FORMID === a.FORMID);
          // console.log(mysign.FORMID)
          // // mysign.AUTOSIGNED = false
          // mysign.SIGNWITHPERMIT = false
          // mysign.PRINTTOSIGN = false
          topmost().getViewById(a.FORMID + "2").checked = false;
          topmost().getViewById(a.FORMID + "3").checked = false;

          // console.log(this.updatelist)
          var pushsign = this.updatelist.find(res => res.id === a.FORMID);

          if ((pushsign = undefined)) {
            pushsign.auto = false;
            pushsign.permit = false;
            pushsign.print = false;
          } else {
            this.myautosign = false;
            this.mysignwithpermit = false;
            this.myprinttosign = false;
            this.updatelist.push({
              auto: this.myautosign,
              permit: this.mysignwithpermit,
              print: this.myprinttosign,
              id: a.FORMID,
              check: a.ISCHECKED
            });
          }
        } else {
          // var mysign = this.allforms.find(res => res.FORMID === a.FORMID);
          // console.log(mysign.FORMID)
          // // mysign.AUTOSIGNED = true
          // mysign.SIGNWITHPERMIT = false
          // mysign.PRINTTOSIGN = false
          topmost().getViewById(a.FORMID + "2").checked = false;
          topmost().getViewById(a.FORMID + "3").checked = false;

          // console.log(this.updatelist)
          var pushsign = this.updatelist.find(res => res.id === a.FORMID);

          if ((pushsign = undefined)) {
            pushsign.auto = true;
            pushsign.permit = false;
            pushsign.print = false;
          } else {
            this.myautosign = true;
            this.mysignwithpermit = false;
            this.myprinttosign = false;
            this.updatelist.push({
              auto: this.myautosign,
              permit: this.mysignwithpermit,
              print: this.myprinttosign,
              id: a.FORMID,
              check: a.ISCHECKED
            });
          }
        }
      } else if (sig === "sigpermit") {
        if (switchValue.checked === true) {
          // var mysign = this.allforms.find(res => res.FORMID === a.FORMID);
          // console.log(mysign.FORMID)
          // mysign.AUTOSIGNED = false
          // // mysign.SIGNWITHPERMIT = false
          // mysign.PRINTTOSIGN = false
          // // console.log(this.updatelist)
          topmost().getViewById(a.FORMID + "1").checked = false;
          topmost().getViewById(a.FORMID + "3").checked = false;

          var pushsign = this.updatelist.find(res => res.id === a.FORMID);
          if ((pushsign = undefined)) {
            pushsign.myautosign = false;
            pushsign.permit = false;
            pushsign.myprinttosign = false;
          } else {
            this.myautosign = false;
            this.mysignwithpermit = false;
            this.myprinttosign = false;
            this.updatelist.push({
              auto: this.myautosign,
              permit: this.mysignwithpermit,
              print: this.myprinttosign,
              id: a.FORMID,
              check: a.ISCHECKED
            });
          }
        } else {
          // var mysign = this.allforms.find(res => res.FORMID === a.FORMID);
          // console.log(mysign.FORMID)
          // mysign.AUTOSIGNED = false
          // // mysign.SIGNWITHPERMIT = true
          // mysign.PRINTTOSIGN = false
          topmost().getViewById(a.FORMID + "1").checked = false;
          topmost().getViewById(a.FORMID + "3").checked = false;

          // console.log(this.updatelist)

          var pushsign = this.updatelist.find(res => res.id === a.FORMID);
          if ((pushsign = undefined)) {
            pushsign.myautosign = false;
            pushsign.permit = true;
            pushsign.myprinttosign = false;
          } else {
            this.myautosign = false;
            this.mysignwithpermit = true;
            this.myprinttosign = false;
            this.updatelist.push({
              auto: this.myautosign,
              permit: this.mysignwithpermit,
              print: this.myprinttosign,
              id: a.FORMID,
              check: a.ISCHECKED
            });
          }
        }
      } else {
        if (switchValue.checked === true) {
          // var mysign = this.allforms.find(res => res.FORMID === a.FORMID);
          // console.log(mysign.FORMID)
          // mysign.AUTOSIGNED = false
          // mysign.SIGNWITHPERMIT = false
          // // mysign.PRINTTOSIGN = false
          topmost().getViewById(a.FORMID + "1").checked = false;
          topmost().getViewById(a.FORMID + "2").checked = false;

          // console.log(this.updatelist)

          var pushsign = this.updatelist.find(res => res.id === a.FORMID);
          if ((pushsign = undefined)) {
            pushsign.myautosign = false;
            pushsign.mysignwithpermit = false;
            pushsign.print = false;
          } else {
            this.myautosign = false;
            this.mysignwithpermit = false;
            this.myprinttosign = false;
            this.updatelist.push({
              auto: this.myautosign,
              permit: this.mysignwithpermit,
              print: this.myprinttosign,
              id: a.FORMID,
              check: a.ISCHECKED
            });
          }
        } else {
          // var mysign = this.allforms.find(res => res.FORMID === a.FORMID);
          // console.log(mysign.FORMID)
          // mysign.AUTOSIGNED = false
          // mysign.SIGNWITHPERMIT = false
          // mysign.PRINTTOSIGN = true
          topmost().getViewById(a.FORMID + "1").checked = false;
          topmost().getViewById(a.FORMID + "2").checked = false;
          // console.log(this.updatelist)

          var pushsign = this.updatelist.find(res => res.id === a.FORMID);
          if ((pushsign = undefined)) {
            pushsign.myautosign = false;
            pushsign.mysignwithpermit = false;
            pushsign.print = true;
          } else {
            this.myautosign = false;
            this.mysignwithpermit = false;
            this.myprinttosign = true;
            this.updatelist.push({
              auto: this.myautosign,
              permit: this.mysignwithpermit,
              print: this.myprinttosign,
              id: a.FORMID,
              check: a.ISCHECKED
            });
          }
        }
      }
      console.log(this.updatelist);
      // console.log(this.updatelist)
    }
  }
};
</script>
<style scoped>
ActionBar {
  background-color: #f1c40f;
  color: white;
}
Page {
  background-color: #002851;
}
TextField {
  background-color: #fff;
  color: black;
  font-size: 14px;
  height: 40px;
}
.accordion {
  padding: 20px;
  background-color: #003366;
  border-color: #2d5176;
  color: white;
  width: 100%;
  /* height: 100%; */
}
.bold {
  font-weight: 500;
  color: white;
}
.plus {
  background: url("~/assets/images/plus.png") no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
}
.drop {
  background-image: url("~/assets/images/ic_dropdown.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  /* background-size: 20% 40%; */
}
.calendar {
  background-image: url("~/assets/images/ic_calendar.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  /* background-size: 20% 40%; */
}
.checkIcon {
  background-image: url("~/assets/images/ic_required_status.png");
  background-size: 20% 70%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
label {
  font-size: 12px;
}
/* SLIDER ANIMATION */
.slider-enter-active {
  overflow-y: hidden;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider-leave-active {
  max-height: 0;
}

.enabled {
  background-color: "#fff";
}
.disabled {
  background-color: #c9cfd8;
}

.arrow-down {
  background-image: url("~/assets/images/angle-down.png");
  background-size: 5% 80%;
  background-repeat: no-repeat;
  background-position: 97% 80%;
}

.show {
  background-image: url("~/assets/images/show.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 70% 70%;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 10;
  margin-top: 10;
}
.hide {
  background-image: url("~/assets/images/hide.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 70% 70%;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 10;
  margin-top: 10;
}
Switch[checked="true"] {
  color: #6eff98;
  background-color: #7ac142;
}

Switch[checked="false"] {
  color: #f56262;
  background-color: #ef4035;
}
.saved {
  background-image: url("~/assets/images/save.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% 50%;
}
</style>
