<template>
  <Page class="page"  backgroundColor="#002851" @loaded='backbtn();loadmo()'>
     <ActionBar title="Authenticate Password" color="#002851" backgroundColor='#f1c40f'>
      <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(DB, {clearHistory: true})" />
    </ActionBar>
    <ScrollView orientation="vertical">
      <GridLayout verticalAlignment="center">
      <StackLayout verticalAlignment="center" height="70%" backgroundColor="#003366"  borderColor="#2d5176"  padding="10" margin="10" marginBottom="60"  borderRadius="5" borderWidth="2">
        <Image row="1" verticalAlignment="top" src="~/assets/images/ilm.png" width="30%" marginTop="12" marginBottom="20" />

              <TextField 
              height="40" 
              fontSize="14" 
              borderRadius="3" 
              borderWidth="1" 
              hint="Username"
              class="mylogin"
              v-model="username"
              marginBottom="13"
              @focus="textfieldfocus"
              @blur="textfieldblur"
              isEnabled="false"
              editable="false"
              opacity="0.5"/>
              

            <StackLayout height="70%"> 
              <GridLayout width="100%" height="30%" rows="auto" column="auto" marginBottom="10" >
                <TextField borderRadius="3 0 0 3"
                          borderWidth="1 0 1 1"
                          secure="true"
                          height="40"
                          width="85%"
                          fontSize="14"
                          row="0"
                          col="0"
                          class="mylogin"
                          hint="Password"
                          v-model="password"
                          v-show="showpass1"
                          marginBottom="10"
                          horizontalAlignment="left"
                          /> 
                <TextField borderRadius="0 3 3 0"
                          borderWidth="1 1 1 0"
                          editable="false"
                          height="40"
                          width="15%"
                          fontSize="14"
                          row="0"
                          col="1"
                          class="show"
                          marginBottom="10"
                          v-show="showpass1"
                          horizontalAlignment="right"
                          @tap="showpass1=false;showpass2=true;"
                          />

                <TextField borderRadius="3 0 0 3"
                          borderWidth="1 0 1 1"
                          height="40"
                          width="85%"
                          fontSize="14"
                          row="0"
                          col="0"
                          class="mylogin"
                          hint="Password"
                          v-model="password"
                          v-show="showpass2"
                          marginBottom="10"
                          horizontalAlignment="left" />
                <TextField borderRadius="0 3 3 0"
                          borderWidth="1 1 1 0"
                          editable="false"
                          height="40"
                          width="15%"
                          fontSize="14"
                          row="0"
                          col="1"
                          class="hide"
                          marginBottom="10"
                          v-show="showpass2"
                          horizontalAlignment="right"
                          @tap="showpass1=true;showpass2=false;"
                          />
                

                <!-- <Button @tap="showpass1=false;showpass2=true;" borderWidth="0" row="0" horizontalAlignment="right" height="40" width="40" verticalAlignment="center" v-show="showpass1" class="show"></Button>
                <Button @tap="showpass1=true;showpass2=false;" borderWidth="0" row="0" horizontalAlignment="right" height="40" width="40" verticalAlignment="center" v-show="showpass2" class="hide"></Button> -->
              
              

              </GridLayout>
              <Button row="2" marginTop="40" borderRadius="3" @tap="logMeIn" height="40" backgroundColor="#f1c40f" fontSize="14" borderColor="#f1c40f"  color="#002851" >LOGIN</Button>
              <!-- <Label row="2" fontSize="14" textWrap="true" margin='10' color="white"
                    text='Note: Please input your password to verify user.' /> -->
            </StackLayout>

              
          </StackLayout>
          </GridLayout>
          
    </ScrollView>
  </Page>
</template>
<script>
import * as http from "tns-core-modules/http";
import Toast from "nativescript-toast";
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
var orientation = require("nativescript-orientation");
import dashboard from "../Dashboard.vue"
import payslip from "../Payslip/Payslip.vue"
export default {
  data() {
    return {
      username: localStorage.getItem("EmpID"),
      password: "",
      showpass1: true,
      showpass2: false,
      DB: dashboard,
    };
  },
  created: function(){
    clearTimeout(parseInt(localStorage.getItem('Session')))
  }, 
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        topmost().android.currentActivity ||
        topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        this.$navigateTo(this.DB, {clearHistory: true})
      };
    },
    logMeIn() {
      // this.$router.push('/mymoney/dashboard')
    //   http
    //     .request({
    //       url: localStorage.getItem("URL") + "GetDB",
    //       method: "POST",
    //       headers: { "Content-Type": "application/json" },
    //       content: JSON.stringify({
    //         ClientName: localStorage.getItem("ClientName")
    //       })
    //     })
    //     .then(responses => {
          http.request({
          url: localStorage.getItem("URL") + "validateLoginv2",
          method: "POST",
          headers: { "Content-Type": "application/json" },
          content: JSON.stringify({
            LoginID: this.username,
            Password: this.password,
            CN: localStorage.getItem("ClientName")
            })
          })
          .then((response) => { 
              if (response.content.toJSON().EmpStatus === "Active") {
                // localStorage.setItem('NTID',this.username)
                this.$navigateTo(payslip, {clearHistory: true})
              } else {
                Toast.makeText("Authentication Error!", "long").show();
              }
            });
        // });
    },
    textfieldfocus(a) {
      a.object.borderColor = "#f1c40f";
      a.object.borderWidth = 2;
    },
    textfieldblur(a) {
      a.object.borderColor = "transparent";
      a.object.borderWidth = 1;
    }
  }
};
</script>


<style scoped>
TextField {
  border-color: white;
  background-color: white;
  color: #000;
}
.show {
  background-image: url("~/assets/images/show.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60% 70%;
  /* background-color: transparent; */
  /* border-color: transparent; */
  margin-bottom: 10;
}
.hide {
  background-image: url("~/assets/images/hide.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60% 70%;
  
  /* background-color: transparent; */
  /* border-color: transparent; */
  margin-bottom: 10;
}
.mylogin:highlighted {
  animation-name: highlight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes highlight {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    background-color: black;
  }
}
</style>


