<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>  
    <ActionBar title="Payslip" color="#002851" backgroundColor='#f1c40f'>
        <!-- <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(DB, {clearHistory: true})"/> -->
    </ActionBar>
    <GridLayout>
      <StackLayout id="loadpdf" visibility="collapse">
        <StackLayout width="auto" height="100%" >
                <PDFView :src="localPath" height="85%" width="100%"/>
                    <GridLayout rows="auto,*" columns="auto,*"   height="15%" width="100%"  backgroundColor="#002851" >           
                        <Button row="1" col="1" height="40" margin="5%"  verticalAlignment="center" borderRadius="3" width="40%"  text="Share" @tap="getfile()" fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" />
                    </GridLayout>
        </StackLayout> 
      </StackLayout>
      <StackLayout id="reqpdf" visibility="visible">
         <StackLayout >
      <StackLayout orientation="horizontal" margin="10" >
          <TextField 
          height="40" 
          width="30%"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1" 
          editable="false"
          class="drop"
          @tap="listview('year')"
          backgroundColor="white" marginRight='5'
          :text="yearmo" 
          hint="Year"/>
         
          <TextField 
          height="40" 
          width="70%"
          fontSize="14" 
          borderRadius="3" 
          borderWidth="1" 
          editable="false"
          class="drop"
          @tap="listview('monthday')"
          backgroundColor="white" marginRight='5'
          :text="daymonth"
          hint="Month/Day" />
          
        </StackLayout>

          <StackLayout marginRight="10" marginTop="5" marginBottom="5">
              <Button borderRadius="3" height="40"  text="View Payslip" backgroundColor="#f1c40f" horizontalAlignment="right" @tap="getpayslip();"/>
          </StackLayout>
    </StackLayout> 
      </StackLayout>
      <!-- <StackLayout row='1' :visibility="luding" isUserInteractionEnabled='false' />
      <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center"
        opacity='0.6' borderRadius='6' backgroundColor='black' height="50" width="50">
        <ActivityIndicator busy="true" color="white" height="100%" width="100%" verticalAlignment="center" />
      </StackLayout> -->
    </GridLayout>

    
  </Page>
</template>

<script>
import * as http from "tns-core-modules/http";
import PDFView from "nativescript-pdf-view";
import { ShareFile } from "nativescript-share-file";
import * as fs from "tns-core-modules/file-system";
// import { topmost } from "ui/frame";
const Frame = require("tns-core-modules/ui/frame").Frame;
// var SocialShare = require("nativescript-social-share");
const httpModule = require("http");
var orientation = require("nativescript-orientation");
import * as Toast from "nativescript-toast";
var moment = require("moment");
import dashboard from "../Dashboard.vue"
import payslipauth from "../Payslip/PayslipAuth.vue"


export default {
  data() {
    return {
      luding: 'collapse',
      listPickerMonthDay: [],
      newList:[],
      yearmo:'2019',
      daymonth:'',
      // listPickerCutoff: ["1-5","16-EOM"],
      listPickerYear: [],
      selectedmonthday: "",
      selectedyear: "",
      // selectday: "",
      selectmonth: "",
      selectyear: "",
      DB: dashboard,
      PA: payslipauth,
      localPath: "",
      shareFile: ShareFile,
      fileName: "",
      documents: "",
      path: "",
      file: "",
      pdfindex:"",
      periodPay:''
    };
  },
  created: function() {
    this.getPayday()
    var timeout = setTimeout(() => {
       alert({
              message: "Session Expired",
              okButtonText: "OK"
            }).then(() => {
              this.$navigateTo(this.PA, {clearHistory: true})
            });
    }, 120000);
    localStorage.setItem('Session', parseInt(timeout))
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        // Frame.topmost().goBack();
        if (this.pdfindex === 'true') {
          var req = Frame.topmost().getViewById("reqpdf");
          var lud = Frame.topmost().getViewById("loadpdf");
          this.pdfindex = 'false';
          req.visibility = "visible";
          lud.visibility = "collapse"
        }
        else {
          this.$navigateTo(this.PA, {clearHistory: true})
        }
      };
    },
    listview(e) {
      if (e === "monthday"){
      var list = []
      var filter = this.listPickerMonthDay.filter(res => res.Year === this.yearmo)
      for(var o = 0; o< filter.length; o++)
      {
        list.push(filter[o].PayPeriod)
      }
       action("Choose Month/Day", "Cancel", list).then(
          result => {
            if (result !== "Cancel") 
            this.daymonth = result
            var firsthmonth = []
            this.firstmonth = result.split(' ');
            var firstdate
            this.firstdate = this.firstmonth[0] + "-" + this.firstmonth[1] 
            var seconddate 
            this.seconddate = this.firstmonth[5] + "-" + this.firstmonth[6] 
            localStorage.setItem("firstdate", this.firstdate)
            localStorage.setItem("seconddate", this.seconddate)
            
          }
        );
      }
      else
       action("Choose Year", "Cancel", this.listPickerYear).then(result => {
          if (result !== "Cancel") 
          this.yearmo = result;
          console.log(this.yearmo)
          localStorage.setItem("year", this.yearmo);
        });
    },
    getpayslip() {
      if (this.daymonth === '' ) {
        Toast.makeText("Please select month/day").show();
      }
      else
      {
        this.generatepdf()
      } 
    },
    generatepdf(){
      // this.luding = 'visible'
      var myfirst
      var mysecond
      this.myfirst = moment(localStorage.getItem("firstdate") + "-" + this.yearmo).format("YYYY-MM-DD")
      this.mysecond = moment(localStorage.getItem("seconddate") + "-" + this.yearmo).format("YYYY-MM-DD")
      var mypayday
      this.mypayday = this.myfirst + "-" + this.mysecond
      var getPayout = this.newList.find(res => res.PayPeriod === this.daymonth && res.Year === this.yearmo)
      console.log(getPayout.PayoutDate + " lllllllll")
          if (getPayout.PayoutDate === null){
            console.log("static")
            if (localStorage.getItem("ClientName").toLowerCase() === 'generali'){
              http.request({
                url: localStorage.getItem("URL") + "GeneratePayslipGenerali",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                  CN: localStorage.getItem("ClientName"),
                  NTID: localStorage.getItem("EmpID"),
                  PayYear: this.yearmo,
                  PayDay: this.mypayday
                })
              })
              .then(response => {
                // this.$navigateTo(this.PF, {clearHistory: true})
                var req = Frame.topmost().getViewById("reqpdf");
                var lud = Frame.topmost().getViewById("loadpdf");
                this.pdfindex = 'true';
                req.visibility = "collapse";
                lud.visibility = "visible"
                this.getpdffile();
                this.luding = 'collapse'
                localStorage.removeItem("year")
                localStorage.removeItem("firstdate")
                localStorage.removeItem("seconddate")
              });
            }
            else{
              http.request({
              url: localStorage.getItem("URL") + "GetPayslipv2",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem("ClientName"),
                NTID: localStorage.getItem("EmpID"),
                PayYear: this.yearmo,
                PayDay: this.mypayday
                })
              }).then(response => {
                var req = Frame.topmost().getViewById("reqpdf");
                var lud = Frame.topmost().getViewById("loadpdf");
                this.pdfindex = 'true';
                req.visibility = "collapse";
                lud.visibility = "visible"
                this.getpdffile();
                // this.luding = 'collapse'
                localStorage.removeItem("year")
                localStorage.removeItem("firstdate")
                localStorage.removeItem("seconddate")
              })
            }
            
          }
          else{
            console.log('CN:'+ localStorage.getItem("ClientName"))
            console.log('EmpID:'+ localStorage.getItem("EmpID"))
            console.log('ytd_year:'+ this.yearmo)
            console.log('PayoutDate:'+ getPayout.PayoutDate)
            console.log("dynamic")
            http.request({
            url: localStorage.getItem("URL") + "generatepdfV2",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify({
              CN: localStorage.getItem("ClientName"),
              EmpID: localStorage.getItem("EmpID"),
              ytd_year: this.yearmo,
              PayoutDate: getPayout.PayoutDate
              })
            }).then((response) => {
              this.localPath = response.content.toJSON()
              // console.log(this.localPath + " pppppppppp")
              var req = Frame.topmost().getViewById("reqpdf");
              var lud = Frame.topmost().getViewById("loadpdf");
              this.pdfindex = 'true';
              req.visibility = "collapse";
              lud.visibility = "visible"
              this.getpdffiledynamic();
              // this.luding = 'collapse'
              localStorage.removeItem("year")
              localStorage.removeItem("firstdate")
              localStorage.removeItem("seconddate")
            }).catch((err)=>{
              console.log(err + " error")
            })
          }
    },
    getPayday(){
      http.request({
      url: localStorage.getItem("URL") + "GetPayslipItemsv2",
      method: "POST",
      headers: { "Content-Type": "application/json" },
      content: JSON.stringify({
        CN: localStorage.getItem("ClientName"),
        empid: localStorage.getItem("EmpID")
        })
      }).then((response) => {
        this.listPickerMonthDay = response.content.toJSON().PayslipDDLItems   
        for (var i = 0; i<response.content.toJSON().PayslipDDLItems.length; i++){
          var year = this.listPickerYear.find(res => res === response.content.toJSON().PayslipDDLItems[i].Year)
          this.newList.push(response.content.toJSON().PayslipDDLItems[i])
          if(year === undefined){
            this.listPickerYear.push(response.content.toJSON().PayslipDDLItems[i].Year)
          }
        }
      })
    },
    getpdffile() {
      console.log('this is static')
      this.localPath =
        localStorage.getItem("URL") + "/pdf/Payslip-" +
        localStorage.getItem("EmpID") +
        ".pdf";
        setTimeout(() => {
          this.localPath = ''
        }, 3000);
      
    },
    getpdffiledynamic() {
      console.log('this is dynamic')
      var getPayout = this.newList.find(res => res.PayPeriod === this.daymonth && res.Year === this.yearmo)
      console.log(getPayout.PayoutDate + " bbbbbbbbbbbbbb")
      this.localPath =
        "https://ws.durusthr.com/ILM_WS_Live" + "/pdf/Payslip-" + localStorage.getItem("EmpID") + "-" + getPayout.PayoutDate +
        ".pdf";
        console.log(this.localPath + " pathhhhhhhhh")
        setTimeout(() => {
          this.localPath = ''
        }, 3000);
      
    },
    getfile() {
      var getPayout = this.newList.find(res => res.PayPeriod === this.daymonth)
      var localPath1 = localStorage.getItem("URL") + "pdf/PaySlip-" + localStorage.getItem("EmpID") + ".pdf"
      var localPath2 = localStorage.getItem("URL") + "/pdf/Payslip-" + localStorage.getItem("EmpID") + "-" + getPayout.PayoutDate + ".pdf"
       var documents;
       var path;
       var file;
       var fileName;
      if (getPayout.PayoutDate === null){


            fileName = this.localPath;
            documents = fs.knownFolders.documents();
            path = fs.path.join(documents.path, localPath1);
            file = fs.File.fromPath(path);
            this.shareFile = new ShareFile();

            this.shareFile.open( { 
                path: path, 
                intentTitle: 'Open text file with:', // optional Android
                rect: { // optional iPad
                    x: 110,
                    y: 110,
                    width: 0,
                    height: 0
                },
                options: true, // optional iOS
                animated: true // optional iOS
            });
      }
      else
      {
        fileName = this.localPath;
            documents = fs.knownFolders.documents();
            path = fs.path.join(documents.path, localPath2);
            file = fs.File.fromPath(path);
            this.shareFile = new ShareFile();

            this.shareFile.open( { 
                path: path, 
                intentTitle: 'Open text file with:', // optional Android
                rect: { // optional iPad
                    x: 110,
                    y: 110,
                    width: 0,
                    height: 0
                },
                options: true, // optional iOS
                animated: true // optional iOS
            });
      }
    }
    
    // displaypayslip() {
    //   var vm = this;
    //   this.$showModal({
    //     template: `
    //                   <Page>
    //                     <StackLayout width="auto" height="80%" >
    //                         <PDFView :src="localPath" height="88%" width="100%"/>

    //                     <GridLayout rows="auto,*" columns="auto,*"  height="12%" width="100%"  backgroundColor="#002851" >

    //                                 <Button row="1" col="1" minHeight="40" margin="5%" verticalAlignment="center" borderRadius="3" width="40%"  text="Share" @tap="getfile()" fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" />
    //                             </GridLayout>
    //                     </StackLayout>
    //                   </Page>
    //                 `,
    //     data() {
    //       return {
    //         //For Modal Edit ,Add and Update
    //         localPath: "",
    //         // mymonthdaystart:'',
    //         // mymonthdayend:'',
    //         // myyear:'',
    //         shareFile: ShareFile,
    //         fileName: "",
    //         documents: "",
    //         path: "",
    //         file: ""
    //       };
    //     },
    //     created: function() {
    //       // this.generatepdf();
    //       this.getpdffile();
    //     },
    //     methods: {
    //       getpdffile() {
    //         this.localPath =
    //           "http://ws.durusthr.com/ILM_WS_Live/pdf/PaySlip-" +
    //           localStorage.getItem("EmpID") +
    //           ".pdf";
    //       },
    //       gotopayslip() {
    //         // this.$router.push('/payslip')
    //         alert("working on this!");
    //       },
    //       //pwede magamit sa susunod..wag burahins
    //       constructor() {
    //         this.fileName = "test.txt";
    //         this.documents = fs.knownFolders.documents();
    //         this.path = fs.path.join(this.documents.path, this.fileName);
    //         this.file = fs.File.fromPath(this.path);

    //         this.shareFile = new ShareFile();
    //         this.shareFile.open({
    //           path: this.documents.path + this.fileName,
    //           intentTitle: "Send file via:", // optional Android
    //           rect: {
    //             // optional iPad
    //             x: 110,
    //             y: 110,
    //             width: 0,
    //             height: 0
    //           },
    //           options: false, // optional iOS
    //           animated: true // optional iOS
    //         });
    //       },
    //       // shareURL() {
    //       //   SocialShare.shareUrl('http://ws.durusthr.com/ILM_WS_Live/pdf/PaySlip-'
    //       //                           + localStorage.getItem('EmpID')
    //       //                           + '.pdf');
    //       // },
    //       getfile() {
    //         http
    //           .getFile(
    //             "http://ws.durusthr.com/ILM_WS_Live/pdf/PaySlip-" +
    //               localStorage.getItem("EmpID") +
    //               ".pdf"
    //           )
    //           .then(
    //             resultFile => {
    //               console.log(resultFile._path);

    //               var shareFile = new ShareFile();
    //               shareFile.open({
    //                 path: resultFile._path,
    //                 intentTitle: "Send file via:",
    //                 rect: {
    //                   x: 110,
    //                   y: 110,
    //                   width: 0,
    //                   height: 0
    //                 },
    //                 options: false,
    //                 animated: true
    //               });
    //               //   // The returned result will be File object
    //             },
    //             e => {}
    //           );
    //       }
    //     }
    //   });
    // }
  }
};
</script>

<style scoped>
.drop {
  background-image: url("~/assets/images/ic_dropdown.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
.mypdf {
  src: url("C:\Users\Joshua Moya\Desktop\hrms new cloned\HRMS_MOBILE\src\assets\images\pdf.pdf");
}
</style>
