<template>
      <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
          <ActionBar title="Payslip" color="#002851" backgroundColor='#f1c40f'>
      <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" @tap="$navigateTo(Pays, {clearHistory: true})" />
    </ActionBar>
          <StackLayout width="auto" height="90%" >
                <PDFView :src="localPath" height="85%" width="100%"/>
                        
                    <GridLayout rows="auto,*" columns="auto,*"   height="15%" width="100%"  backgroundColor="#002851" >
                                    
                        <Button row="1" col="1" height="40" margin="5%"  verticalAlignment="center" borderRadius="3" width="40%"  text="Share" @tap="getfile()" fontSize="14" borderColor="#f1c40f" backgroundColor="#f1c40f"  color="#002851" />
                    </GridLayout>
           </StackLayout> 
      </Page>
</template>

<script>
import * as http from "tns-core-modules/http";
import PDFView from "nativescript-pdf-view";
import { ShareFile } from "nativescript-share-file";
import * as fs from "tns-core-modules/file-system";
import { topmost } from "tns-core-modules/ui/frame";
// var SocialShare = require("nativescript-social-share");
const httpModule = require("tns-core-modules/http");
var orientation = require("nativescript-orientation");
import payslip from "../Payslip/Payslip.vue"
var SocialShare = require("nativescript-social-share");

export default {
  data() {
    return {
      localPath: "",
      shareFile: ShareFile,
      fileName: "",
      documents: "",
      path: "",
      file: "",
      Pays: payslip,
    };
  },
  created: function() {
    this.getpdffile();
  },
  methods: {
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        // Frame.topmost().goBack();
        this.$navigateTo(this.Pays, {clearHistory: true})
      };
    },
    getpdffile() {
      this.localPath =
        localStorage.getItem("URL") + "/pdf/Payslip-" +
        localStorage.getItem("EmpID") +
        ".pdf";
    },
    //pwede magamit sa susunod..wag burahins
    //   constructor() {
    //     this.fileName = "test.txt";
    //     this.documents = fs.knownFolders.documents();
    //     this.path = fs.path.join(this.documents.path, this.fileName);
    //     this.file = fs.File.fromPath(this.path);

    //     this.shareFile = new ShareFile();
    //     this.shareFile.open({
    //       path: this.documents.path + this.fileName,
    //       intentTitle: "Send file via:", // optional Android
    //       rect: {
    //         // optional iPad
    //         x: 110,
    //         y: 110,
    //         width: 0,
    //         height: 0
    //       },
    //       options: false, // optional iOS
    //       animated: true // optional iOS
    //     });
    //   },
    // shareURL() {
    //   SocialShare.shareUrl('http://ws.durusthr.com/ILM_WS_Live/pdf/PaySlip-'
    //                           + localStorage.getItem('EmpID')
    //                           + '.pdf');
    // },
    getfile() {
      SocialShare.shareUrl(this.localPath);
      // http
      //   .getFile(
      //     localStorage.getItem("URL") + "pdf/PaySlip-" +
      //       localStorage.getItem("EmpID") +
      //       ".pdf"
      //   )
      //   .then(
      //     resultFile => {
      //       console.log(resultFile._path);

      //       var shareFile = new ShareFile();
      //       shareFile.open({
      //         path: resultFile._path,
      //         intentTitle: "Send file via:",
      //         rect: {
      //           x: 110,
      //           y: 110,
      //           width: 0,
      //           height: 0
      //         },
      //         options: false,
      //         animated: true
      //       });
      //     },
      //     e => {}
      //   );
    }
  }
};
</script>
