<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
    <ActionBar title="All Activities" color="#002851" flat="true" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(gotoNotif, {clearHistory: true});"/>
    </ActionBar>
  
    <GridLayout>
     <ScrollView orientation="vertical" row='1'>
        <StackLayout orientation="vertical" width="100%">
        <StackLayout  orientation="vertical" v-for="activities in ActivitiesAlllist" :key="activities['.key']">
            <StackLayout marginTop="10" backgroundColor="#ffffff" :visibility='activities.SeemoreShow === false ? "collapse" : activities.Status === "True" ? "collapse": activities.Cute === "news" ? "visible"   : "collapse"'>
                <GridLayout>
                    <StackLayout orientation='horizontal' horizontalAlignment="left" verticalAlignment="top" marginTop="10" marginLeft="13">
                        <Img src='~/assets/images/rename.png' width='30' height='30' backgroundColor="lightgray" borderRadius='100' marginTop="0" marginLeft="0"/>
                        <StackLayout marginLeft="10" marginTop="3">
                            <Label text="iLLimitado" fontSize="10"/>
                            <Label :text="activities.Date" fontSize="10"/>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout orientation="vertical" marginTop="50" marginLeft="13" marginBottom="70" marginRight="13">
                        <Label textWrap="true" :text="activities.Title" horizontalAlignment="center" fontSize="12" fontWeight="bold" marginBottom="10"/>
                        <Label textWrap="true" :text="activities.Message" marginBottom="5"/>
                        <Img :src='activities.Image' :visibility="activities.Image.includes('gif') === true ? 'collapse' : 'visible'"/>
                        <Gif height="200" :src='activities.Image' :visibility="activities.Image.includes('gif') === true ? 'visible' : 'collapse'"/>

                    </StackLayout>
                    <Button @tap="clickhide(activities.ID, activities.NotifType)" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/>
                    <StackLayout orientation="vertical" verticalAlignment="bottom" marginRight='10'>
                        <Button id='heart' @tap="clickLove(activities.ID, activities.Likes)" horizontalAlignment="right" class="koreanheart" width='40' height='40' borderRadius='100' :backgroundColor='activities.BackgroundColor'/>
                          <GridLayout row='1' orientation="horizontal">
                            <Label textAlignment='center' :text="activities.Likes + ' ' + 'Likes'" horizontalAlignment="right" />
                            <Label textAlignment='center' text="News And Updates" marginLeft="13" horizontalAlignment="left"/>
                          </GridLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <StackLayout marginTop="10" backgroundColor="#ffffff" id="popo" :visibility='activities.SeemoreShow === false ? "collapse" :activities.Status === "True" ? "collapse" : activities.Cute ==="greetings" ? "visible" : "collapse"'>
                <GridLayout>
                    <StackLayout orientation='horizontal' horizontalAlignment="left" verticalAlignment="top" marginTop="10" marginLeft="5">
                        <Label class="idpic" width='50' height='50' marginTop="-9" marginRight="0"/>
                        <StackLayout marginLeft="-2" marginTop="3.5"> 
                            <Label text="iLLimitado" fontSize="10"/>
                            <Label :text="activities.Date" fontSize="10"/>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout orientation="vertical" marginTop="50" marginLeft="13" marginBottom="70" marginRight="13">
                    <Label textWrap="true" :text="activities.Title" horizontalAlignment="center" fontSize="12" fontWeight="bold" marginTop="10" marginBottom="10"/>
                        <Label textWrap="true" :text="activities.Message" marginBottom="5"/>
                        <Img :src='activities.Image' />
                    </StackLayout>
                    <Button @tap="clickhide(activities.ID, activities.NotifType)" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/>
                        <GridLayout row='1' orientation="horizontal" verticalAlignment="bottom" horizontalAlignment="left" marginLeft="13">
                            <Label textAlignment='center' text="Greetings"  />
                        </GridLayout>
                </GridLayout>
            </StackLayout>

            <StackLayout  marginTop="10" backgroundColor="#ffffff" :visibility='activities.SeemoreShow === false ? "collapse" : activities.Status === "True" ? "collapse": activities.Cute === "leaving" ? "visible" : "collapse"'>
            <GridLayout>
                <Img class="HRMS" width='50' height='50' borderRadius='100' horizontalAlignment="left" verticalAlignment="top" marginTop="0" marginLeft="0"/>
                <StackLayout horizontalAlignment="left" verticalAlignment="top" marginLeft="50" marginTop="13.5"> 
                    <Label text="iLLimitado" fontSize="10"/>
                    <Label :text="activities.Date" fontSize="10"/>
                </StackLayout>
                <!-- <StackLayout orientation="vertical" marginTop="50" marginLeft="13" marginBottom="30" horizontalAlignment="left">
                    <Label :text='activities.Message' />
                </StackLayout> -->

                <StackLayout row='1' marginTop="60" marginBottom="20" marginLeft="30" marginRight="30" > 
                    <Label :text=' activities.LeaveStatus === "Pending" ?  activities.EmpName + " sent  " + activities.LeaveType + " request on " + activities.LeaveDate + " (" + activities.Day + ")" + ". Please wait for approval."
                    :activities.EmpName + " request leave for " + activities.LeaveDate + " (" + activities.Day + ") has been " + activities.LeaveStatus + "."'  textWrap='true'/>
                <!-- <Button row="1" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/> -->
                   <!-- <StackLayout :visibility='activities.LeaveStatus === "Pending" ? "visible" : "collapse"' orientation="horizontal" height="40" marginTop='5'>
                        <Button text="Approve" @tap="ApprovalofLeaves('Approved', activities.EmpID, activities.ID)" width="50%" backgroundColor='#f1c40f' marginRight='5' borderRadius='6'/>
                        <Button text="Deny" @tap="ApprovalofLeaves('Denied', activities.EmpID, activities.ID)" width="50%" backgroundColor='#f1c40f' borderRadius='6'/>
                    </StackLayout>-->
                </StackLayout>

                <Button @tap="clickhide(activities.ID, activities.NotifType)" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/>
                <GridLayout row='1' orientation="horizontal" verticalAlignment="bottom"  horizontalAlignment="left" marginLeft="13">
                    <Label textAlignment='center' text="Leave"  />
                </GridLayout>
            </GridLayout>            
            </StackLayout>

            <StackLayout backgroundColor="#ffffff" marginTop="10" :visibility='activities.SeemoreShow === false ? "collapse" : activities.Status === "True" ? "collapse" :activities.Cute === "Timekeeps" ? "visible" : "collapse"'>
            <GridLayout>
                <Img class="HRMS" width='50' height='50' borderRadius='100' horizontalAlignment="left" verticalAlignment="top" marginTop="0" marginLeft="0"/>
                <StackLayout horizontalAlignment="left" verticalAlignment="top" marginLeft="50" marginTop="13.5"> 
                    <Label text="iLLimitado" fontSize="10"/>
                    <Label :text="activities.Date" fontSize="10"/>
                </StackLayout>
                 <StackLayout row='1' marginTop="60" marginBottom="20" marginLeft="30" marginRight="30" > 
                <Label textWrap='true' :visibility='activities.ActivityStatus === "Geo" ? "visible" : "collapse"' :text='activities.ReasonName'/>
                <Label textWrap='true' :visibility='activities.ActivityStatus !== "Geo" ? "visible" : "collapse"' :text='activities.EmpName + " added segment for " + activities.SchedDate + " (" + activities.Day + ") at " + activities.StartTIme + " to " + activities.StartEnd +" as "+ activities.ReasonName +" has been " + activities.ActivityStatus +"."' />
                <!-- <Button row="1" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/> -->
                    <StackLayout :visibility='activities.ActivityStatus === "Pending" ? "visible" : "collapse"' orientation="horizontal" height="40" marginTop='5'>
                        <Button text="Approve" @tap="ApproveDenyLogsv3('Approved', activities.EmpID, activities.ID)" width="50%" backgroundColor='#f1c40f' marginRight='5' borderRadius='6'/>
                        <Button text="Deny" @tap="ApproveDenyLogsv3('Denied', activities.EmpID, activities.ID)" width="50%" backgroundColor='#f1c40f' borderRadius='6'/>
                    </StackLayout>
                </StackLayout>
                <Button @tap="clickhide(activities.ID, activities.NotifType)" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/>
                <GridLayout row='1' orientation="horizontal" verticalAlignment="bottom" horizontalAlignment="left"  marginLeft="13">
                    <Label textAlignment='center' text="Timekeeping" />
                </GridLayout>
            </GridLayout>
            </StackLayout>

            </StackLayout>
                <Button backgroundColor='transparent' borderWidth='1' borderColor='transparent' textDecoration='underline' text="See More" @tap='seemurpanksyon' :visibility='seemur' color='white' fontSize='14' fontWeight="700" />
        </StackLayout>
        <!-- <StackLayout orientation="vertical" marginTop="20">
            <GridLayout backgroundColor="#ffffff" height="150">
                <Label class="idpic" width='50' height='50' horizontalAlignment="left" verticalAlignment="top" marginTop="0" marginLeft="0"/>
                <Label text="Mark L. Damyan" marginLeft="50" marginTop="10"/>
                <Label text="11-12-13 1:41:00 PM" marginLeft="50" marginTop="20"/>
                <Button class="exeye" @tap="clickhide" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/>
                <Label text="Mark L. Damyan want to swap schedule for 2018-12-17 (Monday)" marginLeft="10" marginTop="70"/>
                <StackLayout orientation="horizontal" height="30%" marginLeft='10' marginRight='10' marginTop='70'>
                   <Button text="Accept" width="50%" backgroundColor='#f1c40f'/>
                   <Button text="Decline" width="50%" backgroundColor='#f1c40f'/>
                </StackLayout>
            </GridLayout>
        </StackLayout> -->
      </ScrollView>
      <StackLayout row='1' :visibility="luding" />
            <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" borderRadius='6' height="50" width="50">         
                <ActivityIndicator  busy="true"
                color="white" height="100%" width="100%"
                verticalAlignment="center"/>      
          </StackLayout>
        <Label row='1' id='notifdisplay' color='white' visibility='collapse' text='' textWrap='true' verticalAlignment='bottom' fontSize='14' horizontalAlignment='center' borderRadius='20' backgroundColor='red' padding='10' paddingTop='5' paddingBottom='5' marginBottom='60' opacity='1'/>
    </GridLayout>
    
  </Page>
</template>
<script>
import { topmost } from 'tns-core-modules/ui/frame';
import * as http from 'tns-core-modules/http';
var moment = require('moment')
import notif from "../Notification/Notification.vue";
var orientation = require("nativescript-orientation");
export default {
    data () {
        return {
            gotoNotif: notif,
            Activitieslist: [],
            ActivitiesAlllist: [],
            luding: 'collapse',
            seemur: 'collapse',
            listlength: '',
            lastseemoreid: ''

        }
    },
    created() {
        this.GetNewsAndUpdatev4()
    },
    methods: {
        loadmo() {
            orientation.setOrientation("portrait");
            orientation.disableRotation();
        },
        backbtn() {
            var applicationModule = require("application");
            var AndroidApplication = applicationModule.android;
            var activity =
                AndroidApplication.startActivity ||
                AndroidApplication.foregroundActivity ||
                Frame.topmost().android.currentActivity ||
                Frame.topmost().android.activity;
            activity.onBackPressed = () => {
                //Your code here

                // Frame.topmost().goBack();
                this.$navigateTo(this.gotoNotif, {clearHistory: true});
            };
        },
        loaded() {
            this.leavecount = localStorage.getItem('leavecount')
            this.timecount = localStorage.getItem('timecount')
            this.leavevisible = localStorage.getItem('leavecount') === 0 ? 'hidden' : 'visible'
            this.timevisible = localStorage.getItem('timecount') === 0 ? 'hidden' : 'visible'
        },
        seemurpanksyon() {
            if(this.listlength > this.lastseemoreid)
            {
                this.lastseemoreid += 5
                for(var o = 0 ; o < this.ActivitiesAlllist.length; o++)
                {
                    // this.ActivitiesAlllist[o].SeemoreID = o;
                    if( o < this.lastseemoreid)
                    {
                        this.ActivitiesAlllist[o].SeemoreShow = true   
                    }
                    
                }
                if(this.listlength <= this.lastseemoreid)
                {
                    this.seemur = 'collapse'
                }
            }
        },
        clickhide(c, d) {
    
            confirm({
            title: "Confirmation",
            message: "Are you sure you want to hide this activities?",
            okButtonText: "YES",
            cancelButtonText: "NO"
            }).then(result => {
                if (result === true){
                    http.request({
                        url: localStorage.getItem('URL') + "UpdateShowNotification",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        content: JSON.stringify({
                        CN:localStorage.getItem('ClientName'),
                        EmpID: localStorage.getItem('EmpID'),
                        NewsID: c,
                        NotifType: d
                        })
                        }).then((response) => {
                        var idx = this.ActivitiesAlllist.find(res => res.ID === c && res.NotifType === d)
                        idx.Status = "True"
                        })
                }
            })
        },
        ApproveDenyLogsv3(a,EmpID,SeriesID){
            confirm({
                title: "Confirmation",
                message: "Are you sure you want to confirm?", //"Are you sure do you want to " + a + "?",
                okButtonText: "YES",
                cancelButtonText: "NO"
                }).then(result => {
                    if (result === true){
                    http.request({
                        url: localStorage.getItem('URL') + "ApproveDenyLogsv3",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        content: JSON.stringify({
                            CN: localStorage.getItem('ClientName'),
                            EmpID: localStorage.getItem('EmpID'),
                            SeriesID: SeriesID,
                            Status:a,
                            ApproverComment:""
                        })
                        }).then((response) => {
                           
                            
                        })                                   
                            http.request({
                            url: localStorage.getItem("URL") + "DHRGetDHRTOKENV2",
                            method: "POST",
                            headers: { "Content-Type": "application/json" }, 
                            content: JSON.stringify({
                                CN: localStorage.getItem("ClientName"),
                                EMPID: EmpID
                            })
                            })
                            .then(response => {
                                    http.request({
                                    url: "https://fcm.googleapis.com/fcm/send",
                                    method: "POST",
                                    headers: {'Authorization': 'key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe', "Content-Type": "application/json" },
                                    content: JSON.stringify({
                                        notification: {
                                            body: localStorage.getItem("Fullname") + ' ' + a + ' your segment.' ,
                                            title: "Timesheets Approval",
                                        },
                                        to: response.content.toJSON()
                                    })
                                    }).then((response) => {
                                    // console.log(response.content.toJSON())
                                    })
                            })
                            var not = this.ActivitiesAlllist.find(res => res.ID === SeriesID && res.NotifType === 'Timekeeping')
                            not.ActivityStatus = a

                             var notifdisplay = Frame.topmost().getViewById('notifdisplay')
                            notifdisplay.backgroundColor='green'
                            notifdisplay.opacity='1'

                            notifdisplay.text = a === 'Approved' ? 'Successful Approve' : 'Successful Denied'
                            notifdisplay.visibility = 'visible'
                            notifdisplay.animate({opacity:0, duration: 5000, delay: 0 }).then((res) => {
                                notifdisplay.text = ''
                                notifdisplay.opacity='1'
                                notifdisplay.visibility='collapse'
                            })
                    }
                    
                    
                   
                    }
                    
                )},
        GetNewsAndUpdatev4() {
            this.luding = 'visible'
            this.seemur = 'collapse'
            http.request({
              url: localStorage.getItem('URL') + "GetNewsAndUpdatev5",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
              CN:localStorage.getItem('ClientName'),
              LoginID: localStorage.getItem('EmpID')
              })
              }).then((response) => {
                  if(response.content.toJSON() !==  null)
                  {
                    for (var i=0; i<response.content.toJSON().length; i++){
                        // console.log(moment(response.content.toJSON()[i].Date, 'YYYY-MM-DD h:mm A').format('YYYY-DD-MM'))
                        this.Activitieslist.push({
                            EmpID: "",
                            EmpName: "",
                            ReasonName: "",
                            LeaveType: "",
                            ID:response.content.toJSON()[i].NewAndUpdateID,
                            Image: localStorage.getItem('URL') + "ProfilePhotos/" + localStorage.getItem('ClientName').toLowerCase() + "/" + localStorage.getItem('EmpID') + response.content.toJSON()[i].Image,Title: response.content.toJSON()[i].Title,
                            SenderImage:response.content.toJSON()[i].SenderImage,
                            Title:response.content.toJSON()[i].Title,
                            Message:response.content.toJSON()[i].Message,
                            SenderName:response.content.toJSON()[i].SenderName,
                            SenderID:response.content.toJSON()[i].SenderID,
                            Date:response.content.toJSON()[i].Date,
                            Likes:response.content.toJSON()[i].Likes === '' ? 0 :response.content.toJSON()[i].Likes,
                            Status:response.content.toJSON()[i].IsShow,
                            Type:"",
                            Cute:"news",
                            LeaveDate:"",
                            LeaveStatus:"",
                            StartTIme:"",
                            StartEnd:"",
                            SchedDate:"",
                            Day: "",
                            ActivityStatus:"",
                            BackgroundColor: response.content.toJSON()[i].NotifLike === 'False' ? 'rgb(255, 188, 227)' : 'lightgray',
                            NotifType: response.content.toJSON()[i].NotifType,
                            SortDate: response.content.toJSON()[i].Date,
                            SeemoreShow: false,
                            SeemoreID: ''
                        })
                    }
                    
                  }
                  else {
                    //   console.log('asdasdasda')
                  }
                //   if (a !== 'like')
                //   {
                      this.Greetingsv3()
                //   }
                  
            })
        },
        Greetingsv3() {
            this.luding = 'visible'
            this.seemur = 'collapse'
            http.request({
              url: localStorage.getItem('URL') + "GetNotificationGreetingsv1",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
              CN:localStorage.getItem('ClientName'),
              LoginID: localStorage.getItem('EmpID')
              })
              }).then((response) => {
                if(response.content.toJSON() !==  null)
                {
                    for (var i=0; i<response.content.toJSON().length; i++){
                        this.Activitieslist.push({
                            EmpID: "",
                            EmpName: "",
                            ReasonName: "",
                            LeaveType: "",
                            ID:response.content.toJSON()[i].ID,
                            Image:localStorage.getItem('URL') + "ProfilePhotos/" + localStorage.getItem('ClientName').toLowerCase() + "/" + localStorage.getItem('EmpID') + response.content.toJSON()[i].Image,
                            SenderImage:"",
                            Title:response.content.toJSON()[i].Title,
                            Message:response.content.toJSON()[i].Message,
                            SenderName:response.content.toJSON()[i].Sender,
                            SenderID:"",
                            Date:moment(response.content.toJSON()[i].DateCreated).format('YYYY-MM-DD h:mm A'),
                            Likes:"",
                            Status:response.content.toJSON()[i].isShow,
                            Type:response.content.toJSON()[i].Type,
                            Cute:"greetings",
                            LeaveDate:"",
                            LeaveStatus:"",
                            StartTIme:"",
                            StartEnd:"",
                            SchedDate:"",
                            Day:"",
                            ActivityStatus:"",
                            BackgroundColor: "",
                            NotifType: response.content.toJSON()[i].NotifType,
                            SortDate: moment(response.content.toJSON()[i].DateCreated).format('YYYY-MM-DD h:mm A'),
                            SeemoreShow: false,
                            SeemoreID: ''
                        })
                    }
                }
                else {
                    // localStorage.setItem('greetingscount', 0)
                }
                this.ShowLeavesv3()
              })
        },
        ShowLeavesv3() {
            http.request({
                url: localStorage.getItem('URL') + "GetAllLeaveNotification",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                    CN: localStorage.getItem('ClientName'),
                    EMPID: localStorage.getItem('EmpID')

                })
              }).then((response) => {
                if(response.content.toJSON().ListAllLeave !==  null)
                    {
                        for (var i=0; i<response.content.toJSON().ListAllLeave.length; i++){
                            this.Activitieslist.push({
                                EmpID: response.content.toJSON().ListAllLeave[i].EmpID,
                                EmpName: response.content.toJSON().ListAllLeave[i].LeaveStatus === 'Pending' ? 'You' :
                                response.content.toJSON().ListAllLeave[i].EmpName === "" ? "Your" : response.content.toJSON().ListAllLeave[i].EmpName,
                                LeaveType: response.content.toJSON().ListAllLeave[i].LeaveType,
                                ReasonName: "",

                                ID:response.content.toJSON().ListAllLeave[i].SeriesID,
                                Image:"",
                                SenderImage:"",
                                Title:"",
                                Message:"",
                                SenderName:"",
                                SenderID:"",
                                Date:response.content.toJSON().ListAllLeave[i].DateApproved,
                                Likes:"",
                                Status:response.content.toJSON().ListAllLeave[i].isShow,
                                Type:"",
                                Cute:"leaving",
                                LeaveDate:moment(response.content.toJSON().ListAllLeave[i].LeaveDate).format('YYYY-MM-DD'),
                                LeaveStatus:response.content.toJSON().ListAllLeave[i].LeaveStatus,
                                StartTIme:"",
                                StartEnd:"",
                                SchedDate:"",
                                Day:moment(response.content.toJSON().ListAllLeave[i].LeaveDate).format('dddd'),
                                ActivityStatus:"",
                                BackgroundColor: "",
                                NotifType: response.content.toJSON().ListAllLeave[i].NotifType,
                                SortDate:response.content.toJSON().ListAllLeave[i].DateApproved,
                                SeemoreShow: false,
                                SeemoreID: ''
                            })
                        }
                    }
                else {
                    // localStorage.setItem('newscount', 0)
                  }
                  this.GetAllAddedSegment()
              })
        },
        GetAllAddedSegment() {
            http.request({
                url: localStorage.getItem('URL') + "GetAllTimeNotification",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                    CN: localStorage.getItem('ClientName'),
                    EmpID: localStorage.getItem('EmpID')

                })
              }).then((response) => {
                if(response.content.toJSON().ListAllTime !==  null)
                    {
                        for (var i=0; i<response.content.toJSON().ListAllTime.length; i++){
                            this.Activitieslist.push({
                                EmpID: response.content.toJSON().ListAllTime[i].EmpID,
                                EmpName: response.content.toJSON().ListAllTime[i].EmpName === "" ? "Your" : response.content.toJSON().ListAllTime[i].EmpName,
                                LeaveType: "", 
                                ReasonName: response.content.toJSON().ListAllTime[i].ReasonName, 

                                ID: response.content.toJSON().ListAllTime[i].SeriesID,
                                Image:"",
                                SenderImage:"",
                                Title:"",
                                Message:"",
                                SenderName:"",
                                SenderID:"",
                                Date:response.content.toJSON().ListAllTime[i].DateApproved,
                                Likes:"",
                                Status:response.content.toJSON().ListAllTime[i].isShow,
                                Type:"",
                                Cute:"Timekeeps",
                                LeaveDate:"",
                                LeaveStatus:"",
                                StartTIme:moment(response.content.toJSON().ListAllTime[i].StartTIme).format('h:mm A'),
                                StartEnd:moment(response.content.toJSON().ListAllTime[i].StartEnd).format('h:mm A'),
                                SchedDate:response.content.toJSON().ListAllTime[i].ActivityStatus === 'Geo' ? moment(response.content.toJSON().ListAllTime[i].SchedDate, 'h:mm A').format('YYYY-MM-DD'): moment(response.content.toJSON().ListAllTime[i].SchedDate,).format('YYYY-MM-DD'),
                                Day:moment(response.content.toJSON().ListAllTime[i].SchedDate).format('dddd'),
                                ActivityStatus:response.content.toJSON().ListAllTime[i].ActivityStatus,
                                BackgroundColor: '',
                                NotifType: response.content.toJSON().ListAllTime[i].NotifType,
                                SortDate:response.content.toJSON().ListAllTime[i].DateApproved,
                                SeemoreShow: false,
                                SeemoreID: ''
                            })
                        }
                    }
                else {
                    // localStorage.setItem('newscount', 0)
                  }
                  for(var n = 0;n < this.Activitieslist.length;n++) {
                      if(this.Activitieslist[n].Status !== 'True')
                      {
                          this.ActivitiesAlllist.push(this.Activitieslist[n])
                      }
                      
                  }
                    // this.ActivitiesAlllist = this.Activitieslist
                    this.ActivitiesAlllist.sort(function(a,b) {
                        // console.log(b.SortDate + '-' + a.SortDate)
                        // return new Date(b.SortDate).getUTCDate() - new Date(a.SortDate).getUTCDate()
                            var aa = a.SortDate.split('/').reverse().join(),
                                bb = b.SortDate.split('/').reverse().join();
                            return ((aa < bb) ? 1 : ((aa > bb) ? -1 : 0));
                        
                    })
                    this.listlength = this.ActivitiesAlllist.length
                    for(var o = 0 ; o < this.ActivitiesAlllist.length; o++)
                    {
                        this.ActivitiesAlllist[o].SeemoreID = o;
                        if( o < 5)
                        {
                            this.lastseemoreid = o
                            this.ActivitiesAlllist[o].SeemoreShow = true   
                        }
                        
                    }
                    // var count = 0
                    // for(var o = 0 ; o < alllist.length; o++)
                    // {
                    //     this.ActivitiesAlllist.push(
                    //         {
                    //             EmpID: alllist[o].EmpID,
                    //             EmpName: alllist[o].EmpName,
                    //             LeaveType: alllist[o].LeaveType,
                    //             ReasonName: alllist[o].ReasonName, 
                    //             ID: alllist[o].ID,
                    //             Image: alllist[o].Image,
                    //             SenderImage: alllist[o].SenderImage,
                    //             Title: alllist[o].Title,
                    //             Message: alllist[o].Message,
                    //             SenderName: alllist[o].SenderName,
                    //             SenderID: alllist[o].SenderID,
                    //             Date: alllist[o].Date,
                    //             Likes: alllist[o].Likes,
                    //             Status: alllist[o].Status,
                    //             Type: alllist[o].Type,
                    //             Cute: alllist[o].Cute,
                    //             LeaveDate: alllist[o].LeaveDate,
                    //             LeaveStatus: alllist[o].LeaveStatus,
                    //             StartTIme: alllist[o].StartTIme,
                    //             StartEnd: alllist[o].StartEnd,
                    //             SchedDate: alllist[o].SchedDate,
                    //             ActivityStatus: alllist[o].ActivityStatus,
                    //             BackgroundColor: alllist[o].BackgroundColor,
                    //             NotifType: alllist[o].NotifType,
                    //             SortDate: alllist[o].SortDate,
                    //             SeemoreShow: o < 6 ? true : false,
                    //             SeemoreID: o
                    //         }
                    //     )
                    // }
                    if(this.ActivitiesAlllist.length > 5)
                    {
                        this.seemur = 'visible'
                    }
                    this.luding = 'collapse'
                    console.log('ewqewqeqw')
                    
              })
            },
            ApprovalofLeaves(a,EmpID,SeriesID){
                confirm({
                    title: "Confirmation",
                    message: "Are you sure you want to confirm?", //"Are you sure do you want to " + a + "?",
                    okButtonText: "YES",
                    cancelButtonText: "NO"
                    }).then(result => {
                        if (result === true){
                            
                                http.request({
                                url: localStorage.getItem('URL') + "ApproveDenyLeavesv3",
                                method: "POST",
                                headers: { "Content-Type": "application/json" },
                                content: JSON.stringify({
                                    CN: localStorage.getItem('ClientName'),
                                    EmpID: localStorage.getItem('EmpID'),
                                    SeriesID: SeriesID,
                                    Status:a,
                                    ApproverComment: ""
                                })
                                }).then((response) => {

                                
                                })                            
                                http.request({
                                url: localStorage.getItem("URL") + "DHRGetDHRTOKENV2",
                                method: "POST",
                                headers: { "Content-Type": "application/json" }, 
                                content: JSON.stringify({
                                    CN: localStorage.getItem("ClientName"),
                                    EMPID: EmpID
                                })
                                })
                                .then(response => {
                                    // console.log(response.content.toJSON())
                                        http.request({
                                        url: "https://fcm.googleapis.com/fcm/send",
                                        method: "POST",
                                        headers: {'Authorization': 'key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe', "Content-Type": "application/json" },
                                        content: JSON.stringify({
                                            notification: {
                                                body: localStorage.getItem("Fullname") + ' ' + a + ' your leave request.' ,
                                                title: "Leave Approval",
                                            },
                                            to: response.content.toJSON()
                                        })
                                        }).then((response) => {
                                        // console.log(response.content.toJSON())
                                        })
                                })
                                var not = this.ActivitiesAlllist.find(res => res.ID === SeriesID && res.NotifType === 'Leave')
                                not.LeaveStatus = a

                                var notifdisplay = Frame.topmost().getViewById('notifdisplay')
                                notifdisplay.backgroundColor='green'
                                notifdisplay.opacity='1'
                                notifdisplay.text = a === 'Approved' ? 'Successful Approve' : 'Successful Deny'
                                notifdisplay.visibility = 'visible'
                                notifdisplay.animate({opacity:0, duration: 5000, delay: 0 }).then((res) => {
                                    notifdisplay.backgroundColor='red'
                                    notifdisplay.text = ''
                                    notifdisplay.opacity='1'
                                    notifdisplay.visibility='collapse'
                            })
                        }
                    })
               
        },
            clickLove(a, b) {
                // console.log(a)
                // console.log(b)
                http.request({
                url: localStorage.getItem('URL') + "UpdateLikeNewsAndUpdatev2",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                    CN: localStorage.getItem('ClientName'),
                    NewsID: a,
                    EmpID: localStorage.getItem('EmpID'),
                })
                }).then((response) => {
                    var idi = this.ActivitiesAlllist.find(res => res.ID === a && res.Cute === 'news')
                    if  (idi.BackgroundColor === 'rgb(255, 188, 227)') {
                        idi.Likes = Number(idi.Likes) + 1
                        idi.BackgroundColor = 'lightgray'
                    } else {
                        idi.Likes = Number(idi.Likes) - 1
                        idi.BackgroundColor = 'rgb(255, 188, 227)'
                    }
                    // console.log(idi.Likes)
                    // console.log(response.content.toJSON())
                    // this.GetNewsAndUpdatev3('like')
                })
            }
        }
    }
</script>
<style scoped>
.idpic {
    background-image: url("~/assets/images/rename.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
}
.greetings {
    background-image: url("~/assets/images/christmas-party.jpg");
    background-repeat: no-repeat;
}
.koreanheart {
    background-image: url("~/assets/images/korean_heart.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.exeye {
    background-image: url("~/assets/images/hide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.HRMS {
    background-image: url("~/assets/images/rename.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
}
</style>