<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
    <ActionBar title="Greetings" color="#002851" flat="true" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(gotoNotif, {clearHistory: true});" />
    </ActionBar>

  <GridLayout>
    <ScrollView orientation="vertical" row='1'>
        <StackLayout orientation="vertical" width="100%">
        <StackLayout marginBottom="10" id="popo"  marginTop="10" orientation="vertical" v-for="greetings in Greetingslist" :key="greetings['.key']" :visibility='greetings.SeemoreShow === false ? "collapse" : greetings.status === "False" ? "collapse" : "visible"'>
            <GridLayout backgroundColor="#ffffff">
                <StackLayout orientation='horizontal' horizontalAlignment="left" verticalAlignment="top" marginTop="10" marginLeft="5">
                    <Img class="idpic" row="1" width='50' height='50' marginTop="-9" borderRadius='100' horizontalAlignment="left" verticalAlignment="top"/>
                    <StackLayout marginLeft="1" marginTop="3">
                        <Label text="iLLimitado" fontSize="10"/>
                        <Label :text="greetings.DateCreated" fontSize="10"/>
                    </StackLayout>
                </StackLayout>
                <StackLayout orientation="vertical" marginTop="50" marginLeft="13" marginBottom="70" marginRight="13">
                    <Label textWrap="true" :text="greetings.Title" horizontalAlignment="center" fontSize="12" fontWeight="bold" marginTop="10"/>
                        <Label textWrap="true" :text="greetings.Message" marginTop="10" marginBottom="5"/>
                        <Img :src='greetings.Image' />
                </StackLayout>
                <Button :visibility='greetings.Statuss === "False" ? "collapse" : "visible"' @tap="clickhide(greetings.ID, greetings.NotifType)"  class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/>
            </GridLayout>
        </StackLayout>
         <Button backgroundColor='transparent' borderWidth='1' borderColor='transparent' textDecoration='underline' text="See More" @tap='seemurpanksyon' :visibility='seemur' color='white' fontSize='14' fontWeight="700"/>
        </StackLayout>
      </ScrollView>
      
        <StackLayout row='1' :visibility="luding" />
            <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" borderRadius='6' height="50" width="50">         
                <ActivityIndicator  busy="true"
                color="white" height="100%" width="100%"
                verticalAlignment="center"/>      
          </StackLayout>
        <Label row='1' id='notifdisplay' color='white' visibility='collapse' text='' textWrap='true' verticalAlignment='bottom' fontSize='14' horizontalAlignment='center' borderRadius='20' backgroundColor='red' padding='10' paddingTop='5' paddingBottom='5' marginBottom='60' opacity='1'/>
    
    <!-- </StackLayout> -->
  </GridLayout>
  </Page>
</template>
<script>
import { topmost } from 'tns-core-modules/ui/frame';
import * as http from 'tns-core-modules/http';
var moment = require('moment')
import notif from "../Notification/Notification.vue";
var orientation = require("nativescript-orientation");
export default {
    data () {
        return {
            gotoNotif: notif,
            Greetingslist: [],
            luding: 'collapse',
            seemur: 'collapse',
            listlength: '',
            lastseemoreid: ''
        }
    },
    created() {
        this.Greetingsv3()
    },
    methods: {
        loadmo() {
            orientation.setOrientation("portrait");
            orientation.disableRotation();
        },
        backbtn() {
            var applicationModule = require("application");
            var AndroidApplication = applicationModule.android;
            var activity =
                AndroidApplication.startActivity ||
                AndroidApplication.foregroundActivity ||
                Frame.topmost().android.currentActivity ||
                Frame.topmost().android.activity;
            activity.onBackPressed = () => {
                //Your code here

                // Frame.topmost().goBack();
                this.$navigateTo(this.gotoNotif, {clearHistory: true});
            };
        },
        seemurpanksyon() {
            if(this.listlength > this.lastseemoreid)
            {
                this.lastseemoreid += 5
                for(var o = 0 ; o < this.Greetingslist.length; o++)
                {
                    // this.ActivitiesAlllist[o].SeemoreID = o;
                    if( o < this.lastseemoreid)
                    {
                        this.Greetingslist[o].SeemoreShow = true   
                    }
                    
                }
                if(this.listlength <= this.lastseemoreid)
                {
                    this.seemur = 'collapse'
                }
            }
        },
         Greetingsv3() {
            this.luding = 'visible'
            http.request({
              url: localStorage.getItem('URL') + "GetNotificationGreetingsv1",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
              CN:localStorage.getItem('ClientName'),
              LoginID: localStorage.getItem('EmpID')
              })
              }).then((response) => {
                if(response.content.toJSON() !==  null)
                {
                    for (var i=0; i<response.content.toJSON().length; i++){
                        this.Greetingslist.push({
                            ID: response.content.toJSON()[i].ID,
                            Sender: response.content.toJSON()[i].Sender,
                            DateCreated: moment(response.content.toJSON()[i].DateCreated).format('YYYY-MM-DD h:mm A'),
                            Title: response.content.toJSON()[i].Title,
                            Message: response.content.toJSON()[i].Message,
                            Image: localStorage.getItem('URL') + "ProfilePhotos/" + localStorage.getItem('ClientName').toLowerCase() + "/" + localStorage.getItem('EmpID') + response.content.toJSON()[i].Image,
                            status: response.content.toJSON()[i].status,
                            SeemoreShow: false,
                            NotifType: response.content.toJSON()[i].NotifType,
                            Statuss:response.content.toJSON()[i].isShow
                        })
                    }
                    this.seemur = 'visible'
                    this.listlength = this.Greetingslist.length
                    for(var o = 0 ; o < this.Greetingslist.length; o++)
                    {
                        //this.ActivitiesAlllist[o].SeemoreID = o;
                        if( o < 5)
                        {
                            this.lastseemoreid = o
                            this.Greetingslist[o].SeemoreShow = true   
                        }
                        //console.log(this.Greetingslist[o].SeemoreShow)
                    } 
                    if(this.Greetingslist.length < 6)
                    {
                        this.seemur = 'collapse'
                    }
                }
                else {
                    this.seemur = 'collapse'
                    // localStorage.setItem('greetingscount', 0)
                  }
                  this.luding = 'collapse' 
              })
        },
        clickhide(c, d) {
            console.log(c + ' ' + d)
            confirm({
            title: "Confirmation",
            message: "Are you sure you want to unhide this activities?",
            okButtonText: "YES",
            cancelButtonText: "NO"
            }).then(result => {
                if (result === true){
                    http.request({
                        url: localStorage.getItem('URL') + "UpdateShowNotification",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        content: JSON.stringify({
                        CN:localStorage.getItem('ClientName'),
                        EmpID: localStorage.getItem('EmpID'),
                        NewsID: c,
                        NotifType: d
                        })
                        }).then((response) => {
                        var idx = this.Greetingslist.find(res => res.ID === c && res.NotifType === d)
                        idx.Statuss = "False"
                        })
                }
            })
        },
    }
}
</script>
<style scoped>
.idpic {
    background-image: url("~/assets/images/rename.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
}
.koreanheart {
    background-image: url("~/assets/images/korean_heart.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.exeye {
    background-image: url("~/assets/images/show.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
</style>
