<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
    <ActionBar title="Leave" color="#002851" flat="true" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(gotoNotif, {clearHistory: true});"/>
    </ActionBar>
  
  <GridLayout>
     <ScrollView orientation="vertical" row='1'>
        <StackLayout orientation="vertical" width="100%" marginTop="10">
        <StackLayout orientation="vertical"  v-for="notifleave in NotifLeavelist" :key="notifleave['.key']" marginBottom="10" :visibility='notifleave.SeemoreShow === false ? "collapse" : "visible"'>
            <GridLayout backgroundColor="#ffffff" >
                <StackLayout row="1" orientation="horizontal">
                    <Img class="idpic" row="1" width='50' height='50' borderRadius='100' horizontalAlignment="left" verticalAlignment="top" marginTop="0" marginLeft="0"/>
                    <StackLayout orientation="vertical" row="1" verticalAlignment="top" horizontalAlignment="left" marginTop="13" marginLeft="-5">
                        <Label text="iLLimitado" fontSize="10"/>
                        <Label :text="notifleave.DateApplied" fontSize="10"/>
                    </StackLayout>
                </StackLayout>
                <StackLayout row='1' marginTop="60" marginBottom="20" marginLeft="30" marginRight="30" > 
                    <Label :text= 'notifleave.LeaveStatus === "Pending" ?  notifleave.EmpName + " sent  " + notifleave.LeaveType + " request on " + notifleave.LeaveDate + " (" + notifleave.LeaveDay + ")" +". Please wait for approval."
                    : notifleave.EmpName + " request leave for " + notifleave.LeaveDate + " (" + notifleave.LeaveDay + ")" + " has been " + notifleave.LeaveStatus + "."'  textWrap='true'/>
                <!-- <Button row="1" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/> -->
                   <!-- <StackLayout :visibility='notifleave.LeaveStatus === "Pending" ? "visible" : "collapse"' orientation="horizontal" height="40" marginTop='5'>
                        <Button text="Approve" @tap="ApprovalofLeaves('Approved', notifleave.EmpID, notifleave.SeriesID)" width="50%" backgroundColor='#f1c40f' marginRight='5' borderRadius='6' height="40"/>
                        <Button text="Deny" @tap="ApprovalofLeaves('Denied', notifleave.EmpID, notifleave.SeriesID)" width="50%" backgroundColor='#f1c40f' borderRadius='6' 
                        height="40"/>
                    </StackLayout>-->
                </StackLayout>
                <Button :visibility='notifleave.Status === "False" ? "collapse" : "visible"' @tap="clickhide(notifleave.SeriesID, notifleave.NotifType)" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/>
            </GridLayout>
        </StackLayout>
         <Button backgroundColor='transparent' borderWidth='1' borderColor='transparent' textDecoration='underline' text="See More" @tap='seemurpanksyon' :visibility='seemur' color='white' fontSize='14' fontWeight="700"/>
        </StackLayout>
      </ScrollView>
      <StackLayout row='1' :visibility="luding" />
            <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" borderRadius='6' height="50" width="50">         
                <ActivityIndicator  busy="true"
                color="white" height="100%" width="100%"
                verticalAlignment="center"/>      
            </StackLayout>
         <Label row='1' id='notifdisplay' color='white' visibility='collapse' text='' textWrap='true' verticalAlignment='bottom' fontSize='14' horizontalAlignment='center' borderRadius='20' backgroundColor='red' padding='10' paddingTop='5' paddingBottom='5' marginBottom='60' opacity='1'/>
  </GridLayout>
  </Page>
</template>
<script>
import { topmost } from 'tns-core-modules/ui/frame';
import * as http from 'tns-core-modules/http';
var moment = require('moment')
import notif from "../Notification/Notification.vue";
var orientation = require("nativescript-orientation");
export default {
    data () {
        return {
            gotoNotif: notif,
            NotifLeavelist: [],
            luding: 'collapse',
            seemur: 'collapse',
            listlength: '',
            lastseemoreid: ''
        }
    },
    created() {
        this.ShowLeavesv3()
    },
    methods: {
        loadmo() {
            orientation.setOrientation("portrait");
            orientation.disableRotation();
        },
        backbtn() {
            var applicationModule = require("application");
            var AndroidApplication = applicationModule.android;
            var activity =
                AndroidApplication.startActivity ||
                AndroidApplication.foregroundActivity ||
                Frame.topmost().android.currentActivity ||
                Frame.topmost().android.activity;
            activity.onBackPressed = () => {
                //Your code here

                // Frame.topmost().goBack();
                this.$navigateTo(this.gotoNotif, {clearHistory: true});
            };
        },
        seemurpanksyon() {
            if(this.listlength > this.lastseemoreid)
            {
                this.lastseemoreid += 5
                for(var o = 0 ; o < this.NotifLeavelist.length; o++)
                {
                    // this.ActivitiesAlllist[o].SeemoreID = o;
                    if( o < this.lastseemoreid)
                    {
                        this.NotifLeavelist[o].SeemoreShow = true   
                    }
                    
                }
                if(this.listlength <= this.lastseemoreid)
                {
                    this.seemur = 'collapse'
                }
            }
        },
        ShowLeavesv3() {
            this.luding = 'visible'
            this.seemur = 'collapse'
            http.request({
                url: localStorage.getItem('URL') + "GetAllLeaveNotification",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                    CN: localStorage.getItem('ClientName'),
                    EMPID: localStorage.getItem('EmpID')

                })
              }).then((response) => {
                  if(response.content.toJSON().ListAllLeave !==  null)
                  {
                    for (var i=0; i<response.content.toJSON().ListAllLeave.length; i++){
                        //console.log(moment(response.content.toJSON().ListAllLeave[i].LeaveDate).format('dddd'))
                        // if(response.content.toJSON().ListAllLeave[i].LeaveStatus !== 'Pending' || response.content.toJSON().ListAllLeave[i].LeaveStatus !== 'Cancelled')
                        // {       
                            this.NotifLeavelist.push({
                                EmpID: response.content.toJSON().ListAllLeave[i].EmpID,
                                SeriesID: response.content.toJSON().ListAllLeave[i].SeriesID,
                                EmpName: response.content.toJSON().ListAllLeave[i].LeaveStatus === 'Pending' ? 'You' :
                                response.content.toJSON().ListAllLeave[i].EmpName === "" ? "Your" : response.content.toJSON().ListAllLeave[i].EmpName,
                                LeaveType: response.content.toJSON().ListAllLeave[i].LeaveType,
                                NotifLike: response.content.toJSON().ListAllLeave[i].NotifLike,
                                NotifType: response.content.toJSON().ListAllLeave[i].NotifType,
                                isShow: response.content.toJSON().ListAllLeave[i].isShow,
                                isSeen: response.content.toJSON().ListAllLeave[i].isSeen,

                                DateApplied: response.content.toJSON().ListAllLeave[i].DateApproved,
                                LeaveDate: response.content.toJSON().ListAllLeave[i].LeaveDate,
                                LeaveDay: moment(response.content.toJSON().ListAllLeave[i].LeaveDate).format('dddd'),
                                LeaveStatus: response.content.toJSON().ListAllLeave[i].LeaveStatus,
                                SeemoreShow: false,
                                Status:response.content.toJSON().ListAllLeave[i].isShow
                                })
                       // }
                    }
                    this.seemur = 'visible'
                    this.listlength = this.NotifLeavelist.length
                        for(var o = 0 ; o < this.NotifLeavelist.length; o++)
                        {
                            //this.ActivitiesAlllist[o].SeemoreID = o;
                            if( o < 5)
                            {
                                this.lastseemoreid = o
                                this.NotifLeavelist[o].SeemoreShow = true   
                            }
                            
                        }
                    if(this.NotifLeavelist.length < 6)
                    {
                        this.seemur = 'collapse'
                    }
                  }
                  else {
                  }
                  this.luding = 'collapse'
                  
              })
        },
        ApprovalofLeaves(a,EmpID,SeriesID){
                confirm({
                    title: "Confirmation",
                    message: "Are you sure you want to confirm?", //"Are you sure do you want to " + a + "?",
                    okButtonText: "YES",
                    cancelButtonText: "NO"
                    }).then(result => {
                        if (result === true){
                            
                                http.request({
                                url: localStorage.getItem('URL') + "ApproveDenyLeavesv3",
                                method: "POST",
                                headers: { "Content-Type": "application/json" },
                                content: JSON.stringify({
                                    CN: localStorage.getItem('ClientName'),
                                    EmpID: localStorage.getItem('EmpID'),
                                    SeriesID: SeriesID,
                                    Status:a,
                                    ApproverComment: ""
                                })
                                }).then((response) => {

                                
                                })                            
                                http.request({
                                url: localStorage.getItem("URL") + "DHRGetDHRTOKENV2",
                                method: "POST",
                                headers: { "Content-Type": "application/json" }, 
                                content: JSON.stringify({
                                    CN: localStorage.getItem("ClientName"),
                                    EMPID: EmpID
                                })
                                })
                                .then(response => {
                                    console.log(response.content.toJSON())
                                        http.request({
                                        url: "https://fcm.googleapis.com/fcm/send",
                                        method: "POST",
                                        headers: {'Authorization': 'key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe', "Content-Type": "application/json" },
                                        content: JSON.stringify({
                                            notification: {
                                                body: localStorage.getItem("Fullname") + ' ' + a + ' your leave request.' ,
                                                title: "Leave Approval",
                                            },
                                            to: response.content.toJSON()
                                        })
                                        }).then((response) => {
                                        console.log(response.content.toJSON())
                                        })
                                })
                                var not = this.NotifLeavelist.find(res => res.SeriesID === SeriesID)
                                not.LeaveStatus = a

                                var notifdisplay = Frame.topmost().getViewById('notifdisplay')
                                notifdisplay.backgroundColor='green'
                                notifdisplay.opacity='1'
                                notifdisplay.text = a === 'Approved' ? 'Successful Approve' : 'Successful Deny'
                                notifdisplay.visibility = 'visible'
                                notifdisplay.animate({opacity:0, duration: 5000, delay: 0 }).then((res) => {
                                    notifdisplay.backgroundColor='red'
                                    notifdisplay.text = ''
                                    notifdisplay.opacity='1'
                                    notifdisplay.visibility='collapse'
                            })
                        }
                    })
               
        },
        clickhide(c, d) {
            console.log(c + ' ' + d)
            confirm({
            title: "Confirmation",
            message: "Are you sure you want to unhide this activities?",
            okButtonText: "YES",
            cancelButtonText: "NO"
            }).then(result => {
                if (result === true){
                    http.request({
                        url: localStorage.getItem('URL') + "UpdateShowNotification",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        content: JSON.stringify({
                        CN:localStorage.getItem('ClientName'),
                        EmpID: localStorage.getItem('EmpID'),
                        NewsID: c,
                        NotifType: d
                        })
                        }).then((response) => {
                        var idx = this.NotifLeavelist.find(res => res.SeriesID === c && res.NotifType === d)
                        idx.Status = "False"
                        })
                }
            })
        },

    }
}
</script>
<style scoped>
.idpic {
    background-image: url("~/assets/images/rename.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
}
.koreanheart {
    background-image: url("~/assets/images/korean_heart.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.exeye {
    background-image: url("~/assets/images/show.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
</style>