<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
    <ActionBar title="News and Updates" color="#002851" flat="true" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(gotoNotif, {clearHistory: true});"/>
    </ActionBar>

    <GridLayout>
    <ScrollView orientation="vertical" row='1'>
    <StackLayout orientation="vertical" width="100%" marginTop="10">
        <StackLayout  orientation="vertical" marginBottom="10" v-for="newsandupdates in NewsandUpdateslist" :key="newsandupdates['.key']" :visibility='newsandupdates.SeemoreShow === false ? "collapse" : "visible"'>
            <GridLayout backgroundColor="#ffffff">
                <StackLayout orientation='horizontal' horizontalAlignment="left" verticalAlignment="top" marginTop="10" marginLeft="13">
                    <Img src='~/assets/images/rename.png' width='30' height='30' backgroundColor="lightgray" borderRadius='100' />
                    <StackLayout marginLeft="10" marginTop="3">
                        <Label text="iLLimitado" fontSize="10"/>
                        <Label :text="newsandupdates.Date" fontSize="10"/>
                    </StackLayout>
                </StackLayout>
                <StackLayout orientation="vertical" marginTop="50" marginLeft="13" marginBottom="70" marginRight="13">
                    <Label textWrap="true" :text="newsandupdates.Title" fontWeight="bold" horizontalAlignment="center" marginBottom="10"/>
                    <Label textWrap="true" :text="newsandupdates.Message" />
                    <Img :src='newsandupdates.Image' :visibility="newsandupdates.Image.includes('gif') === true ? 'collapse' : 'visible'"/>
                    <Gif height="200" :src='newsandupdates.Image' :visibility="newsandupdates.Image.includes('gif') === true ? 'visible' : 'collapse'"/>

                </StackLayout>
                 <Button :visibility='newsandupdates.Status === "False" ? "collapse" : "visible" ' @tap="clickhide(newsandupdates.ID, newsandupdates.NotifType)" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/>
               <StackLayout orientation="vertical" horizontalAlignment="right" verticalAlignment="bottom" marginRight='10'>
                    <Button @tap="clickLove(newsandupdates.ID, newsandupdates.Likes)" class="koreanheart" width='50' height='50' borderRadius='100' :backgroundColor='newsandupdates.BackgroundColor'/>
                    <Label :text="newsandupdates.Likes + ' ' + 'Likes'" />
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <Button backgroundColor='transparent' borderWidth='1' borderColor='transparent' textDecoration='underline' text="See More" @tap='seemurpanksyon' :visibility='seemur' color='white' fontSize='14' fontWeight="700"/>
        </StackLayout>
      </ScrollView>
      <StackLayout row='1' :visibility="luding" />
            <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" borderRadius='6' height="50" width="50">         
                <ActivityIndicator  busy="true"
                color="white" height="100%" width="100%"
                verticalAlignment="center"/>      
            </StackLayout>
         <Label row='1' id='notifdisplay' color='white' visibility='collapse' text='' textWrap='true' verticalAlignment='bottom' fontSize='14' horizontalAlignment='center' borderRadius='20' backgroundColor='red' padding='10' paddingTop='5' paddingBottom='5' marginBottom='60' opacity='1'/>
  </GridLayout>

  </Page>
</template>
<script>
import { topmost } from 'tns-core-modules/ui/frame';
import * as http from "tns-core-modules/http";
import notif from "../Notification/Notification.vue";
var orientation = require("nativescript-orientation");
export default {
    data () {
        return {
            gotoNotif: notif,
            NewsandUpdateslist: [],
            luding: 'collapse',
            seemur: 'collapse',
            listlength: '',
            lastseemoreid: ''
        }
    },
    created() {
        this.GetNewsAndUpdatev4()
    },
    methods: {
        loadmo() {
            orientation.setOrientation("portrait");
            orientation.disableRotation();
        },
        backbtn() {
            var applicationModule = require("application");
            var AndroidApplication = applicationModule.android;
            var activity =
                AndroidApplication.startActivity ||
                AndroidApplication.foregroundActivity ||
                Frame.topmost().android.currentActivity ||
                Frame.topmost().android.activity;
            activity.onBackPressed = () => {
                //Your code here

                // Frame.topmost().goBack();
                this.$navigateTo(this.gotoNotif, {clearHistory: true});
            };
        },
        seemurpanksyon() {
            if(this.listlength > this.lastseemoreid)
            {
                this.lastseemoreid += 5
                for(var o = 0 ; o < this.NewsandUpdateslist.length; o++)
                {
                    // this.ActivitiesAlllist[o].SeemoreID = o;
                    if( o < this.lastseemoreid)
                    {
                        this.NewsandUpdateslist[o].SeemoreShow = true   
                    }
                    
                }
                if(this.listlength <= this.lastseemoreid)
                {
                    this.seemur = 'collapse'
                }
            }
        },
        GetNewsAndUpdatev4() {
            this.luding = 'visible'
            this.seemur = 'collapse'
           // this.NewsandUpdateslist.splice(0)
            http.request({
                url: localStorage.getItem('URL') + "GetNewsAndUpdatev5",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                    CN: localStorage.getItem('ClientName'),
                    LoginID: localStorage.getItem('EmpID')
                })
              }).then((response) => {
                  if(response.content.toJSON() !==  null)
                  {
                      console.log("HINDI ITO NULL!!!!!!!")
                    for (var i=0; i < response.content.toJSON().length; i++){
                        this.NewsandUpdateslist.push({
                           SenderImage: "data:image/jpeg;base64," + response.content.toJSON()[i].SenderImage,
                           SenderName: response.content.toJSON()[i].SenderName,
                           Date: response.content.toJSON()[i].Date,
                           Message: response.content.toJSON()[i].Message,
                           Image: localStorage.getItem('URL') + "ProfilePhotos/" + localStorage.getItem('ClientName').toLowerCase() + "/" + localStorage.getItem('EmpID') + response.content.toJSON()[i].Image,
                           Title: response.content.toJSON()[i].Title,
                           ID: response.content.toJSON()[i].NewAndUpdateID,
                           Likes:response.content.toJSON()[i].Likes === '' ? 0 :response.content.toJSON()[i].Likes,
                           BackgroundColor: response.content.toJSON()[i].NotifLike === 'True' ? 'lightgray' : 'rgb(255, 188, 227)',
                           SeemoreShow: false,
                           NotifType: response.content.toJSON()[i].NotifType,
                           Status:response.content.toJSON()[i].IsShow

                        })
                    }
                    this.seemur = 'visible'
                    this.listlength = this.NewsandUpdateslist.length
                    for(var o = 0 ; o < this.NewsandUpdateslist.length; o++)
                    {
                        //this.ActivitiesAlllist[o].SeemoreID = o;
                        if( o < 5)
                        {
                            this.lastseemoreid = o
                            this.NewsandUpdateslist[o].SeemoreShow = true   
                        }
                        
                    }
                    if(this.NewsandUpdateslist.length < 6)
                    {
                        this.seemur = 'collapse'
                    }
                  }
                  else {
                      
                  }
                  this.luding = 'collapse'
                  
              })
        },
        clickLove(a, b) {
             http.request({
                url: localStorage.getItem('URL') + "UpdateLikeNewsAndUpdatev2",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify({
                    CN: localStorage.getItem('ClientName'),
                    NewsID: a,
                    EmpID: localStorage.getItem('EmpID'),
                })
                }).then((response) => {
                    var idi = this.NewsandUpdateslist.find(res => res.ID === a)
                    if  (idi.BackgroundColor === 'rgb(255, 188, 227)') {
                        idi.Likes = Number(idi.Likes) + 1
                        idi.BackgroundColor = 'lightgray'
                    } else {
                        idi.Likes = Number(idi.Likes) - 1
                        idi.BackgroundColor = 'rgb(255, 188, 227)'
                    }
                    console.log(idi.Likes)
                    // console.log(response.content.toJSON())
                    // this.GetNewsAndUpdatev3('like')
                })
        },
         clickhide(c, d) {
    
            confirm({
            title: "Confirmation",
            message: "Are you sure you want to unhide this activities?",
            okButtonText: "YES",
            cancelButtonText: "NO"
            }).then(result => {
                if (result === true){
                    http.request({
                        url: localStorage.getItem('URL') + "UpdateShowNotification",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        content: JSON.stringify({
                        CN:localStorage.getItem('ClientName'),
                        EmpID: localStorage.getItem('EmpID'),
                        NewsID: c,
                        NotifType: d
                        })
                        }).then((response) => {
                        var idx = this.NewsandUpdateslist.find(res => res.ID === c && res.NotifType === d)
                        idx.Status = "False"
                        })
                }
            })
        },

    }
}
</script>
<style scoped>
.koreanheart {
    background-image: url("~/assets/images/korean_heart.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.exeye {
    background-image: url("~/assets/images/show.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
</style>
