<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
    <ActionBar title="Notification" color="#002851" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(gotoDB, {clearHistory: true});"/>
    </ActionBar>
  
    <ScrollView orientation="vertical">
        <StackLayout orientation="vertical">
          <FlexboxLayout flexDirection="column"  backgroundColor="#003366"  borderColor="#2d5176"  margin="10" marginTop="10" marginBottom="0"  borderRadius="5" borderWidth="2" >
              <GridLayout rows="auto,*" columns="auto,*" @tap="$navigateTo(AT, {clearHistory: true})">
                <Label fontSize='12' verticalAlignment="center" class="timesheet" text="" color="white" paddingLeft="50" paddingTop="25%" paddingBottom="25%" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                <label fontSize='12' color="white" text="All Activities" marginTop="35%" marginLeft="18%"/>
                <Label :text="AllCount" :visibility="hideAll" class="todobadge" fontWeight="700" marginRight="7%" marginTop="20" fontSize="12"  verticalAlignment="top" horizontalAlignment="right"/>
              </GridLayout>
              <GridLayout rows="auto,*" columns="auto,*"  @tap="$navigateTo(gotoNaU, {clearHistory: true})">
                <Label fontSize='12' class="leaveap" text="" color="white" paddingLeft="50" paddingTop="25%" paddingBottom="25%" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                <label fontSize='12' color="white" text="News and Updates" marginTop="35%" marginLeft="18%"/>
                <Label :text="NaUCount" :visibility="hideNaU" class="todobadge" fontWeight="700" marginRight="7%" marginTop="20" fontSize="12"  verticalAlignment="top" horizontalAlignment="right"/>
              </GridLayout>
              <GridLayout rows="auto,*" columns="auto,*" @tap="$navigateTo(gotoTK, {clearHistory: true})">
                <Label fontSize='12' class="leaverep" text="" color="white" paddingLeft="50" paddingTop="25%" paddingBottom="25%" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2"  />
                <label fontSize='12' color="white" text="Timekeeping" marginTop="35%" marginLeft="18%"/>
                <Label :text="TKCount" :visibility="hideTK" class="todobadge" fontWeight="700" marginRight="7%" marginTop="20" fontSize="12"  verticalAlignment="top" horizontalAlignment="right"/>
              </GridLayout>
              <GridLayout rows="auto,*" columns="auto,*" @tap="$navigateTo(gotoleave, {clearHistory: true})">
                <Label fontSize='12' class="survey" text="" color="white" paddingLeft="50" paddingTop="25%" paddingBottom="25%" width="100%" borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                <label fontSize='12' color="white" text="Leave" marginTop="35%" marginLeft="18%"/>
                <Label :text="LeaveCount" :visibility="hideLeave" class="todobadge" fontWeight="700" marginRight="7%" marginTop="20" fontSize="12"  verticalAlignment="top" horizontalAlignment="right"/>
              </GridLayout>
              <!--<GridLayout rows="auto,*" columns="auto,*" @tap="alert">
                <Label fontSize='12'  class="request" text="" color="white" paddingLeft="50" paddingTop="25%" paddingBottom="25%" width="100%"  borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                <label fontSize='12' color="white" text="Employee Information" marginTop="35%" marginLeft="18%"/> -->
                 <!--<Label text="1"  class="todobadge" fontWeight="700" marginRight="7%" marginTop="20" fontSize="12"  verticalAlignment="top" horizontalAlignment="right"/>-->
              <!--</GridLayout>  -->
               <!--<GridLayout rows="auto,*" columns="auto,*" @tap="alert">
                <Label fontSize='12'  class="payroll" text="" color="white" paddingLeft="50" paddingTop="25%" paddingBottom="25%" width="100%"  borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                <label fontSize='12' color="white" text="Payroll Dispute" marginTop="35%" marginLeft="18%"/> -->
                 <!--<Label text="1"  class="todobadge" fontWeight="700" marginRight="7%" marginTop="20" fontSize="12"  verticalAlignment="top" horizontalAlignment="right"/>-->
              <!--</GridLayout>-->
              <!--<GridLayout rows="auto,*" columns="auto,*" @tap="alert">
                <Label fontSize='12'  class="form" text="" color="white" paddingLeft="50" paddingTop="25%" paddingBottom="25%" width="100%"  borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                <label fontSize='12' color="white" text="Form Request" marginTop="35%" marginLeft="18%"/>-->
                 <!--<Label text="1"  class="todobadge" fontWeight="700" marginRight="7%" marginTop="20" fontSize="12"  verticalAlignment="top" horizontalAlignment="right"/>-->
              <!--</GridLayout>-->
              <GridLayout rows="auto,*" columns="auto,*" @tap="$navigateTo(gotoGreetings, {clearHistory: true})">
                <Label fontSize='12'  class="greet" text="" color="white" paddingLeft="50" paddingTop="25%" paddingBottom="25%" width="100%"  borderBottom="1"  borderColor="#2d5176" borderBottomWidth="2" />
                <label fontSize='12' color="white" text="Greetings" marginTop="35%" marginLeft="18%"/>
                <Label :text="GreetingsCount" :visibility="hideGreetings"  class="todobadge" fontWeight="700" marginRight="7%" marginTop="20" fontSize="12"  verticalAlignment="top" horizontalAlignment="right"/>
              </GridLayout>        
          </FlexboxLayout> 
        </StackLayout>
      </ScrollView>
  </Page>
</template>
<script>
import * as http from "tns-core-modules/http";
import { topmost } from "tns-core-modules/ui/frame";
import * as Toast from "nativescript-toast";
var orientation = require("nativescript-orientation");
var moment = require("moment");
import dashboard from "../Dashboard.vue"
import activities from "../Notification/Activities.vue"
import greetings from "../Notification/Greetings.vue"
import NaU from "../Notification/newsAndUpdates.vue"
import tkNotif from "../Notification/TimekeepingNotif.vue"
import lmNotif from "../Notification/LeavesNotif.vue"

export default {
  components: {},
  data() {
    return {
      notif: [],
      chch:false,
      notifid:'',
      AT: activities,
      gotoGreetings:greetings,
      gotoDB:dashboard,
      gotoNaU:NaU,
      gotoTK:tkNotif,
      gotoleave:lmNotif,
      NaUCount:'',
      TKCount:'',
      LeaveCount:'',
      GreetingsCount:'',
      AllCount:'',
      hideNaU:'hidden',
      hideTK:'hidden',
      hideLeave:'hidden',
      hideGreetings:'hidden',
      hideAll:'hidden'
    }
  },
  created: function() {
    //this.NaUResult();
    this.countAllNotif();
  },
  methods: {
    countAllNotif(){
        http.request({
              url: localStorage.getItem("URL") + "GetAllCountNotification",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN:localStorage.getItem("ClientName"),
                EMPID:localStorage.getItem("EmpID")
              })
           })
          .then(response => {
            // console.log(response.content.toJSON().ListAllCount[0].All);
            // if(response.content.toJSON().ListAllCount[0].All !== '0'){
            //   this.AllCount = response.content.toJSON().ListAllCount[0].All;
            //   this.hideAll = 'visible';
            // }
            if(response.content.toJSON().ListAllCount[0].Time !== '0'){
              this.TKCount = response.content.toJSON().ListAllCount[0].Time;
              this.hideTK = 'visible';
            }
            if(response.content.toJSON().ListAllCount[0].Leave !== '0'){
              this.LeaveCount = response.content.toJSON().ListAllCount[0].Leave;
              this.hideLeave = 'visible';
            }
            if(response.content.toJSON().ListAllCount[0].News !== '0'){
              this.NaUCount = response.content.toJSON().ListAllCount[0].News;
              this.hideNaU = 'visible';
            }
            if(response.content.toJSON().ListAllCount[0].Greet !== '0'){
              this.GreetingsCount = response.content.toJSON().ListAllCount[0].Greet;
              this.hideGreetings = 'visible';
            }
        });
    },
    // NaUResult(){
    //     http.request({
    //           url: localStorage.getItem("URL") + "GetNewsAndUpdatev4",
    //           method: "POST",
    //           headers: { "Content-Type": "application/json" },
    //           content: JSON.stringify({
    //             CN:localStorage.getItem("ClientName"),
    //             LoginID:localStorage.getItem("EmpID")
    //           })
    //        })
    //       .then(response => {
    //         //var value = response.content.toJSON().filter(res => res.IsShow === "True");
    //         var value2 = response.content.toJSON();
    //         if(value2.length <= 0) {
    //           this.TKResult();
    //         }
    //         else{
    //           this.NaUCount = value2.length;
    //           this.hideNaU = 'visible';
    //           this.TKResult();
    //         }
    //     });
    // },
    // TKResult(){
    //     http.request({
    //           url: localStorage.getItem("URL") + "GetAllTimeNotification",
    //           method: "POST",
    //           headers: { "Content-Type": "application/json" },
    //           content: JSON.stringify({
    //             CN:localStorage.getItem("ClientName"),
    //             EMPID:localStorage.getItem("EmpID")
    //           })
    //        })
    //       .then(response => {
    //         if(response.content.toJSON().ListAllTime === null) {
    //           this.LeaveResult();
    //         }
    //         else{
    //           this.TKCount = response.content.toJSON().ListAllTime.length;
    //           this.hideTK = 'visible';
    //           this.LeaveResult();
    //         }
    //     });
    // },
    // LeaveResult(){
    //     http.request({
    //           url: localStorage.getItem("URL") + "GetAllLeaveNotification",
    //           method: "POST",
    //           headers: { "Content-Type": "application/json" },
    //           content: JSON.stringify({
    //             CN:localStorage.getItem("ClientName"),
    //             EMPID:localStorage.getItem("EmpID")
    //           })
    //        })
    //       .then(response => {
    //         if(response.content.toJSON().ListAllLeave === null) {
    //          this.GreetingsResult();
    //         }
    //         else{
    //           this.LeaveCount = response.content.toJSON().ListAllLeave.length;
    //           this.hideLeave = 'visible';
    //           this.GreetingsResult();
    //         }
    //     });
    // },
    // GreetingsResult(){
    //     http.request({
    //           url: localStorage.getItem("URL") + "Greetingsv4",
    //           method: "POST",
    //           headers: { "Content-Type": "application/json" },
    //           content: JSON.stringify({
    //             CN:localStorage.getItem("ClientName"),
    //             LoginID:localStorage.getItem("EmpID")
    //           })
    //        })
    //       .then(response => {
    //         //var value = response.content.toJSON().filter(res => res.isShow === "True");
    //         var value2 = response.content.toJSON();
    //         if(value2.length <= 0) {
    //           //wala na finish na.
    //         }
    //         else{
    //           this.GreetingsCount = value2.length;
    //           this.hideGreetings = 'visible';
    //         }
    //     });
    // },
    alert(){
      alert("Working on it.");
    },
    loadmo() {
      orientation.setOrientation("portrait");
      orientation.disableRotation();
    },
    backbtn() {
      var applicationModule = require("application");
      var AndroidApplication = applicationModule.android;
      var activity =
        AndroidApplication.startActivity ||
        AndroidApplication.foregroundActivity ||
        Frame.topmost().android.currentActivity ||
        Frame.topmost().android.activity;
      activity.onBackPressed = () => {
        //Your code here

        // Frame.topmost().goBack();
        this.$navigateTo(this.gotoDB, {clearHistory: true});
      };
    },
    deletenotif() { 
      //  var id = event.currentTarget.getAttribute("id");
      // console.log(this.notif.length);
      if (this.notif === null) {
        Toast.makeText("There is nothing to delete.").show();
      } else {
        for (var i = 0; i < this.notif.length; i++) {
          let checkBox = Frame.topmost().getViewById("" + this.notif[i].ID + "");
          if (checkBox.checked == 1) {
            // alert(this.notif[i].ID)
                http
                  .request({
                    url: localStorage.getItem("URL") + "DeleteLocationNotifv2",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                      CN: localStorage.getItem("ClientName"),
                      ID: this.notif[i].ID
                    })
                  })
                  .then(response => {
                    // this.notif = response.content.toJSON().LocationNotif
                    // alert(response.content.toJSON().data)
                    // console.log(response.content.toJSON().LocationNotif);
                    Toast.makeText("Notification successully deleted").show();
                    this.chch = false;
                    this.notif = [];
                    this.getnotification()
                    
                  });
          }
        }
      }
    },
    getnotification() {
          http
            .request({
              url: localStorage.getItem("URL") + "GetNotificationv2",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                CN: localStorage.getItem("ClientName"),
                EmpID: localStorage.getItem("EmpID")
              })
            })
            .then(response => {
              
              if(response.content.toJSON().LocationNotif === null)  {
                Toast.makeText("INFO: No notification to display").show();
              }
              else{
                 this.notif = response.content.toJSON().LocationNotif
                 for (
                var i = 0;
                i < response.content.toJSON().LocationNotif.length;
                i++
              ) {
                 this.notif[i].DateTime = moment(this.notif[i].DateTime).format("YYYY-MM-DD HH:MM A");
              }
              }
            });
    },
    clickcheck($event) {
      if (this.chch === false) {
        this.chch = true;
      } else if (this.chch === true) {
        this.chch = false;
      }
    }
  }
};
</script>
<style scoped>
.request {
  background-image: url("~/assets/images/employee_icon.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.survey {
  background-image: url("~/assets/images/airplane_icon.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.timesheet {
  background-image: url("~/assets/images/flag.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.leaveap {
  background-image: url("~/assets/images/news_icon.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.leaverep {
  background-image: url("~/assets/images/clock_icon.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.greet {
  background-image: url("~/assets/images/greetings_icon.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.form {
  background-image: url("~/assets/images/form_icon.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.payroll {
  background-image: url("~/assets/images/payroll.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 80%;
  padding-right: 10%;
}
.todobadge {
  position: relative;
  width: 25;
  height: 25;
  border: 2px solid white;
  border-radius: 100px;
  background: rgb(165, 16, 16);
  color:white;
  text-align:center;
  padding-top:2;
}
</style>