<template>
  <Page class="page" backgroundColor="#002851" @loaded='backbtn();loadmo()'>
    <ActionBar title="Timekeeping" color="#002851" flat="true" backgroundColor='#f1c40f'>
        <NavigationButton text="Go Back" backgroundColor="blue" android.systemIcon="ic_menu_back" @tap="$navigateTo(gotoNotif, {clearHistory: true});"/>
    </ActionBar>

    <GridLayout>
     <ScrollView orientation="vertical" row='1'>
        <StackLayout orientation="vertical" width="100%" marginTop="10" >
        <StackLayout orientation="vertical" marginBottom="10" v-for="notiftkeeping in NotifTKeepinglist" :key="notiftkeeping['.key']" :visibility='notiftkeeping.SeemoreShow === false ? "collapse" : "visible"'>
            <GridLayout backgroundColor="#ffffff">
                <StackLayout row="1" orientation="horizontal">
                    <Img class="idpic" row="1" width='50' height='50' borderRadius='100' horizontalAlignment="left" verticalAlignment="top" marginTop="0" marginLeft="0"/>
                    <StackLayout orientation="vertical" row="1" verticalAlignment="top" horizontalAlignment="left" marginTop="13" marginLeft="-5">
                        <Label text="iLLimitado" fontSize="10"/>
                        <Label :text="notiftkeeping.DateApproved" fontSize="10"/>
                    </StackLayout>
                </StackLayout>
                <StackLayout row='1' marginTop="60" marginBottom="20" marginLeft="30" marginRight="30" > 
                <Label textWrap='true' :visibility='notiftkeeping.ActivityStatus === "Geo" ? "visible" : "collapse"' :text='notiftkeeping.ReasonName'/>
                <Label textWrap='true' :visibility='notiftkeeping.ActivityStatus !== "Geo" ? "visible" : "collapse"' :text='notiftkeeping.EmpName + " added segment for " + notiftkeeping.SchedDate + " (" + notiftkeeping.SchedDay + ") at " + notiftkeeping.StartTIme + " to " + notiftkeeping.StartEnd +" as "+ notiftkeeping.ReasonName + " has been " + notiftkeeping.ActivityStatus +"."' />
                <!-- <Button row="1" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/> -->
                    <StackLayout :visibility='notiftkeeping.ActivityStatus === "Pending" ? "visible" : "collapse"' orientation="horizontal" height="40" marginTop='5'>
                        <Button text="Approve" @tap="ApproveDenyLogsv3('Approved', notiftkeeping.EmpID, notiftkeeping.SeriesID)" width="50%" backgroundColor='#f1c40f' marginRight='5' borderRadius='6'/>
                        <Button text="Deny" @tap="ApproveDenyLogsv3('Denied', notiftkeeping.EmpID, notiftkeeping.SeriesID)" width="50%" backgroundColor='#f1c40f' borderRadius='6'/>
                    </StackLayout>
                </StackLayout>
                
                <Button :visibility='notiftkeeping.Status === "False" ? "collapse" : "visible"' @tap="clickhide(notiftkeeping.SeriesID, notiftkeeping.NotifType)" row="1" class="exeye" width='30' height='30' borderRadius='100' backgroundColor="lightgray" horizontalAlignment="right" verticalAlignment="top" marginTop="10" marginRight="10"/>
            </GridLayout>
        </StackLayout>
         <Button backgroundColor='transparent' borderWidth='1' borderColor='transparent' textDecoration='underline' text="See More" @tap='seemurpanksyon' :visibility='seemur' color='white' fontSize='14' fontWeight="700"/>
        </StackLayout>
      </ScrollView>
      <StackLayout row='1' :visibility="luding" />
            <StackLayout :visibility="luding" orientation="vertical" row="1" verticalAlignment="center" horizontalAlignment="center" borderRadius='6' height="50" width="50">         
                <ActivityIndicator  busy="true"
                color="white" height="100%" width="100%"
                verticalAlignment="center"/>      
            </StackLayout>
    <Label row='1' id='notifdisplay' color='white' visibility='collapse' text='' textWrap='true' verticalAlignment='bottom' fontSize='14' horizontalAlignment='center' borderRadius='20' backgroundColor='red' padding='10' paddingTop='5' paddingBottom='5' marginBottom='60' opacity='1'/>          
    </GridLayout>
  </Page>
</template>
<script>
const calendarModule = require("nativescript-ui-calendar")
const timerModule = require("tns-core-modules/timer");
import { topmost } from 'tns-core-modules/ui/frame';
import * as http from 'tns-core-modules/http';
var moment = require('moment')
import notif from "../Notification/Notification.vue";
var orientation = require("nativescript-orientation");
export default {
    data () {
        return {
            gotoNotif: notif,
            NotifTKeepinglist: [],
            luding: 'collapse',
            seemur: 'collapse',
            listlength: '',
            lastseemoreid: ''
        }
    },
    created() {
        this.GetAllAddedSegment()
    },
    methods: {
        loadmo() {
            orientation.setOrientation("portrait");
            orientation.disableRotation();
        },
        backbtn() {
            var applicationModule = require("application");
            var AndroidApplication = applicationModule.android;
            var activity =
                AndroidApplication.startActivity ||
                AndroidApplication.foregroundActivity ||
                Frame.topmost().android.currentActivity ||
                Frame.topmost().android.activity;
            activity.onBackPressed = () => {
                //Your code here

                // Frame.topmost().goBack();
                this.$navigateTo(this.gotoNotif, {clearHistory: true});
            };
        },
         seemurpanksyon() {
            if(this.listlength > this.lastseemoreid)
            {
                //console.log('sdasasdas')
                this.lastseemoreid += 5
                for(var o = 0 ; o < this.NotifTKeepinglist.length; o++)
                {
                    // this.ActivitiesAlllist[o].SeemoreID = o;
                    if( o < this.lastseemoreid)
                    {
                        this.NotifTKeepinglist[o].SeemoreShow = true   
                    }
                    
                }
                if(this.listlength <= this.lastseemoreid)
                {
                    this.seemur = 'collapse'
                }
            }
        },
        GetAllAddedSegment() {
            this.luding = 'visible'
            this.seemur = 'collapse'
            http.request({
              url: localStorage.getItem('URL') + "GetAllTimeNotification",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
              CN:localStorage.getItem('ClientName'),
              EmpID: localStorage.getItem('EmpID')
              })
              }).then((response) => {
                  if(response.content.toJSON().ListAllTime !==  null)
                  {
                    for (var i=0; i<response.content.toJSON().ListAllTime.length; i++){
                        //console.log(moment(response.content.toJSON().ListAllTime[i].SchedDate).format('dddd'))
                        this.NotifTKeepinglist.push({
                            EmpID: response.content.toJSON().ListAllTime[i].EmpID,
                            SeriesID: response.content.toJSON().ListAllTime[i].SeriesID,
                            EmpName: response.content.toJSON().ListAllTime[i].EmpName === "" ? "Your" : response.content.toJSON().ListAllTime[i].EmpName,
                            ReasonName: response.content.toJSON().ListAllTime[i].ReasonName,
                            NotifLike: response.content.toJSON().ListAllTime[i].NotifLike,
                            NotifType: response.content.toJSON().ListAllTime[i].NotifType,
                            isShow: response.content.toJSON().ListAllTime[i].isShow,
                            isSeen: response.content.toJSON().ListAllTime[i].isSeen,

                            SchedDate: response.content.toJSON().ListAllTime[i].ActivityStatus === 'Geo' ? moment(response.content.toJSON().ListAllTime[i].SchedDate, 'h:mm A').format('YYYY-MM-DD'): moment(response.content.toJSON().ListAllTime[i].SchedDate,).format('YYYY-MM-DD'),
                            SchedDay: moment(response.content.toJSON().ListAllTime[i].SchedDate).format('dddd'),
                            StartTIme: moment(response.content.toJSON().ListAllTime[i].StartTIme).format('h:mm A'),
                            StartEnd: moment(response.content.toJSON().ListAllTime[i].StartEnd).format('h:mm A'),
                            ActivityStatus: response.content.toJSON().ListAllTime[i].ActivityStatus,
                            DateApproved: response.content.toJSON().ListAllTime[i].DateApproved,                            
                            SeemoreShow: false,
                            Status:response.content.toJSON().ListAllTime[i].isShow
                        })
                    }
                    this.seemur = 'visible'
                    this.listlength = this.NotifTKeepinglist.length
                    for (var o = 0 ; o < this.NotifTKeepinglist.length; o++)
                    {
                        if( o < 5)
                        {
                            this.lastseemoreid = o
                            this.NotifTKeepinglist[o].SeemoreShow = true   
                        }
                        
                    }
                    if (this.NotifTKeepinglist.length < 6)
                    {
                        this.seemur = 'collapse'
                    }
                  }
                  else {
                       
                  }
                  this.luding = 'collapse'
              })
        },
        ApproveDenyLogsv3(a,EmpID,SeriesID){
            confirm({
                title: "Confirmation",
                message: "Are you sure you want to confirm?", //"Are you sure do you want to " + a + "?",
                okButtonText: "YES",
                cancelButtonText: "NO"
                }).then(result => {
                    if (result === true){
                    http.request({
                        url: localStorage.getItem('URL') + "ApproveDenyLogsv3",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        content: JSON.stringify({
                            CN: localStorage.getItem('ClientName'),
                            EmpID: localStorage.getItem('EmpID'),
                            SeriesID: SeriesID,
                            Status:a,
                            ApproverComment:""
                        })
                        }).then((response) => {
                           
                            
                        })                                   
                            http.request({
                            url: localStorage.getItem("URL") + "DHRGetDHRTOKENV2",
                            method: "POST",
                            headers: { "Content-Type": "application/json" }, 
                            content: JSON.stringify({
                                CN: localStorage.getItem("ClientName"),
                                EMPID: EmpID
                            })
                            })
                            .then(response => {
                                    http.request({
                                    url: "https://fcm.googleapis.com/fcm/send",
                                    method: "POST",
                                    headers: {'Authorization': 'key=AAAAX2flDpU:APA91bH0YQ5t_lzNGthBIHqK3zWaQOAp-_qqWVAzeg4Y63_ueqlniDJblIuUAdSJklpImzuc-HODhrre2P8SzScb4UiT-QVJ5amuoKSlV8j4HWswuOTw7BLurlIGd7pn5proXqcrdgoe', "Content-Type": "application/json" },
                                    content: JSON.stringify({
                                        notification: {
                                            body: localStorage.getItem("Fullname") + ' ' + a + ' your segment.' ,
                                            title: "Timesheets Approval",
                                        },
                                        to: response.content.toJSON()
                                    })
                                    }).then((response) => {
                                    console.log(response.content.toJSON())
                                    })
                            })
                            var not = this.NotifTKeepinglist.find(res => res.SeriesID === SeriesID)
                            not.ActivityStatus = a
                             var notifdisplay = Frame.topmost().getViewById('notifdisplay')
                            notifdisplay.backgroundColor='green'
                            notifdisplay.opacity='1'

                            notifdisplay.text = a === 'Approved' ? 'Successful Approve' : 'Successful Denied'
                            notifdisplay.visibility = 'visible'
                            notifdisplay.animate({opacity:0, duration: 5000, delay: 0 }).then((res) => {
                                notifdisplay.text = ''
                                notifdisplay.opacity='1'
                                notifdisplay.visibility='collapse'
                            })
                    } 
                }
                    
            )},
        clickhide(c, d) {
            console.log(c + ' ' + d)
            confirm({
            title: "Confirmation",
            message: "Are you sure you want to unhide this activities?",
            okButtonText: "YES",
            cancelButtonText: "NO"
            }).then(result => {
                if (result === true){
                    http.request({
                        url: localStorage.getItem('URL') + "UpdateShowNotification",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        content: JSON.stringify({
                        CN:localStorage.getItem('ClientName'),
                        EmpID: localStorage.getItem('EmpID'),
                        NewsID: c,
                        NotifType: d
                        })
                        }).then((response) => {
                        var idx = this.NotifTKeepinglist.find(res => res.SeriesID === c && res.NotifType === d)
                        idx.Status = "False"
                        })
                }
            })
        },

    }
}
</script>
<style scoped>
.idpic {
    background-image: url("~/assets/images/rename.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
}
.greetings {
    background-image: url("~/assets/images/christmas-party.jpg");
    background-repeat: no-repeat;
}
.koreanheart {
    background-image: url("~/assets/images/korean_heart.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.exeye {
    background-image: url("~/assets/images/hide.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
}
.HRMS {
    background-image: url("~/assets/images/show.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}
</style>
